.attendance-report {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.employee-dashboard {
  background-color: #F9FAFB;
  border-radius: 2px;
  height: 100px;
}

.events li.holiday-item {
  background-color: transparent;  
  padding: 5px;
  color: #BB6234;
  font-family: "IBM Plex Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; 
}

.events {
  padding: 0;   
  margin: 0;  
  display: block; 
  width: 100%;
}

.nz-calendar-cell {
  padding: 0 !important;  
  margin: 0 !important;  
  width: auto;     
}

.nz-calendar-cell {
  border: 1px solid #d9d9d9 !important; 
  box-sizing: border-box; 
}


.nz-calendar {
  padding: 10px; 
}

.nz-calendar-cell:hover {
  border-color: #40a9ff; 
  background-color: #e6f7ff;
}


nz-calendar .holiday-cell {
  color: #fff !important;
  border-radius: 5px;
}

.holiday-month {
  background-color: #5213da; 
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.holiday-item {
  color: #fff;
}
.holiday-date {
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  background-color: #F6F6FF;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 25%; 
  height: 149px;
}

.holiday-name {
  font-weight: bold;
  color: #d46b08;
}

.holiday-type {
  font-size: 0.85em;
  color: #8c8c8c;
}

.employee-dashboard p:first-child {
  color: #424242;
  font-weight: 500;
}

.employee-dashboard p:last-child {
  color: #787486;
}

.announcement {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 149px;
}

.announcement button {
  line-height: 14px !important;
}

.announcement-user {
  background-color: #F2F2FF;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #543AF8;
  font-weight: 600;
  font-size: 18px;
}

.announcement span:last-child {
  color: #444;
  font-size: 12px;
  font-weight: 400;
}

.announcement p {
  color: #787486;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.nav.nav-pills {
  background-color: transparent;
  border-bottom: 1px solid #edeff5;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background: transparent !important;
  color: var(--primary-color) !important;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-color);
}

.table tbody {
  border: 1px solid #f1f1f1;
}

.nav-link {
  margin-right: 20px;
  display: block;
  padding: 7px 10px;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.table-font-weight {
  font-weight: 400;
}

.table td {
  font-weight: 500;
  vertical-align: middle;
  font-size: 12px !important;
  white-space: nowrap;
  padding: 10px 15px !important;
}

.birthday-box-0 {
  border-radius: 2px;
  border: 0.5px solid #FCE6C2;
  background: linear-gradient(180deg, rgba(252, 230, 194, 0.30) 0%, rgba(248, 238, 224, 0.30) 100%);
  padding-left: 20px;
}

.birthday-box-1 {
  background: linear-gradient(180deg, rgba(193, 208, 242, 0.30) 0%, rgba(229, 234, 255, 0.30) 100%);
  padding-left: 20px;
  border-radius: 2px;
  border: 0.5px solid #C1D0F2;
}

.birthday-box-2 {
  background: linear-gradient(180deg, rgba(202, 194, 232, 0.30) 0%, rgba(227, 225, 242, 0.30) 100%);
  padding-left: 20px;
  border-radius: 2px;
  border: 0.5px solid #CECDFF;
}

.birthday-box h5 {
  font-family: "Kanit", sans-serif;
}

.birthday-img {
  z-index: 9;
}

.birthday-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #FCE6C2;
  z-index: 999;
}

.birthday-box-0 span {
  position: absolute;
  top: 0px;
  right: 35px;
}

.today-birthday img {
  position: absolute !important;
  right: 42px !important;
  bottom: -91px;
  z-index: 9;
}

.birthday-section {
  max-height: 330px;
  overflow: scroll;
}

.birthday-section::-webkit-scrollbar {
  display: none;
}

.anniversaries-section {
  border: 0.5px solid #ECECEC;
}

.anniversaries-box h4 {
  font-family: "Allura", cursive;
  font-weight: 400;
  color: #DC9522;
  font-size: 26px;
}

.anniversaries-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  background-color: #F5F6FF;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  width: 70%;
  z-index: 9;
}

.anniversaries-img img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  z-index: 9;
  position: relative;
  border: 5px solid #fff;
  position: relative;
  top: 10px;
}

.anniversaries-year {
  z-index: 9;
  position: relative;
  top: 10px;
}

.new-joinees::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  border-top: 151px solid #F5F6FF;
  border-left: 100px solid #F5F6FF;
  border-right: 50px solid transparent;
  width: 95%;
}

.newJoinees-img img {
  border-radius: 50%;
  width: 100px;
  z-index: 9;
  position: relative;
  border: 5px solid #fff;
}

.newJoinees-img {
  position: absolute;
  right: 0px;
  top: 30px;
}

/* .holidays-box{
  background-color: #9487BE;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
} */
.holidays-box {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: background-color 0.5s ease;
  height: 149px;
  /* Smooth transition */
}

.color1 {
  background-color: #003f5c;
  color: #003f5c;
}

.color2 {
  background-color: #2f4b7c; 
  color: #2f4b7c;
}

.color3 {
  background-color: #665191;
  color: #665191;
}

.color4 {
  background-color: #a05195;
  color: #a05195;
}

.color5 {
  background-color: #d45087;
  color: #d45087;
}

.color6 {
  background-color: #ff7c43;
  color: #ff7c43;
}



.holidays-box h5 {
  font-family: "Kanit", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 138px;
}

.pl-3 {
  padding-left: 15px;
}

.pr-3 {
  padding-right: 25px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-next,
.carousel-control-prev {
  top: 25px;
}

.carousel-control-next i {
  font-size: 25px !important;
}

.carousel-control-prev i {
  font-size: 25px !important;
}


.carousel-control-next {
  right: -12px;
}

.carousel-control-prev {
  left: -12px;
}

.holiday-date {
  

}

.holidays-box h6 {
  margin-bottom: 20px;
}

.holiday-date {
  
}

.icon-button svg {
  width: 18px;
  position: relative;
  top: -2px;
}

.resignation-request {
  border-radius: 2px;
  border: 1px solid #FF8240;
  background: #FFE9DE;
  position: relative;
  height: 145px;
}

.resignation-request h5 {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
}

.resignation-request p {
  color: #000;
  font-weight: 400;
}

.request-approved{
  border-radius: 2px;
  border: 1px solid #EAEAEA;
  background: linear-gradient(98deg, rgba(255, 255, 255, 0.30) 46.26%, rgba(56, 142, 60, 0.30) 153.45%);
}

.view-request {
  background-color: #fff;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.view-request svg {
  width: 13px;
  position: relative;
  top: 0px;
}

.request-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}


/** initiate exite css */

.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

.submitActionBtn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  width: 100px;
}

.input-zorro {
  border-radius: 2px !important;
  border: 1.021px solid #e9e9e9 !important;
  background: rgba(236, 236, 236, 0.21) !important;
  height: 45px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.nots-section {
  background-color: rgba(236, 236, 236, 0.21) !important;
  width: 100%;
  height: 80px !important;
  border: 1px solid #e9e9e9;
}

.assets-req {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  height: 47px;
  margin-bottom: 0px;
  background-color: rgba(236, 236, 236, 0.21);
}

.assets-req input {
  left: 15px !important;
  position: relative;
  top: -2px;
}

.assets-req p {
  padding-left: 25px;
  font-size: 13px !important;
  font-weight: 400 !important;
}

.register-form-box {
  height: 450px;
  overflow: scroll;
}

.register-form-box::-webkit-scrollbar {
  display: none;
}

.requesting-half-leave {
  background-color: rgba(236, 236, 236, 0.21) !important;
  min-height: 45px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

.hr-policy-file {
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: rgba(236, 236, 236, 0.21) !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* .separator {
  border-right: 1px solid #d1d1d1;
  height: 15px;
} */

.w-90 {
  width: 90%;
}

.hr-policy-file p {
  color: #8d93a1;
  font-weight: 300 !important;
}

.action-icon-btn span svg {
  position: relative;
  top: -1px;
  width: 18px;
}

.hr-policy-file h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.notice-period-date {
  border-radius: 2px;
  border-left: 3.775px solid #6666F2;
  background: #F3F3FF;
}

.calendar-separator {
  border-left: 2px solid #D9D9D9;
  height: 24px;
}

.notice-period-error {
  border-radius: 2px;
  border-left: 3.775px solid #FF3014;
  background: #FFF2F0;
}

.hr-notes {
  background-color: #EAF0FD;
}

.hr-notes p {
  color: #000;
  font-weight: 500;
}

.exited-background {
  background-color: #FFF2F0 !important;
}

/** Initiate exit css end */


/** Dot opacity start */

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.text-optional {
  color: grey;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.chart-container {
  position: relative;
  /* height: 50vh;
  width: 50vw; */
  /* height: 500px; */
  width: 400px;
  margin: 0 auto;
}




/** Dot opacity end */
.team-overview {
  border: 1px solid #f1f1f1;
}

.border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
}

.request-dropdown {
  width: 150px !important;
  height: 38px !important;
  border-radius: 2px;
  border: 1px solid #d9d9d9 !important;
}

.border-right {
  border-right: 1px solid #F1F1F1;
}

.roles-list p {
  color: #858585;
  text-transform: capitalize;
}

.roles-list p span {
  color: #000;
}

.roles-list img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.status-list img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.members-name {
  background-color: #a69ff3;
  color: #fff;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 0 0 2px #f9fafb;
}

.team-member {
  color: #858585;
}

.roles-list.status-list {
  height: 287px;
  overflow: scroll;
}

.roles-list.status-list::-webkit-scrollbar {
  display: none;
}

.birthday-anniversaries {
  height: 418px;
}

.role-list-fix {
  max-height: 198px;
  overflow-y: auto;
}

.role-list-fix::-webkit-scrollbar {
  display: none;
}

.roles-list small {
  color: #858585;
  font-size: 12px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

span.holiday-initial {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 40px !important;
  font-weight: 500;

}

::ng-deep .placeholder-lines .ant-select-selection-item {
  line-height: 35px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  text-transform: capitalize;
}

.empty-detail {
  color: #787486;
}

.user-avatar-icon {
  margin-left: -10px !important;
}
.calendar-date svg{
  width: 16px;
  position: relative;
  top: -1px;
}

::ng-deep .ant-picker-calendar-header {
  position: absolute;
  top: 10px;
  right: 25px;
}

::ng-deep .ant-picker-body{
  margin-top: 15px;
}
::ng-deep .ant-picker-calendar-year-select{
  width: 130px;
  border: 1px solid #DCDCE4;
  border-radius: 2px;
  height: 40px;
}

::ng-deep .ant-select-selector{
  background-color: white !important;
  min-height: 38px !important;
}

::ng-deep .ant-picker-calendar-month-select{
  width: 130px;
  border: 1px solid #DCDCE4;
  border-radius: 2px;
  height: 40px;
}


::ng-deep .ant-select-selection-placeholder {
  line-height: 40px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .ant-select-selection-item {
  line-height: 40px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .ant-picker-calendar-mode-switch{
  display: none;
}

.customDateCellTemplate{
  background-color: #543AF8;
}
::ng-deep .ant-picker-calendar-date{
  height: 100px !important;
}
::ng-deep .ant-picker-content tr td{
  border: 1px solid #ccc !important;
}

::ng-deep .ant-picker-calendar-date{
  border-top: none !important;
}

::ng-deep .ant-picker-content tr td{
  border: 1px solid #DCDCDC !important;
}

::ng-deep .ant-picker-content tr th{
  padding: 0 7px 15px 0 !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
  border-bottom: none !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #9B9B9B !important;
  text-align: center;
}

::ng-deep .ant-picker-calendar .ant-picker-panel .ant-picker-body {
  padding: 0px 0 !important;
}
 
::ng-deep .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  padding: 5px !important;
  margin: 0px 0px !important;
  height: 100px !important;
}

::ng-deep .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-value {
  font-size: 13px !important;
  font-weight: 500 !important;
}

::ng-deep .ant-picker-panel{
  margin-top: 15px !important;
}

::ng-deep .ant-picker-calendar-date:has(.holiday-cell) {
  background-color: #FFF3E2 !important;
}
::ng-deep .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content{
  display: flex;
  align-items: center;

}

.btn-closes {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0px 4.211px 4.211px 0px rgba(0, 0, 0, 0.10);
}

.attendance-report-height{
  height: 573px;
}
.desktop-attendance-update{
  height: 418px;
}
.holidays-cal-box{
  width: 75%;
}
.mobile-today-date{
  display: none;
}
.desktop-today-date{
  display: block;
}
.mobile-holiday-section{
  display: none;
}

.empty-file{
  margin-top: 8%; 
  margin-bottom: 8%
}
.todo-list{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .col-sm-6{
    width: 50%;
}
  .attendance-report-height{
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .desktop-attendance-update{
    height: auto;
  }
  .holidays-list{
    margin-top: 15px;
  }
  .holidays-cal-box{
    width: 100%;
  }
  .holidays-flex-column{
    flex-direction: column;
  }
  .holiday-date {
    width: 100%;
    height: 50px;
  }
  .mobile-today-date{
    display: block;
  }
  .desktop-today-date{
    display: none;
  }
.mobile-holiday{
  display: none;
}
.employee-dashboard-box{
  margin-top: 10px !important;
}
.desktop-notification{
  display: none;
}
.mobile-holiday-section{
  display: block;
  margin-top: -10px;
}
/* .desktop-holiday{
  display: none;
} */

.team-overview{
  display: none;
}
.desktop-attendance-update{
  margin-bottom: 15px;
}
 
}