.employee-assets {
    border: 1px solid #f1f1f1;
}

.shimmer-wrapper {
    height: 300px;
    /* Adjust height as needed */
    background: #f6f7f8;
    background-image: linear-gradient(to right,
            #f6f7f8 0%,
            #e9ecef 20%,
            #f6f7f8 40%,
            #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite;
}
.nav-item {
    margin-right: 0px;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}


.assets-request {
    border-radius: 2px;
    border: 1px solid #DCDCE4;
    min-width: 130px;
    font-size: 13px;
    font-weight: 500;
    color: #1C1B1F;
}

.assets-request svg {
    width: 24px;
    padding-left: 8px;
}

.nav.nav-pills {
    background-color: transparent;
    border-bottom: 1px solid #edeff5;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background: transparent !important;
    color: var(--primary-color) !important;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-color);
}

.nav-link {
    margin-right: 20px;
    display: block;
    padding: 7px 10px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

.search-icon {
    font-size: 13px !important;
    position: absolute !important;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color) !important;
    margin: auto;
    margin-left: 15px;
}

.reset-icon {
    font-size: 22px !important;
    position: absolute !important;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 15px;
}

.onboarding-date input::placeholder {
    font-size: 14px;
    color: #777;
}

.table td {
    font-weight: 500;
    vertical-align: middle;
    font-size: 12px !important;
    white-space: nowrap;
    padding: 15px 15px !important;
}

.table-font-weight {
    font-weight: 400;
}


.table tbody {
    border: 1px solid #f1f1f1;
}

.empFilerDropfilter .new-deopdown {
    display: block;
    width: 120px;
    padding: 0.4rem 0.5rem;
    font-size: 13px !important;
    text-align: left;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    border-right: 1px solid #f2f2f2 !important;
    color: #777 !important;
    font-weight: 400;
    letter-spacing: 0.1px;
    box-shadow: unset;
}

/* .onboarding-date{
    border-right: 1px solid #f2f2f2 !important;
} */

.onboarding-date input[type="text"] {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    border: 0px solid #f2f2f2;
    height: 45px !important;
    border-left: 0;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1f1f1f !important;
}

.onboard-add {
    border: 1px solid #f1f1f1;
}

.white-space {
    white-space: normal;
    min-width: 130px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.edit-action-btn svg {
    width: 15px;
}

.approved-btn svg {
    width: 15px;
}

.rejected-btn svg {
    width: 12px;
}

.empty-detail {
    color: #000 !important;
    line-height: 20px;
    font-weight: 500 !important;
}

.empty-details {
    color: #6B7280;
    line-height: 20px;
    font-weight: 400 !important;
    font-size: 12px;
}

::ng-deep.ant-empty-image img {
    width: 200px;
}

.close-btn svg {
    width: 20px;
}

.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    width: 130px;
}

.input-zorro {
    border-radius: 2px !important;
    border: 1.021px solid #e9e9e9 !important;
    background: rgba(236, 236, 236, 0.21) !important;
    height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.register-form-box label {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20.854px;
    letter-spacing: 0.102px;
}

.cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
}

.assets-req {
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    height: 47px;
    margin-bottom: 0px;
    background-color: rgba(236, 236, 236, 0.21) !important;
}

.assets-req input {
    left: 15px !important;
    position: relative;
    top: -2px;
}

.assets-req p {
    padding-left: 25px;
    font-size: 13px;
    font-weight: 400;
}


.nots-section {
    background-color: rgba(236, 236, 236, 0.21) !important;
    width: 100%;
    height: 100px !important;
    border: 1px solid #e9e9e9;
}

.empty-filenew {
    color: #6b7280 !important;
    line-height: 20px;
    font-size: 16px;
}

.assets-request-btn svg {
    width: 17px;
    position: relative;
    top: -1px;
}

.assets-request-btn {
    font-weight: 500;
}

.assets-request-btn {
    min-width: 165px;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}
.mobile-filter{
    display: none;
}
.mobile-card-view{
    display: none;
}


@media screen and (max-width: 500px) {
    .mobile-attendance-date{
        border-bottom: 20px solid #fff !important;
    }
    .desktop-filter{
        display: none;
    }
    .nav-link{
        font-size: 15px;
    }
    .mobile-card-view{
        display: block;
    }
    .desktop-attendance-date{
        display: none;
    }
.assets-request-btn {
    min-width: 125px;
}
.desktop-filter{
    display: none;
}
.mobile-filter{
    display: block;
    border: 1px solid #f2f2f2;
    height: 45px;
}

.mobile-filter .empFilerDropfilter .new-deopdown {
    width: 170px;
    padding: 10px 0.5rem;
}
}