.slack-addes-successfully-main {
  height: 95vh;
}

.slack-addes-successfully-main h4 {
  color: #404040;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slack-addes-successfully-main p {
  color: #878a98;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

.btn-successfull {
  border-radius: 6px;
  padding: 7px 30px;
  color: #6666f3;
  font-size: 16px;
  font-weight: 400;
  border: 1px dashed #6666f3;
  background-color: #6666f326;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: bold !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-successfull:hover {
  background-color: #6666f3;
  color: #fff;
}

/*  new css  */

.add-to-slack-btn {
  background-color: #4a154b;
  color: #fff !important;
  padding: 0px 30px;
  font-size: 14px !important;
  border-radius: 70px;
}

.add-to-slack-btn:hover {
  background-color: #4a154b;
  color: #fff !important;
}

.slack-icon {
  height: 30px !important;
  padding-right: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.bg-pattern-dot-white-sm {
  background-image: url("/assets/images/dot-a-white.png");
  background-repeat: repeat;
  background-size: 20px 20px;
  background-position: center;
  height: 100vh;
}

.is-dark {
  background-color: #071321;
}

.slack-addes-successfully-main h1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}

.slack-addes-para {
  color: #fff !important ;
  text-align: center;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 28px !important;
}

.slack-addes-para a {
  color: #6666f3 !important;
}
