<div class="">
  <div class="container">
    <div
      class="slack-addes-successfully-main d-flex align-items-center justify-content-center"
      style="flex-direction: column"
    >
      <div class="mb-4">
        <img src="assets/images/completed-task.svg" style="width: 100px" />
      </div>
      <h4>Hijiri Added to Slack Successfully!</h4>
      <p class="">To Get started, take a look at our User Guide.</p>

      <div class="mt-4">
        <button class="btn btn-successfull" type="button">
          Redirect To Onboarding
          <i class="bi bi-arrow-right" style="padding-left: 10px"></i>
        </button>
      </div>

      <div class="mt-4">
        <img
          src="https://app.hajiri.in/assets/images/HAjiRi.svg"
          style="width: 130px"
        />
      </div>
    </div>
  </div>
</div>
