<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid pr-0">
      <div class="mt-1">
        <ul id="pills-tab" role="tablist" class="nav nav-pills">
          <li class="nav-item">
            <a
              id="pills-home-tab"
              data-bs-toggle="pill"
              href="#subscription"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
              class="nav-link active"
              >Subscription</a
            >
          </li>
          <li class="nav-item">
            <a
              id="pills-profile-tab"
              data-bs-toggle="pill"
              href="#billing"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              class="nav-link"
              >Billing</a
            >
          </li>
        </ul>
        <div id="pills-tabContent" class="tab-content">
          <div
            class="tab-pane fade active show"
            id="subscription"
            role="tabpanel"
            aria-labelledby="subscription-tab"
          >
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div class="plan-box p-4">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <p class="mb-0 font-14">
                      Compare differences by toggling between monthly and yearly
                      plans
                    </p>

                    <div class="d-flex align-items-center gap-3">
                      <p class="mb-0 font-14">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="23"
                          viewBox="0 0 22 23"
                          fill="none"
                        >
                          <g clip-path="url(#clip0_3746_2357)">
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M14.5378 14.2728C10.5167 14.2728 7.26889 11.0121 7.26889 7.00391C7.26889 11.0121 4.0082 14.2728 0 14.2728C4.0082 14.2728 7.26889 17.5206 7.26889 21.5288C7.26889 17.5206 10.5167 14.2728 14.5378 14.2728Z"
                              fill="#FFD93B"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M22 18.0215C19.7961 18.0215 18.0176 16.23 18.0176 14.0391C18.0176 16.23 16.2261 18.0215 14.0352 18.0215C16.2261 18.0215 18.0176 19.8 18.0176 22.0039C18.0176 19.8 19.7961 18.0215 22 18.0215Z"
                              fill="#FFB030"
                            />
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M19.706 5.90843C17.0253 5.90843 14.8601 3.74323 14.8601 1.0625C14.8601 3.74323 12.6949 5.90843 10.0142 5.90843C12.6949 5.90843 14.8601 8.07363 14.8601 10.7544C14.8601 8.07363 17.0253 5.90843 19.706 5.90843Z"
                              fill="#FFB030"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_3746_2357">
                              <rect
                                width="22"
                                height="22"
                                fill="white"
                                transform="translate(0 0.535156)"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                        &nbsp;
                        <span class="discount-tag">20%off</span> &nbsp;On Yearly
                        Plan
                      </p>

                      <ul
                        class="nav priceToggleMain"
                        id="pills-tab"
                        role="tablist"
                      >
                        <li class="nav-item" role="presentation">
                          <button
                            class="priceToggleBtn active"
                            id="yearly-plan-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#yearly-plan"
                            type="button"
                            role="tab"
                            aria-controls="pills-home"
                            aria-selected="true"
                          >
                            Yearly
                          </button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button
                            class="priceToggleBtn"
                            id="monthly-plan-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#monthly-plan"
                            type="button"
                            role="tab"
                            aria-controls="monthly-plan"
                            aria-selected="false"
                            tabindex="-1"
                          >
                            Monthly
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-3">
                    <div class="tab-content" id="pills-tabContent">
                      <div
                        class="tab-pane fade active show"
                        id="yearly-plan"
                        aria-labelledby="yearly-plan-tab"
                      >
                        <div class="row">
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4 pb-4">
                              <h5 class="mb-0 font-18">Basic</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <div
                                class="d-flex align-items-center gap-3 mt-4 mb-3"
                              >
                                <h3 class="mb-0">₹49</h3>

                                <div>
                                  <h4 class="mb-0">₹69</h4>
                                  <h6 class="mb-0 font-14">
                                    month/per employee
                                  </h6>
                                </div>
                              </div>

                              <p class="mb-0 font-14">
                                <span class="plan-year-off"> 15% off </span>
                                with annual contract
                              </p>
                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn current-plan w-100 mb-4">
                                Current plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Onboarding &
                                  Documents - Employee
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Shift-based
                                  attendance management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Slack & WhatsApp
                                  Integration
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Salary Structure
                                  & Compliance
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Leave Request &
                                  Approval Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Automation rule
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> User Roles &
                                  Privileges
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Reminders &
                                  Alerts - Notifications
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Report - Basic
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4 pb-4">
                              <h5 class="mb-0 font-18">Premium</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <div
                                class="d-flex align-items-center gap-2 mt-4 mb-3"
                              >
                                <h3 class="mb-0">₹99</h3>

                                <div>
                                  <h4 class="mb-0">₹125</h4>
                                  <h6 class="mb-0 font-14">
                                    month/per employee
                                  </h6>
                                </div>
                              </div>

                              <p class="mb-0 font-14">
                                <span class="plan-year-off"> 15% off </span>
                                with annual contract
                              </p>
                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn change-plan w-100 mb-4">
                                Change Plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Payroll and
                                  Salary Slip Automation
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Employee Tax
                                  Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Advance
                                  Automation Rules
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Custom Roles &
                                  Privileges
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Employee Exit -
                                  Documentation
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Assets
                                  Allocation/ Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Report - Advance
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4">
                              <h5 class="mb-0 font-18">Custom</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <h1 class="requestQuote mb-0 mt-2">
                                Request a quote
                              </h1>

                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn change-plan w-100 mb-4">
                                Upgrade plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Custom workflows
                                  and HR processes
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Dedicated
                                  deployment & onboarding support
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Integrations with
                                  your existing systems
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Scalable
                                  solutions for future growth
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="tab-pane fade"
                        id="monthly-plan"
                        aria-labelledby="monthly-plan-tab"
                      >
                        <div class="row">
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4 pb-4">
                              <h5 class="mb-0 font-18">Basic</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <div
                                class="d-flex align-items-center gap-3 mt-4 mb-3"
                              >
                                <h3 class="mb-0">₹69</h3>

                                <div>
                                  <h4 class="mb-0">₹99</h4>
                                  <h6 class="mb-0 font-14">
                                    month/per employee
                                  </h6>
                                </div>
                              </div>

                              <p class="mb-0 font-14">
                                <span class="plan-year-off"> 15% off </span>
                                with annual contract
                              </p>
                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn current-plan w-100 mb-4">
                                Current plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Onboarding &
                                  Documents - Employee
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Shift-based
                                  attendance management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Slack & WhatsApp
                                  Integration
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Salary Structure
                                  & Compliance
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Leave Request &
                                  Approval Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Automation rule
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> User Roles &
                                  Privileges
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Reminders &
                                  Alerts - Notifications
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Report - Basic
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4 pb-4">
                              <h5 class="mb-0 font-18">Premium</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <div
                                class="d-flex align-items-center gap-2 mt-4 mb-3"
                              >
                                <h3 class="mb-0">₹125</h3>

                                <div>
                                  <h4 class="mb-0">₹159</h4>
                                  <h6 class="mb-0 font-14">
                                    month/per employee
                                  </h6>
                                </div>
                              </div>

                              <p class="mb-0 font-14">
                                <span class="plan-year-off"> 15% off </span>
                                with annual contract
                              </p>
                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn change-plan w-100 mb-4">
                                Change Plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Payroll and
                                  Salary Slip Automation
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Employee Tax
                                  Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Advance
                                  Automation Rules
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Custom Roles &
                                  Privileges
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Employee Exit -
                                  Documentation
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Assets
                                  Allocation/ Management
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Report - Advance
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="plan-detail-box p-3 pt-4">
                              <h5 class="mb-0 font-18">Custom</h5>
                              <p class="mb-0 font-14 mt-2">
                                Ideal for small businesses looking to start
                                digital attendance management.
                              </p>

                              <h1 class="requestQuote mb-0 mt-2">
                                Request a quote
                              </h1>

                              <span class="saperater-border mt-4 mb-4"></span>

                              <button class="btn change-plan w-100 mb-4">
                                Upgrade plan
                              </button>

                              <ul class="plan-pints pl-0">
                                <li>
                                  <i class="bi bi-check2"></i> Custom workflows
                                  and HR processes
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Dedicated
                                  deployment & onboarding support
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Integrations with
                                  your existing systems
                                </li>
                                <li>
                                  <i class="bi bi-check2"></i> Scalable
                                  solutions for future growth
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="billing"
            role="tabpanel"
            aria-labelledby="billing-tab"
          >
            szsd
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
