<div class="tost-design-box-box">
    <div class="notifaction-box">
        <div class="d-flex " style="gap:10px;">
            <div class="checkbox-successfully-background" style="padding: 15px;" [ngClass]="{'success-background' : toastColorStatus == TOAST_STATUS_SUCCESS,'error-background' : toastColorStatus == TOAST_STATUS_ERROR}">
               <span class="checkbox-successfully" [ngClass]="{'success' : toastColorStatus == TOAST_STATUS_SUCCESS, 'error' : toastColorStatus == TOAST_STATUS_ERROR}"> 
                <i [ngClass]="{'bi-check2': toastColorStatus == TOAST_STATUS_SUCCESS, 'bi-exclamation': toastColorStatus == TOAST_STATUS_ERROR}"></i>
               </span>
            </div>
            <p class="mb-0" style="padding: 15px;">{{toastMessage}}</p>
        </div>
    </div>
</div>


