

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: #f2f3ff !important;
  color: #6666F2 !important;
  border-left: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.border-none.active {
  border-left: 5px solid #f2f3ff !important;
}
.nav.nav-pills{
  border-bottom: none;
}
.origination-logo{
  border: 1px solid #eceff5;
}
.add-other-file{
  background-color: rgba(241, 244, 249, 0.30);
  border: 1px dashed #E1E1E1;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selector{
  background-color: #fff !important;
  min-height: 43px !important;
}
::ng-deep .currency-types.ant-select{
  border: none !important;
}
.currency-types-border{
  border-right: 1px solid #f1f1f1;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.ant-picker{
  background-color: transparent !important;
  border: none !important;
}
.payroll-address{
  background-color: #F5F8FA;
}
.list-down-btn{
  width: 25px;
  height: 25px;
}
.address-list svg{
   width: 20px;
}


.submitActionBtn {
  background-color: var(--primary-background-color);
  border-radius: 2px;
  width: 120px;
}

.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  min-width: 120px;
}
.fatchLocationBtn{
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  width: 130px;
  color: #6666f2;
}
.fatchLocationBtn:hover{
  background-color: var(--primary-background-color);
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  width: 130px;
  color: #fff;
}

.borderLess{
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.editBtn{
  position: absolute;
  right: 15px;
  top: 10px;
}
.editBtn svg{
  width: 20px;
}
.transition {
  transition: transform 0.3s ease-in-out;
}


 .empty-detail {
  color: #6b7280;
  line-height: 20px;
}

.add-location-modal {
  height: 80vh;
}
.add-location-menu {
background-color: #fbfbfb;
height: 100%;
}

.add-location-modal .nav-pills .nav-link {
background: transparent;
padding: 15px 10px;
color: #6b7280;
border-left: 5px solid transparent;
font-size: 14px;
font-weight: 400;
text-align: left;
padding-left: 35px;
}

.add-location-modal .nav-link.active {
background: #f2f3ff !important;
color: #000 !important;
border-left: 5px solid var(--primary-background-color) !important;
border-bottom: none !important;
}
.config-location-footer {
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
border-radius: 0px;
}

.search-icon {
top: 25px;
transform: translateY(-50%);
left: 10px;
padding-left: 5px;
}
.separator {
border-right: 1px solid #d1d1d1;
height: 15px;
}
.configuration-location svg{
position: relative;
top: -1px;
}

.location-user-table{
height: 55vh;
overflow: scroll;
}
.location-user-table::-webkit-scrollbar{
display: none;
}


.address-box{
background-color: #F9F9F9;
}
.address-list .form-check input{
width: 20px;
height: 20px;
border-radius: 50%;
}

.address-list .form-check-input:checked {
background-color: #388E3C;
border-color: #388E3C;
}
.form-check-input:focus{
box-shadow: none;
}

::ng-deep .ant-empty-image img {
height: 90%;
}

.location-data{
color: #009688;
}

.transition {
transition: transform 0.3s ease-in-out;
}
.list-down-btn[aria-expanded="true"] i {
transform: rotate(180deg);
}
.address-box{
max-height: 300px;
overflow: scroll;
}
.address-box  ::-webkit-scrollbar{
display: none;
}