.payroll-sidebar-menu {
  border-right: 1px solid #f1f1f1;
  min-height: 100vh;
  position: relative;
  z-index: 99;
}

.payroll-box .col-md-3{
  width: 22%;
}
.payroll-box .col-md-9{
  width: 78%;
}

.side-nav {
  position: sticky;
  top: 0px;
}
.payroll-sidebar-menu .nav-pills .nav-link {
  background: #fff;
  padding: 13px 10px;
  color: #444;
  border-left: 5px solid transparent ;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding-left: 25px;
}
.payroll-sidebar-menu .nav-pills .nav-link:hover{
background-color: #f2f3ff;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: #f2f3ff !important;
  color: #6666F2 !important;
  border-left: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.border-none.active {
  border-left: 5px solid #f2f3ff !important;
}
.nav.nav-pills{
  border-bottom: none;
}
.origination-logo{
  border: 1px solid #eceff5;
}
.add-other-file{
  background-color: rgba(241, 244, 249, 0.30);
  border: 1px dashed #E1E1E1;
}

.compliance-name{
  border-right: 1px solid #f1f1f1;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selector{
  background-color: #fff !important;
  min-height: 43px !important;
}
::ng-deep .currency-types.ant-select{
  border: none !important;
}
.currency-types-border{
  border-right: 1px solid #f1f1f1;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.ant-picker{
  background-color: transparent !important;
  border: none !important;
}
.payroll-address{
  background-color: #F5F8FA;
}
.list-down-btn{
  width: 30px;
  height: 30px;
}
.address-list svg{
   width: 20px;
}
.address-list:first-child{
  padding-top: 0px !important;
}
.address-list:last-child{
  padding-bottom: 0px !important;
  border-bottom: none !important;
}

.calendar-separator{
  border-left: 1px solid #DCDCE4;
  height: 20px;
}
.location-btn svg{
  position: relative;
  top: -2px;
}


.submitActionBtn {
  background-color: var(--primary-background-color);
  border-radius: 2px;
  width: 120px;
}

.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  min-width: 120px;
}
.fatchLocationBtn{
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  width: 130px;
  color: #6666f2;
}
.fatchLocationBtn:hover{
  background-color: var(--primary-background-color);
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  width: 130px;
  color: #fff;
}

.statutory-tab{
  border-bottom: 1px solid #E3E3E3;
  background: #FDFDFF;
}
.statutory-tab ul li{
list-style: none;
}
.statutory-tab li{
  line-height: 50px;
}

.statutory-tab .nav-tab.active {
  color: #6666F2 !important;
  border-right: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}
.statutory-tab .nav-tab{
  background: transparent;
  color: #444;
  border-right: 5px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0px 30px;
  width: 100%;
  display: flex;
}
.employee-calculation{
  border: 1px solid #F2F2F2;
  background-color: #FFFCF3;
}
.submitActionBtn {
  background-color: var(--primary-background-color);
  border-radius: 2px;
  width: 120px;
}
.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  min-width: 100px;
}
.background-light{
  background-color: #FBFCFD;
}
.location-icon{
  background-color: #FAFAFA;
  width: 40px;
  height: 40px;
}
.location-detail{
  border: 1px solid #E3E3E3;
  width: 35px;
  height: 35px;
  border-radius: 6px;
}
.location-detail-dropdown{
  background-color: #FAFAFA;
}
.borderLess{
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.saveBtn{
  position: absolute;
  right: 15px;
  top: 10px;
}
.editBtn{
  position: absolute;
  right: 15px;
  top: 10px;
}
.editBtn svg{
  width: 20px;
}
.transition {
  transition: transform 0.3s ease-in-out;
}


 .empty-detail {
  color: #6b7280;
  line-height: 20px;
}

.add-location-modal {
  height: 80vh;
}
.add-location-menu {
background-color: #fbfbfb;
height: 100%;
}

.add-location-modal .nav-pills .nav-link {
background: transparent;
padding: 15px 10px;
color: #6b7280;
border-left: 5px solid transparent;
font-size: 14px;
font-weight: 400;
text-align: left;
padding-left: 35px;
}

.add-location-modal .nav-link.active {
background: #f2f3ff !important;
color: #000 !important;
border-left: 5px solid var(--primary-background-color) !important;
border-bottom: none !important;
}
.config-location-footer {
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
border-radius: 0px;
}
.location-user-table table thead{
  position: sticky;
  top: 0px;
}

.search-icon {
top: 25px;
transform: translateY(-50%);
left: 10px;
padding-left: 5px;
}
.separator {
border-right: 1px solid #d1d1d1;
height: 15px;
}
.configuration-location svg{
position: relative;
top: -1px;
}

.location-user-table{
height: 55vh;
overflow: scroll;
}
.location-user-table::-webkit-scrollbar{
display: none;
}


.address-box{
background-color: #F9F9F9;
}
.address-list .form-check input{
width: 18px;
height: 18px;
border-radius: 2px;
}


.form-check-input:focus{
box-shadow: none;
}

::ng-deep .ant-empty-image img {
height: 90%;
}

.location-data{
color: #009688;
}

.transition {
transition: transform 0.3s ease-in-out;
}
.list-down-btn[aria-expanded="true"] i {
transform: rotate(180deg);
}
.address-box{
max-height: 300px;
overflow: scroll;
}
.address-box  ::-webkit-scrollbar{
display: none;
}
.rotate-180 {
  transform: rotate(180deg);
}
.location-detail[aria-expanded="true"] svg {
  transform: rotate(180deg);
}
.sample-calculation-data{
  background-color: #F9FAFC;
}
.sample-calculation-list .form-check-input{
  top: -2px;
}
.sample-calculation-list .table tr th{
  background-color: #fff !important;
  font-weight: 500 !important;
}
.sample-calculation-list .table tr td{
 border-bottom: none !important;
 border-right: 1px solid #f1f1f1 !important
}

.sample-calculation-list .table .bg-color th{
  background-color: #F9FAFC !important;
  font-weight: 500 !important;
  vertical-align: middle;
  border-right: none !important
}
.sample-tax-slabs-list .table tr th{
  background-color: #F9FAFC !important;
  font-weight: 500 !important;
}

.sample-tax-slabs-list .table tr td{
  border-bottom: none !important;
  border-right: 1px solid #f1f1f1 !important
 }
 
 .sample-tax-slabs-list .table .bg-color th{
   background-color: #F9FAFC !important;
   font-weight: 500 !important;
   vertical-align: middle;
   border-right: none !important
 }
 .sample-tax-slabs-list{
  background-color: #F9FAFC;
 }
 .empty-detail {
  color: #6b7280;
  line-height: 20px;
}
.ant-empty-image img {
  width: 90px !important;
}
.add-location-modal {
  height: 80vh;
}
.add-location-menu {
background-color: #fbfbfb;
height: 100%;
}

.add-location-modal .nav-pills .nav-link {
background: transparent;
padding: 15px 10px;
color: #6b7280;
border-left: 5px solid transparent;
font-size: 14px;
font-weight: 400;
text-align: left;
padding-left: 35px;
}

.add-location-modal .nav-link.active {
background: #f2f3ff !important;
color: #000 !important;
border-left: 5px solid var(--primary-background-color) !important;
border-bottom: none !important;
}
.config-location-footer {
position: absolute;
bottom: 0px;
width: 100%;
left: 0px;
border-radius: 0px;
}
.search-input {
display: block;
width: 100%;
padding: 0.4rem 1rem;
font-size: 0.875rem;
font-weight: 400;
height: 45px !important;
border: none;
background-color: transparent;
}
.search-icon {
top: 25px;
transform: translateY(-50%);
left: 10px;
padding-left: 5px;
}
.separator {
border-right: 1px solid #d1d1d1;
height: 15px;
}
.configuration-location svg{
position: relative;
top: -1px;
}

.location-user-table{
height: 55vh;
overflow: scroll;
}
.location-user-table::-webkit-scrollbar{
display: none;
}
.employee-add-btn{
background-color: #E4E7FF;
padding: 5px 15px;
}
.location-icon{
  width: 35px;
  height: 35px;
  background-color: #eee;
}

.side-img {
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.userName {
  background-color: #f2f2f2;
  color: #e27a17;
}
.close-icon-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.manualemployList {
  max-height: 275px;
  overflow: scroll;
}
.already-assigned-user-label {
  color: #71737b;
}
.form-check-input{
  border-radius: 2px;
}

.user-checkbox input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  accent-color: #6766f3;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white !important;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}


.spreter-line {
  height: 15px;
  border-right: 1px solid #2f2e41;
}

.shift-tag {
  background-color: #f0f0f0;
  padding: 3px 14px;
  color: #2f2e41;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.141px;
  border-radius: 2px;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}