
.origination-logo{
    border: 1px solid #eceff5;
}
.add-other-file{
    background-color: rgba(241, 244, 249, 0.30);
    border: 1px dashed #E1E1E1;
}


::ng-deep .placeholder-line .ant-select-selection-placeholder {
    line-height: 45px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  ::ng-deep .placeholder-line .ant-select-selection-item {
    line-height: 45px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  ::ng-deep .placeholder-line .ant-select-selector{
    background-color: #fff !important;
    min-height: 43px !important;
  }
  ::ng-deep .currency-types.ant-select{
    border: none !important;
  }
  .currency-types-border{
    border-right: 1px solid #f1f1f1;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
  }

  .ant-picker{
    background-color: transparent !important;
    border: none !important;
  }
  .payroll-address{
    background-color: #F5F8FA;
  }
  .list-down-btn{
    width: 30px;
    height: 30px;
  }


  .address-list svg{
     width: 20px;
  }

.submitActionBtn {
    background-color: var(--primary-background-color);
    border-radius: 2px;
    width: 100px;
  }
  .cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    min-width: 100px;
  }
 
  .borderLess{
    border: none;
    font-size: 14px;
    font-weight: 500;
  }

  .editBtn{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .editBtn svg{
    width: 20px;
  }

   .empty-detail {
    color: #6b7280;
    line-height: 20px;
  }
  .ant-empty-image img {
    width: 90px !important;
  }



