

<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid">
      <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>
      <div class="row" *ngIf="!isLoading">
        <div class="col-md-12">
          <div class="personal-details">
            <h5>Address Details</h5>
            <p class="mb-0">Fields with * are mandatory</p>
            <form #addressInformationForm="ngForm"  (ngSubmit)="submit()">
              <div class="form-group">
                <div class="personal-info mt-4">
                  <div class="row">
                    <!-- Current Address Inputs -->
                    <div class="mb-2">
                      <h6 class="current-address">Current Address <span class="text-optional">*</span></h6>
                  </div>
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label for="currentVillage" class="pb-2">Address Line 1</label>
                        <input type="text" class="form-control" id="currentVillage" name="currentVillage" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                          placeholder="House/Floor No. Building Name or Street, Locality"
                          [(ngModel)]="userAddressRequest[0].addressLine1"
                          minlength="5" maxlength="150" required #addressLine1="ngModel" (keydown)="preventWhitespace($event)">

                        <!-- Error Message for Required Field -->
                        <div *ngIf="addressLine1.touched || isFormInvalid">
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.required">
                            <i class="bi bi-exclamation-circle"></i>
                            Current address is required.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.minlength">
                            <i class="bi bi-exclamation-circle"></i>
                            Please enter a minimum of five characters.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.maxlength">
                            <i class="bi bi-exclamation-circle"></i> Maximum 150 characters allowed.
                        </p>

                        </div>
                      </div>
                    </div>

                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="addressLine2" class="pb-2">Address Line 2</label>
                          <input type="text" class="form-control" id="addressLine2" name="addressLine2"
                            placeholder="Apartment, suite, unit, building, floor, etc."
                            [(ngModel)]="userAddressRequest[0].addressLine2"
                            minlength="5" maxlength="100" #addressLine2="ngModel" (keydown)="preventWhitespace($event)">

                          <!-- Error Message for Required Field -->
                          <div *ngIf="addressLine2.touched || isFormInvalid">
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.required">
                              <i class="bi bi-exclamation-circle"></i>
                              Current address is required.
                            </p>
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.minlength">
                              <i class="bi bi-exclamation-circle"></i>
                              Please enter a minimum of five characters.
                            </p>
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.maxlength">
                              <i class="bi bi-exclamation-circle"></i> Maximum 100 characters allowed.
                          </p>
                            <!-- You can add more error conditions here if needed -->
                          </div>
                        </div>
                      </div>

                    <!-- Other input fields for Pincode, City, State, Country -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="currentPincode" class="pb-2">Pincode</label>
                            <input type="text" mask="000000" class="form-control" id="currentPincode" name="currentPincode" placeholder="Enter Pincode"  [(ngModel)]="userAddressRequest[0].pincode" required #currentPincode="ngModel" minlength="6" maxlength="6" pattern="[0-9]*">
                            <!-- Error Message for Pincode -->
                            <div *ngIf="currentPincode.touched || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentPincode.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Pincode is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentPincode.errors?.minlength || currentPincode.errors?.maxlength">
                                    <i class="bi bi-exclamation-circle"></i> Pincode should be of 6 digits.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentPincode.errors?.pattern">
                                    <i class="bi bi-exclamation-circle"></i> Pincode must be numeric.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="currentCity" class="pb-2">City</label>
                            <input type="text" maxlength="30" class="form-control" id="currentCity" name="currentCity" placeholder="Enter City" [(ngModel)]="userAddressRequest[0].city" required #currentCity="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <!-- Error Message for City -->
                            <div *ngIf="currentCity.touched || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentCity.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Current City is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentCity.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="currentState" class="pb-2">State</label>
                            <input type="text" maxlength="30" class="form-control" id="currentState" name="currentState" placeholder="Enter State" [(ngModel)]="userAddressRequest[0].state" required #currentState="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <!-- Error Message for State -->
                            <div *ngIf="currentState.touched || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentState.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    State is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentState.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="currentCountry" class="pb-2">Country</label>
                            <input type="text" maxlength="30" class="form-control" id="currentCountry" name="currentCountry" placeholder="Enter Country" [(ngModel)]="userAddressRequest[0].country" required #currentCountry="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <!-- Error Message for Country -->
                            <div *ngIf="currentCountry.touched || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentCountry.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Country is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="currentCountry.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                    </div>

                   <!-- Checkbox for Permanent Address -->
                    <!-- Checkbox for Permanent Address -->
                    <div class="col-md-12 mt-3 mb-3">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                              (change)="showPermanent()"
                              [checked]="!isPermanent"

                              name="sameAddress">
                        <label class="form-check-label" for="exampleCheck1">
                          Is your current address the same as the permanent address?
                        </label>
                      </div>
                    </div>



                    <!-- Permanent Address Inputs -->
                    <div class="row" *ngIf=" isPermanent">
                      <!-- ... Input fields for permanent address ... -->
                      <div class="mb-2">
                        <h6 class="current-address">Permanent Address <span class="text-optional">*</span></h6>
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="permanentVillage" class="pb-2">Address Line 1</label>
                            <input type="text" minlength="" maxlength="150" class="form-control" #permanentAddress="ngModel" id="permanentVillage" name="permanentVillage" placeholder="House/Floor No. Building Name or Street, Locality"
                            [(ngModel)]="userAddressRequest[1].addressLine1" ngx-google-places-autocomplete #placesRefPermanent="ngx-places" (onAddressChange)="handleAddressChangePermanent($event)"  required  (keydown)="preventWhitespace($event)">
                            <!-- Error Message for Complete Address -->
                            <div *ngIf="permanentAddress.touched">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentAddress.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                   Complete address is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentAddress.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 150 characters allowed.
                              </p>
                              <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentAddress.errors?.minlength">
                                <i class="bi bi-exclamation-circle"></i> Minimum 5 characters allowed.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                          <label for="permanentAddressLine2" class="pb-2">Address Line 2</label>
                          <input type="text" class="form-control" id="permanentAddressLine2" name="permanentAddressLine2"
                            placeholder="Apartment, suite, unit, building, floor, etc."
                            [(ngModel)]="userAddressRequest[1].addressLine2"
                            minlength="5" maxlength="100" #address="ngModel" (keydown)="preventWhitespace($event)">
                        </div>
                        </div>


                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="permanentPincode" class="pb-2">Pincode</label>
                            <input type="text" mask="000000" class="form-control" id="permanentPincode" name="permanentPincode" placeholder="Enter Pincode" [(ngModel)]="userAddressRequest[1].pincode" required minlength="6" maxlength="6" pattern="[0-9]*" #permanentPincode="ngModel">
                            <!-- Error Message for Pincode -->
                            <div *ngIf="permanentPincode.touched  || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentPincode.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Pincode is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentPincode.errors?.minlength || permanentPincode.errors?.maxlength">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Pincode should be of 6 digits.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentPincode.errors?.pattern">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Pincode must be numeric.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="permanentCity" class="pb-2">City</label>
                            <input type="text" maxlength="30" class="form-control" id="permanentCity" name="permanentCity" placeholder="Enter City" [(ngModel)]="userAddressRequest[1].city" required #permanentCity="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <div *ngIf="permanentCity.touched  || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentCity.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    City is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentCity.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="permanentState" class="pb-2">State</label>
                            <input type="text" maxlength="30" class="form-control" id="permanentState" name="permanentState" placeholder="Enter State" [(ngModel)]="userAddressRequest[1].state" required #permanentState="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <div *ngIf="permanentState.touched  || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentState.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    State is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentState.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="permanentCountry" class="pb-2">Country</label>
                            <input type="text" maxlength="30" class="form-control" id="permanentCountry" name="permanentCountry" placeholder="Enter Country" [(ngModel)]="userAddressRequest[1].country" required #permanentCountry="ngModel" (keydown)="preventLeadingWhitespace($event)">
                            <div *ngIf="permanentCountry.touched  || isFormInvalid">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentCountry.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i>
                                    Country is required.
                                </p>
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="permanentCountry.errors?.maxlength">
                                  <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                              </p>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="col-md-12 d-flex justify-content-between mt-3">
                      <div class="info-btn d-flex justify-content-start">
                          <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()">
                              <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                          </button>
                      </div>
                      <div class="info-btn d-flex justify-content-end" style="gap:10px;">
                          <div class="info-btn" *ngIf="employeeOnboardingFormStatus == 'REJECTED' && !this.userAddressDetailsRequest.updateRequest">
                              <button (click)="selectButtonType('save')" class="btn btn-success save-button" type="button" [disabled]="toggle" aria-label="Save">
                                  <div *ngIf="toggleSave" class="dot-opacity-loader ">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </div>
                                  <span *ngIf="!toggleSave">
                                      Submit Form <i class="bi bi-save" style="padding-left: 8px;"></i>
                                  </span>
                              </button>
                          </div>
                           <!-- Go Back to Profile Button, shown only if updateRequest is true -->
                           <div class="info-btn" *ngIf="this.userAddressDetailsRequest.updateRequest">
                            <button (click)="goBackToProfile()" class="btn btn-warning" type="button" aria-label="Go Back to Profile">
                              Go Back to Profile
                            </button>
                          </div>
                          <!-- Conditional Update Button, replaces Next button if updateRequest is true -->
                          <button *ngIf="this.userAddressDetailsRequest.updateRequest" (click)="selectButtonType('update')" class="btn btn-info save-button" type="button" aria-label="Update">
                            <div *ngIf="toggle" class="dot-opacity-loader">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                            <span *ngIf="!toggle">
                              Update <i class="bi bi-pencil-square" style="padding-left: 8px;"></i>
                            </span>
                          </button>

                          <button *ngIf="!this.userAddressDetailsRequest.updateRequest && !this.dataService.isLastRoute('/employee-address-detail')" (click)="selectButtonType('next')" class="btn btn-primary save-button" type="button" [disabled]="toggle"  aria-label="Next Step">
                              <div *ngIf="toggle" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <span *ngIf="!toggle && isNewUser && !this.dataService.isLastRoute('/employee-address-detail')">
                                Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                              </span>
                              <span *ngIf="!toggle && !isNewUser && !this.dataService.isLastRoute('/employee-address-detail')">
                                Save & Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                            </span>
                          </button>
                            <button *ngIf="this.dataService.isLastRoute('/employee-address-detail')" (click)="selectButtonType('preview')" class="btn btn-primary save-button" type="button" [disabled]="toggle"  aria-label="Next Step">
                              <div *ngIf="toggle" class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                              </div>
                              <span>
                                Preview Form <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                            </span>
                            </button>
                      </div>
                      <button type="submit" style="display: none;" id="formSubmitButton"  #formSubmitButton></button>
                  </div>
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


   <!-- Success Message Modal -->
   <button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
   <div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
                <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>

                <!-- Conditional Messages -->
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                    Your registration is successful. Pending for verification.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                    Your onboarding is approved.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                    Your onboarding is rejected.
                </p>

                <!-- Edit Button -->

                <button type="button" class="d-none"  data-bs-dismiss="modal" id="dismissSuccessModalButton" #dismissSuccessModalButton>
                    Cancel
                  </button>
                <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>
