<div class="page-wrapper">
    <div class="page-content-tab mb-4">
        <div class="row mt-2 p-3">
            <div class="col-md-9">
                <div class="faq-topic">
                    <h5 class="mb-3 font-16 text-black fw-normal">We’re here to help</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="faq-point p-3 d-flex align-items-start gap-3">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                        <mask id="mask0_8410_277" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="25">
                                          <rect y="0.5" width="24" height="24" fill="#D9D9D9"/>
                                        </mask>
                                        <g mask="url(#mask0_8410_277)">
                                          <path d="M3 17.5V15.5H8V13.5H3V11.5H8V9.5H3V7.5H8C8.55 7.5 9.02083 7.69583 9.4125 8.0875C9.80417 8.47917 10 8.95 10 9.5V11C10 11.4167 9.85417 11.7708 9.5625 12.0625C9.27083 12.3542 8.91667 12.5 8.5 12.5C8.91667 12.5 9.27083 12.6458 9.5625 12.9375C9.85417 13.2292 10 13.5833 10 14V15.5C10 16.05 9.80417 16.5208 9.4125 16.9125C9.02083 17.3042 8.55 17.5 8 17.5H3ZM21 11.5V15.5C21 16.05 20.8042 16.5208 20.4125 16.9125C20.0208 17.3042 19.55 17.5 19 17.5H14C13.45 17.5 12.9792 17.3042 12.5875 16.9125C12.1958 16.5208 12 16.05 12 15.5V9.5C12 8.95 12.1958 8.47917 12.5875 8.0875C12.9792 7.69583 13.45 7.5 14 7.5H19C19.55 7.5 20.0208 7.69583 20.4125 8.0875C20.8042 8.47917 21 8.95 21 9.5H14V15.5H19V13.5H16.5V11.5H21Z" fill="#1C1B1F"/>
                                        </g>
                                      </svg>
                                </div>
                                <div>
                                    <h5 class="mb-2 font-14 fw-semibold text-black">What is Hajiri, and how does it help me?</h5>
                                    <p class="font-13 fw-light mb-0">Learn More abount Hajiri  and how it will help to Hajiri and how it will help to manage your workspace</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                zsd
            </div>
        </div>
    </div>
</div>