<div class="page-wrapper">
    <div class="page-content-tab">
       <div class="container-fluid mb-4">
            <div class="row mt-4">
                <div class="col-md-12">
                     <div class="employee-change-box">
                         <div class="d-flex align-items-center gap-3">
                            <span class="back-btn d-flex align-items-center justify-content-center radius-50 pointer" routerLink="/payroll/payroll-managements">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22" fill="none">
                                    <mask id="mask0_10773_4428" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                                    <rect x="0.200195" y="0.199219" width="21.6" height="21.6" fill="#6666f2"/>
                                    </mask>
                                    <g mask="url(#mask0_10773_4428)">
                                    <path d="M14.6006 20L5.60059 11L14.6006 2L16.1981 3.5975L8.79559 11L16.1981 18.4025L14.6006 20Z" fill="#6666f2"/>
                                    </g>
                                </svg>
                            </span>
                            <h5 class="mb-0 font-14 fw-semibold">Attendance, Leave & Present Days </h5>
                         </div>


                         <div class="mt-4">
                            <ul id="pills-tab" role="tablist" class="nav nav-pills align-items-center gap-3 ">
                                <li class="nav-item mx-0">
                                   <a id="pills-announcement-tab" data-bs-toggle="pill" href="#leave-applied" role="tab" 
                                      aria-controls="pills-dashboard" aria-selected="false"
                                      class="nav-link d-flex align-items-center gap-3 active"> <span class="d-flex align-items-center justify-content-center img-20 radius-50 border img-25 tab-count active font-13 fw-semibold">1</span> Leave Applied </a>
                                </li>
                                <span class="dot-border"></span>
                                <li class="nav-item d-flex align-items-center">
                                   <a id="pills-notification-tab" data-bs-toggle="pill" href="#no-attendance" role="tab"
                                      aria-controls="pills-request" aria-selected="false"
                                      class="nav-link d-flex align-items-center gap-3"><span class="d-flex align-items-center justify-content-center img-20 radius-50 border img-25 tab-count active font-13 fw-semibold">2</span> No Attendance </a>
                                </li>
                                <span class="dot-border"></span>
                                <li class="nav-item d-flex align-items-center">
                                    <a id="pills-notification-tab" data-bs-toggle="pill" href="#LOP-summary" role="tab"
                                       aria-controls="pills-request" aria-selected="false"
                                       class="nav-link d-flex align-items-center gap-3"><span class="d-flex align-items-center justify-content-center img-20 radius-50 border img-25 tab-count active font-13 fw-semibold">3</span> LOP Summary </a>
                                 </li>
                                 <span class="dot-border"></span>
                                <li class="nav-item d-flex align-items-center">
                                    <a id="pills-notification-tab" data-bs-toggle="pill" href="#LOP-reversal" role="tab"
                                       aria-controls="pills-request" aria-selected="false"
                                       class="nav-link d-flex align-items-center gap-3"><span class="d-flex align-items-center justify-content-center img-20 radius-50 border img-25 tab-count active font-13 fw-semibold">4</span> LOP Reversal </a>
                                 </li>
                             </ul>

                            <div id="pills-tabContent" class="tab-content mt-3">
                                <div class="tab-pane active show" id="leave-applied" role="tabpanel" aria-labelledby="employee-tab">
                                    <div class="asset-assigned-search d-flex justify-content-between align-items-center h-100">
                                        <div class="search-date position-relative">
                                            <div class="form-group w-100 position-relative">
                                                <input type="text" id="searchText" placeholder="Search by name.." class="form-control me-2 border-0" style="width: 800px; padding: 10px 40px;" >
                                                <i class="bi bi-search search-icon d-flex align-items-center h-100"></i>
                                            </div>
                                        </div>
                                        <div class="filter-btn">
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                                                    <mask id="mask0_10851_7500" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="21">
                                                    <rect x="0.5" width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7500)">
                                                    <path d="M8.85664 15.7484L3.86914 10.7609L5.11602 9.51406L8.85664 13.2547L16.8848 5.22656L18.1316 6.47344L8.85664 15.7484Z" fill="#6666F2"/>
                                                    </g>
                                                    </svg>
                                                Approve All 
                                            </button>
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                                                    <mask id="mask0_10851_7494" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="21">
                                                    <rect x="0.5" width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7494)">
                                                    <path d="M7.85 14.8766L6.625 13.6516L9.775 10.5016L6.625 7.37344L7.85 6.14844L11 9.29844L14.1281 6.14844L15.3531 7.37344L12.2031 10.5016L15.3531 13.6516L14.1281 14.8766L11 11.7266L7.85 14.8766Z" fill="#6666F2"/>
                                                    </g>
                                                    </svg>
                                                Reject All
                                            </button>
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                    <mask id="mask0_10851_7605" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="21">
                                                    <rect width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7605)">
                                                    <path d="M8.35625 14L3.39062 9.03438L4.6375 7.7875L8.35625 11.5063L16.3625 3.5L17.6094 4.74688L8.35625 14ZM4.375 17.5V15.75H16.625V17.5H4.375Z" fill="#6666F2"/>
                                                    </g>
                                                </svg>
                                                Save & Continue 
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <div class="mt-3 table-responsive">

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="fw-semibold">Employee Name</th>
                                                    <th class="fw-semibold">Employee ID</th>
                                                    <th class="fw-semibold">Date</th>
                                                    <th class="fw-semibold">Total Days</th>
                                                    <th class="fw-semibold">Leave Type</th>
                                                    <th class="fw-semibold">Status </th>
                                                    <th class="fw-semibold">Approver</th>
                                                    <th class="fw-semibold">Action</th>   
                                                 </tr>
                                            </thead>
                                            <tbody *ngFor="let item of [].constructor(10); let i = index"s>
                                                <tr>
                                                    <td>
                                                        <span class="fw-normal font-13">Leslie Alexander</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">ID-234</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">9th Jan 2024</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">20</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">Unpaid Leave</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-semibold font-13 text-warning">Pending</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">Unpaid Leave</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btnAction d-flex align-items-center justify-content-center pointer" type="button" data-bs-toggle="dropdown">
                                                                <i class="bi bi-three-dots-vertical font-15"></i>
                                                            </button>
                                                            <div class="dropdown-menu actionMenuList">
                                                                <li>
                                                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#approveModal">
                                                                        <i class="bi bi-check2 font-18 position-relative" style="top: 2px;"></i>  Deduct Leave 
                                                                    </a>
                                                                </li>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pagination-box w-100 p-3 bg-white border-top">
                                        <p class="mb-0"> Showing items 10 - 2 of 12 records</p>
                                        <ngb-pagination class="pagition-box"> </ngb-pagination>
                                     </div>
                                </div>
                                <div class="tab-pane fade" id="no-attendance" role="tabpanel" aria-labelledby="employee-tab">
 
                                    <div class="asset-assigned-search d-flex justify-content-between align-items-center h-100">
                                        <div class="search-date position-relative">
                                            <div class="form-group w-100 position-relative">
                                                <input type="text" id="searchText" placeholder="Search by name.." class="form-control me-2 border-0" style="width: 800px; padding: 10px 40px;" >
                                                <i class="bi bi-search search-icon d-flex align-items-center h-100"></i>
                                            </div>
                                        </div>
                                        <div class="filter-btn">
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                                                    <mask id="mask0_10851_7500" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="21">
                                                    <rect x="0.5" width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7500)">
                                                    <path d="M8.85664 15.7484L3.86914 10.7609L5.11602 9.51406L8.85664 13.2547L16.8848 5.22656L18.1316 6.47344L8.85664 15.7484Z" fill="#6666F2"/>
                                                    </g>
                                                    </svg>
                                                Approve All 
                                            </button>
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                                                    <mask id="mask0_10851_7494" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="21">
                                                    <rect x="0.5" width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7494)">
                                                    <path d="M7.85 14.8766L6.625 13.6516L9.775 10.5016L6.625 7.37344L7.85 6.14844L11 9.29844L14.1281 6.14844L15.3531 7.37344L12.2031 10.5016L15.3531 13.6516L14.1281 14.8766L11 11.7266L7.85 14.8766Z" fill="#6666F2"/>
                                                    </g>
                                                    </svg>
                                                Reject All
                                            </button>
                                            <button type="button" class="btn text-primary fw-semibold font-13 text-center h-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                    <mask id="mask0_10851_7605" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="21">
                                                    <rect width="21" height="21" fill="#D9D9D9"/>
                                                    </mask>
                                                    <g mask="url(#mask0_10851_7605)">
                                                    <path d="M8.35625 14L3.39062 9.03438L4.6375 7.7875L8.35625 11.5063L16.3625 3.5L17.6094 4.74688L8.35625 14ZM4.375 17.5V15.75H16.625V17.5H4.375Z" fill="#6666F2"/>
                                                    </g>
                                                </svg>
                                                Save & Continue 
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <div class="mt-3 table-responsive">

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="fw-semibold">Employee Name</th>
                                                    <th class="fw-semibold">Employee ID</th>
                                                    <th class="fw-semibold">Date</th>
                                                    <th class="fw-semibold">Total Days</th>
                                                    <th class="fw-semibold">Leave Type</th>
                                                    <th class="fw-semibold">Action</th>   
                                                 </tr>
                                            </thead>
                                            <tbody *ngFor="let item of [].constructor(10); let i = index"s>
                                                <tr>
                                                    <td>
                                                        <span class="fw-normal font-13">Leslie Alexander</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">ID-234</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">9th Jan 2024</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">20</span>
                                                    </td>
                                                    <td>
                                                        <span class="fw-normal font-13">Unpaid Leave</span>
                                                    </td>
                                                    <td>
                                                       <div class="dropdown">
                                                        <button class="btnAction d-flex align-items-center justify-content-center pointer" type="button" data-bs-toggle="dropdown">
                                                            <i class="bi bi-three-dots-vertical font-15"></i>
                                                        </button>
                                                        <div class="dropdown-menu actionMenuList">
                                                            <li>
                                                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#approveModal">
                                                                    <i class="bi bi-check2 font-18 position-relative" style="top: 2px;"></i>  Deduct Leave 
                                                                </a>
                                                            </li>
                                                        </div>
                                                       </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pagination-box w-100 p-3 bg-white border-top">
                                        <p class="mb-0"> Showing items 10 - 2 of 12 records</p>
                                        <ngb-pagination class="pagition-box"> </ngb-pagination>
                                     </div>
                                </div>
                                <div class="tab-pane fade" id="LOP-summary" role="tabpanel" aria-labelledby="employee-tab">

                                    
                                    
                                </div>
                                <div class="tab-pane fade" id="LOP-reversal" role="tabpanel" aria-labelledby="employee-tab">

                                   
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>