<div class="error-page">
  <img src="assets/images/onbording-eroor.jpg" style="width: 200px" />
  <!-- <h1>Something Went Wrong</h1>
  <p class="">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>

  <button class="btn add-filtter mt-4" type="button" routerLink="/dashboard">
    Redirect To Onboarding
    <i class="bi bi-arrow-right" style="padding-left: 10px"></i>
  </button>
</div> -->

  <div class="is-dark">
    <div class="nk-mask bg-pattern-dot-white-sm">
      <div class="error-page">
        <img src="assets/images/onbording-eroor.jpg" style="width: 200px" />
        <h1>Something Went Wrong</h1>
        <p class="">
          this email is already registered with us
          <a href="https://www.hajiri.in/contact.html" style="color: blue"
            >Help</a
          >
        </p>

        <button class="btn add-filtter mt-4" type="button">
          Login Again
          <i class="bi bi-arrow-right" style="padding-left: 10px"></i>
        </button>
      </div>
    </div>
  </div>
</div>
