
.team-detail-hadding h5{
    font-size: 18px;
}

.members-add {
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
}
.add-member p{
    color: #626262;
    font-size: 14px;
    font-weight: 400;
}

.add-member i{
    color: #626262;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}
.members-list{
    margin-bottom: 25px;
    cursor: pointer;
}

.members-list P{
    color: #111;
}

span.members-name {
    background-color: #a69ff3;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

span.members-names {
    border: 1px dashed #111;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

.members-names i{
    color: #626262;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;

}
.members-add{
    margin-bottom: 15px;
}

.new-add-project{
    border: 1px dashed #111;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.new-add-projects{
    border: 1px dashed #067fba;
    background-color: #067fba;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.new-add-project i{
    font-size: 24px;
    line-height: 20px;

}

.members-list:hover{
  cursor: pointer;
}

.mamber-list-ui{
    background-color: #a69ff3;
    width: 35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    text-transform: uppercase;
}

.Members-list-box{
    margin-bottom: 15px;
}
.add-member{
    cursor: pointer;
}
.user-item img{
    width: 30px;
    border-radius: 50%;
}

#user-first-name-logo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#user-list-details{
    display: flex;
    align-items: center;
    line-height: 40px;
}

.custom-popup {
    background-color: #7B68EE; 
    color: white;
    height: 5rem;
    width: 15rem;
    border-radius: 8px; 
    position: fixed;
    bottom: 10px; 
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  }


  .selected-users {
    display: flex;
    grid-gap: 5px;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.selected-userss{
    background-color: #557ef8;
    color: #fff;
    padding: 2px 8px 2px 2px;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
    grid-gap: 5px;
    gap: 5px;
}

span.members-namess {
    background-color: #87ade2;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 1px;
}

.selected-users p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.new-membear-list {
    width: 100%;
    padding: 10px;
    border: 1px solid #e8ebf3;
    border-top: 0px;
}

.modalnote p {
    font-weight: 400;
    font-size: 12px;
    color: #eb5050;
    background: #fcf1f1;
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px 10px;
}

.modalnote i {
    font-size: 13px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

span.remove-icon:hover {
    background-color: #8ca7f8;
    border-radius: 50%;
}

/* Team Member */

.members-team-member-one {
    background-color: #7b7b7b;
}

.members-team-member-two {
    background-color: #fda8a8;
}

.members-team-member-three {
    background-color: #ffbff2;
}

.members-team-member-for {
    background-color: #bfedff;
}
.members-team-member-five {
    background-color: #f8ffbf;
}

/* Team Member */

.description{
    height: 100px !important;
}

.endorsed a {
    font-size: 13px;
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}

.endorsed-para{
    font-size: 12px;
    margin-top: 5px;
}

.icon-space {
    padding-right: 10px;
}

.updateteam {
    background-color: #557ef8;
    color: #fff;
    cursor: pointer;
}

.contant-scrool{
    height: 400px;
    overflow: scroll;
}

.new-deopdown{
    display: block; 
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 45px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.new-deopdown i {
    position: absolute;
    right: 15px;
}

.members-description {
    position: relative;
    left: 15px;
}

.permissions {
    background-color: #fff6ee;
    border-radius: 6px;
    height: 60px;
    padding: 10px;
}

.Upgrade-text{
    font-size: 14px;
    color: #dc6700 !important;
}

.permissions i{
    color: #dc6700 !important;
    font-size: 18px;
}

.Upgrade{
    background-color: #dc6700 !important;
    color: #fff;
}
.remove-icon:hover{
    cursor: pointer;
}