
.team-detail-hadding h5{
    font-size: 18px;
    text-transform: capitalize;
}

.members-add {
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    background-color: #fff;
    /* box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}
.add-member p{
    color: #626262;
    font-size: 14px;
    font-weight: 400;
}

.add-member i{
    color: #626262;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}
.members-list{
    margin-bottom: 25px;
    cursor: pointer;
}

.members-list P{
    color: #111;
}

span.members-name {
    background-color: #a69ff3;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

span.members-names {
    border: 1px dashed #111;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

.members-names i{
    color: #626262;
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;

}
.members-add{
    margin-bottom: 15px;
}

.new-add-project{
    border: 1px dashed #111;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.new-add-projects{
    border: 1px dashed #067fba;
    background-color: #067fba;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.new-add-project i{
    font-size: 24px;
    line-height: 20px;

}

.members-list:hover{
  cursor: pointer;
}

.mamber-list-ui{
    background-color: #a69ff3;
    width: 35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    text-transform: uppercase;
}



.user-item img{
    width: 30px;
    border-radius: 50%;
}

#user-first-name-logo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#user-list-details{
    display: flex;
    align-items: center;
    line-height: 40px;
}

.custom-popup {
    background-color: #7B68EE; 
    color: white;
    height: 5rem;
    width: 15rem;
    border-radius: 8px; 
    position: fixed;
    bottom: 10px; 
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  }


  .selected-users {
    display: flex;
    grid-gap: 5px;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.selected-userss{
    background-color: #6666f3;
    color: #fff;
    padding: 2px 8px 2px 2px;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
    grid-gap: 5px;
    gap: 5px;
}

span.members-namess {
    background-color: #87ade2;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 1px;
}

.selected-users p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.new-membear-list {
    width: 100%;
    padding: 10px;
    border: 1px solid #e8ebf3;
    border-top: 0px;
}

.modalnote p {
    font-weight: 400;
    font-size: 12px;
    color: #eb5050;
    background: #fcf1f1;
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1px 10px;
}

.modalnote i {
    font-size: 13px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

span.remove-icon:hover {
    background-color: #8ca7f8;
    border-radius: 50%;
}

/* Team Member */

.members-team-member-one {
    background-color: #7b7b7b;
}

.members-team-member-two {
    background-color: #fda8a8;
}

.members-team-member-three {
    background-color: #ffbff2;
}

.members-team-member-for {
    background-color: #bfedff;
}
.members-team-member-five {
    background-color: #f8ffbf;
}

/* Team Member */

.description{
    height: 100px !important;
}

.endorsed a {
    font-size: 13px;
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}

.endorsed-para{
    font-size: 12px;
    margin-top: 5px;
}

.icon-space {
    padding-right: 10px;
}

.updateteam {
    background-color: #6666f3;
    color: #fff;
    cursor: pointer;
}

.contant-scrool{
    height: 400px;
    overflow: scroll;
}

.new-deopdown{
    display: block; 
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 45px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.new-deopdown i {
    position: absolute;
    right: 15px;
}

.members-description {
    position: relative;
    left: 15px;
}

.permissions {
    background-color: #fff6ee;
    border-radius: 6px;
    height: 60px;
    padding: 10px;
}

.Upgrade-text{
    font-size: 14px;
    color: #dc6700 !important;
}

.permissions i{
    color: #dc6700 !important;
    font-size: 18px;
}

.Upgrade{
    background-color: #dc6700 !important;
    color: #fff;
}


.Members-list-box:hover{
    background-color: #f8f8f8;
}

.manegir-dropdown{
    padding: 3px 9px;
    border-radius: 6px;
}

.manegir-dropdown:hover{
    background-color: #ececec;
    padding: 3px 9px;
    border-radius: 6px;
}

.manegir-dropdown a:hover{
    color: #444;
}

.StaticMenuItemBase-button {
    color: #c92f54;
    fill: #c92f54;
    height: 35px;
    border-top: 1px solid #edeae9;
    padding-top: 9px;
}

.remove-team a:hover{
  background-color: transparent;
  color: #c92f54;
}

.manager-list a{
    font-size: 12px !important;
}

.list-top{
    top: 10px !important;
    position: absolute;
}

.add-team-detail{
    right: -81px !important;
    top: 10px !important;
}

.add-team-detail a{
    font-size: 12px;
}

.switch {
    display: inline-block;
    width: 38px;
    height: 17px;
    margin: -10 auto 0;
    transform: translateY(50%);
    position: relative;
    top: -7px;
    
}

.switch input {
    display: none;
}

input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    accent-color: #ed1b2f;
    width: 1rem;
    height: 1rem;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #444;
    overflow: hidden;
    transition: 0.4s;
    padding: 0px;
}
/* .slider:before {
    position: absolute;
    content: "";
    width: 36%;
    height: 85%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-17px);
    transition: 0.4s;
    top: 1px;
    left: 19px;
} */

input:checked + .slider {
    border: 1px solid #28a745;
}
input:checked + .slider:before {
    transform: translateX(0px);
    background: #28a745;
}

.slider:before {
    position: absolute;
    content: "";
    width: 37%;
    height: 85%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-17px);
    transition: 0.4s;
    top: 1px;
    left: 19px;
}    
.remove-icon:hover{
    cursor: pointer;
}


.add-filtter a {
    margin-bottom: 0px;
    color: #6666f3;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.add-filtter {
    background-color: #fff;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 16px;
    border: 1px solid #6666f2;
}

.actionMenuList .dropdown-item {
    font-size: 14px !important;
    color: #333 !important;
    border-radius: 6px;
    padding: 3px 15px !important;
  }
.add-filtter i{
    font-size: 15px;
    position: relative;
    top: -1px;
}

.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6666f3; /* Change to your preferred color */
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

.Regular-data {
    cursor: pointer;
  }
  
  .Regular-data:hover {
    color: #6666f3 !important;
    text-decoration: underline;
  }
