.monthly-report {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
}

.attendance-setting-hedding {
  width: 40%;
  cursor: pointer;
}

.attend-location {
  width: 40%;
  cursor: pointer;
}

.atten-icon {
  width: 20%;
  cursor: pointer;
}

.attend-location p {
  font-size: 13px;
  color: #6a7886;
}

.atten-icon {
  text-align: right;
}

.atten-icon i {
  color: #6c7b88;
}

.attendance-box {
  border-bottom: 1px solid #efefef;
  padding-top: 5px;
  padding-bottom: 5px;
}

.attendance-box:last-child {
  border-bottom: none;
}

.new-featucher-btn {
  background-color: cornflowerblue;
  padding: 3px 13px;
  font-size: 12px;
  color: #fff;
  border-radius: 30px;
}

.categryCustomizecard {
  padding: 0px 15px 20px;
}

.categryCustomizecard {
  margin-bottom: 0;
}

.categryCustomizecard {
  align-items: center;
  grid-gap: 10px;
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #eee !important;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 2px;
}

.categryCustomizecard:hover {
  border: 1px solid #6666f3 !important;
}

.categryCustomizecard:last-child {
  border: none;
}

.categryCustomizeinput {
  width: 6%;
}

.categryCustomizeinfo {
  width: 90%;
}

.categryCustomizeinput input[type="radio"] {
  width: 20px;
  height: 20px;
  top: 2px;
  margin-right: 0px;
  accent-color: #6666f3;
}

.categryCustomizeinfo label {
  display: block;
  cursor: pointer;
}

.categryCustomizeinfo label h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #5c5c5c;
  margin-bottom: 2px;
  margin-top: 0px;
}

.categryCustomizeinfo label p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878a9a;
  margin-bottom: 0;
}

.new-deopdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 45px !important;
  text-align: left;
  background-color: #fff;
  border: 1px solid #e8ebf3;
  color: #2d2e3e;
}

.new-deopdown i {
  position: absolute;
  right: 15px;
}

.late-icon {
  width: 5%;
}

.late-rule {
  width: 60%;
}

.late-btn {
  width: 30%;
  text-align: right;
}

.late-rule h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 24px;
}

.late-btn a {
  color: #6666f3;
  font-size: 13px;
  font-weight: 400;
}

.attendance-boxx {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 10px;
}

.late-icon i {
  font-size: 20px;
  color: #6666f3;
}

.late-rule p {
  font-size: 12px;
}

.rule-section {
  border: 1px solid #ccc;
  padding: 15px;
}

.rule-section h5 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 13px;
}

.rule-section p {
  font-size: 12px;
  padding-left: 15px;
}

.rule-main-div {
  background: #f9f9f9;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.rule-main-divv {
  background: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.attendance-boxx:last-child {
  border: none;
}

.nav-tabs {
  box-shadow: none !important;
  background-color: #fff;
  border-radius: 6px;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 1rem;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #6666f3;
  color: #6666f3;
  background-color: transparent;
}

.nav-tabs .nav-link {
  font-style: normal;
  border-radius: 0px 0 0 0;
  border: none;
  padding: 7px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
}

.rules-main {
  padding: 15px;
}

.delete-btn i {
  color: red;
  font-size: 16px;
}

.dudtion-type {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.dudct-type {
  width: 200px;
}

.add-time-range {
  color: #6666f3;
  font-size: 13px;
  font-weight: 400;
}

.active-check i {
  font-size: 26px;
  color: blue;
}

.noactive-check i {
  font-size: 26px;
  color: #444;
}

.noactive-check {
  text-align: center;
  margin: 0 auto;
}

.active-check {
  text-align: center;
  margin: 0 auto;
}

.basic-text {
  width: 40%;
}

.enter-ammount {
  width: 40%;
}

.delete-btn {
  width: 20%;
  text-align: right;
}

.search-icon {
  font-size: 12px;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color);
  left: 15px;
}

.information-box {
  /* border: 1px solid #f1f1f1; */
  margin-bottom: 15px;
  padding: 10px 10px;
  border-radius: 6px;
}

/* .information-box:last-child {
    border-bottom: none;
} */

a.add-more {
  background-color: #6666f3;
  padding: 9px 15px;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
}

.company-settinh {
  background-color: #fff;
}

.border-buttom-setting {
  border-bottom: 1px solid #f5f5f5;
}

.importfilebox {
  position: relative;
  cursor: pointer;
}

.input[type="file"] {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.importfilebox label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 6px;
  height: 100px;
  cursor: pointer;
}

.importfilebox i {
  font-size: 23px;
}

.importfilebox label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.importfilebox label button {
  background: #6666f3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 15px;
  min-width: 110px;
}

.form-roe-data h5 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.form-roe-data p {
  font-size: 12px;
  margin-bottom: 10px;
  color: #6a7886;
}

.border-box {
  border-bottom: 1px solid #f5f5f5;
}

.company-save-btn {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  background-color: #6666f3;
  width: 150px;
}

.company-cancel-btn {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #444;
  background-color: #fff;
  width: 150px;
  border: 1px solid #e8ebf3;
}

.attendance-active {
  background-color: #f1f3ff;
  border: 1px solid #6666f3 !important;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.bg-blue-50 {
  background-color: #f0f6ff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-base {
  font-size: 16px;
  line-height: 24px;
}

.font-medium {
  font-weight: 500;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.p-4 {
  padding: 1rem;
}

.bg-white {
  background-color: #fff;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

.border {
  border-width: 1px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.text-gray-600 {
  color: #4b5563;
}

.font-bold {
  font-weight: 700;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

.border {
  border-width: 1px;
}

.w-full {
  width: 100%;
}

.employees-provident {
  max-height: 450px;
  overflow: scroll;
  /* border: 1px solid #e8ebf3;
    padding: 15px;
    margin: 15px;
    border-radius: 6px; */
}

.employees-provident::-webkit-scrollbar {
  display: none;
}

.tax-slabs h5 {
  font-size: 16px;
  font-weight: 600;
  color: #444;
  line-height: 24px;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 800 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.bi.bi-plus {
  font-size: 20px;
}

.old-tex-redime {
  text-align: center;
  /* background-color: #f1f1fd; */
  border: 1px dashed #6666f3;
  border-radius: 6px;
}

.old-tex-redime h5 {
  margin-bottom: 0px;
  color: #6666f3;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.tex-regime-haddng {
  border-bottom: 1px dashed #6666f3;
  padding: 15px;
  cursor: pointer;
}

.table .thead-light th {
  color: #8997bd;
  background-color: #f9fafb;
  border-color: #e8ebf3;
  border-bottom: none;
  font-size: 13px;
}

.table-design tr th {
  border: 1px solid #e0e0e0;
  text-align: left;
}

.table> :not(:first-child) {
  border-top: 0 solid #e8ebf3;
}

tbody tr {
  border-bottom: 1px solid #ececec;
}

.table-design tr td {
  border: 1px solid #e0e0e0;
  text-align: left;
}

@media screen and (max-width: 2600px) {
  .employees-provident-tex {
    max-height: 800px;
    overflow: scroll;
  }
}

@media screen and (max-width: 1300px) {
  .employees-provident-tex {
    max-height: 500px;
    overflow: scroll;
  }
}

.edit-icon {
  color: #6666f3 !important;
  cursor: pointer;
}

.basic-text h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #5c5c5c;
  margin-bottom: 2px;
  margin-top: 0px;
}

.basic-text P {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878a9a;
  margin-bottom: 0;
}

.add-filtter a {
  margin-bottom: 0px;
  color: #6666f3 !important;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/* .attendance-settin-list>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.rule-main-box {
  border-radius: 6px;
  border: 1px solid #f5f5f5;
  margin-bottom: 10px;
}

.attendance-boxx {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.late-rule h5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
}

.attendance-boxx {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #f5f5f5;
  background-color: transparent;
}

.late-btn {
  width: 30%;
  text-align: right;
}

.late-btn a {
  color: #6666f3;
  font-size: 16px;
  font-weight: 500;
}

.delete-rule {
  color: red !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.shift-deta {
  background-color: #f5f8fa;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.shift-deta p {
  font-size: 10px;
}

.description-main-box {
  -webkit-box-align: baseline;
  align-items: baseline;
  display: flex;
  margin: 0px;
  gap: 20px;
}

.description-main-box span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.57143;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: rgb(239, 247, 255);
  border-radius: 50%;
  color: blue;
  display: grid;
  height: 25px;
  place-items: center;
  width: 25px;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@media screen and (max-width: 2600px) {
  .salary-template {
    height: 70vh;
    overflow: scroll;
  }
}

@media screen and (max-width: 1300px) {
  .salary-template {
    height: 60vh;
    overflow: scroll;
  }
}

.add-shift-main-box {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.add-shift-box {
  border-bottom: 1px solid #f1f1f1;
}

.text-truncate.mb-0 {
  font-size: 14px;
}

.add-shift-time-btn {
  font-size: 14px;
  color: #6666f3 !important;
  font-weight: 500;
}

.universal-holiday {
  background-color: #f5f8fa;
  border-left: 4px solid #dcf1ff;
}

.holiday-date p {
  font-size: 12px;
}

.custom-holiday {
  background-color: #fff8ec;
  border-left: 4px solid #ffe9c4;
  padding: 15px;
}

.holiday-date {
  padding: 15px;
  border-radius: 2px;
}

.border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
}

.total-shifts {
  background-color: #f1f1fd;
  width: 300px;
  border-radius: 2px;
  overflow: hidden;
}

.total-shifts h6 {
  font-size: 16px;
}

.total-shifts h4 {
  font-size: 26px;
}

.total-user-icon {
  background-color: #e6e6ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  right: -2rem;
  overflow: hidden;
}

.total-shifts small {
  font-size: 12px;
}

.universal {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #f5f8fa;
}

.custom {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff8ec;
}

.ant-switch-checked {
  background-color: #6666f3 !important;
}

.shift-time {
  background-color: #f5f8fa;
  border-radius: 2px;
}

.automation-rules-toogel-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 8px;
  color: #444;
}

.custom-holiday p {
  font-size: 12px;
}

.errorboxmain {
  text-align: center;
}

.custom-modal-width {
  width: 560px !important;
  max-width: 560px !important;
}

.text-primary {
  color: #007bff;
  /* Ensure this is a visible color */
}

a.text-primary:hover {
  color: #0056b3;
  /* Optional hover effect */
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

.add-filtter a {
  color: #6666f3 !important;
  font-weight: 500;
}

::ng-deep.ant-empty-image img {
  width: 80px;
}

::ng-deep.ant-empty-image {
  height: 100px;
  margin-bottom: 0px;
}

.upload-salary-detail-box {
  border-radius: 2px;
  border: 1px dashed #d9d9d9;
  background: #fafafa;
}

.upload-salary-detail-box p {
  color: #878a9a;
  font-weight: 300;
  font-size: 13px;
}

.upload-salary-detail-box p a {
  font-weight: 400;
  text-decoration: underline;
}

.upload-salary-detail-box p a:hover {
  color: var(--primary-color) !important;
}

.upload-date {
  border-radius: 2px;
  border: 1px solid #eee;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.separator {
  border-right: 1px solid #d1d1d1;
  height: 15px;
}

.upload-date svg {
  position: relative;
  top: -1px;
}

.selery-file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}

.selery-logs {
  border: 1px solid #f1f1f1;
  border-top: none;
  max-height: 150px;
  overflow: scroll;
}

.selery-logs::-webkit-scrollbar {
  display: none;
}

.activity .activity-info .activity-info-text {
  margin-left: 15px;
  margin-bottom: 35px;
  width: 100%;
}

.active-logs p {
  background-color: var(--primary-background-color) !important;
  padding: 2px 10px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 10px;
}

.activity:last-child .activity-info::before {
  display: none;
}

.activity:last-child .activity-info-text {
  margin-bottom: 0px !important;
}

.activity:last-child .activity-info {
  min-height: fit-content;
}

.icon-info-activity p {
  background-color: #EDEDFF;
  padding: 3px 15px;
  font-size: 12px;
  color: var(--primary-color);
  border-radius: 10px;
}

.activity .activity-info::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 30px !important;
  left: 18px;
  border-left: 2px dotted #e8ebf3;
}

.cancel-button {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae !important;
  color: #444 !important;
  height: 37px;
}

.proceed-button {
  background-color: #ececf4;
  border: 1px solid #6666f3 !important;
  color: #6666f3 !important;
  height: 37px;
}

.proceed-button:hover,
.cancel-button:hover {
  background-color: transparent;
}

.disabled-lnk {
  pointer-events: none;
}

/* new side tab for new modal */

.shift-time-modal {
  height: 80vh;
}

.shift-time-menu {
  background-color: #fbfbfb;
  height: 100%;
}

.shift-time-modal .nav-pills .nav.nav-pills {
  background-color: transparent;
}

.shift-time-modal .nav-link.active {
  background: #f2f3ff !important;
  color: #000 !important;
  border-left: 5px solid var(--primary-background-color) !important;
}

.shift-time-modal .nav-pills .nav-link {
  background: transparent;
  padding: 15px 10px;
  color: #6b7280;
  border-left: 5px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-left: 35px;
}







.nots-section {
  background-color: rgba(236, 236, 236, 0.21) !important;
  width: 100%;
  height: 80px !important;
  border: 1px solid #e9e9e9;
}

.input-zorro {
  border-radius: 2px !important;
  border: 1.021px solid #e9e9e9 !important;
  background: rgba(236, 236, 236, 0.21) !important;
  height: 45px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.leave-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  border-radius: 0px;
}

.staff-selection-list {
  max-height: 500px;
  overflow: scroll;
}

.staff-selection-list::-webkit-scrollbar {
  display: none;
}

.salary-setting {
  border: 0px solid #f2f2f2;
  height: 45px !important;
  border-left: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #1f1f1f !important;
}

/* new side tab for new modal */