<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="mt-3">
                 <div class="row">
                    <div class="col-md-4">
                        <div class="bill-detail">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                   <div class="d-flex align-items-center" style="gap:15px;">
                                    <h3>Basic Plan</h3>
                                    <span class="currentplan">Current Plan</span>
                                   </div>
                                    <p class="mb-0"> WhatsApp Based Attandance</p>

                                </div>
                                <div class="justify-content-end d-flex align-items-end" style="flex-direction: column;">

                                    <h3>₹49</h3>
                                    <p class="mb-0" style="font-size: 12px;">Per month</p>
                                    
                                </div>
                            </div>
                            <hr>

                            <div class="mt-3">
                              <h5>Features</h5>
                              <!-- <p class="mb-0 featured">Basic plan and reporting</p> -->

                              <ul class="plan-featured">
                                <li> <i class="bi bi-check2"></i>  Hindi / English Attandance Bot</li>
                                <li><i class="bi bi-check2"></i> Location / selfie Upload With Attandance</li>
                                <li><i class="bi bi-check2"></i> Leave Request & Approval</li>
                                <li><i class="bi bi-check2"></i>  Payroll Automation</li>
                                <li><i class="bi bi-check2"></i> Timesheet </li>
                                <li><i class="bi bi-check2"></i> Attendance Custom Rules </li>
                                <li><i class="bi bi-check2"></i> Automated Reminders</li>
                              </ul>
                            </div>

                            <div class="">
                                <button type="button" class="btn plan-active-btn">Learn more</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bill-detail">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                   <div class="d-flex align-items-center" style="gap:15px;">
                                    <h3>Silver</h3>
                                    <!-- <span class="currentplan">Current Plan</span> -->
                                   </div>
                                    <p class="mb-0">Slack Based Attandance</p>

                                </div>
                                <div class="justify-content-end d-flex align-items-end" style="flex-direction: column;">

                                    <h3>₹99</h3>
                                    <p class="mb-0" style="font-size: 12px;">Per month</p>
                                    
                                </div>
                            </div>
                            <hr>

                            <div class="mt-3">
                              <h5>Features</h5>
                              <!-- <p class="mb-0 featured">Basic plan and reporting</p> -->

                              <ul class="plan-featured">
                                <li><i class="bi bi-check2"></i> Interactive Employee Profile</li>
                                <li> <i class="bi bi-check2"></i> Document Storage & Generation</li>
                                <li><i class="bi bi-check2"></i> Employee Onboarding</li>
                                <li><i class="bi bi-check2"></i>   Advanced Leave Management</li>
                                <li> <i class="bi bi-check2"></i> Slack-Chat Attendance System </li>
                                <li> <i class="bi bi-check2"></i>  Payroll Automation </li>
                                <li> <i class="bi bi-check2"></i> Timesheet</li>
                              </ul>
                            </div>

                            <div class="">
                                <button type="button" class="btn switch-plan"> <i class="bi bi-arrow-left-right pr-2" style="padding-right: 10px;"></i> Switch Plan</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bill-detail">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                   <div class="d-flex align-items-center" style="gap:15px;">
                                    <h3>Diamond</h3>
                                    <!-- <span class="currentplan">Current Plan</span> -->
                                   </div>
                                    <p class="mb-0"> Slack Based Attandance & Task</p>

                                </div>
                                <div class="justify-content-end d-flex align-items-end" style="flex-direction: column;">

                                    <h3>₹199</h3>
                                    <p class="mb-0" style="font-size: 12px;">Per month</p>
                                    
                                </div>
                            </div>
                            <hr>

                            <div class="mt-3">
                              <h5>Features</h5>
                              <!-- <p class="mb-0 featured">Basic plan and reporting</p> -->


                              <ul class="plan-featured">
                                <li><i class="bi bi-check2"></i> All Slack Based Attandance Features</li>
                                <li><i class="bi bi-check2"></i> Unlimited Projects</li>
                                <li><i class="bi bi-check2"></i> Unlimited Tasks</li>
                                <li><i class="bi bi-check2"></i> Unlimited Activity Log</li>
                                <li><i class="bi bi-check2"></i> Board view projects </li>
                                <li><i class="bi bi-check2"></i> Unlimited file storage (2MB per file) </li>
                                <li><i class="bi bi-check2"></i> Status updates</li>
                              </ul>
                            </div>

                            <div class="">
                                <button type="button" class="btn switch-plan"><i class="bi bi-arrow-left-right pr-2" style="padding-right: 10px;"></i> Switch Plan</button>
                            </div>

                        </div>
                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>