
.invalid-input {
  border-color: #ff959b !important;
}
.min-w-200{
  min-width: 200px !important;
}
.on-leave-section {
  height: 130px;
}
.on-leave h5 {
  margin-bottom: 3px;
  margin-top: 1px;
}
.on-leave {
  width: 33.3%;
  border-right: 1px solid #eee;
  padding-right: 16px;
}
.on-leave:last-child {
  width: 33.3%;
  border-right: none;
  padding-right: 16px;
}
.on-leaves {
  padding-right: 16px;
}
.on-leaves:last-child {
  border-right: none;
}
.on-leaves h5 {
  margin-bottom: 3px;
  margin-top: 1px;
}
.weekly-pro-email,
.weekly-pro-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
  color: #434343 !important;
  letter-spacing: 0.1px;
}
.errorboxmain {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}
.errorboxmain {
  padding: 30px;
}
button.btn.close-btn {
  border-radius: 6px;
  padding: 0px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  box-shadow: unset !important;
  position: absolute;
  right: 0px;
  top: 13px;
  color: #6666f3;
}
.search-icon {
  font-size: 12px;
  position: absolute !important;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color) !important;
}
.empFilerDropfilter .new-dropdown {
  display: block;
  width: 155px;
  padding: 0.4rem 0.5rem;
  font-size: 14px !important;
  text-align: left;
  background-color: #fff;
  border: none !important;
  border-radius: 0px;
  position: relative;
  border-right: 1px solid #f2f2f2 !important;
  color: #1f1f1f !important;
  font-weight: 400;
  letter-spacing: 0.1px;
  box-shadow: unset;
}
.empFilerDropfilter .new-dropdown i {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 18px;
  color: #78787a;
  line-height: 24px;
}
.joining-email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 115px;
}
.joining-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}
span.members-name {
  background-color: #a69ff3;
  width: 52px;
  height: 52px;
}
.last-client {
  width: 50%;
  padding-right: 16px;
}
/* .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #000444;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  border: 0;
  font-size: 13px;
  color: #3e3e3e;
} */
.dropdown-menu {
  padding: 0rem 0;
}
.dropdown-item {
  padding: 0.5rem 1rem;
}
.dropdown-item:hover {
  background-color: #f1f1fd;
}
.whatsapp-login-input {
  background-color: #fff !important;
  border: 1px solid #ebebeb !important;
  border-radius: 2px !important;
  height: 45px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #1f1f1f !important;
  box-shadow: none !important;
  outline: none !important;
}
.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}
.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}
.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}
.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3 !important;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}
.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}
.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
.errorboxmaintop {
  background-color: #fff;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  border-radius: 6px;
}
.errorboxmaintop {
  padding: 15px;
}
.dot-opacity-loader1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}
.dot-opacity-loader1 span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white !important;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}
.dot-opacity-loader1 span:nth-child(1) {
  animation-delay: -0.32s;
}
.dot-opacity-loader1 span:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
.loading-icon {
  margin-right: 8px;
}
Remove border from nz-select .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}
.table tbody tr {
  transition: 0.2s linear;
}
.table tbody tr:hover {
  box-shadow: unset;
}
.table tbody tr:hover td {
  background-color: #fbfbfb !important;
}
.onboarding-date input[type="text"] {
  width: 600px;
  border-radius: 0px 10px 10px 0px;
  border: 0px solid #f2f2f2;
  height: 45px !important;
  border-left: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #1f1f1f !important;
}
/* .actionMenuList {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  box-shadow: 0px 3px 12px -3px #1111111f;
  overflow: hidden;
  min-width: 12rem;
  padding: 7px !important;
  background-color: #fff;
} */
.actionMenuList .dropdown-item {
  font-size: 14px !important;
  color: #333 !important;
  border-radius: 6px;
  padding: 3px 15px !important;

}
/* .actionMenuList .dropdown-item i {
  margin-right: 5px;
} */
.leave-management-settings {
  background-color: #f5f6ff;
}
.add-leave-btn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}
.add-leave-btn i {
  padding-right: 5px;
}
.excel-upload-members {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-background-color);
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}
.excel-upload-members i {
  padding-right: 5px;
}
.excel-upload-members:hover {
  color: #fff;
  background-color: var(--primary-background-color);
}
.leave-management-detail h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.leave-management-detail p {
  font-weight: 300;
  color: #444;
}
.leave-management-detail svg {
  width: 15px;
  position: relative;
  top: -1px;
}
.leave-management-detail a {
  color: var(--primary-color) !important;
}
.leave-management-detail a:hover {
  text-decoration: underline;
  color: var(--primary-color) !important;
}
.leave-management-detail span {
  font-size: 13px;
  font-weight: 400;
  color: #878a9a;
}
.empty-detail {
  color: #6b7280;
  line-height: 20px;
}
::ng-deep.ant-empty-image img {
  width: 90px;
}
.excelUploadTable tbody td>input {
  background: #fff !important;
  border: 1px solid #f1f1f1;
  height: 40px;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px;
  color: #445059;
  box-shadow: none;
  padding: 0px 10px;
  border-radius: 2px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  min-height: 35px !important;
}
.custom-dropdown-footer .ant-btn-link {
  color: #6666f4;
}
.custom-dropdown-footer {
  background-color: #ffffff;
  margin-bottom: -4px;
}
.waring-box {
  background-color: #fffafa;
  border: 1px solid #ef4d56;
  border-radius: 2px;
}
.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
}
.input-zorro {
  border-radius: 2px !important;
  border: 1.021px solid #e9e9e9 !important;
  background: rgba(236, 236, 236, 0.21) !important;
  height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
.nots-section {
  background-color: rgba(236, 236, 236, 0.21) !important;
  width: 100%;
  height: 100px !important;
  border: 1px dashed #e9e9e9;
}
.assets-req {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  height: 47px;
  margin-bottom: 0px;
  background-color: rgba(236, 236, 236, 0.21);
}
.assets-req input {
  left: 15px !important;
  position: relative;
  top: -2px;
}
.assets-req p {
  padding-left: 25px;
  font-size: 13px !important;
  font-weight: 400 !important;
}
.calendar-separator {
  border-left: 2px solid #D9D9D9;
  height: 24px;
}
.notice-period-error {
  border-left: 3.775px solid #FF3014;
  background: #FFF2F0;
}
.hr-notes {
  background-color: #EAF0FD;
}
.hr-notes p {
  color: #000;
  font-weight: 500;
}
.initiate-btn svg {
  position: relative;
  top: -2px;
  margin-right: 4px;
}
.employee-table {
  min-height: 400px;
}
.submitActionBtn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  width: 100px;
}
span.request-count {
  background-color: rgb(241 241 253) !important;
  color: var(--primary-color) !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.team-list-count:not(:last-child){
  border-bottom: 1px solid #F2F2F2;
}
.team-list-count:not(:first-child){
  padding-top: 15px;
}
::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
::ng-deep .ant-select-selection-search-input {
  height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
::ng-deep .ant-select-selection-placeholder {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
.team-name{
  border-radius: 20px;
  background-color: #F4F4FF;
  padding: 4px 8px;
  text-align: left;
  width: 90px;
}
.team-count{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #000;
}
.team-name-one{
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45px;
}
.team-list svg{
  position: relative;
  top: -1px;
}

.team-list{
  height: 250px;
  overflow: scroll;
}
.total-employee{
  border: 1px solid #f2f2f2;
  height: 135px;
}
.use-funds-separator{
  border-left: 1px solid #DCDCE4;
  height: 50px;
}
.verified{
  background-color: #388E3C;
}
.pending{
  background-color: #E78E13;
}
.rejected{
  background-color: #FF3014;
}
.request{
  background-color: #6666F2;
}
.employee-request{
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}
.asset-assigned-search {
  border: 1px solid #EAEAEA;
}
.search-filter .new-dropdown {
  display: block;
  width: 120px;
  padding: .4rem .5rem;
  font-size: 14px !important;
  background-color: #fff;
  border: none !important;
  border-right: 1px solid #f2f2f2 !important;
  font-weight: 500;
  box-shadow: unset;
  color: #444;
  height: 45px !important;
}
/* .actionMenuList {
  line-height: 35px;
} */
.filter-box {
  width: 300px !important;
  border-radius: 2px !important;
  padding: 0px !important;
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
  z-index: 999;
  left: 8px;
}
.search-date input {
  border: none;
  height: 45px !important;
  border-left: 0;
  /* border-right: 1px solid #EAEAEA; */
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #1f1f1f !important;
}
.filter-btn {
  max-width: 460px;
}
.categories-filter input{
  position: relative;
  top: -2px;
  box-sizing: border-box;
  padding: 0;
  accent-color: #6766f3;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
.filter-btn svg{
  position: relative;
  top: -2px;
}
.btn-separator {
  border-left: 1px solid #DCDCE4;
  height: 20px;
}
.info-count{
  background-color: #F2F4F4;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.excel-upload-file-box{
  border: 1px dashed #ABABAB;
  background-color: rgba(244, 247, 255, 0.30);
  border-radius: 2px;
  height: 300px;
}
.select-all-btn{
  border: 1px solid #6666F2;
  color: #6666F2;
  padding: 5px 15px;
}
.set-current input[type=checkbox]{
  box-sizing: border-box;
  padding: 0;
  accent-color: #6766f3;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
.through-email .form-check-input {
  width: 20px;
  height: 20px;
}
.through-email{
  background-color: #F1F4F9;
  border-radius: 2px;
  padding: 15px 15px;
  width: 200px;
}
.through-email input{
  margin-left: 0px;
  margin-top: 0px;
}
::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}
/* .filter-bdg {
  overflow-x: scroll;
  flex-wrap: nowrap;
} */
.filter-pills {
  line-height: 18px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 52px;
  padding: 6px 15px;
  white-space: nowrap;
  margin-bottom: 0 !important;
  background-color: #557ef826;
}

.employee-apex-chart{
  top: -8px;
}

.leave-assigned-icon {
  border-radius: 2px 2px 0px 0px;
  background-color: #FFEBEA;
  height: 170px;
}
