.custbtn-success {
    padding: 0 0 !important;
    width: 40px;
    height: 40px !important;
    text-align: center;
    border: 1px solid #e1e1e1;
  }
  .custbtn-success:focus {
    box-shadow: 0 13px 12px -2px rgb(133 133 133 / 31%);
  }
  .custbtn-success i {
    display: inline-block;
    top: 2px;
    color: #262626;
  }
  .currentimageuplded {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 2px;
    margin: 0 auto 0;
  }
  .currentimageuplded img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
  }
  .imgupldbg {
    justify-content: center;
    margin: -15px -15px;
    padding: 20px 0;
  }
  .upldactionfootbtn {
    box-shadow: none;
    outline: none;
    row-gap: 4px;
    color: #444;
  }
  .upldactionfootbtn span {
    font-size: 14px;
    font-weight: 500;
  }
  .upldactionfootbtn i {
    font-size: 18px;
  }
  .toggle-password {
    right: 0;
    border: 0;
    background: transparent;
    z-index: 10;
    top: 29px;
  }
  .sgsetprofilemain {
    width: 150px;
    margin: 0 auto;
    margin-top: 85px;
  }
  .sgsetprofile {
    border: 1px solid #f1f1f1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: #6363630d 0 8px 8px;
  }
  button.close.profile-close-modal {
    border: none;
    background-color: transparent;
  }
  .sgsetprofile img {
    width: 100%;
    height: 100%;
    padding: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }
  .sgsetprofile .picoverlay {
    bottom: -30%;
    left: 0;
    right: 0;
    font-size: 12px;
    height: 33px;
    background-color: #333333d9;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    transition: .2s ease-in;
  }
  .sgsetprofile:hover .picoverlay {
     bottom: 0%;
  }
  .imgupldbg {
    background-color: #f9f9f9;
    margin: -15px;
    padding: 20px 0;
  }
  .currentimageuplded {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto;
  }
  .upldactionfootbtn {
    box-shadow: none;
    outline: none;
    grid-row-gap: 4px;
    row-gap: 4px;
    color: #444;
  }
  .custbtn-success {
    padding: 0 !important;
    width: 40px;
    height: 40px !important;
    border: 1px solid #e1e1e1;
  }
  .imageaction i{
    display: inline-block;
    top: 0px !important;
    color: #262626;
  }
  a.fetch-location {
    position: absolute;
    right: 0px;
    top: 30px;
    border-radius: 0 2px 2px 0;
    opacity: .8;
    background: #e9e9ff;
    padding: 11px 20px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
  .profile-img-remove {
    z-index: 1;
    right: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 12px;
    background-color: #eb5050;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 7px;
    padding: 0 5px;
    top: 12px;
  }
  .remove-icon {
    display: block;
    width: 100%;
    height: 2px;
  }

  /* Pushpendra's Code  */
  .card-header{
    border: 0;
    border-bottom: 1px dashed #e8ebf3;
  }
  .bg-soft-warning:hover{
     background-color: rgba(255, 159, 67, .08) !important;
  }
  .alert-light:hover .alert-heading{
     color: orange !important;
  }
  .mt-120{
     margin-top: 120px;
  }