<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="persnol-details">
            <h5>Personal Information</h5>
            <p class="mb-0">Fields with * are mandatory </p>
            <form #personalInformationForm="ngForm">
              <div class="form-group">
                <div class="persnol-info mt-4">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label for="name" class="pb-2">Name <span class="text-optional">*</span></label>
                            <input type="text" required class="form-control" id="adminname"
                              [(ngModel)]="organizationPersonalInformation.adminName"
                              (keydown)="preventLeadingWhitespace($event)" placeholder="Enter admin name"
                              name="adminName" #adminName="ngModel" minlength="3">
                          </div>
                          <div *ngIf="adminName?.dirty">
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="adminName.errors?.required"><i
                                class="bi bi-exclamation-circle"></i>
                              Admin Name is required.</p>
                            <p class="errortxt mt-2 mb-0 " style="color:red"
                              *ngIf="adminName?.touched && adminName.errors?.minlength"><i
                                class="bi bi-exclamation-circle"></i>
                              Please enter minimum five characters name.</p>
                          </div>
                        </div>
                        <div class="col-md-12"
                          *ngIf="organizationPersonalInformation.organization.onboardingVia == 'WHATSAPP'">
                          <div class="mb-3">
                            <label for="phone" class="pb-2">Phone <span class="text-optional">*</span></label>
                            <input type="tel" id="phone" name="phone"
                              [(ngModel)]="organizationPersonalInformation.phoneNumber" placeholder="Enter Phone Number"
                              minlength="10" maxlength="10" class="form-control"
                              oninput="this.value = this.value.replace(/^[^1-9]/g, '').replace(/(\..*)\./g, '$1');"
                              (keyup)="checkExistance(organizationPersonalInformation.phoneNumber)" #phone="ngModel"
                              required disabled>
                            <button class="btn btn-default toggle-password" style="top: 33%;" type="button">

                              <span style="font-size: 20px;color: green;"><i class="bi bi-check2-circle"></i></span>
                            </button>
                            <p *ngIf="isNumberExist" class="error text-danger">this number already exist</p>
                          </div>
                          <div *ngIf="phone?.touched && phone.invalid">
                            <p class="errortxt mt-2 mb-0" style="color:red">
                              <i class="bi bi-exclamation-circle"></i> Phone number is invalid.
                            </p>

                          </div>
                          <div *ngIf="phone?.touched || isFormInvalid">
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phone.errors?.required">
                              <i class="bi bi-exclamation-circle"></i> Phone number is required.
                            </p>

                          </div>
                        </div>
                        <div class="col-md-12"
                          *ngIf="organizationPersonalInformation.organization.onboardingVia == 'Slack'">
                          <div class="mb-3">
                            <label for="phone" class="pb-2">Phone <span class="text-optional">*</span></label>
                            <input type="text" required mask="0000000000" class="form-control" id="phone" name="phone"
                              [(ngModel)]="organizationPersonalInformation.phoneNumber" aria-describedby="phoneHelp"
                              #phone="ngModel" placeholder="Enter phone">

                          </div>
                          <div *ngIf="phone?.touched">
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phone.errors?.required">
                              <i class="bi bi-exclamation-circle"></i> Phone number is required.
                            </p>

                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label for="email" class="pb-2">Email Id <span
                                class="text-optional">(Optional)</span></label>
                            <input type="email" class="form-control" id="email"
                              [(ngModel)]="organizationPersonalInformation.email"
                              (keydown)="preventLeadingWhitespace($event)" name="email" aria-describedby="emailHelp"
                              #email="ngModel" placeholder="Enter email id">
                          </div>
                          <div *ngIf="email?.touched || isFormInvalid">
                            <!-- <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="email.errors?.required">
                              <i class="bi bi-exclamation-circle"></i> Email Id is required.
                            </p> -->
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="email.errors?.email">
                              <i class="bi bi-exclamation-circle"></i> Please enter a valid email address.
                            </p>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-lg-3 mb-3 importfilebox">
                      <input type="file" hidden name="img" accept="image/png, image/jpeg, image/webp" #fileInput single
                        (change)="onFileSelected($event)" style="cursor: pointer;" id="Imageupload" />
                        <!-- when logo is empty -->
                      <label for="Imageupload"
                        *ngIf="organizationPersonalInformation.logo == null || organizationPersonalInformation.logo == ''">
                        <div #fileInput single class="d-flex justify-content-center align-items-center pointer"
                          style="height: 120px;width: 180px;border-radius: 0.6rem;">
                          <div *ngIf="!uploadImageLoader"
                            class="text-center">
                            <span><b>Drop your file here or <a class="select-file"> Select a file
                                </a></b><br>SVG, JPEG, JPG or PNG (max. 100px*100px)</span>
                          </div>
                          <!-- loader -->
                          <div *ngIf="uploadImageLoader">
                            <div class="spinner-border spinner-border-sm" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow spinner-grow-sm mx-1" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </div>
                      </label>

                      <!-- when logo is uploaded -->
                      <label *ngIf="organizationPersonalInformation.logo != null && organizationPersonalInformation.logo != ''">
                        <div class="d-flex justify-content-center align-items-center pointer"
                          style="height: 120px;width: 180px;border-radius: 0.6rem;">
                          <img src="{{organizationPersonalInformation.logo}}" alt="..." style="width: 190px">
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                            <i class="fa fa-times mx-2 pointer" aria-hidden="true" (click)="removeImage()"></i>
                          </span>
                        </div>
                      </label>
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="name" class="pb-2">Organization Name <span class="text-optional">*</span></label>
                        <input type="text" required class="form-control" id="name"
                          [(ngModel)]="organizationPersonalInformation.name"
                          (keydown)="preventLeadingWhitespace($event)" placeholder="Enter organization name" name="name"
                          #name="ngModel" minlength="5">
                      </div>
                      <div *ngIf="name?.dirty && isFormInvalid">
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="name.errors?.required"><i
                            class="bi bi-exclamation-circle"></i>
                          Name is required.</p>
                        <p class="errortxt mt-2 mb-0 " style="color:red" *ngIf="name.errors?.minlength"><i
                            class="bi bi-exclamation-circle"></i>
                          Please enter minimum five characters name.</p>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="password" class="pb-2">Password <span class="text-optional">*</span></label>
                        <input [type]="showNewPassword ? 'text' : 'password'" class="form-control"
                          (keydown)="preventLeadingWhitespace($event)"
                          [(ngModel)]="organizationPersonalInformation.password" name="password" #password="ngModel"
                          required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password"
                          aria-describedby="passwordHelp" placeholder="Enter password">
                        <button class="btn btn-default toggle-password" type="button"
                          (click)="toggleNewPasswordVisibility()">
                          <i class="bi" [class]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                        </button>
                        <div *ngIf="password?.dirty && isFormInvalid">
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="password.errors?.required">
                            <i class="bi bi-exclamation-circle"></i> Password is required.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="password.errors?.minlength">
                            <i class="bi bi-exclamation-circle"></i> Password must be at least 8 characters long.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red"
                            *ngIf="password.errors?.pattern && !password.errors?.minlength">
                            <i class="bi bi-exclamation-circle"></i> Password must contain at least one uppercase
                            letter, one lowercase letter, and one number.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="addressLine1" class="pb-2">Address line 1<span
                              class="text-optional">*</span></label>
                          <textarea class="form-control" required id="addressLine1"
                            (keydown)="preventLeadingWhitespace($event)"
                            [(ngModel)]="organizationPersonalInformation.addressLine1" name="addressLine1" rows="10"
                            ngx-google-places-autocomplete #placesRef="ngx-places"
                            (onAddressChange)="handleAddressChange($event)" #addressLine1="ngModel" maxlength="150"
                            placeholder="Floor No., Building Name, Street or Locality"
                            style="resize: none; height: 80px !important;"></textarea>

                        </div>
                        <div *ngIf="addressLine1.touched || isFormInvalid">
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.required">
                            <i class="bi bi-exclamation-circle"></i>
                            Address Line 1 is required.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.minlength">
                            <i class="bi bi-exclamation-circle"></i>
                            Please enter a minimum of five characters.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine1.errors?.maxlength">
                            <i class="bi bi-exclamation-circle"></i> Maximum 150 characters allowed.
                          </p>

                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="addressLine2" class="pb-2">Address line 2<span
                              class="text-optional">*</span></label>
                          <textarea class="form-control" id="addressLine2" required #addressLine2="ngModel"
                            (keydown)="preventLeadingWhitespace($event)" rows="5"
                            [(ngModel)]="organizationPersonalInformation.addressLine2" name="addressLine2"
                            placeholder="Apartment, suite, unit, building, floor, etc." maxlength="150"
                            style="resize: none;height: 80px !important;"></textarea>
                        </div>
                        <div *ngIf="addressLine2.touched || isFormInvalid">
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.required">
                            <i class="bi bi-exclamation-circle"></i>
                            Address Line 2 is required.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.minlength">
                            <i class="bi bi-exclamation-circle"></i>
                            Please enter a minimum of five characters.
                          </p>
                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="addressLine2.errors?.maxlength">
                            <i class="bi bi-exclamation-circle"></i> Maximum 100 characters allowed.
                          </p>
                          <!-- You can add more error conditions here if needed -->
                        </div>
                      </div>
                    </div>


                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="city" class="pb-2">City <span class="text-optional">*</span></label>
                        <input type="text" maxlength="30" #city="ngModel" required class="form-control" id="city"
                          (keydown)="preventLeadingWhitespaceAndNumber($event)" name="city"
                          [(ngModel)]="organizationPersonalInformation.city" aria-describedby="phoneHelp"
                          placeholder="Enter City">
                      </div>
                      <div *ngIf="city.touched || isFormInvalid">
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="city.errors?.required">
                          <i class="bi bi-exclamation-circle"></i>
                          City is required.
                        </p>
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="city.errors?.maxlength">
                          <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="state" class="pb-2">State <span class="text-optional">*</span></label>
                        <input type="text" required maxlength="30" #state="ngModel" class="form-control" id="state"
                          name="state" (keydown)="preventLeadingWhitespaceAndNumber($event)"
                          [(ngModel)]="organizationPersonalInformation.state" aria-describedby="phoneHelp"
                          placeholder="Enter State">
                      </div>
                      <div *ngIf="state.touched || isFormInvalid">
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="state.errors?.required">
                          <i class="bi bi-exclamation-circle"></i>
                          State is required.
                        </p>
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="state.errors?.maxlength">
                          <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="country" class="pb-2">Country <span class="text-optional">*</span></label>
                        <input type="text" required maxlength="30" #country="ngModel" class="form-control" id="country"
                          name="country" (keydown)="preventLeadingWhitespaceAndNumber($event)"
                          [(ngModel)]="organizationPersonalInformation.country" aria-describedby="phoneHelp"
                          placeholder="Enter Country">
                      </div>
                      <div *ngIf="country.touched || isFormInvalid">
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="country.errors?.required">
                          <i class="bi bi-exclamation-circle"></i>
                          Country is required.
                        </p>
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="country.errors?.maxlength">
                          <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                        </p>
                      </div>
                    </div>


                    <div class="col-md-3">
                      <div class="mb-3">
                        <label for="pincode" class="pb-2">Pincode <span class="text-optional">*</span></label>
                        <input type="text" required #pincode="ngModel" mask="000000" class="form-control" id="pincode"
                          name="pincode" [(ngModel)]="organizationPersonalInformation.pincode"
                          aria-describedby="phoneHelp" placeholder="Enter Pincode">
                      </div>
                      <div *ngIf="pincode.touched || isFormInvalid">
                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="pincode.errors?.required">
                          <i class="bi bi-exclamation-circle"></i>
                          Pincode is required.
                        </p>

                      </div>
                    </div>
                    <!-- [disabled]="personalInformationForm.invalid" -->
                    <div class="col-md-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary" (click)="submit()">
                        <span *ngIf="!loading">Save</span>
                        <div class="dot-opacity-loader" *ngIf="loading">
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                      </button>
                    </div>

                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>