<div class="page-wrapper">
  <div class="page-content-tab-onbording">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="persnol-details">
            <form #personalInformationForm="ngForm" autocomplete="off">
              <div class="form-group">
                <div class="persnol-info">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="card-header p-0 pb-3 bg-white">
                        <h4 class="card-title">Personal Information</h4>
                        <p class="text-muted mb-0">
                          To enhance your experience and ensure accurate
                          communication on our platform, we kindly ask you to
                          review and update your personal information.
                        </p>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="name" class="pb-2"
                              >Name <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              class="form-control profile-input"
                              id="adminname"
                              [(ngModel)]="
                                organizationPersonalInformation.adminName
                              "
                              (keydown)="preventLeadingWhitespace($event)"
                              placeholder="Enter admin name"
                              name="adminName"
                              #adminName="ngModel"
                              minlength="3"
                            />
                          </div>
                          <div *ngIf="adminName?.dirty || isFormInvalid">
                            <p
                              class="errortxt mb-2 text-danger"
                              *ngIf="adminName.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i> Name is
                              required.
                            </p>
                            <p
                              class="errortxt mb-2 text-danger"
                              *ngIf="adminName.errors?.minlength"
                            >
                              <i class="bi bi-exclamation-circle"></i> Please
                              enter minimum three characters name.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="name" class="pb-2"
                              >Organization Name
                              <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              class="form-control profile-input"
                              id="name"
                              [(ngModel)]="organizationPersonalInformation.name"
                              (keydown)="preventLeadingWhitespace($event)"
                              placeholder="Enter organization name"
                              name="name"
                              #name="ngModel"
                              minlength="3"
                            />
                          </div>
                          <div *ngIf="name?.dirty || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="name.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              Organization Name is required.
                            </p>
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="name.errors?.minlength"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              Please enter minimum three characters.
                            </p>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf="
                            organizationPersonalInformation.organization
                              .onboardingVia == 'WHATSAPP'
                          "
                        >
                          <div class="mb-3">
                            <label for="phone" class="pb-2"
                              >Phone <span class="text-optional">*</span></label
                            >
                            <input
                              type="tel"
                              id="phone"
                              name="phone"
                              [(ngModel)]="
                                organizationPersonalInformation.phoneNumber
                              "
                              placeholder="Enter Phone Number"
                              minlength="10"
                              maxlength="10"
                              class="form-control profile-input"
                              oninput="this.value = this.value.replace(/^[^1-9]/g, '').replace(/(\..*)\./g, '$1');"
                              (keyup)="
                                checkExistance(
                                  organizationPersonalInformation.phoneNumber
                                )
                              "
                              #phone="ngModel"
                              required
                              disabled
                            />
                            <div
                              class="btn btn-default toggle-password position-absolute pointer"
                            >
                              <button
                                type="button"
                                class="btn btn-soft-info btn-icon-circle btn-icon-circle-sm mb-2"
                              >
                                <i class="fas fa-check text-success"></i>
                              </button>
                            </div>
                            <p *ngIf="isNumberExist" class="error text-danger">
                              This number already exist.
                            </p>
                          </div>
                          <div *ngIf="phone?.touched && phone.invalid">
                            <p class="errortxt mb-2">
                              <i class="bi bi-exclamation-circle"></i> Phone
                              number is invalid.
                            </p>
                          </div>
                          <div *ngIf="phone?.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="phone.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i> Phone
                              number is required.
                            </p>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf="
                            organizationPersonalInformation.organization
                              .onboardingVia == 'Slack'
                          "
                        >
                          <div class="mb-3">
                            <label for="phone" class="pb-2"
                              >Phone <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              mask="0000000000"
                              class="form-control profile-input"
                              id="phone"
                              name="phone"
                              [(ngModel)]="
                                organizationPersonalInformation.phoneNumber
                              "
                              aria-describedby="phoneHelp"
                              #phone="ngModel"
                              placeholder="Enter phone"
                            />
                          </div>
                          <div *ngIf="phone?.touched">
                            <p
                              class="errortxt mb-2 text-danger"
                              *ngIf="phone.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i> Phone
                              number is required.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="email" class="pb-2"
                              >Email Id
                              <span class="text-optional">*</span></label
                            >
                            <input
                              type="email"
                              class="form-control profile-input"
                              id="email"
                              [(ngModel)]="
                                organizationPersonalInformation.email
                              "
                              (keydown)="preventLeadingWhitespace($event)"
                              name="email"
                              aria-describedby="emailHelp"
                              #email="ngModel"
                              (keyup)="
                                checkEmailExistance(
                                  organizationPersonalInformation.email
                                )
                              "
                              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                              placeholder="Enter email id here"
                              required
                            />
                          </div>
                          <p *ngIf="isEmailExist" class="error text-danger">
                            This email is already exist.
                          </p>
                          <div *ngIf="email.touched || email.dirty">
                            <p
                              class="errortxt mb-2 text-danger"
                              *ngIf="email.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i> Email Id
                              is required.
                            </p>
                            <p
                              class="errortxt mb-2 text-danger"
                              *ngIf="email.errors?.email"
                            >
                              <i class="bi bi-exclamation-circle"></i> Please
                              enter a valid email address.
                            </p>
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="email.errors?.pattern"
                            >
                              <i class="bi bi-exclamation-circle"></i> Your
                              email format is not correct.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-12 mt-4">
                          <div class="card-header p-0 pb-3 bg-white">
                            <h4 class="card-title">Address Information</h4>
                            <p class="text-muted mb-0">
                              To ensure seamless delivery and accurate
                              communication, we kindly request you to review and
                              update your address information.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-12 mt-4">
                          <div class="mb-3" style="position: relative">
                            <label class="pb-2"
                              >Address
                              <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              class="form-control profile-input"
                              placeholder="Floor No., Building Name, Street or Locality"
                              [(ngModel)]="
                                organizationPersonalInformation.addressLine1
                              "
                              #addressLine1="ngModel"
                              id="addressline1"
                              ngx-google-places-autocomplete
                              (keydown)="
                                preventLeadingWhitespaceAndNumber($event)
                              "
                              (onAddressChange)="handleAddressChange($event)"
                              name="addressLine1"
                              style="padding-right: 220px"
                              required
                            />
                            <a
                              class="fetch-location"
                              (click)="currentLocation()"
                              ><i
                                class="ti ti-current-location"
                                style="padding-right: 8px"
                              ></i
                              >Fetch Current Location
                            </a>
                          </div>
                          <div *ngIf="addressLine1.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="addressLine1.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              Address is required.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="city" class="pb-2"
                              >City <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              maxlength="30"
                              #city="ngModel"
                              required
                              class="form-control profile-input"
                              id="city"
                              (keydown)="
                                preventLeadingWhitespaceAndNumber($event)
                              "
                              name="city"
                              [(ngModel)]="organizationPersonalInformation.city"
                              aria-describedby="phoneHelp"
                              placeholder="Enter City"
                            />
                          </div>
                          <div *ngIf="city.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="city.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              City is required.
                            </p>
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="city.errors?.maxlength"
                            >
                              <i class="bi bi-exclamation-circle"></i> Maximum
                              30 characters allowed.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="state" class="pb-2"
                              >State <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              maxlength="30"
                              #state="ngModel"
                              class="form-control profile-input"
                              id="state"
                              name="state"
                              (keydown)="
                                preventLeadingWhitespaceAndNumber($event)
                              "
                              [(ngModel)]="
                                organizationPersonalInformation.state
                              "
                              aria-describedby="phoneHelp"
                              placeholder="Enter State"
                            />
                          </div>
                          <div *ngIf="state.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mt-2 mb-0"
                              *ngIf="state.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              State is required.
                            </p>
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="state.errors?.maxlength"
                            >
                              <i class="bi bi-exclamation-circle"></i> Maximum
                              30 characters allowed.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="country" class="pb-2"
                              >Country
                              <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              maxlength="30"
                              #country="ngModel"
                              class="form-control profile-input"
                              id="country"
                              name="country"
                              (keydown)="
                                preventLeadingWhitespaceAndNumber($event)
                              "
                              [(ngModel)]="
                                organizationPersonalInformation.country
                              "
                              aria-describedby="phoneHelp"
                              placeholder="Enter Country"
                            />
                          </div>
                          <div *ngIf="country.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="country.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              Country is required.
                            </p>
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="country.errors?.maxlength"
                            >
                              <i class="bi bi-exclamation-circle"></i> Maximum
                              30 characters allowed.
                            </p>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="pincode" class="pb-2"
                              >Pincode
                              <span class="text-optional">*</span></label
                            >
                            <input
                              type="text"
                              required
                              #pincode="ngModel"
                              mask="000000"
                              class="form-control profile-input"
                              id="pincode"
                              name="pincode"
                              [(ngModel)]="
                                organizationPersonalInformation.pincode
                              "
                              aria-describedby="phoneHelp"
                              placeholder="Enter Pincode"
                            />
                          </div>
                          <div *ngIf="pincode.touched || isFormInvalid">
                            <p
                              class="errortxt text-danger mb-2"
                              *ngIf="pincode.errors?.required"
                            >
                              <i class="bi bi-exclamation-circle"></i>
                              Pincode is required.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mb-3 position-relative pointer">
                      <div class="text-center mt-80">
                        <div class="sgsetprofilemain position-relative pointer">
                          <div
                            *ngIf="organizationPersonalInformation.logo"
                            class="profile-img-remove text-center position-absolute pointer d-flex align-items-center justify-content-center"
                          >
                            <i
                              class="remove-icon bg-white"
                              (click)="onDeleteImage()"
                            ></i>
                          </div>
                          <div
                            class="sgsetprofile pointer d-flex align-items-center justify-content-center position-relative bg-white flex-column"
                          >
                            <img
                              src="assets/images/update-min.svg"
                              *ngIf="!organizationPersonalInformation.logo"
                            />
                            <img
                              src="{{ organizationPersonalInformation.logo }}"
                              *ngIf="organizationPersonalInformation.logo"
                            />
                            <div
                              class="picoverlay position-absolute"
                              data-bs-toggle="modal"
                              data-bs-target="#image-picker"
                            >
                              <span>Upload</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="alert alert-light mb-0 mt-4 bg-soft-warning"
                        role="alert"
                      >
                        <h4 class="alert-heading font-18">Attention!</h4>
                        <p>
                          We're excited to enhance your experience on our
                          platform by allowing you to personalize your profiles
                          with images. <br />Please note the following
                          guidelines for profile images:
                        </p>
                        <p class="mb-0">
                          <i class="la la-arrow-right text-secondary me-2"></i
                          >Size: 400x400 pixels
                        </p>
                        <p class="mb-0">
                          <i class="la la-arrow-right text-secondary me-2"></i
                          >Accepted formats: JPG and PNG
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mt-2"></div>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="next-btn-box">
                <div class="d-flex align-items-center justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-round"
                    (click)="submit()"
                  >
                    <span *ngIf="!isInfoLoading"
                      >Next
                      <i class="bi bi-arrow-right" style="padding-left: 8px"></i
                    ></span>
                    <div class="dot-opacity-loader" *ngIf="isInfoLoading">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p>media-manager-crop works!</p> -->
  <!-- Modal starts -->
  <div
    class="modal fade box-scroll"
    id="image-picker"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    #imageModel
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="dialog"
      style="max-width: 600px"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Image</h5>
          <!-- <button type="button" class="close" data-bs-dismiss="modal" (click)="closeCropperModel()" #closeModel aria-label="Close">
                    <span aria-hidden="true">
                        <i class="bi bi-x-lg"></i>
                        
                    </span>
                </button> -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeCropperModel()"
          >
            <i class="bi bi-x-lg"></i>
          </button>
        </div>

        <div class="modal-body">
          <div class="row imgupldbg">
            <div class="col-lg-12 bg-wallet position-relative">
              <!-- {{ isLoading }} -->
              <div
                class="currentimageuplded position-relative"
                *ngIf="files.length < 1 && !base64Event && !isLoading"
              >
                <img
                  src="{{
                    Constant.EMPTY_STRINGS.includes(imageUrl)
                      ? 'assets/images/update-min.svg'
                      : imageUrl
                  }}"
                  alt="profile"
                />
              </div>
              <div *ngIf="isLoading">
                <div class="spinner-border text-dark" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div
                *ngIf="this.interval == 'false'"
                class="tab-pane fade show active"
                id="mediagallery"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div
                  class="imagecroppermain"
                  *ngIf="!base64Event && files.length != 0"
                >
                  <!-- <image-cropper
                    #imageCropper
                    [imageChangedEvent]="imageChangedEvent"
                    [transform]="transform"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1"
                    [canvasRotation]="canvasRotation"
                    (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                  >
                  </image-cropper> -->
                  <image-cropper
                    #imageCropper
                    [imageChangedEvent]="imageChangedEvent"
                    [imageURL]="imageURL"
                    [maintainAspectRatio]="true"
                    [containWithinAspectRatio]="containWithinAspectRatio"
                    [aspectRatio]="aspectRatio"
                    [cropperMinWidth]="128"
                    [onlyScaleDown]="true"
                    [roundCropper]="false"
                    [canvasRotation]="canvasRotation"
                    [(transform)]="transform"
                    [alignImage]="'center'"
                    [style.display]="showCropper ? null : 'none'"
                    [allowMoveImage]="allowMoveImage"
                    [hidden]="hidden"
                    imageAltText="Alternative image text"
                    output="blob"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady($event)"
                    (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  <img
                    *ngIf="!isLoading"
                    style="width: 20%; height: 20%"
                    [src]="croppedImage"
                    [style.border]="croppedImage ? '1px solid black' : 'none'"
                  />
                  <!-- {{croppedImage|json}} -->
                </div>
                <div
                  class="imagecroppermain"
                  style="width: 250px"
                  *ngIf="base64Event"
                >
                  <image-cropper
                    #imageCropperBase64
                    [imageBase64]="imageBase64String"
                    [transform]="transform"
                    [cropperMinWidth]="300"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="aspectRatio"
                    [canvasRotation]="canvasRotation"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady($event)"
                    (loadImageFailed)="loadImageFailed()"
                  >
                  </image-cropper>
                  <img
                    *ngIf="!isLoading"
                    style="width: 20%; height: 20%"
                    [src]="croppedImage"
                    [style.border]="croppedImage ? '1px solid black' : 'none'"
                  />
                </div>
              </div>
              <!-- <span class="helpbtn" #closeinfo (click)="addClass()">
                            <i class="bi-info"></i>
                            <span>help</span>
                            <i class="bi bi-x-lg mr-2 pr-1"></i>
                        </span> -->
              <span class="helpbtn" #closeinfo (click)="addClass()">
                <span>help</span>
                <i class="bi bi-info-circle mr-2 pr-1"></i>
              </span>

              <div
                class="imageinstrmainbox"
                *ngIf="showHelpInstructions"
                #tempDiv
              >
                <div class="imageinstrinner">
                  <div class="mb-2 download-file imginstctns">
                    <h4>
                      Image Instructions<button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="closeHelpInstructions()"
                      ></button>
                    </h4>
                    <ul class="plan-features">
                      <li>Please use only .png, .jpg, .jpeg</li>
                      <li>Size range is below 200x200</li>
                      <!-- <li>Logo 100 X 200 ratio is best</li> -->
                    </ul>
                  </div>
                  <div
                    class="mb-2 download-file imginstctns"
                    *ngIf="files?.length > 0"
                  >
                    <h4>Your Selection is</h4>
                    <ul class="plan-features">
                      <li>{{ previewHeight }}x{{ previewWidth }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <input
            class="d-none"
            type="file"
            hidden
            single
            name="img"
            #fileInput
            (change)="onSelectFile($event)"
            accept="image/*"
          />

          <div class="d-flex" *ngIf="!isEditImage">
            <button
              [disabled]="urls.length == 0 && !base64Event && !imageUrl"
              type="button"
              class="btn upldactionfootbtn mr-2"
              (click)="enableEditField()"
            >
              <i class="bi-pencil"></i>
              <span>Edit</span>
            </button>

            <button
              type="button"
              class="btn upldactionfootbtn mr-2"
              (click)="fileInput.click()"
            >
              <i class="bi-camera"></i>
              <span>Add Photo</span>
            </button>
          </div>

          <div
            class="imageaction d-flex justify-content-start align-items-center"
            *ngIf="isEditImage"
          >
            <div class="col-leftdiv">
              <!-- <button title="Zoom Out" type="button" class="btn m-1 btn-sm custbtn-success" (click)="zoomOut();isResetImage = true;">
                        <i class="bi-zoom-out"></i>
                    </button>
                    <button title="Zoom In" type="button" class="btn m-1 btn-sm custbtn-success" (click)="zoomIn();isResetImage = true;">
                        <i class="bi-zoom-in"></i>
                    </button> -->
              <button
                title="Zoom In"
                type="button"
                class="btn m-1 btn-sm custbtn-success"
                (click)="zoomIn(); isResetImage = true"
              >
                <i class="bi bi-zoom-in"></i>
              </button>
              <button
                title="Zoom Out"
                type="button"
                class="btn m-1 btn-sm custbtn-success"
                (click)="zoomOut(); isResetImage = true"
              >
                <i class="bi bi-zoom-out"></i>
              </button>
            </div>
            <div class="col-cendiv">
              <!-- <button title="Crop Square" type="button" class="btn m-1 btn-sm custbtn-success" (click)="aspectRatio=1/1;isResetImage = true;">
                            <i class="bi-layout-width-full"></i>
                        </button>
                        <button title="Crop Rectangle" type="button" class="btn m-1 btn-sm custbtn-success" (click)="aspectRatio=4/3;isResetImage = true;">
                            
                            <span class="rectanglebox"></span>
                        </button>    -->
              <button
                title="Crop Square"
                type="button"
                class="btn m-1 btn-sm custbtn-success"
                (click)="aspectRatio = 1 / 1; isResetImage = true"
              >
                <i class="bi bi-square"></i>
              </button>
              <button
                title="Crop Rectangle"
                type="button"
                class="btn m-1 btn-sm custbtn-success"
                (click)="aspectRatio = 4 / 3; isResetImage = true"
              >
                <i class="bi bi-crop"></i>
              </button>
            </div>

            <div class="col-rightdiv">
              <!-- <button title="Rotate image anti clockwise by 90deg" type="button" class="btn m-1 btn-sm custbtn-success" (click)="rotateLeft();isResetImage = true;">
                            <i class="bi-back-left" style="transform: scalex(-1) rotate(180deg);"></i>
                        </button> -->
              <button
                title="Rotate image anti-clockwise by 90deg"
                type="button"
                class="btn m-1"
                (click)="rotateLeft(); isResetImage = true"
              >
                <i class="bi bi-arrow-counterclockwise custbtn-success"></i>
              </button>

              <!-- <button title="Rotate image clockwise by 90deg" type="button" class="btn m-1 btn-sm custbtn-success" (click)="rotateRight();isResetImage = true;">
                            <i class="bi-back-right"></i>
                        </button> -->
              <button
                title="Rotate image clockwise by 90deg"
                type="button"
                class="btn m-1"
                (click)="rotateRight(); isResetImage = true"
              >
                <i class="bi bi-arrow-clockwise custbtn-success"></i>
              </button>
            </div>
          </div>

          <div class="d-flex">
            <button
              type="button"
              (click)="resetAllImages()"
              class="btn cnceltopics mr-2"
              *ngIf="isEditImage"
            >
              Reset
            </button>

            <button
              type="button"
              *ngIf="isImageDeleted || urls.length > 0 || base64Event"
              (click)="uploadSingle()"
              class="btn adtpoics"
            >
              <span class="d-inline-block text-left">
                <div class="dot-opacity-loader text-white" *ngIf="toggleUpload">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <span *ngIf="!toggleUpload">Update</span>
              </span>
            </button>
            <button
              *ngIf="organizationPersonalInformation.logo"
              type="button"
              class="btn upldactionfootbtn mr-2"
              (click)="onDeleteImage()"
            >
              <i class="bi-trash"></i>
              <span>Delete</span>
            </button>
            <!-- <button
              *ngIf="!isImageDeleted && urls.length == 0 && !base64Event "
              type="button"
              class="btn upldactionfootbtn mr-2"
              (click)="deleteProfileImage()"
            >
              <i class="bi-trash"></i>
              <span>Delete</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Ends -->

  <!-- <div
    class="modal fade"
    id="image-picker"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalDefaultLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      style="max-width: 570px"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title m-0" id="exampleModalDefaultLabel">
            Upload Image
          </h6>
          <button
            type="button"
            class="close profile-close-modal"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="bi bi-x" style="line-height: 20px; font-size: 26px"></i>
          </button>
        </div>
        <div class="modal-body p-3">
          <div class="row imgupldbg bg-white justify-content-center">
            <div class="col-lg-12 bg-wallet position-relative">
              <div class="currentimageuplded position-relative">
                <img
                  src="assets/images/update-min.svg"
                  *ngIf="!organizationPersonalInformation.logo"
                />
                <img
                  src="{{ organizationPersonalInformation.logo }}"
                  *ngIf="organizationPersonalInformation.logo"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <div class="d-flex">
            <button
              type="button"
              class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2"
              onclick="document.getElementById('fileInput').click();"
            >
              <i class="bi bi-pencil f-18"></i>
              <span>Edit</span>
            </button>
            <input
              type="file"
              id="fileInput"
              accept="image/jpeg, image/jpg, image/png"
              style="display: none"
              (change)="onFileSelected($event)"
            />
            <button
              type="button"
              class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2"
              onclick="document.getElementById('fileInput').click();"
            >
              <i class="bi bi-camera"></i>
              <span>Add Photo</span>
            </button>
          </div>
          <div class="d-flex">
            <button
              type="button"
              class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2"
              (click)="onDeleteImage()"
            >
              <i class="bi bi-trash"></i>
              <span>Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
