.custbtn-success {
  padding: 0 0 !important;
  width: 40px;
  height: 40px !important;
  text-align: center;
  border: 1px solid #e1e1e1;
}
.custbtn-success:focus {
  box-shadow: 0 13px 12px -2px rgb(133 133 133 / 31%);
}
.custbtn-success i {
  display: inline-block;
  top: 2px;
  color: #262626;
}
.currentimageuplded {
  /* width: 200px;
  height: 200px; */
  overflow: hidden;
  border-radius: 2px;
  margin: 0 auto 0;
}
.currentimageuplded img {
  width: 170px;
  height: 170px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.imagecroppermain{
   width: 360px;
   height: 360px;
}

.profile-image-upload img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.imgupldbg {
  justify-content: center;
  margin: -15px -15px;
  padding: 20px 0;

}
.upldactionfootbtn {
  box-shadow: none;
  outline: none;
  row-gap: 4px;
  color: #444;
}
.upldactionfootbtn span {
  font-size: 14px;
  font-weight: 500;
}
.upldactionfootbtn i {
  font-size: 18px;
}
.toggle-password {
  right: 0;
  border: 0;
  background: transparent;
  z-index: 10;
  top: 31px;
}
.sgsetprofilemain {
  width: 150px;
  margin: 0 auto;
  margin-top: 85px;
}
.sgsetprofile {
  border: 1px solid #f1f1f1;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: #6363630d 0 8px 8px;
}
button.close.profile-close-modal {
  border: none;
  background-color: transparent;
}
.sgsetprofile img {
  width: 100%;
  height: 100%;
  padding: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.sgsetprofile .picoverlay {
  bottom: -30%;
  left: 0;
  right: 0;
  font-size: 12px;
  height: 33px;
  background-color: #333333d9;
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in;
}
.sgsetprofile:hover .picoverlay {
  bottom: 0%;
}
.imgupldbg {
  background-color: #f9f9f9;
  margin: -15px;
  padding: 20px 0;
}

.upldactionfootbtn {
  box-shadow: none;
  outline: none;
  grid-row-gap: 4px;
  row-gap: 4px;
  color: #444;
}

.imageaction i {
  display: inline-block;
  top: 0px !important;
  color: #262626;
}
a.fetch-location {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 0 2px 2px 0;
  opacity: 0.8;
  background: var(--primary-background-color);
  /* padding: 11px 20px; */
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fff !important;
  height: 43px;
  padding: 10px 20px;
}
.profile-img-remove {
  z-index: 1;
  right: -5px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 12px;
  background-color: #eb5050;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 7px;
  padding: 0 5px;
  top: 12px;
}
.remove-icon {
  display: block;
  width: 100%;
  height: 2px;
}

/* Pushpendra's Code  */
.card-header {
  border: 0;
  border-bottom: 1px dashed #e8ebf3;
}
.bg-soft-warning:hover {
  background-color: rgba(255, 159, 67, 0.08) !important;
}
.alert-light:hover .alert-heading {
  color: orange !important;
}
.mt-120 {
  margin-top: 120px;
}

/* image cropper modal css */

.close-button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  margin: 10px;
  height: 42px;
  text-align: center;
  font-size: 31px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  border-radius: 80px;
  white-space: nowrap;
}

.adtpoics {
  background-color: #4660f6;
  border: 1px solid #4660f6;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.cnceltopics {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #444444;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.deltopics {
  background-color: #fcf1f1;
  border: 1px solid #eb5050;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #eb5050;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.adtpoics i,
.deltopics i,
.cnceltopics i {
  position: relative;
  top: 1px;
  margin-right: 4px;
  font-size: 14px;
}

.imginstctns h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 14px;
}

.imginstctns ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.imgupldbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 2px;
  margin: 0 0 0;
}

.imgupldbox h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 11px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

.custbtn-success {
  background-color: #f1f1f1;
  padding: 0 0 !important;
  width: 40px;
  height: 40px !important;
  text-align: center;
  border: 1px solid #e1e1e1;
}

.custbtn-success:focus {
  box-shadow: 0 13px 12px -2px rgb(133 133 133 / 31%);
}

.custbtn-success i {
  display: inline-block;
  position: relative;
  top: 2px;
  color: #262626;
}

.currentimageuplded {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 2px;
  margin: 0 auto 0;
}

.currentimageuplded img {
  /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; */
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.imgupldbg {
  justify-content: center;
  background-color: #f9f9f9;
  margin: -15px -15px;
  padding: 20px 0;
  min-height: 420px;
}

.helpbtn {
  position: absolute;
  right: 5px;
  top: -7px;
  font-size: 10px;
  text-align: right;
  border-radius: 50%;
  cursor: pointer;
  line-height: 20px;
  font-weight: 600;
  z-index: 999;
}

.helpbtn i {
  font-weight: inherit;
}

.upldactionfootbtn span {
  font-size: 14px;
  font-weight: 500;
}

.upldactionfootbtn i {
  font-size: 18px;
}

.upldactionfootbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  outline: none;
  row-gap: 4px;
  color: #444;
  text-align: center;
}

.imageinstrmainbox {
  position: absolute;
  top: -20px;
  right: 0;
  bottom: -20px;
  background-color: #000000d1;
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s linear;
  width: 0%;
  transition-delay: 0.4s;
}

.imageinstrshow {
  transition: 0.3s linear;
  width: 40%;
}

.imageinstrinner {
  transition-delay: 0.3s;
  transition: 0.3s linear;
  transform: translateX(120%);
}

.imageinstrshow .imageinstrinner {
  transition: 0.3s linear;
  transform: translateX(0%);
  transition-delay: 0.4s;
}

.helpbtn .ti-close {
  opacity: 0;
  color: #fff;
}

.showimgbox .ti-close {
  opacity: 1;
  color: #fff;
}

.showimgbox span {
  display: none;
}

div#mediagallery {
  margin-top: 15px;
}

.mdlsguplodprofile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mdlsguplodprofile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #dbd9d9e6;
}

.mdlsguplodbtn {
  background-color: #373737;
  border-radius: 2px;
  color: #fff !important;
  font-size: 14px;
  box-shadow: none !important;
  height: 40px;
}

span.rectanglebox {
  border: 1px solid #5b5b5b;
  width: 20px;
  display: flex;
  height: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.currentimageupldedspinner {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.bg-wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-border {
  width: 100px;
  height: 100px;
}

div img.ngx-ic-source-image {
  max-width: 100%;
  max-height: 10%;
  transform-origin: center;
}
* {
  box-sizing: border-box;
}

.cropper-wrapper {
  min-height: 300px;
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff !important; /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/*  fetch loc */

.loader-fetching-location {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 6px 6px; */
}


.attention-box {
  background-color: #f7f7f7;
  border-radius: 2px 0px 0px 2px;
}

.profile-photo-box {
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  background-color: rgba(236, 236, 236, 0.21);
}

.profile-image {
  height: 100%;
}

.profile-image-upload {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-image-upload svg {
  width: 70px;
}

.upload-image {
  color: var(--primary-color) !important;
  font-style: normal;
  font-weight: 500;
  line-height: 21.964px; /* 122.222% */
  letter-spacing: 0.1px;
}

.upload-image:hover {
  text-decoration-line: underline;
}

.upload-delet-btn{
  background-color: red;
    border: 1px solid red;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    min-width: 100px;
    box-shadow: none !important;
    cursor: pointer;
}