<div class="page-wrapper">
  <div class="page-content-tab-onbording">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-12">
              <div class="persnol-details">
                 <form #personalInformationForm="ngForm" autocomplete="off">
                    <div class="form-group">
                       <div class="persnol-info">
                          <div class="row">
                             <div class="col-md-9">
                                <div class="card-header p-0 pb-3 bg-white">
                                   <h4 class="card-title">Personal Information</h4>
                                   <p class="text-muted mb-0">To enhance your experience and ensure accurate communication on our platform, we kindly ask you to review and update your personal information.</p>
                                </div>
                                <div class="row mt-3">
                                   <div class="col-md-6">
                                      <div class="mb-3">
                                         <label for="name" class="pb-2">Name <span class="text-optional">*</span></label>
                                         <input type="text" required class="form-control profile-input" id="adminname"
                                         [(ngModel)]="organizationPersonalInformation.adminName"
                                         (keydown)="preventLeadingWhitespace($event)" placeholder="Enter admin name"
                                         name="adminName" #adminName="ngModel" minlength="5">
                                      </div>
                                      <div *ngIf="adminName?.dirty || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="adminName.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i> Name is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="adminName.errors?.minlength">
                                            <i class="bi bi-exclamation-circle"></i> Please enter minimum five characters name.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="mb-3">
                                         <label for="name" class="pb-2">Organization Name <span class="text-optional">*</span></label>
                                         <input type="text" required class="form-control profile-input" id="name"
                                         [(ngModel)]="organizationPersonalInformation.name"
                                         (keydown)="preventLeadingWhitespace($event)" placeholder="Enter organization name" name="name"
                                         #name="ngModel" minlength="5">
                                      </div>
                                      <div *ngIf="name?.dirty || isFormInvalid">
                                         <p class="errortxt mb-2"  *ngIf="name.errors?.required"><i
                                            class="bi bi-exclamation-circle"></i>
                                            Organization Name is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="name.errors?.minlength"><i
                                            class="bi bi-exclamation-circle"></i>
                                            Please enter minimum five characters.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-6"
                                      *ngIf="organizationPersonalInformation.organization.onboardingVia == 'WHATSAPP'">
                                      <div class="mb-3">
                                         <label for="phone" class="pb-2">Phone <span class="text-optional ">*</span></label>
                                         <input type="tel" id="phone" name="phone"
                                         [(ngModel)]="organizationPersonalInformation.phoneNumber" placeholder="Enter Phone Number"
                                         minlength="10" maxlength="10" class="form-control profile-input"
                                         oninput="this.value = this.value.replace(/^[^1-9]/g, '').replace(/(\..*)\./g, '$1');"
                                         (keyup)="checkExistance(organizationPersonalInformation.phoneNumber)" #phone="ngModel"
                                         required disabled>
                                         <div class="btn btn-default toggle-password position-absolute pointer">
                                            <button type="button" class="btn btn-soft-info btn-icon-circle btn-icon-circle-sm mb-2">
                                            <i class="fas fa-check text-success"></i>
                                            </button>
                                         </div>
                                         <p *ngIf="isNumberExist" class="error text-danger">this number already exist</p>
                                      </div>
                                      <div *ngIf="phone?.touched && phone.invalid">
                                         <p class="errortxt mb-2">
                                            <i class="bi bi-exclamation-circle"></i> Phone number is invalid.
                                         </p>
                                      </div>
                                      <div *ngIf="phone?.touched || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="phone.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i> Phone number is required.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-6"
                                      *ngIf="organizationPersonalInformation.organization.onboardingVia == 'Slack'">
                                      <div class="mb-3">
                                         <label for="phone" class="pb-2">Phone <span class="text-optional">*</span></label>
                                         <input type="text" required mask="0000000000" class="form-control profile-input" id="phone" name="phone"
                                         [(ngModel)]="organizationPersonalInformation.phoneNumber" aria-describedby="phoneHelp"
                                         #phone="ngModel" placeholder="Enter phone">
                                      </div>
                                      <div *ngIf="phone?.touched">
                                         <p class="errortxt mb-2" *ngIf="phone.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i> Phone number is required.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="mb-3">
                                         <label for="email" class="pb-2">Email Id <span
                                            class="text-optional">*</span></label>
                                         <input type="email" class="form-control profile-input" id="email"
                                         [(ngModel)]="organizationPersonalInformation.email"
                                         (keydown)="preventLeadingWhitespace($event)" name="email" aria-describedby="emailHelp"
                                         #email="ngModel" (keyup)="checkEmailExistance(organizationPersonalInformation.email)" placeholder="Enter email id" required>
                                      </div>
                                      <p *ngIf="isEmailExist" class="error text-danger">this email
                                         already exist
                                      </p>
                                      <div *ngIf="email?.dirty || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="email.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i> Email Id is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="email.errors?.email">
                                            <i class="bi bi-exclamation-circle"></i> Please enter a valid email address.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-12 mt-4 ">
                                      <div class="card-header p-0 pb-3 bg-white">
                                         <h4 class="card-title">Address Information</h4>
                                         <p class="text-muted mb-0">To ensure seamless delivery and accurate communication, we kindly request you to review and update your address information</p>
                                      </div>
                                   </div>
                                   <div class="col-md-12 mt-4">
                                      <div class="mb-3" style="position: relative;">
                                         <label class="pb-2">Address <span
                                            class="text-optional">*</span></label>
                                         <input type="text" class="form-control profile-input" placeholder="Floor No., Building Name, Street or Locality" required>
                                         <a class="fetch-location disabled-link"><i class="ti ti-current-location" style="padding-right: 8px;"></i>Fetch Current Location </a>
                                      </div>
                                   </div>
                                   <div class="col-md-3">
                                      <div class="mb-3">
                                         <label for="city" class="pb-2">City <span class="text-optional">*</span></label>
                                         <input type="text" maxlength="30" #city="ngModel" required class="form-control profile-input" id="city"
                                         (keydown)="preventLeadingWhitespaceAndNumber($event)" name="city"
                                         [(ngModel)]="organizationPersonalInformation.city" aria-describedby="phoneHelp"
                                         placeholder="Enter City">
                                      </div>
                                      <div *ngIf="city.touched || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="city.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            City is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="city.errors?.maxlength">
                                            <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-3">
                                      <div class="mb-3">
                                         <label for="state" class="pb-2">State <span class="text-optional">*</span></label>
                                         <input type="text" required maxlength="30" #state="ngModel" class="form-control profile-input" id="state"
                                         name="state" (keydown)="preventLeadingWhitespaceAndNumber($event)"
                                         [(ngModel)]="organizationPersonalInformation.state" aria-describedby="phoneHelp"
                                         placeholder="Enter State">
                                      </div>
                                      <div *ngIf="state.touched || isFormInvalid">
                                         <p class="errortxt mt-2 mb-0"  *ngIf="state.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            State is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="state.errors?.maxlength">
                                            <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-3">
                                      <div class="mb-3">
                                         <label for="country" class="pb-2">Country <span class="text-optional">*</span></label>
                                         <input type="text" required maxlength="30" #country="ngModel" class="form-control profile-input" id="country"
                                         name="country" (keydown)="preventLeadingWhitespaceAndNumber($event)"
                                         [(ngModel)]="organizationPersonalInformation.country" aria-describedby="phoneHelp"
                                         placeholder="Enter Country">
                                      </div>
                                      <div *ngIf="country.touched || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="country.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Country is required.
                                         </p>
                                         <p class="errortxt mb-2" *ngIf="country.errors?.maxlength">
                                            <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                                         </p>
                                      </div>
                                   </div>
                                   <div class="col-md-3">
                                      <div class="mb-3">
                                         <label for="pincode" class="pb-2">Pincode <span class="text-optional">*</span></label>
                                         <input type="text" required #pincode="ngModel" mask="000000" class="form-control profile-input" id="pincode"
                                         name="pincode" [(ngModel)]="organizationPersonalInformation.pincode"
                                         aria-describedby="phoneHelp" placeholder="Enter Pincode">
                                      </div>
                                      <div *ngIf="pincode.touched || isFormInvalid">
                                         <p class="errortxt mb-2" *ngIf="pincode.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Pincode is required.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-lg-3 mb-3 position-relative pointer">
                                <div class="text-center mt-120">
                                   <div class="sgsetprofilemain position-relative pointer">
                                      <div class="profile-img-remove text-center position-absolute pointer d-flex align-items-center justify-content-center">
                                         <i class="remove-icon bg-white"></i>
                                      </div>
                                      <div class="sgsetprofile pointer d-flex align-items-center justify-content-center position-relative bg-white flex-column">
                                         <img src="assets/images/update-min.svg">
                                         <div class="picoverlay position-absolute" data-bs-toggle="modal" data-bs-target="#image-picker">
                                            <span>Upload</span>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                <div class="alert alert-light mb-0 mt-4 bg-soft-warning" role="alert">
                                   <h4 class="alert-heading font-18">Attention!</h4>
                                   <p>We're excited to enhance your experience on our platform by allowing you to personalize your profiles with images. <br>Please note the following guidelines for profile images:</p>
                                   <p class="mb-0"><i class="la la-arrow-right text-secondary me-2"></i>Size: 400x400 pixels</p>
                                   <p class="mb-0"><i class="la la-arrow-right text-secondary me-2"></i>Accepted formats: JPG and PNG</p>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="row mt-2">
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
              <div class="next-btn-box">
                 <div class="d-flex align-items-center justify-content-end">
                    <button type="submit" class="btn btn-outline-primary btn-round" (click)="submit()">
                       <span *ngIf="!loading">Next <i class="bi bi-arrow-right"
                          style="padding-left: 8px;"></i></span>
                       <div class="dot-opacity-loader" *ngIf="loading">
                          <span></span>
                          <span></span>
                          <span></span>
                       </div>
                    </button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="modal fade" id="image-picker" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
     <div class="modal-dialog modal-dialog-centered" style="max-width: 570px;"   role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h6 class="modal-title m-0" id="exampleModalDefaultLabel"> Upload Image </h6>
              <button type="button" class="close profile-close-modal" data-bs-dismiss="modal" aria-label="Close">
              <i class="bi bi-x" style="line-height: 20px; font-size: 26px;"></i>
              </button>
           </div>
           <div class="modal-body p-3">
              <div class="row imgupldbg bg-white justify-content-center">
                 <div class="col-lg-12 bg-wallet position-relative">
                    <div class="currentimageuplded position-relative">
                       <img src="assets/images/update-min.svg">
                    </div>
                 </div>
              </div>
           </div>
           <!--end modal-body-->
           <div class="modal-footer justify-content-between">
              <div class="d-flex">
                 <button type="button" class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2">
                 <i class="bi bi-pencil f-18"></i>
                 <span>Edit</span>
                 </button>
                 <button type="button" class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2">
                 <i class="bi bi-camera"></i>
                 <span>Add Photo</span>
                 </button>
              </div>
              <div class="d-flex">
                 <button type="button" class="btn upldactionfootbtn d-flex align-items-center justify-content-center flex-column text-center mr-2">
                 <i class="bi bi-trash"></i>
                 <span>Delete</span>
                 </button>
              </div>
              <!-- Edit option -->
              <!-- <div class="imageaction d-flex justify-content-start align-items-center">
                 <div class="col-leftdiv">
                   <button title="Zoom Out" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                     <i class="bi bi-zoom-out position-relative"></i>
                   </button>
                   <button title="Zoom In" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                     <i class="bi bi-zoom-in position-relative"></i>
                   </button>
                 </div>
                 <div class="col-cendiv">
                   <button title="Crop Square" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                     <i class="bi bi-square position-relative"></i>
                   </button>
                   <button title="Crop Rectangle" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                     <i class="bi bi-square position-relative"></i>
                   </button>
                 </div>
                 <div class="col-rightdiv">
                   <button title="Rotate image anti clockwise by 90deg" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                   
                     <i class="bi bi-arrow-return-left position-relative" style="transform: scalex(-1) rotate(180deg);"></i>
                   </button>
                   <button title="Rotate image clockwise by 90deg" type="button" class="btn m-1 btn-sm custbtn-success bg-white text-center">
                     <i class="bi bi-arrow-return-right position-relative" style="transform: scalex(-1) rotate(180deg);"></i>
                   </button>
                 </div>
                 
                 </div>
                 <div class="d-flex" style="gap:10px;">
                 <button type="button" class="btn btn-outline-secondary btn-round"><i class="bi bi-arrow-left"></i> Reset </button>
                 <button type="button" class="btn btn-outline-primary btn-round"> Update <i class="bi bi-arrow-right"></i> </button>
                 </div> -->
              <!-- Edit option end -->
           </div>
        </div>
        <!--end modal-content-->
     </div>
     <!--end modal-dialog-->
  </div>
  <!--end modal-->