<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->

<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
          <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>
            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                    <div class="persnol-details">
                        <h5>Employee Emergency Contact</h5>
                        <p class="mb-0">Fields with * are mandatory</p>
                        <form #emergencyInformationForm="ngForm"  (ngSubmit)="openModal()">
                            <div class="form-group">
                        <div class="persnol-info mt-4">
                            <div *ngFor="let contact of userEmergencyContactDetails; let i = index">
                                <div class="row">

                                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label for="relation{{i}}" class="pb-2">Relation with Employee <span class="text-optional">*</span></label>
                                      <div class="dropdown" style="width: 100%;">
                                        <button type="button" id="relationDropdown{{i}}" data-bs-toggle="dropdown" aria-expanded="false"
                                                class="btn btn-secondary dropdown-toggle new-deopdown" name="relationWithEmployee{{i}}">
                                          {{ contact.relationWithEmployee || 'Select Relation' }}
                                          <i class="bi bi-chevron-down"></i> <!-- Use the Font Awesome chevron-down icon -->
                                        </button>
                                        <ul aria-labelledby="relationDropdown" class="dropdown-menu" style="width: 100%;">
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Spouse'">Spouse</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Father'">Father</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Mother'">Mother</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Child'">Child</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Sibling'">Sibling</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Relative'">Relative</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Friend'">Friend</a></li>
                                          <li><a class="dropdown-item" (click)="contact.relationWithEmployee = 'Colleague'">Colleague</a></li>
                                          <!-- Add more options as needed -->
                                        </ul>
                                      </div>
                                      <input name="relationWithEmployee" type="hidden" [(ngModel)]="contact.relationWithEmployee" required #relation="ngModel">
                                      <div *ngIf="relation?.touched || isFormInvalid">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="relation.errors?.required">
                                          <i class="bi bi-exclamation-circle"></i> Relation selection is required.
                                        </p>
                                      </div>
                                    </div>
                                  </div>


                                      <div class="col-md-4">
                                        <div class="mb-3">
                                          <label for="name{{i}}" class="pb-2">Name <span class="text-optional">*</span></label>
                                          <input type="text" (keydown)="preventLeadingWhitespace($event)" maxlength="30" class="form-control" id="name{{i}}" name="name{{i}}" placeholder="Enter Name" [(ngModel)]="contact.contactName" required #name="ngModel" >
                                          <!-- Error Message for Name -->
                                          <div *ngIf="(name.touched && name.invalid) || isFormInvalid">
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="name.errors?.required">
                                              <i class="bi bi-exclamation-circle"></i>
                                              Name is required.
                                            </p>
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="name.errors?.maxlength">
                                              <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                                          </p>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-4">
                                        <div class="mb-3">
                                          <label for="phoneNumber{{i}}" class="pb-2">Phone Number <span class="text-optional">*</span></label>
                                          <input type="text" mask="0000000000" class="form-control" id="phoneNumber{{i}}" name="phoneNumber{{i}}" placeholder="Enter Phone Number" [(ngModel)]="contact.contactNumber" required pattern="^[0-9]*$" minlength="10" maxlength="10" #phoneNumber="ngModel" >
                                          <!-- Error Message for Phone Number -->
                                          <div *ngIf="(phoneNumber.touched && phoneNumber.invalid) || isFormInvalid">
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phoneNumber.errors?.required">
                                              <i class="bi bi-exclamation-circle"></i>
                                              Phone Number is required.
                                            </p>
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phoneNumber.errors?.pattern">
                                              <i class="bi bi-exclamation-circle"></i>
                                              Enter a valid 10-digit phone number.
                                            </p>
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phoneNumber.errors?.minlength || phoneNumber.errors?.maxlength">
                                              <i class="bi bi-exclamation-circle"></i> Phone number must be exactly 10 digits.
                                          </p>
                                          </div>
                                        </div>
                                      </div>
                                    <!-- <div class="col-md-12">
                                        <span class="delete-icon" (click)="deleteEmergencyContact(i)">
                                            <i class="bi bi-trash-fill" style="color: red;"></i> Delete
                                        </span>
                                    </div> -->
                                </div>
                                <div class="row align-items-center" >
                                  <div class="col-md-6">

                                </div>
                                  <div class="col-md-6" style="text-align: right;">
                                      <div class="add-filtter" *ngIf="userEmergencyContactDetails.length!=1">
                                          <a type="button" (click)="delete(i)" style="color: red !important;"><i class="bi bi-trash" style="font-size: 16px;"></i> Delete</a>
                                      </div>

                                  </div>
                              </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="add-more">
                                        <span (click)="addEmergencyContact()">
                                            <i class="bi bi-plus" style="margin-bottom: 14px;"></i> Add More
                                        </span>
                                    </div>
                                </div>
                            </div> -->

                            <div class="row align-items-center" >
                                <div class="col-md-6">
                                    <div class="add-filtter">
                                        <a type="button" (click)="addEmergencyContact()"><i class="bi bi-plus" style="font-size: 23px ;"></i> Add More</a>
                                    </div>
                                    <!-- <span class="add-more" (click)="addExperience()">
                                        <i class="bi bi-plus" style="margin-bottom: 14px;"></i> Add More
                                    </span> -->
                                </div>

                            </div>






                          <div class="row">
                              <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                  <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()">
                                    <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                                  </button>
                                </div>
                                <!-- Removed the unnecessary col-md-12 div -->
                                <div class="info-btn d-flex justify-content-end" style="gap:10px;">
                                  <div class="info-btn" *ngIf="this.isAdminPresent">
                                    <button (click)="goBackToProfile()" class="btn btn-warning" type="button" aria-label="Go Back to Profile">
                                        Go Back to Profile
                                    </button>
                                </div>
                                  <!-- Button for 'Update' shown only if there is an update request -->
                                  <button *ngIf="this.isAdminPresent" (click)="selectButtonType('update')" class="btn btn-info save-button" type="submit" aria-label="Update">
                                      <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                      </div>
                                      <span *ngIf="!toggle">
                                          Update <i class="bi bi-pencil-square" style="padding-left: 8px;"></i>
                                      </span>
                                  </button>



                                  <!-- Button to trigger confirmation modal for Preview, shown only when there's no update request -->
                                  <button *ngIf="!this.isAdminPresent" type="submit" class="btn btn-primary save-button" [disabled]="toggle" aria-label="Save">
                                      <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                      </div>
                                      <span *ngIf="!toggle">
                                          Preview Form <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                      </span>
                                  </button>
                              </div>
                              </div>
                            </div>
                        </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


   <!-- Success Message Modal -->
   <button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
   <div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
                <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>

                <!-- Conditional Messages -->
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                    Your registration is successful. Pending for verification.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                    Your onboarding is approved.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                    Your onboarding is rejected.
                </p>

                <!-- Edit Button -->

                <button type="button" class="d-none"  data-bs-dismiss="modal"  >
                Cancel
              </button>

                <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

 <!-- Confirmation Modal -->
 <button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#confirmationModal" #confirmationModalButton id="confirmationModalButton"></button>
 <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered mx-auto mx-auto" style="max-width: 400px !important;">
      <div class="modal-content p-0" style="border-radius: 15px;">
          <form #confirmationForm="ngForm">
              <!-- <div class="modal-header">
                  <h5 class="modal-title" id="confirmationModalLabel">Confirm Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div> -->
              <div class="modal-body text-center mt-1 mb-3">
                  <!-- Example input field -->
                  <!-- <input type="text" class="form-control" name="details" required> -->


                <img src="assets/images/documentation.svg" style="width:80px;">

                 <h4 class="confirm-detail">Confirm Details  </h4>

                 <p class="mt-0 confram-msg">Are you sure you want to save these details?</p>


                 <div class="d-flex align-items-center justify-content-center mt-4" style="gap: 15px;">
                  <button type="button" class="btn btn-primary back-btn" data-bs-dismiss="modal">Edit</button>
                  <!-- Button to trigger success message -->
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="showSuccess()">Save Changes</button>

                 </div>
              </div>
              <!-- <div class="modal-footer">

              </div> -->
          </form>
      </div>
  </div>
</div>



 <!-- Confirmation Modal -->
 <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#confirmationModal" #confirmationModalButton id="confirmationModalButton"></button>
 <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered mx-auto mx-auto" style="max-width: 400px !important;">
      <div class="modal-content p-0" style="border-radius: 15px;">
          <form #confirmationForm="ngForm">
              <!-- <div class="modal-header">
                  <h5 class="modal-title" id="confirmationModalLabel">Confirm Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div> -->
              <div class="modal-body text-center mt-1 mb-3">
                  <!-- Example input field -->
                  <!-- <input type="text" class="form-control" name="details" required> -->


                <img src="assets/images/documentation.svg" style="width:65px;">

                 <h4 class="confirm-detail">Confirm Details  </h4>

                 <p class="mt-0 confram-msg">Are you sure you want to save these details?</p>


                 <div class="d-flex align-items-center justify-content-center mt-4" style="gap: 15px;">
                  <button type="button" class="btn btn-primary back-btn" data-bs-dismiss="modal">Edit</button>
                  <!-- Button to trigger success message -->
                  <button type="button" id="saveChange" class="btn btn-primary" data-bs-dismiss="modal" (click)="showSuccess()" >Save Changes</button>

                 </div>
              </div>
              <!-- <div class="modal-footer">

              </div> -->
          </form>
      </div>
  </div>
</div>


<!-- Preview Modal -->

<!-- Button trigger modal -->
<div class="container-fluid">
  <button type="button" id="previewModalCallButton" #previewModalCallButton  name="previewModalCallButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#previewModal">
    Preview Form
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content p-0">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">Form Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form Details Start Here -->
        <div class="maxHeight">
          <div class="col-md-12">
            <div class="onboarding-deta mb-lg-3" *ngIf="this.dataService.isRoutePresent('/employee-onboarding-form')">
                <table class="table mb-0">
                    <tr style="background-color: #f1f1f1;">
                          <td>
                            <p class="mb-0 persnaol">  Personal Information <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/employee-onboarding-form')" ></i></p>

                          </td>
                        </tr>
                  </table>

        <table class="table table-bordered">

          <tbody class="table-design">
            <tr>
              <td>Name : {{ onboardingPreviewData.user.name }}</td>
              <td>Email : {{ onboardingPreviewData.user.email }}</td>
              <td>Phone : {{ onboardingPreviewData.user.phoneNumber }}</td>
            </tr>
            <tr>
              <td>DOB : {{ onboardingPreviewData.user.dateOfBirth  | date : 'dd/MM/yyyy'  }}</td>
              <td>Gender : {{ onboardingPreviewData.user.gender }}</td>
              <td>Father's Name :   {{ onboardingPreviewData.user.fatherName }}</td>
            </tr>
            <tr>
              <td>Marital Status : {{ onboardingPreviewData.user.maritalStatus }}</td>
              <td>Joining Date : {{ onboardingPreviewData.user.joiningDate | date : 'dd/MM/yyyy' }}</td>
              <td>Current Salary : {{ onboardingPreviewData.user.currentSalary ? (onboardingPreviewData.user.currentSalary | numberToWord) : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Department : {{ onboardingPreviewData.user.department }}</td>
              <td>Current Position : {{ onboardingPreviewData.user.position }}</td>
              <td>Nationality : {{ onboardingPreviewData.user.nationality }}</td>
            </tr>
            <tr>
              <td>UAN Number : {{ onboardingPreviewData.user.uan }}</td>
              <td>ESI Number : {{ onboardingPreviewData.user.esi }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>


  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/employee-address-detail')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Address Details <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/employee-address-detail')" ></i></p>
                </td>
              </tr>
        </table>

        <tr>
          <td colspan="12">
              <p class="mb-0 subheading">Current Address :</p>
          </td>
      </tr>

        <table class="table table-bordered">

          <tbody class="table-design" *ngIf="onboardingPreviewData.userAddress!=undefined">
            <tr>
              <td colspan="12"> Address Line 1 : {{ onboardingPreviewData.userAddress[0]?.addressLine1 }}</td>
            </tr>
            <tr>
              <td colspan="12"> Address Line 2 : {{ onboardingPreviewData.userAddress[0]?.addressLine2 }}</td>
            </tr>

            <tr>
              <td colspan="3">Pincode : {{ onboardingPreviewData.userAddress[0]?.pincode }}</td>
              <td colspan="3">City : {{ onboardingPreviewData.userAddress[0]?.city }}</td>
              <td colspan="3">State : {{ onboardingPreviewData.userAddress[0]?.state }}</td>
              <td colspan="3">Country : {{ onboardingPreviewData.userAddress[0]?.country }}</td>
            </tr>

          </tbody>
        </table>

        <tr>
          <td colspan="12">
              <p class="mb-0 subheading">Permanent Address :</p>
          </td>
      </tr>
        <table class="table table-bordered">
          <tbody class="table-design" *ngIf="onboardingPreviewData.userAddress!=undefined && onboardingPreviewData.userAddress.length>0" >
            <!-- <tr *ngFor="let address of onboardingPreviewData.userAddress; let i = index">
              <td colspan="4">Complete Address: {{ address.address }}</td>
            </tr> -->
            <tr>
              <td colspan="12"> Address Line 1 : {{ onboardingPreviewData.userAddress[1].addressLine1 }}</td>
            </tr>
            <tr>
              <td colspan="12"> Address Line 2 : {{ onboardingPreviewData.userAddress[1].addressLine2 }}</td>
            </tr>
            <tr>
              <td colspan="3">Pincode: {{ onboardingPreviewData.userAddress[1].pincode }}</td>
              <td colspan="3">City: {{ onboardingPreviewData.userAddress[1].city }}</td>
              <td colspan="3">State: {{ onboardingPreviewData.userAddress[1].state }}</td>
              <td colspan="3">Country: {{ onboardingPreviewData.userAddress[1].country }}</td>
            </tr>
          </tbody>
        </table>
  </div>



  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/employee-document')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Employee Documents <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/employee-document')" ></i></p>
                </td>
              </tr>
        </table>

        <table class="table table-bordered">

          <tbody class="table-design">
              <tr>
                  <td colspan="3" >
                      Aadhaar Card :  {{ aadhaarCardFileName }}</td>

                  <td colspan="3" >
                      Pancard : {{ pancardFileName }}</td>
                </tr>
            <tr>
              <td colspan="3" *ngIf="!isSchoolDocument">
                  10th Marksheet :  {{ secondarySchoolCertificateFileName }}</td>

              <td colspan="3" *ngIf="!isHighSchoolDocument">
                  12th Marksheet : {{ highSchoolCertificateFileName1 }}</td>
            </tr>
            <tr>
              <td colspan="3">
                  Highest Qualification :  {{ highestQualificationDegreeFileName1 }}</td>

                  <td colspan="3" *ngFor="let document of employeeAdditionalDocument; let i = index">
                      {{ document.name }}: {{ document.fileName }}
                  </td>
            </tr>



          </tbody>
        </table>
  </div>




  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/employee-document')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Guarantors <span class="text-optional">(Optional)</span><i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/employee-document')" ></i></p>
                </td>
              </tr>
        </table>

        <table class="table table-bordered">

          <tbody class="table-design" *ngIf="onboardingPreviewData.userGuarantorInformation!=undefined && onboardingPreviewData.userGuarantorInformation.length>0">


            <tr>
              <td>Relation : {{ onboardingPreviewData.userGuarantorInformation[0].relation || 'N/A' }}</td>
              <td>Name : {{ onboardingPreviewData.userGuarantorInformation[0].name || 'N/A'}}</td>
              <td>Phone Number : {{ onboardingPreviewData.userGuarantorInformation[0].phoneNumber || 'N/A'}}</td>
              <td>Email : {{ onboardingPreviewData.userGuarantorInformation[0].emailId ? onboardingPreviewData.userGuarantorInformation[0].emailId : 'N/A' }}</td>
            </tr>

          </tbody>
        </table>
<!--
        <table class="table table-bordered">

          <tbody class="table-design" *ngIf="onboardingPreviewData.userGuarantorInformation!=undefined && onboardingPreviewData.userGuarantorInformation.length>0">


            <tr>
              <td>Relation : {{ onboardingPreviewData.userGuarantorInformation[1].relation }}</td>
              <td>Name : {{ onboardingPreviewData.userGuarantorInformation[1].name }}</td>
              <td>Phone Number : {{ onboardingPreviewData.userGuarantorInformation[1].phoneNumber }}</td>
              <td>Email : {{ onboardingPreviewData.userGuarantorInformation[1].emailId ? onboardingPreviewData.userGuarantorInformation[1].emailId : 'N/A' }}</td>
            </tr>

          </tbody>
        </table> -->
  </div>
  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/acadmic')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol">  Academic Details <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/acadmic')" ></i></p>
                </td>
              </tr>
        </table>

        <table class="table table-bordered">

          <tbody class="table-design">


            <tr>
              <td>Highest Qualification : {{ onboardingPreviewData.userAcademics?.highestEducationalLevel }}</td>
              <td>Degree/Diploma : {{ onboardingPreviewData.userAcademics?.degreeObtained }}</td>
              <td>Field of Study : {{ onboardingPreviewData.userAcademics?.fieldOfStudy }}</td>
            </tr>
            <tr>
            <td>Institution Name : {{ onboardingPreviewData.userAcademics?.institutionName }}</td>
            <td>{{ onboardingPreviewData.userAcademics?.gradeType }} : {{ onboardingPreviewData.userAcademics?.grade }}</td>
            <td>Graduating Year :  {{ onboardingPreviewData.userAcademics?.graduationYear }}</td>
          </tr>

          </tbody>
        </table>
  </div>

  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/employee-experience')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Experience <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/employee-experience')" ></i></p>
                </td>
              </tr>
        </table>
        <div *ngIf="!isFresher">
        <div  *ngFor="let userExperience of userExperienceArray; let i = index">
        <table class="table table-bordered">

          <tbody class="table-design" *ngIf="onboardingPreviewData?.userExperience!=undefined && onboardingPreviewData.userExperience.length>0">
            <tr>
              <td colspan="3">
                  Company Name :  {{userExperience.companyName}}</td>

              <td colspan="3">
                  Duration : {{userExperience.startDate | date : 'dd/MM/yyyy'}} - {{userExperience.endDate | date : 'dd/MM/yyyy'}} </td>

              <td colspan="3">
                  Department :  {{userExperience.lastJobDepartment}}</td>
            </tr>
            <tr>
              <td colspan="3">
                  Last Salary :  {{userExperience.lastSalary | numberToWord }}</td>

              <td colspan="3">
                  Position :  {{userExperience.lastJobPosition}}</td>

              <td colspan="3">
                  Responsibilities :  {{userExperience.jobResponisibilities}}</td>
            </tr>



          </tbody>
        </table>
        </div>
        </div>
        <div *ngIf="isFresher">
          <table class="table table-bordered">
              <tbody class="table-design">
                  <tr>
                      <td colspan="9">Fresher</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>


  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/bank-details')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Bank Details <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/bank-details')" ></i></p>
                </td>
              </tr>
        </table>

        <table class="table table-bordered">

          <tbody class="table-design">


            <tr>
              <td> Account Holder Name : {{ onboardingPreviewData.userBankDetails?.accountHolderName }}</td>
              <td>Bank Name : {{ onboardingPreviewData.userBankDetails?.bankName }}</td>
              <td> Account Number : {{ onboardingPreviewData.userBankDetails?.accountNumber }}</td>
              <td> IFSC Number :  {{ onboardingPreviewData.userBankDetails?.ifsc }}</td>
            </tr>


          </tbody>
        </table>
  </div>

  <div class="onboarding-deta" *ngIf="this.dataService.isRoutePresent('/emergency-contact')">
      <table class="table mb-0">
          <tr style="background-color: #f1f1f1;">
                <td>
                  <p class="mb-0 persnaol"> Emergency Contact <i class="bi bi-pencil-square"  (click)="routeToUserDetails('/employee-onboarding/emergency-contact')" ></i></p>
                </td>
              </tr>
        </table>
        <div  *ngFor="let userEmergencyContact of userEmergencyContactArray; let i = index">
        <table class="table table-bordered">

          <tbody class="table-design" *ngIf="onboardingPreviewData?.userEmergencyContacts!=undefined && onboardingPreviewData.userEmergencyContacts.length>0">


            <tr>
              <td> Relation with Employee : {{userEmergencyContact.relationWithEmployee}}</td>
              <td>Name :  {{userEmergencyContact.contactName}}</td>
              <td>Phone Number  : {{userEmergencyContact.contactNumber}}</td>
            </tr>


          </tbody>
        </table>
        <ng-template #noData>
          <p>No emergency contact information available.</p>
      </ng-template>

        </div>
  </div>



        <!-- Form Details End Here -->
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="dismissPreviewModalButton" #dismissPreviewModalButton>Close</button>
    <button type="button" (click)="saveUserOnboardingFormStatusMethodCall()" aria-label="Save" class="btn btn-primary save-button">
      <div *ngIf="toggle" class="dot-opacity-loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span *ngIf="!toggle">
        Confirm Submission <i class="bi bi-arrow-right " style="padding-left: 8px;"></i>
      </span>
    </button>
  </div>
</div>
  </div>
</div>


