<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>
            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Academic Details</h5>
                    <p class="mb-0">Fields with * are mandatory </p>
                    <form #academicInformationForm="ngForm"  (ngSubmit)="submit()">
                        <div class="form-group">
                    <div class="persnol-info mt-4">
                        <div class="row">


                            <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="highestQualificationDropdown" class="pb-2">Highest Qualification <span class="text-optional">*</span></label>
                                  <input type="hidden"  name="highestQualification" id="highestQualification"  [(ngModel)]="userAcademicsDetailRequest.highestEducationalLevel" required #highestQualification="ngModel">
                                  <div nz-dropdown style="width: 100%;">


                                    <button nz-button nz-dropdown [nzDropdownMenu]="menu1" class="hover-dropdown" type="button" id="highestQualificationDropdown">
                                      {{ selectedQualification || 'Select highest qualification' }}
                                      <span nz-icon nzType="down" class="icon-right"></span>
                                    </button>

                                    <nz-dropdown-menu  #menu1="nzDropdownMenu">
                                      <ul nz-menu class="hover-dropdown-height">
                                        <li nz-menu-item *ngFor="let qualification of qualifications" (click)="selectQualification(qualification)">
                                          {{ qualification }}
                                        </li>
                                      </ul>
                                    </nz-dropdown-menu>
                                    <div *ngIf="highestQualification?.touched || isFormInvalid">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="highestQualification.errors?.required">
                                          <i class="bi bi-exclamation-circle"></i> Highest Qualification selection is required.
                                        </p>
                                      </div>
                                  </div>

                                </div>


                              </div>




                              <div class="col-md-6">
                                <!-- Degree/Diploma Obtained Dropdown -->
                                <div class="mb-3">
                                  <label for="degreeObtained" class="pb-2">Degree/Diploma Obtained <span class="text-optional">*</span></label>
                                  <div nz-dropdown >
                                    <button nz-button nz-dropdown id="degreeObtained" [nzDropdownMenu]="menu4" class="hover-dropdown" type="button">
                                      {{ userAcademicsDetailRequest.degreeObtained || 'Select degree/diploma obtained' }}
                                      <span nz-icon nzType="down" class="icon-right"></span>
                                    </button>
                                    <nz-dropdown-menu #menu4="nzDropdownMenu" id="degreeObtained" name="degreeObtained" >
                                      <ul nz-menu [ngClass]="{'d-none': !selectedQualification, 'hover-dropdown-height': selectedQualification} " >
                                        <li nz-menu-item *ngFor="let degree of degreeOptions[selectedQualification]" (click)="selectDegreeObtained(degree)">
                                          {{ degree }}
                                        </li>
                                      </ul>
                                    </nz-dropdown-menu>
                                    <input type="hidden" (keydown)="preventLeadingWhitespace($event)" [(ngModel)]="userAcademicsDetailRequest.degreeObtained" name="degreeObtained" required #degreeObtained="ngModel">
                                    <div *ngIf="degreeObtained?.touched  || isFormInvalid ">
                                      <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="degreeObtained.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i> Degree/Diploma selection is required.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>






                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="fieldOfStudy" class="pb-2">Field of Study <span class="text-optional">*</span></label>
                                    <input type="text" (keydown)="preventLeadingWhitespace($event)" maxlength="50" class="form-control" id="fieldOfStudy" name="fieldOfStudy" placeholder="Please Enter Field of Study" [(ngModel)]="userAcademicsDetailRequest.fieldOfStudy" required #fieldOfStudy="ngModel">
                                    <!-- Error Message for Field of Study -->
                                    <div *ngIf="fieldOfStudy.touched || isFormInvalid">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="fieldOfStudy.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Field of Study is required.
                                        </p>
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="fieldOfStudy.errors?.maxlength">
                                            <i class="bi bi-exclamation-circle"></i> Maximum 50 characters allowed.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="institutionName" class="pb-2">Institution Name <span class="text-optional">*</span></label>
                                    <input type="text" (keydown)="preventLeadingWhitespace($event)" maxlength="50" class="form-control" id="institutionName" name="institutionName" placeholder="Please Enter Institution Name" [(ngModel)]="userAcademicsDetailRequest.institutionName" required #institutionName="ngModel">
                                    <!-- Error Message for Institution Name -->
                                    <div *ngIf="institutionName.touched  || isFormInvalid  || isFormInvalid">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="institutionName.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Institution Name is required.
                                        </p>
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="institutionName.errors?.maxlength">
                                            <i class="bi bi-exclamation-circle"></i> Maximum 50 characters allowed.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="mb-3">

                                  <label for="grade" class="pb-2">Grade/CGPA <span class="text-optional">*</span></label>
                                  <input type="hidden" name="gradeType" id="gradeType" [(ngModel)]="userAcademicsDetailRequest.gradeType" required #gradeType="ngModel">
                                  <input type="hidden" name="grade" id="grade" [(ngModel)]="userAcademicsDetailRequest.grade" required #grade="ngModel">
                                  <br>
                                  <div class="buttons-container" >
                                    <button type="button" nz-button nz-dropdown class="grade-dropdown" [nzDropdownMenu]="menu5">
                                      {{ userAcademicsDetailRequest.gradeType || 'Select Type' }}
                                      <span nz-icon nzType="down" class="icon-grade-right"></span>
                                    </button>

                                    <div *ngIf="userAcademicsDetailRequest.gradeType === 'Grade'">
                                        <button type="button" nz-button nz-dropdown class="grade-dropdown" [nzDropdownMenu]="menu6">
                                          {{ userAcademicsDetailRequest.grade || 'Select Grade' }}
                                          <span nz-icon nzType="down" class="icon-grade-right"></span>
                                        </button>
                                      </div>

                                      <!-- <input type="number" *ngIf=" userAcademicsDetailRequest.gradeType == 'CGPA'" [max]="10" (keydown)="preventLeadingWhitespace($event)"class="form-control" id="cgpa" name="cgpa" placeholder=" Enter CGPA" [(ngModel)]="userAcademicsDetailRequest.grade" required #cgpa="ngModel"> -->

                                        <nz-input-number *ngIf="userAcademicsDetailRequest.gradeType === 'CGPA'" id="cgpa" name="cgpa"
                                                        [(ngModel)]="userAcademicsDetailRequest.grade"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [nzMin]="1"
                                                        [nzMax]="10"
                                                        [nzStep]="0.1"


                                                        nzPlaceHolder="Enter CGPA">
                                        </nz-input-number>

                                        <nz-input-number id="percentage" name="percentage" *ngIf=" userAcademicsDetailRequest.gradeType == 'Percentage'"
                                        [(ngModel)]="userAcademicsDetailRequest.grade"
                                        [nzMin]="1"
                                        [nzMax]="100"
                                        [nzStep]="1"

                                        [nzFormatter]="formatterPercent"
                                        [nzParser]="parserPercent"
                                        >
                                         </nz-input-number>

                                  </div>

                                  <nz-dropdown-menu #menu5="nzDropdownMenu">
                                    <ul nz-menu>
                                      <li nz-menu-item (click)="selectType('Grade')">Grade</li>
                                      <li nz-menu-item (click)="selectType('CGPA')">CGPA</li>
                                      <li nz-menu-item (click)="selectType('Percentage')">Percentage</li>
                                    </ul>
                                  </nz-dropdown-menu>


                                    <nz-dropdown-menu #menu6="nzDropdownMenu">
                                      <ul nz-menu>
                                        <li nz-menu-item *ngFor="let grade of grades" (click)="selectGrade(grade)">
                                          {{ grade }}
                                        </li>
                                      </ul>
                                    </nz-dropdown-menu>




                                        <!-- Conditionally rendered number input -->
                                        <!-- <nz-input-number id="cgpa" *ngIf=" userAcademicsDetailRequest.gradeType == 'CGPA'"
                                                        [(ngModel)]="temporaryValue"
                                                        nzMin="1"
                                                        nzMax="10"
                                                        nzStep="0.1"
                                                        nzPlaceHolder="Enter CGPA">
                                        </nz-input-number>

                                        <nz-input-number id="percentage" *ngIf=" userAcademicsDetailRequest.gradeType == 'Percentage'"
                                                        [(ngModel)]="userAcademicsDetailRequest.grade"
                                                        nzMin="1"
                                                        nzMax="100"
                                                        nzStep="1"
                                                        >
                                        </nz-input-number> -->



                                  <!-- Error Message for Grade/CGPA (if needed) -->
                                  <div *ngIf="gradeType.dirty  || isFormInvalid">
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="gradeType.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i>
                                        Grade Type is required.
                                    </p>

                                </div>
                                <div *ngIf="grade.dirty  || isFormInvalid && userAcademicsDetailRequest.gradeType == 'Grade' " >
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="grade.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i>
                                        Grade is required.
                                    </p>

                                </div>
                                <div *ngIf="grade.dirty  || isFormInvalid && userAcademicsDetailRequest.gradeType == 'CGPA' " >
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="grade.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i>
                                        CGPA is required.
                                    </p>

                                </div>
                                <div *ngIf="grade.dirty  || isFormInvalid && userAcademicsDetailRequest.gradeType == 'Percentage' " >
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="grade.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i>
                                        Percentage is required.
                                    </p>

                                </div>
                                </div>
                              </div>


                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="greaduationYear" class="pb-2">Graduating Year <span class="text-optional">*</span></label>
                                    <!-- <input type="text" class="form-control" id="greaduationYear" name="greaduationYear" placeholder="Please Enter Passing Year" [(ngModel)]="userAcademicsDetailRequest.graduationYear" required #greaduationYear="ngModel"> -->
                                    <br />
                                     <nz-date-picker id="greaduationYear" name="greaduationYear" mask="0000" (keydown)="preventLeadingWhitespace($event)" [(ngModel)]="userAcademicsDetailRequest.graduationYear" nzMode="year" [nzDisabledDate]="disabledFutureDates" required #greaduationYear="ngModel"></nz-date-picker>
                                    <!-- Error Message for Graduating Year -->
                                    <div *ngIf="greaduationYear.touched  || isFormInvalid">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="greaduationYear.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Graduating Year is required.
                                        </p>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()">
                                        <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                                    </button>
                                </div>
                                <div class="info-btn d-flex justify-content-end" style="gap:10px;">
                                  <!-- Submit Form Button shown if the form status is 'REJECTED' and no update request is pending -->
                                  <div class="info-btn" *ngIf="employeeOnboardingFormStatus == 'REJECTED' && !this.userAcademicsDetailRequest.updateRequest">
                                      <button (click)="selectButtonType('save')" class="btn btn-success save-button" type="button" [disabled]="toggle" aria-label="Save">
                                          <div *ngIf="toggleSave" class="dot-opacity-loader">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                          </div>
                                          <span *ngIf="!toggleSave">
                                              Submit Form <i class="bi bi-save" style="padding-left: 8px;"></i>
                                          </span>
                                      </button>
                                  </div>
                                  <!-- Go Back to Profile Button, shown only if updateRequest is true -->
                                  <div class="info-btn" *ngIf="this.userAcademicsDetailRequest.updateRequest">
                                      <button (click)="goBackToProfile()" class="btn btn-warning" type="button" aria-label="Go Back to Profile">
                                          Go Back to Profile
                                      </button>
                                  </div>
                                  <!-- Conditional Update Button, replaces Next button if updateRequest is true -->
                                  <button *ngIf="this.userAcademicsDetailRequest.updateRequest" (click)="selectButtonType('update')" class="btn btn-info save-button" type="button" aria-label="Update">
                                      <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                      </div>
                                      <span *ngIf="!toggle">
                                          Update <i class="bi bi-pencil-square" style="padding-left: 8px;"></i>
                                      </span>
                                  </button>
                                  <!-- Original Next Button, shown only when updateRequest is not true -->
                                  <button *ngIf="!this.userAcademicsDetailRequest.updateRequest && !this.dataService.isLastRoute('/acadmic')" (click)="selectButtonType('next')" class="btn btn-primary save-button" type="button" [disabled]="toggle" aria-label="Next Step">
                                      <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                      </div>
                                      <span *ngIf="!toggle && isNewUser">
                                          Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                      </span>
                                      <span *ngIf="!toggle && !isNewUser">
                                          Save & Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                      </span>
                                  </button>
                                  <button *ngIf="this.dataService.isLastRoute('/acadmic')" (click)="selectButtonType('preview')" class="btn btn-primary save-button" type="button" [disabled]="toggle"  aria-label="Next Step">
                                    <div *ngIf="toggle" class="dot-opacity-loader">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                    </div>
                                    <span>
                                      Preview Form <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                  </span>
                                  </button>

                              </div>

                                <button type="submit" style="display: none;" id="formSubmitButton"  #formSubmitButton></button>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>

<!-- Success Message Modal -->
<button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
<div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
 <div class="modal-dialog modal-dialog-centered mx-auto">
     <div class="modal-content">
         <div class="modal-body text-center">
             <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
             <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>

             <!-- Conditional Messages -->
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                 Your registration is successful. Pending for verification.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                 Your onboarding is approved.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                 Your onboarding is rejected.
             </p>

             <!-- Edit Button -->

             <button type="button" class="d-none"  data-bs-dismiss="modal" id="dismissSuccessModalButton" #dismissSuccessModalButton>
                 Cancel
               </button>
             <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                 Edit
             </button>
         </div>
     </div>
 </div>
</div>
