<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>
            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Academic Details</h5>
                    <p class="mb-0">Fields with * are mandatory </p>
                    <form #academicInformationForm="ngForm" ngNativeValidate (ngSubmit)="setEmployeeAcademicsMethodCall()">
                        <div class="form-group">
                    <div class="persnol-info mt-4">
                        <div class="row">

                           
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Highest Qualification <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" placeholder="Please Enter Highest Qualification" [(ngModel)]="userAcademicsDetailRequest.highestEducationalLevel" required #highestEducationalLevel="ngModel">
                                    <!-- Error Message for Highest Qualification -->
                                    <div *ngIf="highestEducationalLevel.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="highestEducationalLevel.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Highest Qualification is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="degreeObtained" class="pb-2">Degree/Diploma Obtained <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="degreeObtained" name="degreeObtained" placeholder="Please Enter Degree/Diploma Obtained" [(ngModel)]="userAcademicsDetailRequest.degreeObtained" required #degreeObtained="ngModel">
                                    <!-- Error Message for Degree/Diploma Obtained -->
                                    <div *ngIf="degreeObtained.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="degreeObtained.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Degree/Diploma is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="fieldOfStudy" class="pb-2">Field of Study <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="fieldOfStudy" name="fieldOfStudy" placeholder="Please Enter Field of Study" [(ngModel)]="userAcademicsDetailRequest.fieldOfStudy" required #fieldOfStudy="ngModel">
                                    <!-- Error Message for Field of Study -->
                                    <div *ngIf="fieldOfStudy.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="fieldOfStudy.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Field of Study is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="institutionName" class="pb-2">Institution Name <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="institutionName" name="institutionName" placeholder="Please Enter Institution Name" [(ngModel)]="userAcademicsDetailRequest.institutionName" required #institutionName="ngModel">
                                    <!-- Error Message for Institution Name -->
                                    <div *ngIf="institutionName.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="institutionName.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Institution Name is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="grade" class="pb-2">Grade/CGPA <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="grade" name="grade" placeholder="Please Enter Obtained Grade/CGPA" [(ngModel)]="userAcademicsDetailRequest.grade" required #grade="ngModel">
                                    <!-- Error Message for Grade/CGPA -->
                                    <div *ngIf="grade.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="grade.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Grade/CGPA is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="greaduationYear" class="pb-2">Graduating Year <span class="text-optional">*</span></label>
                                    <input type="text" class="form-control" id="greaduationYear" name="greaduationYear" placeholder="Please Enter Passing Year" [(ngModel)]="userAcademicsDetailRequest.graduationYear" required #greaduationYear="ngModel">
                                    <!-- Error Message for Graduating Year -->
                                    <div *ngIf="greaduationYear.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="greaduationYear.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Graduating Year is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                            

                             <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()"><i class="bi bi-arrow-left" style="padding-right: 8px; "></i> Back</button>
                                </div>
                                <div class="info-btn d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit" [disabled]="toggle" aria-label="Next Step">
                                        <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                        </div>
                                        <span *ngIf="!toggle">
                                          Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                        </span>
                                      </button>
                                </div>
                             </div>
                        </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>