<div class="d-flex justify-content-between mt-3">
  <div class="back-btns-box pointer d-flex align-items-center gap-2" (click)="back()">
    <i class="bi bi-chevron-left"></i>
    <span class="font-14 fw-semibold">Salary Changes, Bonus & Overtime</span>
  </div>
</div>

<ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#salaryChanges" type="button" [class.disabled]="step < SALARY_CHANGE" 
      role="tab" aria-controls="salaryChanges" aria-selected="true" (click)="selectTab(SALARY_CHANGE)" #step7Tab>Salary Changes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#bonus" type="button" [class.disabled]="step < BONUS"
      role="tab" aria-controls="bonus" aria-selected="false" (click)="selectTab(BONUS)" #step8Tab>Bonus</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#overtime" type="button" [class.disabled]="step < OVERTIME"
      role="tab" aria-controls="overtime" aria-selected="false" (click)="selectTab(OVERTIME)" #step9Tab>Overtime</button>
  </li>
  <button type="button" class="btn btn-primary text-center position-absolute" style="right:20px; width :150px" 
      *ngIf="step <= OVERTIME" (click)="updatePayrollStep()">
    <span *ngIf="!processing">
      <span *ngIf="SALARY_CHANGE == CURRENT_TAB">Save & Next</span>
      <span *ngIf="BONUS == CURRENT_TAB">Save & Next</span>
      <span *ngIf="OVERTIME == CURRENT_TAB">Submit</span>
    </span>
      <div class="dot-opacity-loader" *ngIf="processing">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </button>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="salaryChanges" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="table-responsive">
      <div class="col-md-12 mt-2 mb-3">
        <div class="form-group position-relative">
          <input type="text" id="search" placeholder="Search by name and email"
            class="form-control me-2 ng-untouched ng-pristine ng-valid" style="padding: 10px 30px"
            (keyup)="searchDebounce($event)" (paste)="searchDebounce($event)" [(ngModel)]="search"
            [ngModelOptions]="{ standalone: true }" />

          <i *ngIf="search.length > 0" (click)="resetSearch()" class="bi bi-x search-icon"
            style="font-size: 20px !important; margin: auto; margin-left: 10px"></i>

          <i *ngIf="search.length == 0" class="bi bi-search search-icon" style="margin: auto; margin-left: 10px"></i>
        </div>
      </div>
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Effective Date</th>
            <th>Previous CTC</th>
            <th>Updated CTC</th>
          </tr>
        </thead>
        <ng-container
          *ngIf="isShimmerForSalaryChangeResponse && salaryChangeResponseList.length == 0; else salaryChangeResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center" *ngFor="let e of [].constructor(6)">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #salaryChangeResponseListCondition>
          <ng-container
            *ngIf="!isShimmerForSalaryChangeResponse && salaryChangeResponseList.length > 0; else errorInFetchingSalaryChangeResponseListCondition">
            <tbody *ngFor="let salaryChangeResponse of salaryChangeResponseList">
              <tr>
                <td>{{ salaryChangeResponse.name }}</td>
                <td>{{ salaryChangeResponse.email || 'N/A'}}</td>
                <td>{{ salaryChangeResponse.phone || 'N/A'}}</td>
                <td>{{ salaryChangeResponse.effectiveDate | date: 'fullDate'}}</td>
                <td>{{ salaryChangeResponse.previousCtc }}</td>
                <td>{{ salaryChangeResponse.updatedCtc }}</td>
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorInFetchingSalaryChangeResponseListCondition>
          <tbody *ngIf="
                        networkConnectionErrorPlaceHolderForSalaryChangeResponse">
            <tr>
              <td colspan="8">
                <div class="errorboxmain">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForSalaryChangeResponse &&
          !networkConnectionErrorPlaceHolderForSalaryChangeResponse
        ">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
  <div class="tab-pane fade" id="bonus" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="table-responsive">
      <div class="col-md-12 mt-2 mb-3">
        <div class="form-group position-relative">
          <input type="text" id="search" placeholder="Search by name and email"
            class="form-control me-2 ng-untouched ng-pristine ng-valid" style="padding: 10px 30px"
            (keyup)="searchDebounce($event)" (paste)="searchDebounce($event)" [(ngModel)]="search"
            [ngModelOptions]="{ standalone: true }" />

          <i *ngIf="search.length > 0" (click)="resetSearch()" class="bi bi-x search-icon"
            style="font-size: 20px !important; margin: auto; margin-left: 10px"></i>

          <i *ngIf="search.length == 0" class="bi bi-search search-icon" style="margin: auto; margin-left: 10px"></i>
        </div>
      </div>
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Amount</th>
        </thead>
        <ng-container
          *ngIf="isShimmerForSalaryChangeBonusResponse && salaryChangeBonusResponseList.length == 0; else salaryChangeBonusResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center" *ngFor="let e of [].constructor(4)">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #salaryChangeBonusResponseListCondition>
          <ng-container *ngIf="
                  !isShimmerForSalaryChangeBonusResponse &&
                  salaryChangeBonusResponseList.length > 0;
                  else errorInFetchingSalaryChangeBonusResponseListCondition
                ">
            <tbody *ngFor="
                    let salaryChangeBonusResponse of salaryChangeBonusResponseList">
              <tr>
                <td>{{ salaryChangeBonusResponse.name }}</td>
                <td>{{ salaryChangeBonusResponse.email || 'N/A'}}</td>
                <td>{{ salaryChangeBonusResponse.phone || 'N/A'}}</td>
                <td>{{ salaryChangeBonusResponse.totalAmt }}</td>
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorInFetchingSalaryChangeBonusResponseListCondition>
          <tbody *ngIf="networkConnectionErrorPlaceHolderForSalaryChangeBonusResponse">
            <tr>
              <td colspan="8">
                <div class="errorboxmain">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForSalaryChangeBonusResponse &&
          !networkConnectionErrorPlaceHolderForSalaryChangeBonusResponse">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
  <div class="tab-pane fade" id="overtime" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="table-responsive">
      <div class="col-md-12 mt-2 mb-3">
        <div class="form-group position-relative">
          <input type="text" id="search" placeholder="Search by name and email"
            class="form-control me-2 ng-untouched ng-pristine ng-valid" style="padding: 10px 30px"
            (keyup)="searchDebounce($event)" (paste)="searchDebounce($event)" [(ngModel)]="search"
            [ngModelOptions]="{ standalone: true }" />

          <i *ngIf="search.length > 0" (click)="resetSearch()" class="bi bi-x search-icon"
            style="font-size: 20px !important; margin: auto; margin-left: 10px"></i>

          <i *ngIf="search.length == 0" class="bi bi-search search-icon" style="margin: auto; margin-left: 10px"></i>
        </div>
      </div>
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Overtime Count</th>
            <th>Overtime HRS.</th>
          </tr>
        </thead>
        <ng-container
          *ngIf="isShimmerForSalaryChangeOvertimeResponse && salaryChangeOvertimeResponseList.length == 0; else salaryChangeOvertimeResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center" *ngFor="let item of [].constructor(5)">
                <ngx-shimmer-loading [width]="'100%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #salaryChangeOvertimeResponseListCondition>
          <ng-container *ngIf="
                  !isShimmerForSalaryChangeOvertimeResponse &&
                  salaryChangeOvertimeResponseList.length != 0;
                  else errorWhileFetchingSalaryChangeOvertimeResponseListCondition
                ">
            <tbody *ngFor="let salaryChangeOvertimeResponse of salaryChangeOvertimeResponseList">
              <tr>
                <td>{{ salaryChangeOvertimeResponse.name }}</td>
                <td>{{ salaryChangeOvertimeResponse.email }}</td>
                <td>{{ salaryChangeOvertimeResponse.email }}</td>
                <td>{{ salaryChangeOvertimeResponse.overtimeCount }}</td>
                <td>{{ salaryChangeOvertimeResponse.overtimeHour | durationFormat }}</td>
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorWhileFetchingSalaryChangeOvertimeResponseListCondition>
          <tbody *ngIf="networkConnectionErrorPlaceHolderForSalaryChangeOvertimeResponse">
            <tr>
              <td colspan="8">
                <div class="errorboxmain">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForSalaryChangeOvertimeResponse &&
          !networkConnectionErrorPlaceHolderForSalaryChangeOvertimeResponse">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between pagination-box w-100 p-3 bg-white border-top" *ngIf="totalItems > 0">
    <p class="mb-0 font-13"> Showing {{_helperService.startIndex(pageNumber,itemPerPage) }} - {{_helperService.lastIndex(pageNumber,itemPerPage,totalItems)}} of {{ totalItems }} results</p>
      <div class="pagition-box">
        <ngb-pagination [collectionSize]="totalItems" [page]="pageNumber" [pageSize]="itemPerPage" [maxSize]="5"
          [boundaryLinks]="true" [ellipses]="true" (pageChange)="pageChange($event)">
        </ngb-pagination>
      </div>
    </div>
</div>