   .skip-btn {
        border-radius: 6px;
        border: 2px solid #6666f4;
        font-size: 14px;
        font-weight: 500;
        height: 45px;
        min-width: 120px;
    }
    .skip-btn-para {
        font-weight: 400 !important;
        font-size: 13px !important;
        line-height: 18px !important;
        color: #878a9a !important;
        margin-bottom: 0 !important;
        margin-top: 15px;
    }
    .rule-main-box {
        border-radius: 6px;
        border: 1px solid #f5f5f5;
        margin-bottom: 10px;
    }
    .attendance-boxx {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid #f5f5f5;
    }
    .late-rule h5 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 14px;
        line-height: 24px;
    }
    .late-btn {
        width: 30%;
        text-align: right;
    }
    .late-btn a {
        color: #6666f3 !important;
        font-size: 13px;
        font-weight: 500;
    }
    .late-btn .delete-rule {
        color: red !important;
        font-size: 13px !important;
        font-weight: 500 !important;
    }
    .late-btn a i {
        padding-right: 5px;
        position: relative;
        top: -1px;
    }
    .shift-deta {
        background-color: #f5f8fa;
        border-radius: 2px;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .shift-deta p {
        font-size: 11px;
        font-weight: 400;
        color: #000;
    }
    .attendance-boxx {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 1px solid #f5f5f5;
    }
    .late-rule h5 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 14px;
        line-height: 24px;
    }
    .in-time span {
        font-size: 10px;
        font-weight: 400;
    }
    .errorboxmain {
        min-height: 40vh;
    }
    /* Pushpendra's Code  */
    .card-header{
        border: 0;
        border-bottom: 1px dashed #e8ebf3;
    }
    .btn.add-shift-time {
        font-size: 14px !important;
        font-weight: 500;
        color: #6666f4 !important;
    }