<div class="employee-preview-main">
    <div class="container">
       <div class="row">
        <div class="col-md-12">
            <div class="employee-previeww">



                <!-- <div class="row">

                    <div class="col-md-12 mb-3">
                        <div class="persnol-details">
                            <h5>Personal Information</h5>
                        </div>
                    </div>
                   
                    <div class="col-md-4">
                        <div class="detail-deta">
                            <p class="mb-0">Name - N/A</p>
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="detail-deta">
                                <p class="mb-0">Email Id - N/A</p>
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Phone - N/A</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">DOB - N/A</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Gender - N/A</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Father's Name - N/A</p>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Marital Status - N/A</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Joining Date - N/A</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Current Salary - N/A</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Department - N/A</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Current Position - N/A</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="detail-deta">
                                    <p class="mb-0">Nationality - N/A</p>
                                </div>
                            </div>



                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="persnol-details">
                                        <h5>Address Details  </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="text-left" style="text-align: left;">
                                            <h6> Current Address</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="detail-deta">
                                            <p class="mb-0">Complete Address - N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="detail-deta">
                                            <p class="mb-0">Pincode - N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0">City - N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0">State - N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0">Country - N/A</p>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <div class="text-left" style="text-align: left;">
                                        <h6> Permanent Address</h6>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="detail-deta">
                                        <p class="mb-0">Complete Address - N/A</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="detail-deta">
                                        <p class="mb-0">Pincode - N/A</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">City - N/A</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">State - N/A</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">Country - N/A</p>
                                    </div>
                                </div>
                        </div>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="persnol-details">
                                        <h5>Employee Documents</h5>
                                    </div>
                                </div>
                               
                                <div class="col-md-6">
                                    <div class="detail-deta">
                                        <p class="mb-0">10th Marksheet - N/A</p>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                        <div class="detail-deta">
                                            <p class="mb-0">12th Marksheet - N/A</p>
                                        </div>
                                    </div>
                                        <div class="col-md-6">
                                            <div class="detail-deta">
                                                <p class="mb-0">Highest Qualification - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="detail-deta">
                                                <p class="mb-0">Testimonials - N/A</p>
                                            </div>
                                        </div>


                                        <div class="col-md-12 mb-2">
                                            <div class="text-left" style="text-align: left;">
                                                <h6>Guarantors</h6>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Name - N/A</p>
                                            </div>
                                        </div>
            
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Phone Number - N/A</p>
                                            </div>
                                        </div>
            
            
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Email - N/A</p>
                                            </div>
                                        </div>
            
                                    
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="persnol-details">
                                        <h5>Academic Details</h5>
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">Highest Qualification - N/A</p>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0">Degree/Diploma - N/A</p>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Field of Study - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Institution Name - N/A</p>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Grade/CGPA - N/A</p>
                                            </div>
                                        </div>
            
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Graduating Year - N/A</p>
                                            </div>
                                        </div>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="persnol-details">
                                        <h5> Experience</h5>
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">Company Name - N/A</p>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0"> Duration - N/A</p>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Department - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Last Salary - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Position - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Responisibilities - N/A</p>
                                            </div>
                                        </div>
                            </div>
                           


                            <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="persnol-details">
                                        <h5> Bank Details</h5>
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">Account Holder Name - N/A</p>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0"> Bank Name - N/A</p>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Account Number - N/A</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">IFSC Number - N/A</p>
                                            </div>
                                        </div>
                            </div>


                            <div class="row mt-3">
                                <div class="col-md-12 mb-3">
                                    <div class="persnol-details">
                                        <h5> Emergency Contact</h5>
                                    </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <div class="detail-deta">
                                        <p class="mb-0">Relation with Employee - N/A</p>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                        <div class="detail-deta">
                                            <p class="mb-0">Name - N/A</p>
                                        </div>
                                    </div>
                                        <div class="col-md-4">
                                            <div class="detail-deta">
                                                <p class="mb-0">Phone Number - N/A</p>
                                            </div>
                                        </div>
                            </div>
                        </div> -->
            <div class="row align-items-center mt-3 mb-4">
                <div class="col-md-6">
                    <div class="oonbording-bhadding">
                        <h1> Employee Onboarding Form</h1>

                        <p>Status - <span class="pending-status">Pending</span></p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oonbording-logo text-end">
                        <img src="https://www.hajiri.in/assets/images/HAjiRi.svg" style="width: 150px;">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="onboarding-deta mb-3">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol">  Personal Information</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                              <tr>
                                <td>Name : Yogesh Yadav</td>
                                <td>Email : yogesh@krenai.com</td>
                                <td>Phone : 9549901868</td>
                              </tr>
                              <tr>
                                <td>DOB : 13-06-1996</td>
                                <td>Gender : Male</td>
                                <td>Father's Name :   Kamal Singh</td>
                              </tr>
                              <tr>
                                <td>Marital Status : Singl</td>
                                <td>Joining Date : 27-03-2023</td>
                                <td>Current Salary : N/A</td>
                              </tr>
                              <tr>
                                <td>Department : IT</td>
                                <td>Current Position : Frontend Designer</td>
                                <td>Nationality : Indian</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>


                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol">  Address Details (Permanent Address)</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                              <tr>
                                <td colspan="4"> Complete Address : N/A</td>
                              </tr>
                            
                              <tr>
                                <td>Pincode : 301714</td>
                                <td>City : Gurgoan</td>
                                <td>State : Gurgoan</td>
                                <td>Country : India</td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol">  Address Details  (Current Address)</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                              <tr>
                                <td colspan="4"> Complete Address : N/A</td>
                              </tr>
                            
                              <tr>
                                <td>Pincode : 301714</td>
                                <td>City : Gurgoan</td>
                                <td>State : Gurgoan</td>
                                <td>Country : India</td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol"> Employee Documents</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                              <tr>
                                <td colspan="3"> 
                                    10th Marksheet :  Pdf Name</td>
                              </tr>
                              <tr>
                                <td colspan="3"> 
                                    12th Marksheet : Pdf Name</td>
                              </tr>
                              <tr>
                                <td colspan="3"> 
                                    Highest Qualification :  Pdf Name</td>
                              </tr>
                              <tr>
                                <td colspan="3"> 
                                    Testimonials :  N/A</td>
                              </tr>
                            
                              
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol"> Guarantors</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                            
                            
                              <tr>
                                <td>Name : Sumit</td>
                                <td>Phone Number : 9911909533</td>
                                <td>Email : sumit@krenai.com</td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>
                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol">  Academic Details</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                            
                            
                              <tr>
                                <td>Highest Qualification : BA</td>
                                <td>Degree/Diploma : Degree</td>
                                <td>Field of Study : Art</td>
                              </tr>
                              <tr>
                              <td>Institution Name : BA</td>
                              <td>Grade/CGPA : B</td>
                              <td>Graduating Year :  2018</td>
                            </tr>
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol"> Bank Details</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                            
                            
                              <tr>
                                <td> Account Holder Name : Yogesh Kumar</td>
                                <td>Bank Name : ICICI Bank</td>
                                <td> Account Number : 1234567890</td>
                                <td> IFSC Number :  DFGHJ1234</td>
                              </tr>
                             
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="onboarding-deta">
                        <table class="table mb-0">
                            <tr style="background-color: #f1f1f1;">
                                  <td>
                                    <p class="mb-0 persnaol"> Emergency Contact</p>
                                  </td>
                                </tr>
                          </table>

                          <table class="table table-bordered">
                         
                            <tbody class="table-design">
                            
                            
                              <tr>
                                <td> Relation with Employee : Father</td>
                                <td>Name :  Kamal Singh</td>
                                <td>Phone Number  : 9549901868</td>
                              </tr>
                              <tr>
                              <td>
                                Last Salary : BA</td>
                              <td>Position : website Designer</td>
                              <td>Responisibilities :  Designer</td>
                            </tr>
                              
                            </tbody>
                          </table>
                    </div>


                </div>

            </div>
           
            </div>
        </div>
       </div>
    </div>
</div>