<app-employee-onboarding-sidebar></app-employee-onboarding-sidebar>

<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="personal-details">
                        <h5>Address Details</h5>
                        <p class="mb-0">Fields with * are mandatory</p>

                        <div class="personal-info mt-4">
                            <div class="row">
                                <!-- <div class="mb-2">
                                    <h6 class="current-address">Current Address</h6>
                                </div> -->

                                <!-- Current Address Inputs -->
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="currentVillage" class="pb-2">Complete Address</label>
                                        <input type="text" class="form-control" id="currentVillage" name="currentVillage" placeholder="House/Floor No. Building Name or Street, Locality" [(ngModel)]="userAddressDetailsRequest.currentAddress">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="currentPincode" class="pb-2">Pincode</label>
                                        <input type="text" class="form-control" id="currentPincode" name="currentPincode" placeholder="Enter Pincode" [(ngModel)]="userAddressDetailsRequest.currentPincode">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="currentCity" class="pb-2">City</label>
                                        <input type="text" class="form-control" id="currentCity" name="currentCity" placeholder="Enter City" [(ngModel)]="userAddressDetailsRequest.currentCity">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="currentState" class="pb-2">State</label>
                                        <input type="text" class="form-control" id="currentState" name="currentState" placeholder="Enter State" [(ngModel)]="userAddressDetailsRequest.currentState">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="currentCountry" class="pb-2">Country</label>
                                        <input type="text" class="form-control" id="currentCountry" name="currentCountry" placeholder="Enter Country" [(ngModel)]="userAddressDetailsRequest.currentCountry">
                                    </div>
                                </div>

                                <!-- Checkbox for Permanent Address -->
                                <div class="col-md-12 mt-3 mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="!isPermanent" (click)="showPermanent()">
                                        <label class="form-check-label" for="exampleCheck1">Is your current address the same as the permanent address?</label>
                                    </div>
                                </div>

                                <!-- Permanent Address Inputs -->
                                <div class="row" *ngIf="isPermanent">
                                    <div class="mb-2">
                                        <h6 class="current-address">Permanent Address</h6>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="permanentVillage" class="pb-2">Complete Address</label>
                                            <input type="text" class="form-control" id="permanentVillage" name="permanentVillage" placeholder="House/Floor No. Building Name or Street, Locality" [(ngModel)]="userAddressDetailsRequest.permanentAddress">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="permanentPincode" class="pb-2">Pincode</label>
                                            <input type="text" class="form-control" id="permanentPincode" name="permanentPincode" placeholder="Enter Pincode" [(ngModel)]="userAddressDetailsRequest.permanentPincode">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="permanentCity" class="pb-2">City</label>
                                            <input type="text" class="form-control" id="permanentCity" name="permanentCity" placeholder="Enter City" [(ngModel)]="userAddressDetailsRequest.permanentCity">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="permanentState" class="pb-2">State</label>
                                            <input type="text" class="form-control" id="permanentState" name="permanentState" placeholder="Enter State" [(ngModel)]="userAddressDetailsRequest.permanentState">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="permanentCountry" class="pb-2">Country</label>
                                            <input type="text" class="form-control" id="permanentCountry" name="permanentCountry" placeholder="Enter Country" [(ngModel)]="userAddressDetailsRequest.permanentCountry">
                                        </div>
                                    </div>
                                </div>

                                <!-- Navigation Buttons -->
                                <div class="col-md-12 d-flex justify-content-between mt-3">
                                    <div class="info-btn d-flex justify-content-start">
                                        <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()" >
                                            <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                                        </button>
                                    </div>
                                    <div class="info-btn d-flex justify-content-end">
                                        <button class="btn btn-primary" type="button" (click)="setEmployeeAddressDetailsMethodCall(); routeToUserDetails()">
                                            Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
