<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->
<div class="page-wrapper">
    <div class="page-content-tab">
       
        <div class="container-fluid">
             <!-- Loader -->
            <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>

            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                    <div class="personal-details">
                        <h5>Employee Experience</h5>
                        <p class="mb-0">Fields with * are mandatory</p>
                        <form #experienceInformationForm="ngForm" ngNativeValidate (ngSubmit)="submit()">
                            <!-- Loop for Experience Fields -->

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="experienceType" id="fresherRadio" [(ngModel)]="userExperiences[0].fresher" [value]="true">
                                        <label class="form-check-label" for="fresherRadio">
                                          Fresher
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Radio Button -->
                            <div class="col-md-3" >
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="experienceType" id="experienceRadio" [(ngModel)]="userExperiences[0].fresher" [value]="false">
                                        <label class="form-check-label" for="experienceRadio">
                                            Experience
                                        </label>
                                    </div>
                                </div>
                            </div>
                           
                            <div *ngFor="let experience of userExperiences; let i = index" class="personal-info mt-4">
                                <div *ngIf="!userExperiences[0].fresher">
                                <div class="row">
                                <!-- Fresher Radio Button -->
                            </div>
                            
                                <!-- Experience Fields (Hidden for Freshers) -->
                                <div class="row">
                                    <!-- Company Name Field -->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="companyName{{i}}" class="pb-2">Company Name <span class="text-optional">*</span></label>
                                            <input type="text" class="form-control" id="companyName{{i}}" name="companyName" placeholder="Company name" [(ngModel)]="experience.companyName" required #companyNameField="ngModel" [ngModelOptions]="{standalone: true}">
                                            <!-- Error Message for Company Name Field -->
                                            <div *ngIf="companyNameField.touched">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="companyNameField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Company Name is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="pb-2">Duration <span class="text-optional">*</span></label>
                                    
                                            <!-- Duration From -->
                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" id="durationFrom{{i}}" name="durationFrom" placeholder="From" [(ngModel)]="experience.startDate" required #durationFromField="ngModel" [max]="experience.endDate" [ngModelOptions]="{standalone: true}">
                                                    <!-- Error Message for Duration From -->
                                                    <div *ngIf="durationFromField.touched">
                                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="durationFromField.errors?.required">
                                                            <i class="bi bi-exclamation-circle"></i>
                                                            Duration From is required.
                                                        </p>
                                                    </div>
                                                </div>
                                    
                                                <!-- Duration Till -->
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" id="durationTill{{i}}" name="durationTill" placeholder="Till" [(ngModel)]="experience.endDate" required #durationTillField="ngModel" [min]="experience.startDate" [ngModelOptions]="{standalone: true}">
                                                    <!-- Error Message for Duration Till -->
                                                    <div *ngIf="durationTillField.touched">
                                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="durationTillField.errors?.required">
                                                            <i class="bi bi-exclamation-circle"></i>
                                                            Duration Till is required.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                        <div class="col-md-6">
                                            <label for="lastJobDepartmentDropdown{{i}}" class="pb-2">Department <span class="text-optional">*</span></label>
                                            <div class="dropdown" style="width: 100%;">
                                                <button type="button" id="lastJobDepartmentDropdown{{i}}" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="lastJobDepartment">
                                                    {{ experience.lastJobDepartment || 'Select Department' }}
                                                    <i class="bi bi-chevron-down"></i>
                                                </button>
                                                <ul [attr.aria-labelledby]="'lastJobDepartmentDropdown'" class="dropdown-menu department-dropdown" style="width: 100%;" >
                                                    <li *ngFor="let dept of departments"><a class="dropdown-item" (click)="selectDepartmentForExperience(dept, i)">{{ dept }}</a></li>
                                                </ul>
                                            </div>
                                            <input type="hidden" [(ngModel)]="experience.lastJobDepartment" required #lastJobDepartmentField="ngModel" [ngModelOptions]="{standalone: true}">
                                            <!-- Error Message for Department -->
                                            <div *ngIf="lastJobDepartmentField.touched">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobDepartmentField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Department is required.
                                                </p>
                                            </div>
                                        </div>
                                   
                                    
                                    
                                    
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastSalary{{i}}" class="pb-2">Last Salary <span class="text-optional">*</span></label>
                                            <input type="text" mask="0000000000" class="form-control " id="lastSalary{{i}}" name="lastSalary" placeholder="Last salary" [(ngModel)]="experience.lastSalary" required #lastSalaryField="ngModel" [ngModelOptions]="{standalone: true}">
                                            <!-- Error Message for Last Salary -->
                                            <div *ngIf="lastSalaryField.touched">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastSalaryField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Last Salary is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lastJobPositionDropdown{{i}}" class="pb-2">Position <span class="text-optional">*</span></label>
                                        <div class="dropdown" style="width: 100%;">
                                            <button type="button" id="lastJobPositionDropdown{{i}}" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="lastJobPosition">
                                                {{ experience.lastJobPosition || 'Select Position' }}
                                                <i class="bi bi-chevron-down"></i>
                                            </button>
                                            <ul [attr.aria-labelledby]="'lastJobPositionDropdown'" class="dropdown-menu department-dropdown" style="width: 100%;">
                                                <li *ngFor="let title of jobTitles"><a class="dropdown-item" (click)="selectPositionForExperience(title, i)">{{ title }}</a></li>
                                            </ul>
                                        </div>
                                        <input type="hidden" [(ngModel)]="experience.lastJobPosition" required #lastJobPositionField="ngModel" [ngModelOptions]="{standalone: true}">
                                        <!-- Error Message for Position -->
                                        <div *ngIf="lastJobPositionField.touched">
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobPositionField.errors?.required">
                                                <i class="bi bi-exclamation-circle"></i>
                                                Position is required.
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastJobResponsibilities{{i}}" class="pb-2">Responsibilities <span class="text-optional">*</span></label>
                                            <textarea class="form-control" id="lastJobResponsibilities{{i}}" name="lastJobResponsibilities" placeholder="Responsibilities" [(ngModel)]="experience.jobResponisibilities" rows="5" required #lastJobResponsibilitiesField="ngModel" [ngModelOptions]="{standalone: true}"></textarea>
                                            <!-- Error Message for Responsibilities -->
                                            <div *ngIf="lastJobResponsibilitiesField.touched">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobResponsibilitiesField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Responsibilities are required. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- <div class="col-md-12">
                                    <span class="delete-icon" (click)="deleteExperience(i)">
                                        <i class="bi bi-trash" style="color: red;"></i> Delete
                                    </span>
                                </div> -->
                        
                        <div class="row align-items-center">
                            
                            <!-- Delete Button -->
                            <div class="add-filtter d-flex justify-content-end " *ngIf="userExperiences.length!=1">
                                <a type="button" style="color: red;" (click)="deleteExperience(i)"><i class="bi bi-trash" style="font-size: 16px;"></i> Delete</a>
                            </div>
                            <!-- <div class="col-md-6 " style="text-align: right;">
                                
                            </div> -->
                        </div>
                    </div>
               
                        <!-- Navigation Buttons -->
                    </div> 
                        </div>
                        <button type="submit" style="display: none;" id="formSubmitButton" #formSubmitButton></button>
                        <!-- </div> -->
                    </form>
                    <!-- Add More Button -->
                    <div class="row align-items-center">
                        <div class="col-md-6" *ngIf="!userExperiences[0].fresher">
                            <div class="add-filtter">
                                <a type="button" (click)="addExperience()">
                                    <i class="bi bi-plus" style="font-size: 23px;"></i> Add More
                                </a>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between mt-3">
                            <div class="info-btn d-flex justify-content-start">
                                <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()">
                                    <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                                </button>
                            </div>
                            <div class="info-btn d-flex justify-content-end" style="gap:10px;">
                                <div class="info-btn" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                                    <button (click)="selectButtonType('save')" class="btn btn-success save-button" type="button" [disabled]="toggle" aria-label="Save">
                                        <div *ngIf="toggleSave" class="dot-opacity-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <span *ngIf="!toggleSave">
                                            Submit Form <i class="bi bi-save" style="padding-left: 8px;"></i>
                                        </span>
                                    </button>
                                </div>
                                <button (click)="selectButtonType('next')" class="btn btn-primary" type="button" [disabled]="toggle" aria-label="Next Step">
                                    <div *ngIf="toggle" class="dot-opacity-loader">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                    </div>
                                    <span *ngIf="!toggle && isNewUser">
                                        Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                    </span>
                                    <span *ngIf="!toggle && !isNewUser">
                                      Save & Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                  </span>
                                  </button>
                            </div>
                            <!-- <button type="submit" style="display: none;" id="formSubmitButton" #formSubmitButton></button> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Success Message Modal -->
<button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
<div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
 <div class="modal-dialog modal-dialog-centered mx-auto">
     <div class="modal-content">
         <div class="modal-body text-center">
             <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
             <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>
             
             <!-- Conditional Messages -->
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                 Your registration is successful. Pending for verification.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                 Your onboarding is approved.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                 Your onboarding is rejected.
             </p>

             <!-- Edit Button -->

             <button type="button" class="d-none"  data-bs-dismiss="modal" id="dismissSuccessModalButton" #dismissSuccessModalButton>
                 Cancel
               </button>
             <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                 Edit
             </button>
         </div>
     </div>
 </div>
</div>