<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->
<div class="page-wrapper">
    <div class="page-content-tab">

        <div class="container-fluid">
             <!-- Loader -->
            <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>

            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                    <div class="personal-details">
                        <h5>Employee Experience</h5>
                        <p class="mb-0">Fields with * are mandatory</p>
                        <form #experienceInformationForm="ngForm"  (ngSubmit)="submit()">
                            <!-- Loop for Experience Fields -->

                        <br>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <!-- Fresher Radio Button -->
                            <input type="radio" class="btn-check" name="btnradio1" id="btnradio1" autocomplete="off"
                                   [(ngModel)]="userExperiences[0].fresher" [value]="true">
                            <label class="btn" [class.btn-custom-selected]="userExperiences[0].fresher === true" [class.btn-outline-primary]="userExperiences[0].fresher !== true" for="btnradio1">Fresher</label>

                            <!-- Experience Radio Button -->
                            <input type="radio" class="btn-check" name="btnradio2" id="btnradio2" autocomplete="off"
                                   [(ngModel)]="userExperiences[0].fresher" [value]="false">
                            <label class="btn" [class.btn-custom-selected]="userExperiences[0].fresher === false" [class.btn-outline-primary]="userExperiences[0].fresher !== false" for="btnradio2">Experience</label>
                          </div>


                            <!-- <div class="col-md-3">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="experienceType" id="fresherRadio" [(ngModel)]="userExperiences[0].fresher" [value]="true">
                                        <label class="form-check-label" for="fresherRadio">
                                          Fresher
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" >
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="experienceType" id="experienceRadio" [(ngModel)]="userExperiences[0].fresher" [value]="false">
                                        <label class="form-check-label" for="experienceRadio">
                                            Experience
                                        </label>
                                    </div>
                                </div>
                            </div> -->
                            <div *ngFor="let experience of userExperiences; let i = index" class="personal-info mt-4">
                                <div *ngIf="!userExperiences[0].fresher">
                                <div class="row">
                                <!-- Fresher Radio Button -->
                                </div>

                                <!-- Experience Fields (Hidden for Freshers) -->
                                <div class="row">
                                    <!-- Company Name Field -->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="companyName{{i}}" class="pb-2">Company Name <span class="text-optional">*</span></label>
                                            <input type="text" class="form-control" (keydown)="preventWhitespace($event)" maxlength="30" id="companyName{{i}}" name="companyName{{i}}" placeholder="Company name" [(ngModel)]="experience.companyName" required #companyNameField="ngModel" >
                                            <!-- Error Message for Company Name Field -->
                                            <div *ngIf="companyNameField.touched  || isFormInvalid">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="companyNameField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Company Name is required.
                                                </p>
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="companyNameField.errors?.maxlength">
                                                    <i class="bi bi-exclamation-circle"></i> Maximum 30 characters allowed.
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="duration{{i}}" class="pb-2">Duration <span class="text-optional">*</span></label>
                                            <br>
                                            <!-- NZ Range Picker -->
                                            <nz-range-picker
                                            (keydown)="preventLeadingWhitespace($event)"
                                            id="duration{{i}}" name="duration{{i}}"
                                                nzBorderless
                                                [(ngModel)]="experience.dateRange"
                                                required
                                                #rangePicker="ngModel"
                                                (ngModelChange)="onDateRangeChange($event, i)"
                                                [nzDisabledDate]="disabledDate"
                                                >
                                            </nz-range-picker>

                                            <!-- Error Messages for Range Picker -->
                                            <div *ngIf="rangePicker.touched || isFormInvalid">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="rangePicker.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Duration is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>



                                        <!-- <div class="col-md-6">
                                            <label for="lastJobDepartmentDropdown{{i}}" class="pb-2">Department <span class="text-optional">*</span></label>
                                            <div class="dropdown" style="width: 100%;">
                                                <button type="button" id="lastJobDepartmentDropdown{{i}}" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="lastJobDepartment">
                                                    {{ experience.lastJobDepartment || 'Select Department' }}
                                                    <i class="bi bi-chevron-down"></i>
                                                </button>
                                                <ul [attr.aria-labelledby]="'lastJobDepartmentDropdown'" class="dropdown-menu department-dropdown" style="width: 100%;" >
                                                    <li *ngFor="let dept of departments"><a class="dropdown-item" (click)="selectDepartmentForExperience(dept, i)">{{ dept }}</a></li>
                                                </ul>
                                            </div>
                                            <input type="hidden" [(ngModel)]="experience.lastJobDepartment" required #lastJobDepartmentField="ngModel" >

                                            <div *ngIf="lastJobDepartmentField.touched">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobDepartmentField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Department is required.
                                                </p>
                                            </div>
                                        </div> -->

                                        <div class="col-md-6">
                                            <label for="lastJobDepartmentDropdown{{i}}" class="pb-2">Department <span class="text-optional">*</span></label>
                                            <!-- Replacing the dropdown with nz-autocomplete -->
                                            <input
                                            (keydown)="preventLeadingWhitespace($event)" maxlength="50"
                                              class="seach-dropdown"
                                              [id]="'lastJobDepartmentDropdown' + i"
                                              [name]="'lastJobDepartmentDropdown' + i"
                                              placeholder='Select Department'
                                              nz-input
                                              [(ngModel)]="experience.lastJobDepartment"
                                              (ngModelChange)="onChangeDepartment($event, i)"
                                              [nzAutocomplete]="departmentAuto"
                                              required #lastJobDepartmentField="ngModel"

                                            />
                                            <nz-autocomplete [nzDataSource]="departmentFilteredOptions" #departmentAuto></nz-autocomplete>
                                            <!-- Error Message for Department -->
                                            <div *ngIf="lastJobDepartmentField.touched || isFormInvalid ">
                                              <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobDepartmentField.errors?.required">
                                                <i class="bi bi-exclamation-circle"></i>
                                                Department is required.
                                              </p>
                                            </div>
                                          </div>





                                    <div class="col-md-6">
                                        <div class="mb-3">

                                            <label for="lastSalary{{i}}" class="pb-2">Last Salary <span class="text-optional">*</span></label>
                                            <input type="text" (keydown)="preventAlphabets($event)"      maxlength="10" class="form-control " id="lastSalary{{i}}" name="lastSalary{{i}}" placeholder="Last salary" [(ngModel)]="experience.lastSalary" required #lastSalaryField="ngModel" >
                                            <!-- Error Message for Last Salary -->
                                            <div *ngIf="lastSalaryField.touched || isFormInvalid ">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastSalaryField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Last Salary is required.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <label for="lastJobPositionDropdown{{i}}" class="pb-2">Position <span class="text-optional">*</span></label>
                                        <div class="dropdown" style="width: 100%;">
                                            <button type="button" id="lastJobPositionDropdown{{i}}" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="lastJobPosition">
                                                {{ experience.lastJobPosition || 'Select Position' }}
                                                <i class="bi bi-chevron-down"></i>
                                            </button>
                                            <ul [attr.aria-labelledby]="'lastJobPositionDropdown'" class="dropdown-menu department-dropdown" style="width: 100%;">
                                                <li *ngFor="let title of jobTitles"><a class="dropdown-item" (click)="selectPositionForExperience(title, i)">{{ title }}</a></li>
                                            </ul>
                                        </div>
                                        <input type="hidden" [(ngModel)]="experience.lastJobPosition" required #lastJobPositionField="ngModel" >
                                        Error Message for Position
                                        <div *ngIf="lastJobPositionField.touched">
                                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobPositionField.errors?.required">
                                                <i class="bi bi-exclamation-circle"></i>
                                                Position is required.
                                            </p>
                                        </div>
                                    </div> -->

                                    <div class="col-md-6">
                                        <label for="lastJobPositionDropdown{{i}}" class="pb-2">Position <span class="text-optional">*</span></label>
                                        <!-- Replacing the dropdown with nz-autocomplete -->
                                        <input
                                        (keydown)="preventLeadingWhitespace($event)"
                                          class="seach-dropdown"
                                          [id]="'lastJobPositionDropdown' + i"
                                          [name]="'lastJobPositionDropdown' + i"
                                          placeholder='Select Position'
                                          nz-input
                                          [(ngModel)]="experience.lastJobPosition"
                                          (ngModelChange)="onChangePosition($event, i)"
                                          [nzAutocomplete]="positionAuto"
                                          required #lastJobPositionField="ngModel"

                                        />
                                        <nz-autocomplete [nzDataSource]="positionFilteredOptions" #positionAuto></nz-autocomplete>
                                        <!-- Error Message for Position -->
                                        <div *ngIf="lastJobPositionField.touched || isFormInvalid">
                                          <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobPositionField.errors?.required">
                                            <i class="bi bi-exclamation-circle"></i>
                                            Position is required.
                                          </p>
                                        </div>
                                      </div>


                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastJobResponsibilities{{i}}" class="pb-2">Responsibilities <span class="text-optional">*</span></label>
                                            <textarea (keydown)="preventLeadingWhitespace($event)" maxlength="150" class="form-control" id="lastJobResponsibilities{{i}}" name="lastJobResponsibilities{{i}}" placeholder="Responsibilities (Max. 150 Characters)" [(ngModel)]="experience.jobResponisibilities" rows="5" required #lastJobResponsibilitiesField="ngModel" ></textarea>
                                            <!-- Error Message for Responsibilities -->
                                            <div *ngIf="lastJobResponsibilitiesField.touched || isFormInvalid">
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobResponsibilitiesField.errors?.required">
                                                    <i class="bi bi-exclamation-circle"></i>
                                                    Responsibilities are required.
                                                </p>
                                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="lastJobResponsibilitiesField.errors?.maxlength">
                                                    <i class="bi bi-exclamation-circle"></i> Maximum 150 characters allowed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- <div class="col-md-12">
                                    <span class="delete-icon" (click)="deleteExperience(i)">
                                        <i class="bi bi-trash" style="color: red;"></i> Delete
                                    </span>
                                </div> -->

                        <div class="row align-items-center">

                            <!-- Delete Button -->
                            <div class="add-filtter d-flex justify-content-end " *ngIf="userExperiences.length!=1">
                                <a type="button" style="color: red !important;" (click)="deleteExperience(i)"><i class="bi bi-trash" style="font-size: 16px;"></i> Delete</a>
                            </div>
                            <!-- <div class="col-md-6 " style="text-align: right;">

                            </div> -->
                        </div>
                                </div>

                        <!-- Navigation Buttons -->
                                </div>
                            </div>
                        <div class="row align-items-center">
                            <div class="col-md-6" *ngIf="!userExperiences[0].fresher">
                                <div class="add-filtter">
                                    <a type="button" (click)="addExperience()">
                                        <i class="bi bi-plus" style="font-size: 23px;"></i> Add More
                                    </a>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()">
                                        <i class="bi bi-arrow-left" style="padding-right: 8px;"></i> Back
                                    </button>
                                </div>
                                <div class="info-btn d-flex justify-content-end" style="gap:10px;">
                                    <!-- Submit Form Button shown if the form status is 'REJECTED' and no update request is pending -->
                                    <div class="info-btn" *ngIf="employeeOnboardingFormStatus == 'REJECTED' && !this.isAdminPresent">
                                        <button (click)="selectButtonType('save')" class="btn btn-success save-button" type="button" [disabled]="toggle" aria-label="Save">
                                            <div *ngIf="toggleSave" class="dot-opacity-loader">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                            <span *ngIf="!toggleSave">
                                                Submit Form <i class="bi bi-save" style="padding-left: 8px;"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Go Back to Profile Button, shown only if updateRequest is true -->
                                    <div *ngIf="this.isAdminPresent" class="info-btn">
                                        <button (click)="goBackToProfile()" class="btn btn-warning" type="button" aria-label="Go Back to Profile">
                                            Go Back to Profile
                                        </button>
                                    </div>
                                    <!-- Conditional Update Button, replaces Next button if updateRequest is true -->
                                    <button *ngIf="this.isAdminPresent" (click)="selectButtonType('update')" class="btn btn-info save-button" type="button" aria-label="Update">
                                        <div *ngIf="toggle" class="dot-opacity-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <span *ngIf="!toggle">
                                            Update <i class="bi bi-pencil-square" style="padding-left: 8px;"></i>
                                        </span>
                                    </button>
                                    <!-- Original Next Button, shown only when updateRequest is not true -->
                                    <button *ngIf="!this.isAdminPresent && !this.dataService.isLastRoute('/employee-experience')" (click)="selectButtonType('next')" class="btn btn-primary save-button" type="button" [disabled]="toggle" aria-label="Next Step">
                                        <div *ngIf="toggle" class="dot-opacity-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <span *ngIf="!toggle && isNewUser">
                                            Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                        </span>
                                        <span *ngIf="!toggle && !isNewUser">
                                            Save & Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                        </span>
                                    </button>
                                    <button *ngIf="this.dataService.isLastRoute('/employee-experience')" (click)="selectButtonType('preview')" class="btn btn-primary save-button" type="button" [disabled]="toggle"  aria-label="Next Step">
                                        <div *ngIf="toggle" class="dot-opacity-loader">
                                          <span></span>
                                          <span></span>
                                          <span></span>
                                        </div>
                                        <span>
                                          Preview Form <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                                      </span>
                                      </button>
                                </div>


                            </div>
                        </div>
                        <button type="submit" style="display: none;" name="formSubmitButton" id="formSubmitButton"  #formSubmitButton></button>
                        <!-- </div> -->
                    </form>
                    <!-- Add More Button -->

                   <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Success Message Modal -->
<button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
<div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
 <div class="modal-dialog modal-dialog-centered mx-auto">
     <div class="modal-content">
         <div class="modal-body text-center">
             <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
             <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>

             <!-- Conditional Messages -->
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                 Your registration is successful. Pending for verification.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                 Your onboarding is approved.
             </p>
             <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                 Your onboarding is rejected.
             </p>

             <!-- Edit Button -->

             <button type="button" class="d-none"  data-bs-dismiss="modal" id="dismissSuccessModalButton" #dismissSuccessModalButton>
                 Cancel
               </button>
             <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                 Edit
             </button>
         </div>
     </div>
 </div>
</div>
