.table td {
  font-weight: 400;
  vertical-align: middle;
  border-color: #f1f1f1;
  font-size: 12px;
  white-space: nowrap;
  /* border: 1px solid #f1f1f1; */
}

.table tbody {
  border: 1px solid #f1f1f1;
}

.table-design {
  border: 1px solid #6d68ff;
}

.errorboxmain {
  background-color: #fff;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  border-radius: 6px;
}

.errorboxmain {
  padding: 15px;
}

.shimmer-wrapper {
  height: 300px;
  /* Adjust height as needed */
  background: #f6f7f8;
  background-image: linear-gradient(to right,
      #f6f7f8 0%,
      #e9ecef 20%,
      #f6f7f8 40%,
      #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.white-space {
  white-space: normal;
  min-width: 130px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.table-font-weight {
  font-weight: 400;
}

.card {
  border-radius: 2px;
}

.card-title {
  font-weight: 600;
}

.text-muted {
  font-size: 0.9rem;
}

.search-icon {
  font-size: 12px !important;
  position: absolute !important;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color) !important;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.category {
  max-height: 365px;
  overflow-y: auto;
}

.scrollable-table {
  overflow-y: auto;
}

/*  img upload modal */

.image-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bannerplacehld {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 180px;
  border: 1px dashed rgba(102, 102, 242, 0.40);
  border-radius: 2px;
  background-color: rgba(244, 247, 255, 0.50);
}

.bannerplacehld img {
  max-width: 100%;
  max-height: 100%;
}

.image-upload-label p,
.image-upload-label span {
  margin: 0;
  text-align: center;
}


.input-zorro {
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #e9e9e9;
}

.form-label {
  margin-bottom: 0.5rem;
}

.text-danger {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-optional {
  color: grey;
}

nz-select {
  width: 100%;
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 90px;
}

::ng-deep.ngx-charts-outer {
  width: 100% !important;
}

::ng-deep.ngx-charts-outer svg {
  width: 100% !important;
}

.actionMenuList {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  box-shadow: 0px 3px 12px -3px #1111111f;
  overflow: hidden;
  min-width: 12rem;
  padding: 7px !important;
  background-color: #fff;
  z-index: 99;
}

.dropdown-item:hover {
  background-color: #f1f1fd;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem !important;
  clear: both;
  font-weight: 400;
  color: #333 !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  border: 0;
  font-size: 14px;
  color: #3e3e3e;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  font-weight: BOLD !important;
}

.actionMenuList .dropdown-item i {
  margin-right: 5px;
}

.stickyColThend:has(.btnAction.show) {
  z-index: 12 !important;
}

.edit-btn i {
  display: none;
}

.edit-btn:hover i {
  display: block;
}


.nav.nav-pills {
  background-color: transparent;
  border-bottom: 1px solid #edeff5;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background: transparent !important;
  color: var(--primary-color) !important;
  border-radius: 0;
  border-bottom: 2px solid var(--primary-color);
}

.nav-link {
  display: block;
  padding: 7px 10px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.onboarding-date input[type="text"] {
  width: 750px;
  border-radius: 0px 10px 10px 0px;
  border: 0px solid #f2f2f2;
  height: 45px !important;
  border-left: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #1f1f1f !important;
}

.empFilerDropfilter .new-deopdown {
  display: block;
  width: 120px;
  padding: 0.4rem 0.5rem;
  font-size: 13px !important;
  text-align: left;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  position: relative;
  border-right: 1px solid #f2f2f2 !important;
  color: #777 !important;
  font-weight: 400;
  letter-spacing: 0.1px;
  box-shadow: unset;
}

.onboard-add {
  border: 1px solid #f1f1f1;
}

:ng-deep.pagination-box .pagination {
  margin-bottom: 0px;
}

/**
* @Autthor Anchal Shrama
* To change the height of chart container/ view.
**/
.chart-container {
  max-height: 35vh !important;
  /* Adjust the height as needed */
}



.white-space {
  white-space: normal;
  min-width: 130px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.export-btn i {
  position: relative;
  top: 2px;
}

.requesting-half-leave {
  background-color: rgba(236, 236, 236, 0.21) !important;
  min-height: 46px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

.requesting-half-leave p {
  line-height: 30px;
  font-weight: 400;
}

.cancel-btn {
  background-color: #fbfbfb;
  border: 1px solid #e6e7e9;
  border-radius: 2px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

.submitActionBtn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  width: 100px;
}

.assets-label label {
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 20.854px;
  letter-spacing: 0.102px;
}

.image-upload-label span i {
  font-size: 18px;
  position: relative;
  top: 2px;
}

.assets-images-close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.assets-images-close i {
  color: #fff !important;
  font-size: 16px !important;
  top: 0px !important;
}

.add-icon i {
  top: 3px;
}

.assets-count {
  border: 1px solid #f1f1f1;
  border-radius: 2px;

}

span.request-count {
  background-color: rgb(241 241 253) !important;
  color: var(--primary-color) !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-item {
  margin-right: 20px;
}

.orderpcardleft h6 {
  color: #444;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.orderpcardleft h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 5px;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .ant-select-selection-search-input {
  height: 45px !important;
}