<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
      <div class="container-fluid">
       
        <div class="mb-3 mt-4 d-flex justify-content-between">
            <div>
                <button type="button" class="btn adtpoics mr-2 active"><i class="bi bi-plus"></i> Add Root Category</button>
                <button type="button" class="btn adtpoics mr-2"><i class="bi bi-plus"></i>Add Sub Category</button>
            </div>
            <div>
                <button type="button" class="btn addasset mr-2"><i class="bi bi-plus"></i>Add New Asset</button>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 pr-0">
                    <div class="card p-3">
                        <div class="pt-2 pb-2 d-flex justify-content-between">
                            <div class="justify-content-between text-left" style="width: 100%;">
                                <div class="order-search">
                                    <div class="d-flex">
                                        <i class="bi bi-search mt-auto mb-auto pl-3 pr-3"></i>
                                        <input type="text" id="categoryTagSearch" placeholder="Search category here .." aria-label="Text input with dropdown button" aria-describedby="search" class="form-control bg-transparent border-0 ng-valid ng-dirty ng-touched" style="height: calc(1.4rem + 1.25rem); outline: none; border: none !important; box-shadow: none !important;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-bars">
                            <div class="mt-2">
                                <div class="list-group list-group-root">
                                    <div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Laptop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-0">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Charger
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-1">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a data-toggle="collapse" class="list-group-item p-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="mr-2 bi bi-chevron-right"></i>
                                                    Desktop
                                                </div>
                                                <div>
                                                    <i class="bi bi-trash text-danger"></i>
                                                </div>
                                            </a>
                                            <div class="list-group" id="item-2">
                                                <div></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- New Card for Adding Category and Upload Image -->
                <div class="col-md-8">
                    <div class="card p-3" >
                        <div class="pt-2 pb-2">
                            <h5>Add Root Category</h5>
                        </div>
                        <div class="form-group">
                            <label for="categoryName">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" placeholder="Enter category name">
                        </div>
                        <div class="form-group">
                            <div class="card col-md-12 mt-3">
                                <h6 class="text-muted row pt-4 pb-4">
                                    <!-- <div class="col-md-4 border-right">
                                        <div class="position-relative bnnrupldedimg">
                                            <img src="assets/images/update-min.svg" onerror="this.src='assets/broken.png';">
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <div class="brrandbannerbox" style="transform: scale(1) !important; opacity: 1 !important;">
                                            <label type="button" name="webImageUrlCat" id="webImageUrlCat" value="Choose file" data-toggle="modal" data-target="#image-picker-single">
                                                <div class="bannerplacehld">
                                                    <img src="assets/images/media-upload.jpg" alt="">
                                                </div>
                                                <p>Upload/change category image</p>
                                                <span>Web Icon Specifications: 500X500 Pixel</span>
                                                <span style="text-align: center;"> <input type="file" class="form-control-file" id="selectDocuments"
                                                    accept="image/jpeg, image/png, image/jpg,  application/pdf" /></span>
                                               
                                                
                                                
                                            </label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Add Category</button>
                    </div>
                </div>
                
            </div>
       
       
        <div class=" row mt-5">
            <div class="col-md-7">
                <div class="asset-table">
                    <h4 class="heading">Asset Details</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Head Category</th>
                                <th>Subcategory</th>
                                <th>Asset Name</th>
                                <th>Serial Number</th>
                                <th>Purchase Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>User Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Electronics</td>
                                <td>Laptop</td>
                                <td>MacBook Pro</td>
                                <td>ABC123</td>
                                <td>2024-07-10</td>
                                <td>$2000</td>
                                <td>Richa Dixit</td>
                                <td>Issued
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>Electronics</td>
                                <td>Charger</td>
                                <td>MacBook Charger</td>
                                <td>XYZ456</td>
                                <td>2024-06-15</td>
                                <td>$100</td>
                                <td></td>
                                <td>Available  <i class="bi bi-pencil"></i></td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
            
         <div class="col-md-5">
            <div class="report-download mt-10">
              <h4 class="heading">Asset Logs</h4>
          
              <div class="downlord-report">
                <div
                  class=""
                  style="
                    text-align: left;
                    border-bottom: 1px solid #f2f2f2;
                    padding-bottom: 15px;
                  "
                >
                  <div
                   
                    class="scroll-box-logs"
                    style="margin-top: 30px"
                  >
                    <h5 class="mb-3">2024-07-13</h5>
                    <ul class="acitivity-timeline-2 list-unstyled mb-0">
                      <li >
                        <div class="d-flex align-items-center justify-content-between">
                          <h6 class="fs-md mt-0">richa log</h6>
                          <div class="attendance-log-download d-flex" style="gap: 20px">
                            report
                          </div>
                        </div>
                        <div class="d-flex align-items-center mb-2 gap-3">
                          <p class="mb-0">
                            <i class="bi bi-calendar align-baseline me-1"></i>
                             2024-07-10 || 2024-07-12
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
          
                <ng-template >
                  <div class="errorboxmain" style="text-align: center">
                    <div class="errorboxinner">
                      <div class="errorboxplaceholder mb-2">
                        <img src="assets/images/empty-box.svg" style="width: 80px" />
                      </div>
                      <div>
                        <h4>No Data Found</h4>
                        <p class="mb-0">
                          We're unable to locate a record associated with the information
                          you entered.
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          
        </div>   
       

        

      </div>
    </div>

</div>
