body,
html {
  height: 100%;
  margin: 0;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2% auto;
  max-width: 600px;
  width: 90%;
}

.form-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.form-button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.form-button:hover {
  background-color: #4cae4c;
}

@media (min-width: 768px) {
  .form-container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .form-container {
    width: 40%;
  }
}

.notes-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.error-message {
  color: #d9534f;
  margin-top: 5px;
  font-size: 0.875rem;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.close-button {
  padding: 10px 15px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submitting-message {
  text-align: center;
  margin-top: 20px;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #eeeef4;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}



/* No Template found css*/
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.expired-message {
  background-color: #ffffff;
  border-radius: 2px;
  width: 500px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.not-assigned-text h1 {
  line-height: 25px;
}

.not-assigned-text p {
  color: #555;
  line-height: 24px;
}
.not-assigned-text{
  border: 1px solid #f2f2f2;
  border-top: none;
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}


.home-link {
  display: inline-block;
  background-color: #4CAF50;
  color: #ffffff !important;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: normal;
}

.home-link:hover {
  background-color: #43A047;
}

.leave-assigned-icon{
     border-radius: 2px 2px 0px 0px;
     background-color: #FFEBEA;
     height: 170px;
}