<!-- <router-outlet></router-outlet>
<app-organization-onboarding-sidebar></app-organization-onboarding-sidebar> -->


<div class="container-scroller"
    *ngIf="(key.ORGANIZATION_ONBOARDING_SIDEBAR_ROUTES.includes(this._router.url.split('?')[0]))">
    <div class="horizontal-menu">
        <app-organization-onboarding-sidebar></app-organization-onboarding-sidebar>
    </div>
</div>

{{this.helperService.orgStepId}}

<router-outlet  *ngIf="this.roleBasedAccessControlService.isUserInfoInitialized && this.helperService.orgStepId  && !onboardingService.isLoadingOnboardingStatus"></router-outlet>

<app-hajiri-page-loader *ngIf="!this.helperService.orgStepId  || onboardingService.isLoadingOnboardingStatus">
</app-hajiri-page-loader>
