
  .request-count {
    background-color: rgb(241 241 253) !important;
    color: var(--primary-color) !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.date-range {
    background-color: #F9FAFC;
    border: 1px solid #DCDCE4;
    border-radius: 2px;
}
.attendance-date {
    border-radius: 2px;
    background-color: #fff !important;
}
.calendar-back-btn {
    width: 40px;
    height: 30px;
}
.calendar-separator {
    border-left: 1px solid #DCDCE4;
    height: 20px;
}
.attendance-date .ant-picker {
    border: none !important;
    background-color: transparent !important;
    height: 40px !important;
}

.assets-chart {
    border-radius: 2px;
    background-color: #F9FAFC;
}
.chart-header {
    border: 1px solid #EAEAEA;
    background-color: #fff;
    border-bottom: none;
}
::ng-deep .week-filter .ant-select-selection-placeholder {
    line-height: 24px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }

  ::ng-deep .week-filter .ant-select-selection-item {
    line-height: 24px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  ::ng-deep  .week-filter .ant-select-selector{
    background-color: transparent !important;
    min-height: 24px !important;
    height: 24px !important;
  }
  .assets-chart p {
    color: #858585;
}
.earned-funds span {
    color: #388E3C;
}

.use-funds-separator{
    border-left: 1px solid #DCDCE4;
    height: 50px;
}
.assets-count{
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.assets-count h6{
    color: #101F82;
}
.assets-count i{
    position: relative;
    top: 1px;
}
.total-assets{
    border: 1px solid #EAEAEA;
    border-radius: 2px;
}
.total-assets-icon{
    width: 40px;
    height: 40px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    background-color: #F6F6F6;
}
.total-assets p:first-child{
    color: #202224;
}
.total-assets p:last-child{
    color: #606060;
}

.week-count svg {
    width: 18px;
}

.assets-categories{
    border-radius: 2px;
    border: 1px solid #EAEAEA;
}

.categories-header {
    border-bottom: 1px solid #EAEAEA;
}
.overview-sidebar-menu{
    border-right: 1px solid #f2f2f2;
    height: 100%;
  }
  .overview-sidebar-menu .nav-pills{
    border-bottom: none;
  }

  .overview-sidebar-menu svg{
    position: relative;
    top: -2px;
    padding-right: 2px;
  }

  .overview-sidebar-menu .nav-pills .nav-item.show .nav-link,
  .overview-sidebar-menu .nav-pills .nav-link.active {
    background: #f2f3ff !important;
    color: #6666F2 !important;
    border-right: 5px solid var(--primary-background-color) !important;
    border-bottom: none !important;
  }

  .overview-sidebar-menu .nav.nav-pills {
    background-color: transparent;
  }

  .overview-sidebar-menu .nav-pills .nav-link {
    background: transparent;
    padding: 15px 10px;
    color: #1C1B1F;
    border-right: 5px solid transparent;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 30px;
  }

  .assets-overview tr td{
  color: #444;
  }

  .assets-overview {
    overflow: scroll;
    max-height: 350px;
    margin-bottom: 20px;
}
.border-right{
    border-right: 1px solid #f2f2f2;
}
.new-request{
    border: 3px solid #CA365F;
    height: 20px;
    border-radius: 2px;
}
.replacement-requests{
    border: 3px solid #F3A73D;
    height: 20px;
    border-radius: 2px;
}

.repair-requests{
    border: 3px solid #47539F;
    height: 20px;
    border-radius: 2px;
}
.handover-requests{
    border: 3px solid #3C887C;
    height: 20px;
    border-radius: 2px;
}
.categories-view{
    height: 415px;
    overflow: scroll;
}
.categories-view::-webkit-scrollbar{
    display: none;
}
.week-count{
    color: #7C8DB5;
}

.asset-assigned-search {
    border: 1px solid #EAEAEA;
}
.assigned{
    background-color: #E9FFEF;
    border-radius: 20px;
    padding: 5px 15px;
    color: #388E3C;
}
.search-filter .new-dropdown {
    display: block;
    width: 120px;
    padding: .4rem .5rem;
    font-size: 14px !important;
    background-color: #fff;
    border: none !important;
    border-right: 1px solid #f2f2f2 !important;
    font-weight: 500;
    box-shadow: unset;
    color: #444;
    height: 45px !important;
}
.search-filter svg {
    width: 18px;
}
.filter-box {
    width: 400px !important;
    border-radius: 2px !important;
    padding: 0px !important;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
    z-index: 999;
}
.not-assign-filter {
    width: 300px !important;
    border-radius: 2px !important;
    padding: 0px !important;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}
.search-date input {
    border: none;
    height: 45px !important;
    border-left: 0;
    border-right: 1px solid #EAEAEA;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1f1f1f !important;
}
.search-icon {
    font-size: 13px;
    position: absolute !important;
    top: 0;
    color: var(--tb-secondary-color) !important;
    margin: auto auto auto 15px;
}
.filter-btn {
    min-width: 150px;
}

.nots-section {
    background-color: rgba(236, 236, 236, 0.21) !important;
    width: 100%;
    height: 100px !important;
    border: 1px dashed #e9e9e9;
}

.resignation-request{
    background-color: #F9FAFC;
    border-radius: 20px;
    padding: 5px 15px;
  }

::ng-deep .placeholder-lines .ant-select-selection-placeholder {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }

  ::ng-deep .placeholder-lines .ant-select-selection-item {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  ::ng-deep  .placeholder-lines .ant-select-selector{
    background-color: rgba(236, 236, 236, 0.21);
    min-height: 45px !important;
    height: 45px !important;
  }

  .cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 500;
    width: 100px;
}
.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    min-width: 100px;
}
.table tbody {
    border: 1px solid #f1f1f1;
}
.btnAction{
    background-color: #F9FAFC;
    width: 30px;
    height: 33px;
    border-radius: 2px;
    border: 1px solid #EFEFEF;
}

.actionMenuList{
    line-height: 35px;
}

.category-list{
    min-width: 18rem !important;
    max-height: 405px;
    overflow: scroll;
    border-radius: 2px !important;
}
.actionMenuList .dropdown-item:hover{
    background-color: #F1F1FC;
}
.btnAction svg{
    width: 17px;
}
.categories-filter input{
    position: relative;
    top: -2px;
}
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    accent-color: #6766f3;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.reset-filter-btn{
  background-color: #F8F7FF;
  height: 48px;
}
.reset-filter-btn svg{
    width: 18px;
}
.white-space {
    white-space: normal;
    width: 130px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }


  .assets-label label {
    color: rgba(0, 0, 0, 0.85) !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20.854px;
    letter-spacing: 0.102px;
}

.input-zorro{
    background-color: #fbfbfb;
    border: 1px solid #e9e9e9;
}
.requesting-half-leave {
    background-color: rgba(236, 236, 236, 0.21) !important;
    min-height: 45px;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
}
.vh-80{
    height: 80vh;
}

.border-bottom {
    border-bottom: 1px solid #f0f0f0 !important;
}

  .actionMenuList .dropdown-item {
    font-size: 14px !important;
    color: #333 !important;
    border-radius: 6px;
    padding: 3px 15px !important;
}

  .filter-pills {
    line-height: 18px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 52px;
  padding: 6px 15px;
  white-space: nowrap;
  margin-bottom: 0 !important;
  background-color: #557ef826;
  }
  .assets-history{
    position: absolute;
    right: 0px;
    bottom: -30px !important;
    min-width: 400px;
}
.assets-name{
    background-color: #E7E1E1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.assets-detail{
   height: 80vh;
}
.assets-detail .badge{
    padding: 5px 15px;
    min-width: auto;
}
.tracking-item{
    list-style: none;
}
.tracking-steps::after {
    content: "";
    height: 100% !important;
    background-color: transparent;
    top: -25px !important;
    left: 14px !important;
    z-index: 9 !important;
    position: absolute;
    border-left: 1px dashed #DB3525;
}
.tracing-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E3E3E3;
    line-height: 2px;
    color: #1F1F1F;
    z-index: 99;
}
.active-icon{
    background-color: #DB3525;
    color: #FFF !important;
}

::ng-deep .ant-drawer-body{
    padding: 15px !important;
}
.empty-notification{
  padding-top: 35%;
  padding-bottom: 35%;
}
.assets-list{
  height: 500px;
  overflow: scroll;
}
.assets-list::-webkit-scrollbar{
  display: none;
}
.assets-list-card{
  border: 1px solid #f1f1f1;
  transition: .2s linear;
}
.assets-list-card:hover{
  border: 1px solid #4660f6;
  background-color: #eceffe;
  box-shadow: 9px 10px 8px -7px #00000026;
  cursor: pointer;
}
.active-assets{
  border: 1px solid #4660f6;
  background-color: #eceffe;
  box-shadow: 9px 10px 8px -7px #00000026;
}
.overview-sidebar-menu{
    height: 400px;
    overflow: scroll;
}
.overview-sidebar-menu::-webkit-scrollbar{
    display: none;
}
.assets-overview table thead{
  position: sticky;
  top: 0px;
}
.empty-file{
    margin-top: 7%;
    margin-bottom: 7%
}
::ng-deep .placeholder-lines .ant-select-selection-search{
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.delete-modal {
  z-index: 1100 !important;
}

.modal-backdrop {
  z-index: 1999 !important;
}

.ant-drawer {
  z-index: 1000 !important;
}

.ant-drawer-mask {
  z-index: 999 !important;
}
.select-container .ant-select-dropdown {
  z-index: 2000 !important;
}
