

.profile-image {
    width: 20%;
    position: relative;
    text-align: center;
}

.profile-name-box {
    width: 80%;
}
.profile-name-box {
    width: 80%;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name-box h4{
    font-size: 32px;
    line-height: 30px;
    font-weight: 600;
    word-spacing: 2px;
}

.profile-name-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

.profile-detail-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    gap:30px;
}

.edit-images {
    border: 1px solid #ccc;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-images i{
    font-size: 14px;
    line-height: 16px;
    color: #444;
}
.profile-image img{
    border-radius: 50%;
}

.task-list{
    background-color: #fff;
    border-radius: 6px;
    margin-top: 15px;
}

.border-bottom-css{
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;
    padding: 10px 15px;
}

.all-task{
    border: 1px solid #ededed;
}

.all-task {
    border: 1px solid #ededed;
    color: #4e4e4e;
}

.all-task:hover {
    background-color:#4e4e4e ;
    color: #fff;
}

.task-time{
    color: red;
    font-size: 12px;
}

.task-user p {
    font-size: 14px;
    color: #2e2e2e;
}

.task-user div {
    padding: 10px 20px;
    border-bottom: 1px solid #ededed;
}
.task-user div:hover {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border: none;
}

span.members-name-task{
    background-color: #a69ff3;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    text-transform: uppercase;
}

.team-lists p{
    line-height: 27px;
    font-size: 14px;
    color: #2e2e2e;
}

.team-lists p i{
   font-size: 18px;
   padding-right: 5px;
}
.profile-detail-add p{
    padding: 2px 11px;
    border-radius: 6px;
}
.profile-detail-add p:hover{
    background-color: #f1f1f1;
    padding: 2px 11px;
    border-radius: 6px;
}