.otp-verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .otp-card {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .otp-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .otp-input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .otp-input-container input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .verify-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .o-t-p {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }