.account-setting-box {
  padding: 30px;
}
span.edit-profile {
  top: 44px;
  right: -27px;
  width: 25px;
  height: 25px;
  border: 1px solid #6666f3;
  border-radius: 50px;
  font-size: 10px;
}
.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
  margin-top: 0;
  top: -13px;
}
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > input[type="checkbox"]:checked + label:after {
  left: 22px !important;
}
.material-switch > label:after {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  content: "";
  height: 15px;
  left: 7px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 15px;
  margin-top: 2px;
}
.material-switch > input[type="checkbox"]:checked + label:before {
  background: #79af79;
}
.material-switch > label:before {
  background: #f56061;
  border-radius: 20px;
  content: "";
  height: 19px;
  position: absolute;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  width: 35px;
  right: 0;
}
.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.toggle-password {
  position: absolute;
  right: 0;
  top: 15px;
  border: 0;
  background: transparent;
  z-index: 10; /* Ensure the button is above the input */
  cursor: pointer;
}
.material-switch {
  flex-grow: 0;
}
.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}
.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white; /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}
.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}
.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.material-switch.disabled {
  opacity: 0.5; /* Makes the whole switch appear faded */
}
.material-switch.disabled .label-success {
  background-color: #ccc; /* Change the label's background to grey (or any color indicating 'disabled') */
}
.alert.alert-outline-secondary {
  border: 1px solid #eceff5;
  background-color: transparent;
  color: #363636 !important;
  width: 100%;
  font-size: 15px;
  border-radius: 3px;
  font-weight: 500;
}
.profile-image-box {
  width: 110px;
  margin: 0 auto;
  position: relative;
  padding: 40px;
}
.profile-image-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.enable-disanle-btn label {
  padding: 18.2px;
}
.enable-disanle-box i {
  padding-right: 10px;
}

.account-setting-box p {
  font-size: 13px;
  margin-bottom: 0px;
  color: #515358 !important;
  font-weight: 400;
}

.btn-soft-success-lock {
  background-color: #22b783 !important;
  color: #fff !important;
}

.btn-de-secondary-lock {
  background-color: #8d93a1 !important;
  color: #fff !important;
  border: 1px solid #8d93a1;
}

.otp-placeholder .otp-input {
  width: 15% !important;
  height: 60px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 440px;
  }
}

.tolltip-icon {
  color: #444 !important;
  font-size: 14px;
  padding-left: 6px;
}

.input-group-text {
  display: flex;
  align-items: center;
  height: 100%;
}

.form-control {
  margin-left: 10px;
  height: calc(2.25rem + 2px);
}
