.file-box {
  cursor: pointer;
  min-width: 150px;
  border-radius: 2px;
}

.hr {
  padding: 0px !important;
  margin: 0px !important;
}

.text-truncate {
  padding: 0px !important;
}

.file-box-content .file-box {
  padding: 6px;
}

.invoice-head {
  border-bottom: none;
  border: 1px solid #f1f1f1;
}

.invoice-head .contact-detail li {
  border-left: 1px dashed #f1f1f1;
}

.ps-3 {
  padding-left: 2rem !important;
}

.bg-soft-success:hover {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

/* CSS written by shivendra */
.disabled {
  pointer-events: none;
  opacity: 0.6;
  background-color: #f1f1f1;
}

.selected-month-color {
  border: 1px dashed #6666f3;
  background-color: #f1f1fd;
}

.text-blue {
  color: #6666f3;
}

.file-box-content {
  overflow-x: scroll;
}

.file-box-content::-webkit-scrollbar {
  display: none;
}

.payroll-next {
  top: 28px;
  left: -3px;
  width: 25px;
  height: 25px;
  background-color: #6666F2;
  color: #fff;
  border-radius: 50%;
  line-height: 23px;
}

.payroll-next i {
  top: -2px;
}

.payroll-prev {
  top: 28px;
  right: -3px;
  width: 25px;
  height: 25px;
  background-color: #6666f2;
  color: #fff;
  border-radius: 50%;
  line-height: 23px;
}

.payroll-prev i {
  top: -2px;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 600 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS written by Shivendra */
.comment-input {
  background-color: #fff !important;
  border: 1px solid #e8ebf3 !important;
  border-radius: 5px !important;
  width: 300px !important;
  height: 40px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #445059 !important;
  box-shadow: none !important;
  outline: none !important;
}

#count-input {
  width: 100% !important;
}

.search-icon {
  font-size: 12px !important;
  position: absolute !important;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color) !important;
}

.close-btn {
  border-radius: 6px;
  padding: 7px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  box-shadow: unset !important;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #6666f3;
  cursor: pointer;
}

.report-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  border: none;
  z-index: 99999;
}

.payroll-step {
  cursor: pointer;
}

.payroll-step:hover {
  color: #000 !important;
  background-color: #F1F1F1 !important;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3 !important;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.payroll-history-container {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.payroll-log-card {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payroll-log-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.payroll-log-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.payroll-log-header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.payroll-log-details {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
}

.payroll-log-details i {
  color: #007bff;
  margin-right: 5px;
}

.download-icon {
  width: 20px;
}

.errorboxmain {
  text-align: center;
}

.empty-box-icon {
  width: 80px;
}

.errorboxinner h4 {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
}

.errorboxinner p {
  font-size: 14px;
  color: #777;
}

/* payroll-dashboard.component.css */
ngx-charts-legend text {
  display: none;
}

ngx-charts-legend .legend-title {
  display: none;
}


.modal-backdrop {
  z-index: 1040 !important;
}

.modal {
  z-index: 1050 !important;
}


.ant-empty-image img {
  width: 90px;
}

.table tbody {
  border: 1px solid #f1f1f1;
}