<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="file-box-content">
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">Jan - 22</h6>
                <small class="text-muted">06 Jan - 06 Fab</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">Feb - 22</h6>
                <small class="text-muted">06 Feb - 06 Mar</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box bg-soft-success">
              <div class="text-center">
                <h6 class="text-truncate">Mar - 22</h6>
                <small class="text-muted">06 Mar - 06 Apr</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">Apr - 22</h6>
                <small class="text-muted">06 Apr - 06 May</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">May - 22</h6>
                <small class="text-muted">06 May - 06 Jun</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">Jun - 22</h6>
                <small class="text-muted">06 Jun - 06 Jul</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
            <div class="file-box">
              <div class="text-center">
                <h6 class="text-truncate">Jul - 22</h6>
                <small class="text-muted">06 Jul - 06 Aug</small>
                <hr class="hr" />
                <small>NO DATA</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body invoice-head">
          <div class="row">
            <div class="col-md-5 align-self-center">
              <div class="border bg-light d-block p-3">
                <div class="row">
                  <div class="col-auto">
                    <p class="mb-0">Total Employees</p>
                    <h4 class="mt-3 fw-bold"> 13 <span class="text-muted font-12 fw-normal">Followers</span>
                    </h4>
                  </div>
                  <!--end col-->
                  <div class="col-auto">
                    <p class="mb-0">Calender Days</p>
                    <h4 class="mt-3 fw-bold">29</h4>
                  </div>
                  <!--end col-->
                  <div class="col-auto">
                    <p class="mb-0">Payroll Processed</p>
                    <h4 class="mt-3 fw-bold"> 0/0 <span class="text-muted font-12 fw-normal">EMPLOYEES</span>
                    </h4>
                  </div>
                  <!--end col-->
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-7">
              <ul class="list-inline mb-0 contact-detail float-end mt-3">
                <li class="list-inline-item">
                  <div class="ps-3">
                    <p class="text-muted font-12 mb-0">TOTAL PATROLL COST</p>
                    <h5 class="mb-0">₹ 23,58,547</h5>
                    <small class="text-success">DEC ₹ 34,34,343</small>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="ps-3">
                    <p class="text-muted font-12 mb-0">TDS</p>
                    <h5 class="mb-0">₹ 8,547</h5>
                    <small class="text-success">DEC ₹ 34,343</small>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="ps-3">
                    <p class="text-muted font-12 mb-0">PT</p>
                    <h5 class="mb-0">₹ 58,547</h5>
                    <small class="text-success">DEC ₹ 3343</small>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="ps-3">
                    <p class="text-muted font-12 mb-0">EPF</p>
                    <h5 class="mb-0">₹ 2547</h5>
                    <small class="text-success">DEC ₹ 4,343</small>
                  </div>
                </li>
              </ul>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-body-->
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="card bg-transparent shadow-none">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center mt-4 mt-lg-0">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#wallet_BTC" role="tab"> RUN PAYROLL </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#wallet_ETH" role="tab"> PAYROLL OUTCOME </a>
                    </li>                   
                  </ul>
                  <div class="tab-content my-4">
                    <div class="tab-pane active" id="wallet_BTC" role="tabpanel">
                      <div class="row">
                        <div class="col-12 col-lg">
                          <div class="media">
                            <img src="assets/images/update.svg" class="me-2 thumb-md align-self-center rounded-circle" />
                            <div class="media-body align-self-center">
                              <h3 class="m-0 font-24 fw-bold"> ₹ 23,58,547 </h3>
                              <p class="text-muted font-12 mb-0"> DEC ₹ 34,34,343</p>
                            </div>
                            <!--end media body-->
                          </div>
                          <!--end media-->
                        </div>
                        <!--end col-->
                        <div class="col-12 col-lg-auto align-self-center mt-2 mt-lg-0">
                          <div class="button-items"> 
                            <button type="button" class="btn btn-outline-primary btn-round">Run Payroll</button>    
                            <button type="button" class="btn btn-outline-secondary btn-round">Manage Payslips</button>
                        </div>
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </div>
                    <!--end tab-pane-->
                    <div class="tab-pane" id="wallet_ETH" role="tabpanel">
                      <div class="row">
                        <div class="col">
                          <div class="media">
                            <img src="assets/images/mail.svg" class="me-2 thumb-md align-self-center rounded-circle" alt="..." />
                            <div class="media-body align-self-center">
                              <h3 class="m-0 font-24 fw-bold"> ₹ 23,58,547 </h3>
                              <p class="text-muted font-12 mb-0"> DEC ₹ 34,34,343</p>
                            </div>
                            <!--end media body-->
                          </div>
                          <!--end media-->
                        </div>
                        <!--end col-->
                        <div class="col-auto align-self-center">
                          <div class="button-items"> 
                            <button type="button" class="btn btn-outline-primary btn-round">Run Payroll</button>    
                            <button type="button" class="btn btn-outline-secondary btn-round">Manage PaySlips</button>
                        </div>  
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </div>
                    <!--end tab-pane-->
                  
                  </div>
                  <!--end tab-content-->
                  <div class="">
                    <h6 class="font-15 mt-0">Tags :</h6>
                    <span class="badge badge-soft-primary px-2 py-1 font-11">BTC</span>
                    <span class="badge badge-soft-primary px-2 py-1 font-11">ETH</span>
                    <span class="badge badge-soft-primary px-2 py-1 font-11">DASH</span>
                    <span class="badge badge-soft-primary px-2 py-1 font-11">BNB</span>
                  </div>
                  <hr class="hr-dashed" />
                  <div class="bg-light p-3 rounded">
                    <div class="row">
                      <div class="col">
                        <h6 class="font-15 mt-0"> Sent <span class="badge bg-soft-success ms-1">Confirmed</span>
                        </h6>
                        <p class="mb-0 text-muted"> There are many variations of passages of have suffered alteration in some form, Lorem Ipsum available. </p>
                      </div>
                      <!--end col-->
                      <div class="col-auto">
                        <span class="fw-semibold font-16 text-danger">-$2531.00</span>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <!-- end col -->
        <div class="col-lg-5">
          <div class="card fixheigt-section">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Average Pay Distribution</h4>
                </div>
                <div class="col-auto">
                  <small>06 Feb - 06 Mar</small>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center">
                <img src="assets/images/chart-2.jpeg" width="280" />
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!-- container -->
  </div>
  <!-- end page content -->
</div>