<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid" *ngIf="!payrollToggleView">
      <div class="row">
        <div class="col-md-9"></div>
        <div class="dropdown col-md-3 mt-4">
          <nz-date-picker nzMode="year" [nzSize]="size" [(ngModel)]="selectedDate"
            (ngModelChange)="onYearChange($event)" [nzDisabledDate]="disableYears">
          </nz-date-picker>
        </div>
        <div class="col-md-12 mt-3">

          <ng-container *ngIf="calendarShimmer; else monthList">
            <!-- Shimmer effect for each file box -->
            <div class="file-box-content d-flex justify-content-between">
              <!-- Shimmer Loading for Months -->
              <div class="file-box text-center" *ngFor="let i of [].constructor(12)">
                <ngx-shimmer-loading [width]="'70%'" [height]="'20px'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [width]="'50%'" [height]="'15px'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [width]="'30%'" [height]="'15px'"></ngx-shimmer-loading>
              </div>
            </div>
          </ng-container>
          <ng-template #monthList>
            <div class="file-box-content d-flex">
              <div class="file-box" *ngFor="let monthResponse of monthResponseList"
                [class.disabled]="monthResponse.disable" [ngClass]="{
                'selected-month-color':
                  monthResponse.firstDate == startDate &&
                  monthResponse.lastDate == endDate
              }">
                <div class="text-center" (click)="selectMonth(monthResponse)">
                  <h6 class="text-truncate">
                    {{ monthResponse.firstDate | date: 'MMM' }} - {{ monthResponse.firstDate | date: 'yyyy' }}
                  </h6>
                  <small class="text-muted">
                    {{ monthResponse.firstDate | date: 'dd MMM' }} - {{ monthResponse.lastDate | date: 'dd MMM' }}
                  </small>
                  <hr class="hr" />
                  <small [ngClass]="{
                  'text-blue':
                    (monthResponse.firstDate == startDate &&
                    monthResponse.lastDate== endDate) || (monthResponse.status == 'Current' &&
                    !(
                      monthResponse.firstDate == startDate &&
                      monthResponse.lastDate == endDate
                    )),
                  'text-success':
                    monthResponse.status == 'Completed' &&
                    !(
                      monthResponse.firstDate == startDate &&
                      monthResponse.lastDate == endDate
                    ),
                  'text-warning':
                    monthResponse.status == 'Pending' &&
                    !(
                      monthResponse.firstDate == startDate &&
                      monthResponse.lastDate == endDate
                    )
                }">
                    {{ monthResponse.status }}
                  </small>
                </div>
              </div>
            </div>

            <div class="payroll-next-prev-btn">
              <span class="payroll-next position-absolute d-flex align-items-center justify-content-center">
                <i class="bi bi-chevron-left position-relative"></i>
              </span>
              <span class="payroll-prev position-absolute d-flex align-items-center justify-content-center">
                <i class="bi bi-chevron-right position-relative"></i>
              </span>
            </div>
          </ng-template>
        </div>
        <div class="mt-4">
          <div class="invoice-head p-3">
            <div class="row">
              <div class="col-md-4 align-self-center">
                <div class="border bg-light d-block p-3">
                  <div class="row">
                    <div class="col-auto">
                      <p class="mb-0 font-12">Employees</p>
                      <h4 class="mt-3 fw-bold">
                        {{ payrollDashboardEmployeeCountResponse.totalUser }}
                        <span class="text-muted font-12 fw-normal">
                          <span class="text-success">+{{ payrollDashboardEmployeeCountResponse.newJoinee }}</span>
                          &nbsp; <span class="text-danger">-{{ payrollDashboardEmployeeCountResponse.userExit }}</span>
                        </span>
                      </h4>
                    </div>
                    <!--end col-->
                    <div class="col-auto">
                      <p class="mb-0 font-12">Calender Days</p>
                      <h4 class="mt-3 fw-bold">
                        {{ payrollDashboardEmployeeCountResponse.daysInMonth }}
                      </h4>
                    </div>
                    <!--end col-->
                    <div class="col-auto">
                      <p class="mb-0 font-12">Payroll</p>
                      <h4 class="mt-3 fw-bold"> {{payrollDashboardEmployeeCountResponse.processedPayrollCount}}/{{
                        payrollDashboardEmployeeCountResponse.totalUser }}
                        <span class="text-muted font-10 fw-normal">EMPLOYEES</span>
                      </h4>
                    </div>
                    <!--end col-->
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-md-8">
                <ul class="list-inline mb-0 contact-detail float-end mt-3">
                  <li class="list-inline-item">
                    <div class="ps-3">
                      <p class="text-muted font-12 mb-0">TOTAL PAYROLL COST</p>
                      <h5 class="mb-0"> ₹ {{ organizationMonthWiseSalaryData?.grossPay || 0 }}
                      </h5>
                      <small class="text-success">{{organizationPreviousMonthSalaryData.month}} ₹ {{
                        organizationPreviousMonthSalaryData?.grossPay || 0 }}</small>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="ps-3">
                      <p class="text-muted font-12 mb-0">TDS</p>
                      <h5 class="mb-0"> ₹ {{ organizationMonthWiseSalaryData?.tdsAmount || 0 }}
                      </h5>
                      <small class="text-success">{{organizationPreviousMonthSalaryData.month}} ₹ {{
                        organizationPreviousMonthSalaryData?.tdsAmount || 0 }}</small>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="ps-3">
                      <p class="text-muted font-12 mb-0">EPF</p>
                      <h5 class="mb-0"> ₹ {{ organizationMonthWiseSalaryData?.epfAmount || 0 }}
                      </h5>
                      <small class="text-success">{{organizationPreviousMonthSalaryData.month}} ₹ {{
                        organizationPreviousMonthSalaryData?.epfAmount || 0 }}</small>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="ps-3">
                      <p class="text-muted font-12 mb-0">ESI</p>
                      <h5 class="mb-0"> ₹ {{ organizationMonthWiseSalaryData?.esiAmount || 0 }}
                      </h5>
                      <small class="text-success">{{organizationPreviousMonthSalaryData.month}} ₹ {{
                        organizationPreviousMonthSalaryData?.esiAmount || 0 }}</small>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="ps-3">
                      <p class="text-muted font-12 mb-0">NET PAY</p>
                      <h5 class="mb-0"> ₹ {{ organizationMonthWiseSalaryData?.netPay || 0 }}
                      </h5>
                      <small class="text-success">{{organizationPreviousMonthSalaryData.month}} ₹ {{
                        organizationPreviousMonthSalaryData?.netPay || 0 }}</small>
                    </div>
                  </li>
                </ul>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end card-body-->
        </div>
        <!--end card-body-->
      </div>
      <div class="row mt-3">
        <div class="col-lg-8">
          <div class="card bg-transparent shadow-none">
            <div class="card-body">
              <div class="row">
                <div class="col align-self-center mt-4 mt-lg-0">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#wallet_BTC" role="tab">
                        Run Payroll </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#payrollHistory" role="tab"
                        (click)="getPayrollLogs()"> Payroll History </a>
                    </li>
                  </ul>
                  <div class="tab-content my-3">
                    <div class="tab-pane fade show active" id="wallet_BTC" role="tabpanel">
                      <div class="row" *ngIf="userSalaryTemplateNotConfigCount>0">
                        <div class="col-md-12">
                          <p class="mb-0" style="color : red"> salary template is not mapped with
                            {{userSalaryTemplateNotConfigCount}} user <a routerLink="/setting/salary-setting">click to add</a></p>
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-md-6" (click)="employeeChangesSection(PAYROLL_PROCESS_STEP)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > FINAL_SETTLEMENT, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT}">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/creative-idea.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Employee Changes <span class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox text-success': PAYROLL_PROCESS_STEP > FINAL_SETTLEMENT,'ti-circle-1': PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Preview new joiners, FNF, and notice-period employees</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="attendanceAndLeaveSection(PAYROLL_PROCESS_STEP)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > LOP_REVERSAL, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= LOP_REVERSAL}"
                            [class.disabled]="PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/schedule.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Attendance, Leave & Present Days <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox': PAYROLL_PROCESS_STEP > LOP_REVERSAL,'ti-circle-2': PAYROLL_PROCESS_STEP <= LOP_REVERSAL}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Manage pending leaves and LOPs</small>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="salaryChangeSection(PAYROLL_PROCESS_STEP)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > OVERTIME, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= OVERTIME}"
                            [class.disabled]="PAYROLL_PROCESS_STEP <= LOP_REVERSAL">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/business-report.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Salary Revision, Overtime & Deduction <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox': PAYROLL_PROCESS_STEP > OVERTIME,'ti-circle-3': PAYROLL_PROCESS_STEP <= OVERTIME}">
                                    </i>
                                  </span>
                                </p>


                                <small class="text-muted">Review this month's salary revisions, overtime, and
                                  deductions.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="epfEsiTdsSection(PAYROLL_PROCESS_STEP)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > TDS, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= TDS}"
                            [class.disabled]="PAYROLL_PROCESS_STEP <= OVERTIME">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/card-reader.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> EPF, ESI & TDS <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox text-success': PAYROLL_PROCESS_STEP > TDS,'ti-circle-4': PAYROLL_PROCESS_STEP <= TDS}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Review EPF, ESI, and TDS deductions for this month.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                      <!-- ====================////////////////////////////////////////////============================ -->
                      <div class="row" [ngClass]="{'disabled-lnk': userSalaryTemplateNotConfigCount>0}">
                        <div class="col-md-6" (click)="goToSection(CURRENT_TAB_IN_EMPLOYEE_CHANGE)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > FINAL_SETTLEMENT, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT}"
                            [class.disabled]=" userSalaryTemplateNotConfigCount>0">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/creative-idea.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Employee Changes <span class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox text-success': PAYROLL_PROCESS_STEP > FINAL_SETTLEMENT,'ti-circle-1': PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Preview new joiners, FNF, and notice-period employees</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="goToSection(CURRENT_TAB_IN_ATTENDANCE_AND_LEAVE)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > LOP_REVERSAL, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= LOP_REVERSAL}"
                            [class.disabled]="(PAYROLL_PROCESS_STEP <= FINAL_SETTLEMENT)|| userSalaryTemplateNotConfigCount>0">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/schedule.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Attendance, Leave & Present Days <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox': PAYROLL_PROCESS_STEP > LOP_REVERSAL,'ti-circle-2': PAYROLL_PROCESS_STEP <= LOP_REVERSAL}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Manage pending leaves and LOPs</small>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="goToSection(CURRENT_TAB_IN_SALARY_CHANGE)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > OVERTIME, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= OVERTIME}"
                            [class.disabled]="(PAYROLL_PROCESS_STEP <= LOP_REVERSAL) || userSalaryTemplateNotConfigCount>0">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/business-report.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> Salary Revision, Overtime & Deduction <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox': PAYROLL_PROCESS_STEP > OVERTIME,'ti-circle-3': PAYROLL_PROCESS_STEP <= OVERTIME}">
                                    </i>
                                  </span>
                                </p>


                                <small class="text-muted">Review this month's salary revisions, overtime, and
                                  deductions.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" (click)="goToSection(CURRENT_TAB_IN_EPF_ESI_TDS)">
                          <div class="card-body mt-3 payroll-step"
                            [ngClass]="{'bg-soft-success': PAYROLL_PROCESS_STEP > TDS, 'bg-soft-warning': PAYROLL_PROCESS_STEP <= TDS}"
                            [class.disabled]="(PAYROLL_PROCESS_STEP <= OVERTIME) || userSalaryTemplateNotConfigCount>0">
                            <div class="row">
                              <div class="col-auto">
                                <img src="assets/images/card-reader.svg" alt="user" height="50"
                                  class="align-self-center mb-3 mb-lg-0" />
                              </div>
                              <div class="col align-self-center">
                                <p class="font-14 mb-2"> EPF, ESI & TDS <span
                                    class="task-priority-icon float-end">
                                    <i class="ti"
                                      [ngClass]="{'ti-checkbox text-success': PAYROLL_PROCESS_STEP > TDS,'ti-circle-4': PAYROLL_PROCESS_STEP <= TDS}">
                                    </i>
                                  </span>
                                </p>
                                <small class="text-muted">Review EPF, ESI, and TDS deductions for this month.</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col">
                          <div class="media">
                            <div class="media-body align-self-center">
                              <p class="text-muted font-12 mb-0 mt-2"> Last Preview Run On
                                {{organizationMonthWiseSalaryData?.updatedDate | date: 'dd MMM'}} at
                                {{organizationMonthWiseSalaryData?.updatedDate | date:'shortTime'}} By
                                {{organizationMonthWiseSalaryData?.updatedBy}} </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="button-items">
                            <!-- [disabled]="PAYROLL_PROCESS_STEP < PAYROLL_STEP_COMPLETED"  -->
                            <button type="button" class="btn btn-outline-primary btn-round"
                              (click)="getPayrollReport()" [class.disabled]="(PAYROLL_PROCESS_STEP < PAYROLL_STEP_COMPLETED) || userSalaryTemplateNotConfigCount>0">
                              <ng-container *ngIf="RUN_PAYROLL_LOADER; else runPayrollLoaderFalseCondition">
                                <div class="dot-opacity-loader">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </ng-container>
                              <ng-template #runPayrollLoaderFalseCondition>
                                <div>Run Payroll</div>
                              </ng-template>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="payrollHistory" role="tabpanel">
                      <div class="content">
                        <ul class="list-group"
                          *ngIf="!isPayrollHistoryPlaceholder; else errorConditionWhileFetchingReport">
                          <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let log of payrollLogs">
                            <div>
                              <i class="la la-check text-muted font-16 me-2"></i> {{ log.fileName }}
                            </div>
                            <small> {{ log.createdBy || 'N/A' }} - {{ log.createdDate | date: 'medium'}}</small>
                            <a href="{{ log.url }}" target="_blank">
                              <span class="badge badge-outline-success badge-pill">
                                <i class="ti ti-download"></i> Download </span>
                            </a>
                          </li>
                        </ul>
                        <ng-template #errorConditionWhileFetchingReport>
                          <div class="errorboxmain" *ngIf="
                                    networkConnectionErrorPlaceHolderForPayrollHistory
                                  ">
                            <div class="errorboxinner text-center">
                              <div class="errorboxplaceholder mb-2">
                                <img src="assets/images/signal.svg" style="width: 100px" />
                              </div>
                              <div class="">
                                <h4>Something went wrong</h4>
                                <p> An error occurred while processing your request. Please refresh the page and try
                                  again. </p>
                              </div>
                            </div>
                          </div>


                          <div class="empty-file" style="margin-top: 9%; margin-bottom: 9%" *ngIf="
                          dataNotFoundPlaceholderForPayrollHistory">
                            <nz-empty nzNotFoundImage="assets/images/no-data-found-img-2.svg"
                              [nzNotFoundContent]="contentTpl">
                              <ng-template #contentTpl>
                                <p class="mb-1 empty-detail font-16">No data for now</p>
                              </ng-template>
                            </nz-empty>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card fixheigt-section">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="card-title">Average Pay Distribution</h4>
                </div>
                <div class="col-auto">
                  <small>{{this.startDate | date: 'MMM - YYYY'}}</small>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center">
                <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [legend]="showLegend"
                  [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient">
                </ngx-charts-pie-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="payrollToggleView">
      <app-leave-summary [startDate]="startDate" [endDate]="endDate" [step]="PAYROLL_PROCESS_STEP" (getData)="getData($event)"
        *ngIf="showLeaveComponent"></app-leave-summary>
      <app-employee-management [startDate]="startDate" [endDate]="endDate" [step]="PAYROLL_PROCESS_STEP" (getData)="getData($event)"
        *ngIf="showEmployeeComponent"></app-employee-management>
      <app-earning-management [startDate]="startDate" [endDate]="endDate" [step]="PAYROLL_PROCESS_STEP" (getData)="getData($event)"
        *ngIf="showEariningComponent"></app-earning-management>
      <app-salary-deduction-management [startDate]="startDate" [endDate]="endDate" [step]="PAYROLL_PROCESS_STEP" (getData)="getData($event)"
        *ngIf="showSalaryComponent"></app-salary-deduction-management>
    </div>
  </div>
</div>