<app-employee-onboarding-sidebar></app-employee-onboarding-sidebar>



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Persnaol Information</h5>
                    <p class="mb-0">Fields with are mandatory </p>

                    <div class="persnol-info mt-4">
                        <div class="row">

                            <div class="col-md-12">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Name</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                               </div>
                            </div>

                            <div class="col-md-12">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Profile Picture</label>

                                    <div class="importfilebox">
                                        <input id="fileSelect" type="file" name="img[]" accept=".xlsx" class="input">
                                        <label for="fileSelect">

                                            <div class="">
                                                <img src="assets/images/user.png" alt="" style="width:60px;">
                                            </div>
                                            <!--  -->
                                            <span><b>Drop your file here or <a href="#" class="select-file"> Select a file </a> </b><br> SVG, PNG, JPG or GIF (max. 800px*400px)</span>
                                            <!-- <button>BROWSE</button> -->
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Email Id</label>
                                   <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Phone</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone">
                               </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">DOB</label>
                                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter DOB">
                                </div>
                             </div>
                             <div class="col-md-6">
                               
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Gendder</label>
                                    <div class="dropdown" style="width: 100%;">
                                        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown"> Select Gendder 
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                        <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="width: 100%;">
                                            <li><a class="dropdown-item">Male</a></li>
                                            <li><a class="dropdown-item">Female</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Father's Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter father name">
                                </div>
                             </div>

                             <div class="col-md-12 d-flex justify-content-between">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button"><i class="bi bi-arrow-left" style="padding-right: 8px; "></i> Back</button>
                                </div>
                                <div class="info-btn d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button">Next <i class="bi bi-arrow-right" style="padding-left: 8px; "></i></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>