<div class="page-wrapper">
    <div class="page-content-tab">
      <div class="container-fluid">
            <div class="row">
                <div class="p-3 ">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center" style="gap:15px; width:50%;">
                            <div class="project-logo">
                                <img src="assets/images/wekreta-white-logo.svg">
                            </div>
                            <div class="project-detail" style="width:100%">
                                <h4>Project Name</h4>
                                <div class="d-flex align-items-center " style="gap:10px;margin-top: 2px;">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="project-complete mb-0">30% complete</p>
                                </div>
                                
                               </div>
                        </div>
                        

                          
                        <div class="">

                           <div class="d-flex align-items-center" style="gap:15px;">
                            <div class="img-group d-flex">
                               
                            <a href="" class="user-avatar" ng-reflect-ng-class="">
                                <span class="members-name">R</span>
                            </a>
                            <a href="" class="user-avatar ms-n3" ng-reflect-ng-class="ms-n3">
                                <span>
                                    <img alt="u" class="thumb-xs rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/haajiri.appspot.com/o/uploads%2F1705479975446_1535446202596.jpeg?alt=media&amp;token=13415ad0-db24-4a27-8481-22a8c406cc7b">
                                </span>
                            </a>
                              <a href="" class="user-avatar ms-n3" ng-reflect-ng-class="ms-n3">
                                <span>
                                    <img alt="u" class="thumb-xs rounded-circle" src="https://avatars.slack-edge.com/2022-04-12/3381157715620_4cd6f0e0ee4aefeafb42_original.jpg">
                                </span>
                            </a>
                            <a href="" class="user-avatar ms-n3" ng-reflect-ng-class="ms-n3">
                                <span>
                                    <img alt="u" class="thumb-xs rounded-circle" src="https://avatars.slack-edge.com/2022-04-12/3381157715620_4cd6f0e0ee4aefeafb42_original.jpg">
                                </span>
                            </a>
                            <a href="" class="user-avatar ms-n3" ng-reflect-ng-class="ms-n3">
                                <span>
                                    <img alt="u" class="thumb-xs rounded-circle" src="https://avatars.slack-edge.com/2022-04-12/3381157715620_4cd6f0e0ee4aefeafb42_original.jpg">
                                </span>
                            </a>
                              <a class="user-avatar">
                                <span class="thumb-xs justify-content-center d-flex align-items-center bg-soft-info rounded-circle fw-semibold">+9</span>
                            </a>
                            </div>

                            <button tyle="button" class="btn btn-primary">Add Member</button>
                           </div>
                            
                            

                        </div>
                    </div>



                    <div class="mt-3 position-relative">
                        <div class="">
                            <div class="">
                                <ul id="myTab" role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="nav-item">
                                        <button id="home-tab" data-bs-toggle="tab" data-bs-target="#leave-setting" type="button" role="tab" aria-controls="leave-setting" aria-selected="true" class="nav-link active">Overview </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button id="home-tab" data-bs-toggle="tab" data-bs-target="#payslip" type="button" role="tab" aria-controls="payslip" aria-selected="true" class="nav-link">Tasks </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button id="home-tab" data-bs-toggle="tab" data-bs-target="#pending-employee" type="button" role="tab" aria-controls="pending-employee" aria-selected="true" class="nav-link">Nots </button>
                                    </li>
                                </ul>
                            </div>
                         
                        </div>

                        <div class="d-flex project-board">
                            <span class="project-overview active">Board</span>
                            <span class="project-overview">Table</span>
                            <span class="project-overview">List</span>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
