<div class="page-wrapper">
  
      <div class="container-fluid">
  
        <div class="col-md-12 mt-3 mb-3">
  
          <div class="row mt-2">
            <div class="col-md-4 mt-3 mb-3">
              <div *ngIf="!isLoading" class="form-roe-data">
                <h5>Exit Policy</h5>
                <p>This will be displayed on your profile.</p>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row mb-3"></div>
  
              <div *ngIf="isLoading">
                <div class="">
                  <div class="text-end">
                    <ngx-shimmer-loading [width]="'40%'" [height]="'20px'"
                      style="border-radius: 50%"></ngx-shimmer-loading>
                  </div>
                </div>
                <div class="mt-3" style="
                              border: 1px solid #f5f5f5;
                              padding: 5px;
                              border-radius: 6px;
                            ">
                  <div class="row" style="
                                border-bottom: 1px solid #f5f5f5;
                                padding-top: 10px;
                                padding-bottom: 10px;
                              ">
                    <div class="col-md-6">
                      <div class="">
                        <ngx-shimmer-loading [width]="'60%'" [height]="'20px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-end">
                        <ngx-shimmer-loading [width]="'60%'" [height]="'20px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2" style="
                                border-bottom: 1px solid #f5f5f5;
                                padding-top: 10px;
                                padding-bottom: 10px;
                              ">
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2" style="
                                border-bottom: 1px solid #f5f5f5;
                                padding-top: 10px;
                                padding-bottom: 10px;
                              ">
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2" style="
                                border-bottom: 1px solid #f5f5f5;
                                padding-top: 10px;
                                padding-bottom: 10px;
                              ">
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2" style="
                                border-bottom: 1px solid #f5f5f5;
                                padding-top: 10px;
                                padding-bottom: 10px;
                              ">
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-3">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Create Leave Template Start -->
              <!-- <div class="add-shift-main-box" *ngIf="leaveTemplates.length > 0  && !leaveSettingPlaceholder && !isLeaveErrorPlaceholder && !isLoading"> -->
              <div class="add-shift-main-box" *ngIf="!isLoading">
  
                <div class="add-shift-box d-flex align-items-center justify-content-between p-3 pt-2 pb-2">
                  <div class="">
                    <h6 class="text-truncate mb-0">Exit Policy</h6>
                  </div>
                  <div class="">
  
                    <!-- <a class="add-shift-time-btn" data-bs-toggle="modal" data-bs-target="#createPolicy" (click)="getExpenseType(); clearData()"> -->
                    <a class="add-shift-time-btn" (click)="clearData()" data-bs-toggle="modal" data-bs-target="#createPolicy" >
                      <i class="bi bi-plus"></i> Create exit policy
                    </a>
                  </div>
                </div>
  
                <div *ngIf="exitPolicyList.length == 0" class="col-md-12">
                  <div class="d-flex justify-content-center p-4">
                    <img src="assets/images/no-data-found-img.svg" alt="" height="20%" width="10%">
                  </div>
                  <div class="d-flex justify-content-center"
                    style="margin-top: -1%; margin-left: 4%; margin-bottom: 5px;">
                    <h6>No Policy Created Yet!!</h6>
                  </div>
                </div>
  
                <!-- View company expense policy list -->
                <div *ngIf="exitPolicyList.length > 0">
                  <div class="shift-time p-3 m-3" *ngFor="let exitPolicy of exitPolicyList; let i = index">
                    <div class="">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-3">
                          <div class="">
                            <span class="automation-rules-icon d-flex align-items-center justify-content-center">
                              <img src="assets/images/rule-icon.svg" />
                            </span>
                          </div>
                          <div class="">
                            <h6 class="text-truncate mb-0">
                              {{ exitPolicy?.policyName }}
                            </h6>

                            <p class="text-truncate mb-0">Notice Period Duration: {{exitPolicy.noticePeriodDuration}}</p>

                            <small class="text-muted">Define the leave rules for the employees</small>
                          </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                          <div class="d-flex align-items-center gap-3">
  
                            <!-- <a href="" data-bs-toggle="modal" data-bs-target="#createPolicy" (click)="getExpenseType()"> -->
                            <a href="" data-bs-toggle="modal" data-bs-target="#createPolicy" >
                              <i class="bi bi-pencil pointer" style="color: #6666f3" (click)="getExitPolicyInformationById(exitPolicy)"></i>
                            </a>
  
                            <a class="delete-rule" data-bs-toggle="modal" data-bs-target="#delete-policy" (click)="
                                      getExitPolicyId(exitPolicy.id)">
                              <i class="bi bi-trash pointer text-danger"></i>
                            </a>
  
                          </div>
  
                          <span class="staff-leave-setting bg-white">Staff - {{ exitPolicy.totalEmployees }}</span>
                          
                          <!-- <span class="automation-rules-toogel-btn pointer" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#multiCollapseExample' + i" role="button"
                            [attr.aria-controls]="'multiCollapseExample' + i"
                            [attr.aria-expanded]="i == activeIndex ? 'true' : 'false'" (click)="toggleCollapse(i)">
                            <i class="bi bi-chevron-down"></i>
                          </span> -->

                        </div>
                      </div>
  
                      <!-- <div class="collapse multi-collapse" [id]="'multiCollapseExample' + i"
                        [class.show]="activeIndex === i">
                        <div class="row mt-3">
                          <div [ngClass]="{
                                      'col-md-4':
                                      expensePolicy.companyExpensePolicyTypeRes.length > 2,
                                      'col-md-6':
                                      expensePolicy.companyExpensePolicyTypeRes.length == 2,
                                      'col-md-12':
                                      expensePolicy.companyExpensePolicyTypeRes.length == 1
                                    }" *ngFor="let expensePolicyType of expensePolicy.companyExpensePolicyTypeRes">
                            <div class="custom-salary">
                              <div class="custom-salary-hedding p-3 d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">
                                  {{ expensePolicyType?.expenseTypeName || "N/A" }}
                                </h4>
                                <div class="d-flex align-items-center gap-3">
  
                                  <i *ngIf="
                                            expensePolicy.companyExpensePolicyTypeRes.length > 1" data-bs-toggle="modal"
                                    data-bs-target="#delete-policy" (click)="
                                            getExpensePolicyOrExpensePolicyTypeId(expensePolicyType.id, false, 0)"
                                    class="bi bi-trash pointer text-danger"></i>
                                </div>
                              </div>
                              <div class="custom-salary-para p-3">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <p class="mb-0">Amount</p>
                                  <span style="color: #3f988f">{{
                                    expensePolicyType?.amount || "0"
                                    }}</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <p class="mb-0">Flexible Amount</p>
                                  <span style="color: #3f988f">{{
                                    expensePolicyType?.flexibleAmount || "0"}} <span
                                      *ngIf="expensePolicyType.isPercentage == 1">%</span> </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                    </div>
                  </div>
                </div>
                <!-- View company expense policy list end -->
  
              </div>
              <!-- Create Leave Template End -->
  
              <div class="col-md-1"></div>
            </div>
          </div>
  
  
        </div>
         <!-- Create and View Company Expense start -->
      </div>
  </div>
  



  <!-- Add policy modal start -->
<div class="modal fade" id="createPolicy" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel"
data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title m-0" id="exampleModalDefaultLabel">
          Exit Policy
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="clearForm(exitForm)" #closeExitPolicyModal></button>
          <!-- (click)="clearForm(exitForm)" #closeExitPolicyModal></button> -->
      </div>
      <div class="modal-body modal-height-fix">
        <div class="">
          <ul id="myTab" role="tablist" class="nav nav-tabs">
            <li role="presentation" class="nav-item">
              <button id="home-tab" data-bs-toggle="tab" data-bs-target="#shiftime" type="button" role="tab"
                aria-controls="expensePolicy" aria-selected="true" class="nav-link active pt-0"
                [class.active]="activeTab === 'exitPolicy'" (click)="exitPolicySelectionTab()" #exitPolicyTab>
                Policy
              </button>
            </li>

            <li role="presentation" class="nav-item">
              <button id="profile-tab" data-bs-toggle="tab" [attr.aria-selected]="!exitForm.invalid"
                [attr.tabindex]="exitForm.invalid ? -1 : null" data-bs-target="#staffselection" type="button"
                role="tab" aria-controls="staffselection" aria-selected="false" class="nav-link pt-0"
                #staffActiveTabInShiftTiming [class.active]="activeTab === 'staffselection'"
                (click)="staffActiveTabInShiftTimingMethod()" [disabled]="policyName == '' || noticePeriodDuration == ''" >
                <!-- (click)="staffActiveTabInShiftTimingMethod()" [disabled]="expensePolicyReqList.length == 0"> -->
                Staff selection
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="shiftime" role="tabpanel"
              [class.show]="activeTab === 'exitPolicy'" [class.active]="activeTab === 'exitPolicy'">

              <form #exitForm="ngForm" ngNativeValidate >
               
                <div class="row pt-3 pb-3 ">
                  <!-- Policy Name -->
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label for="policyNameInput" class="pb-2">Policy Name</label>
                      <input [disabled]="tempPolicyName !== ''" type="text" class="form-control whatapp-login-input"
                        id="policyNameInput" placeholder="Enter policy name" required [(ngModel)]="policyName"
                        name="policyNameInput" #policyNameInput="ngModel" />
                      <div *ngIf="policyNameInput.invalid && policyNameInput.touched" class="text-danger">
                        Policy name is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row pt-3 pb-3 ">
                    <!-- Notice Period Date -->
                    <div class="col-md-12">
                      <div class="mb-3">
                        <label for="noticePeriodInput" class="pb-2">Notice Period</label>
                        <input type="number" class="form-control whatapp-login-input" min="1" 
                          id="noticePeriod" placeholder="Enter notice period" required [(ngModel)]="noticePeriodDuration" 
                          name="noticePeriodInput" #noticePeriodInput="ngModel" />
                        <div *ngIf="noticePeriodInput.invalid && noticePeriodInput.touched" class="text-danger">
                            Notice Period is required.
                        </div>
                      </div>
                    </div>
                  </div>

              </form>

              <div class="modal-footer d-flex align-items-center justify-content-end pb-0">
                <!-- <button type="submit" class="btn btn-primary next-tab-btn" [disabled]="expensePolicyReqList.length == 0" -->
                <button type="submit" [disabled]="policyName == '' || noticePeriodDuration == '' || exitForm.invalid" class="btn btn-primary next-tab-btn" 
                  (click)="staffActiveTabInShiftTimingMethod()">
                  Next
                </button>
              </div>
            </div>

            <!-- Staff selection start -->
            <div class="tab-pane fade" id="staffselection" role="tabpanel" [class.show]="activeTab === 'staffselection'"
              [class.active]="activeTab === 'staffselection'">
              <div class="staf-list-box mt-3">
                <div class="row mb-1 mt-3 align-items-center" style="padding-bottom: 15px">
                  <div class="col-md-12">
                    <div class="d-flex align-items-center" style="border: 1px solid #f1f1f1">
                      <div style="width: 30%; position: relative">
                        <div class="dropdown" style="width: 100%">
                          <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                            class="btn btn-secondary dropdown-toggle new-deopdown">
                            {{ selectedTeamName }}
                            <i class="bi bi-chevron-down" style="color: #444; font-size: 15px"></i>
                          </button>
                          <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu team-dropdown" style="
                                                        width: 100%; max-height: 200px; overflow-y: auto;">
                            <li class="ng-star-inserted" (click)="selectTeam(0)">
                              <a class="dropdown-item">All</a>
                            </li>
                            <li class="ng-star-inserted" *ngFor="let tn of teamNameList"
                              (click)="selectTeam(tn.teamId)">
                              <a class="dropdown-item"> {{ tn.teamName }} </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="" style="width: 70%">
                        <form novalidate="" role="search" (submit)="searchUsers()"
                          class="searching ng-untouched ng-pristine ng-valid">
                          <div class="form-group" style="position: relative">
                            <input type="text" id="searchText" placeholder="Search by name and role"
                              class="form-control me-2 ng-untouched ng-pristine ng-valid attendance-details-search"
                              (keyup)="searchUsers()" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }"
                              style="padding: 10px 50px 10px 40px" />
                            <button *ngIf="searchText.length !== 0" type="button" class="btn close-btn"
                              (click)="clearSearchText()">
                              <i class="bi bi-x mt-auto mb-auto pl-3"></i>
                            </button>
                            <i class="bi bi-search search-icon"
                              style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px; padding-left: 5px;"></i>
                          </div>
                        </form>
                      </div>
                      <div class="container">
                        <div class="content-wrapper">
                          <div class="d-flex filter-wrapper gap-5 justify-content-end">
                            <!-- Display this only if there are selected staff -->
                            <a class="info-button" *ngIf="selectedStaffIdsUser.length > 0">
                              {{ selectedStaffIdsUser.length }} selected of
                              {{ totalUserCount }}
                            </a>
                            <!-- Clear button shows only if there are selected staff -->
                            <span class="clear-button text-danger pointer" *ngIf="selectedStaffIdsUser.length > 0"
                              (click)="clearIds()">
                              Clear all users <i class="bi bi-x"></i>
                            </span>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th style="width: 0%">
                        <input type="checkBox" (click)="selectAllEmployee()" [checked]="allselected" />
                      </th>
                      <th style="width: 25%; padding: 12px 15px">Name</th>
                      <th style="width: 25%; padding: 12px 15px">Email</th>
                      <th style="width: 25%; padding: 12px 15px">Phone</th>
                    </tr>
                  </thead>

                  <tbody *ngIf="staffLoading">
                    <tr>
                      <td colspan="9" class="text-center" style="height: 40vh;">
                        <img src="assets/images/load-8.gif" style="width: 50px;">
                      </td>
                    </tr>
                  </tbody>


                  <tbody *ngIf="!staffLoading">
                    <tr *ngFor="let staff of staffs; let i = index">
                      <td>
                        <div class="form-check">
                          <input type="checkBox" name="checkBox{{ i }}" id="checkBoxid{{ i }}"
                            (click)="selectSingle(staff, i)" [checked]="staff.checked" />
                        </div>
                      </td>

                      <td style="padding: 12px 15px">{{ staff.name }}</td>
                      <td style="padding: 12px 15px">
                        {{ staff.email ? staff.email : "N/A" }}
                      </td>
                      <td style="padding: 12px 15px">
                        {{ staff.phoneNumber || "N/A" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- </ng-container> -->

              </div>

              <!-- staff pagination start -->
              <div class="pagination justify-content-between pl-3" *ngIf="staffs.length > 0">
                <p class="mb-0" style="padding-left: 15px">
                  Showing {{ staffs.length }} of {{ total }} members
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <ngb-pagination [collectionSize]="total" [rotate]="true" (pageChange)="pageChanged($event)"
                      [pageSize]="databaseHelper.itemPerPage" [(page)]="databaseHelper.currentPage" [maxSize]="4"
                      [boundaryLinks]="true"></ngb-pagination>
                  </div>
                </div>
              </div>

              <div class="modal-footer d-flex align-items-center justify-content-between">
                <button *ngIf="!userMappedLoading" type="button" class="btn btn-outline-primary btn-round"
                  (click)="getUserMappedWithPolicy(exitForm)"
                  [disabled]="selectedStaffIdsUser.length == 0 || userMappedLoading">
                  {{this.exitPolicyReq.id == 0 ? 'Submit' : 'Update'}}
                </button>

                <div class="dot-opacity-loader" *ngIf="userMappedLoading">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add policy modal end -->


<!-- delete policy modal -->
<div class="modal fade" id="delete-policy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 500px" role="document">
    <div class="modal-content">
      <div class="modal-body p-0 delete-text">
        <div class="delete-image d-flex align-items-center justify-content-center pt-4 pb-4">
          <div class="delete-close-btn">
            <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"
              #closeButtonDeleteExpensePolicy>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <mask id="mask0_2031_1331" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30"
                  height="30">
                  <rect width="30" height="30" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2031_1331)">
                  <path
                    d="M8 23.75L6.25 22L13.25 15L6.25 8L8 6.25L15 13.25L22 6.25L23.75 8L16.75 15L23.75 22L22 23.75L15 16.75L8 23.75Z"
                    fill="black" />
                </g>
              </svg>
            </button>
          </div>
          <img src="/assets/images/delete-img.svg" style="width: 70px" />
        </div>
        <div class="bg-white p-4 text-center">

          <!-- <div *ngIf="expenseAppliedCount == 0"> -->
          <div >
            <h5 class="alert-heading font-18 mb-2">
              Are you sure you want to delete <br />
              Exit Policy ?
            </h5>
            <p class="font-11">You will not be able to recover this</p>
          </div>

          <!-- <div *ngIf="expenseAppliedCount > 0">
            <h5 class="alert-heading font-18 mb-2">
              Are you sure ?
            </h5>
            <p class="font-11">There are <b class="font-13">{{expenseAppliedCount}}</b> users who have submitted expense
              associated with this policy.
              Deleting this policy will permanently remove all related data and cannot be recovered</p>
          </div> -->

          <div class="mt-4 d-flex align-items-center flex-column">
            <!-- <button [disabled]="deletePolicyToggle" class="btn continue-btn" *ngIf="expensePolicyId > 0"
              (click)="deleteExpensePolicyById()">
              Continue
              <i class="fa fa-spinner fa-spin" *ngIf="deletePolicyToggle"></i>
            </button> -->

            <button [disabled]="deletePolicyToggle" class="btn continue-btn" 
              (click)="deleteExitPolicy()">
              Continue
              <i class="fa fa-spinner fa-spin" *ngIf="deletePolicyToggle"></i>
            </button>
            <button class="btn cancel-btn pt-2" type="button" data-bs-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- delete policy modal end-->



<!-- Alread mapped users with policy -->
<button class="d-none" data-bs-toggle="modal" data-bs-target="#usersAlreadyAssigned" #usersAlreadyAssigned class="d-none"></button>

<div class="modal fade" id="usersAlreadyAssigned" tabindex="-1" role="dialog" aria-hidden="true"
  data-bs-backdrop="static" #usersAlreadyAssigned>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 500px" role="document">
    <div class="modal-content">
      <div class="modal-body manualUpload p-0" style="background-image: url(../assets/images/user-alredy-img.svg)">
        <div class="d-flex align-items-center justify-content-end pt-2 close-icon-btn" style="padding-right: 10px">
          <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close" #closeButton
            (click)="closeModal()" data-bs-toggle="modal" data-bs-target="#shiftTime">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="31" viewBox="0 0 32 31" fill="none">
              <mask id="mask0_3479_11687" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32"
                height="31">
                <rect x="0.972656" y="0.505066" width="30.0938" height="30.075" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_3479_11687)">
                <path
                  d="M8.99766 24.3144L7.24219 22.5601L14.2641 15.5426L7.24219 8.52507L8.99766 6.77069L16.0195 13.7882L23.0414 6.77069L24.7969 8.52507L17.775 15.5426L24.7969 22.5601L23.0414 24.3144L16.0195 17.2969L8.99766 24.3144Z"
                  fill="#181818" />
              </g>
            </svg>
          </button>
        </div>

        <div class="row p-3 pb-4 pt-4 align-items-center">
          <div class="col-md-8">
            <div class="manualUploadDetail persnol-details p-0 quickGuideHeading">
              <h5 class="alert-heading text-warning font-16 mb-2">
                Users Already Assigned to Another Location
              </h5>
              <p class="mb-0 text-black">
                Do you want to add them to the new location? Doing so will
                remove them from the current location.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="side-img" style="background-image: url(../assets/images/user-img.svg)"></div>
          </div>
        </div>

        <div class="p-3 employee-list bg-white">
          <h4 class="mb-1">Employee List</h4>
          <div class="manualemployList" *ngIf="userNameWithBranchName.length > 0">
            <div class="d-flex align-items-center justify-content-between persnol-details userList p-0 pt-2 pb-2"
              *ngFor="let list of userNameWithBranchName">
              <div class="d-flex align-items-center gap-3">
                <span class="userName">{{
                  list.userName.charAt(0).toUpperCase()
                  }}</span>

                <div>
                  <h5 class="alert-heading font-13 mb-1">
                    {{ list.userName }}
                  </h5>
                  <div class="d-flex align-items-center gap-2">
                    <p class="mb-0 font-11">{{ list.userEmail || "N/A" }}</p>
                    <span class="spreter-line"></span>
                    <span class="shift-tag">{{ list.branchName || "N/A"}}</span>
                  </div>
                </div>
              </div>
              <div>
                <button class="btn p-0 addUserRemvo" (click)="removeUser(list.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                    <mask id="mask0_3479_11708" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                      width="22" height="23">
                      <rect x="0.015625" y="0.57843" width="21.8948" height="21.8948" fill="white" />
                    </mask>
                    <g mask="url(#mask0_3479_11708)">
                      <path
                        d="M6.40482 19.7378C5.90306 19.7378 5.47353 19.5592 5.11622 19.2019C4.75891 18.8446 4.58025 18.415 4.58025 17.9133V6.05359H3.66797V4.22903H8.22939V3.31674H13.7031V4.22903H18.2645V6.05359H17.3522V17.9133C17.3522 18.415 17.1736 18.8446 16.8163 19.2019C16.4589 19.5592 16.0294 19.7378 15.5277 19.7378H6.40482ZM15.5277 6.05359H6.40482V17.9133H15.5277V6.05359ZM8.22939 16.0887H10.054V7.87816H8.22939V16.0887ZM11.8785 16.0887H13.7031V7.87816H11.8785V16.0887Z"
                        fill="#FF0404" />
                    </g>
                  </svg>
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="border-top p-3">
        <div class="form-check d-flex align-items-start" style="padding-left: 0px !important">
          <input type="checkbox" id="validationCheck" style="height: auto !important; position: relative; top: 2px"
            class="ng-dirty ng-touched" [(ngModel)]="isValidated" (change)="checkValidation()" /><label
            for="termsAndConditions" class="form-check-label iHaveRead">
            I have validated the information and will proceed to add users to
            the new location.
          </label>
        </div>
        <div class="d-flex align-items-center justify-content-end gap-3 mt-3">

          <button class="btn submit-add-more d-none" data-bs-dismiss="modal" aria-label="Close" #closeButton2>
            Cancel
          </button>

          <div>
            <button *ngIf="!registerToggle" type="button" class="btn mannualSubmit"
            [disabled]="!isValidated" (click)="registerExitPolicy(exitForm)">
              Add all
            </button>

            <div class="dot-opacity-loader" *ngIf="registerToggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alread mapped users with policy end-->