body.dark-sidebar .left-sidebar {
    background-color: #fff;
}

.left-sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #fff;
    min-height: 100vh;
    -webkit-transition: .3s;
    transition: .3s;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1001;
}

.employee-logo {
    padding-top: 20px;
}

.tracking-body {
    padding: 15px;
}

.tracking-steps {
    position: relative;
    height: -moz-fit-content;
    height: fit-content;
}

.tracking-steps {
    padding-left: 1rem;
}

.tracking-item {
    align-items: center;
    grid-column-gap: 15px;
    column-gap: 15px;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    list-style: none;
}

.new-stap {
    align-items: center;
    grid-column-gap: 15px;
    -moz-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    flex-direction: row;
    position: relative;
    margin-bottom: 15px;
}

.tracking-item:nth-child(1)::after {
    width: 2px;
    height: 0px;
    background-color: #3BB77E;
    top: 31px;
    left: 11px;
    z-index: 1;
}

.tracing-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ebecee;
    line-height: 2px;
    color: #ebecee;
    z-index: 99;
}

.tracking-data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #444 !important;
    margin-bottom: 0;
}

.tracking-steps::after {
    content: '';
    width: 2px !important;
    height: 85% !important;
    background-color: transparent;
    top: 20px !important;
    left: 27px !important;
    z-index: -1 !important;
    position: absolute;
    border-left: 2px dashed #ebecee;
}

.log-out-btn-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: -1px;
    right: 0px;
    z-index: 999;
}

span.members-namess {
    background-color: #a69ff3;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 1px;
}

.ddCElb {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0px;
    margin: 0px;
    color: rgb(15, 20, 25);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eYcpQL {
    color: rgb(75, 88, 101);
    font-size: 0.625rem;
    line-height: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.log-btn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #444;
    line-height: 21px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.manager-list a {
    font-size: 12px !important;
}

.StaticMenuItemBase-button {
    color: #c92f54;
    fill: #c92f54;
    height: 35px;
    border-top: 1px solid #edeae9;
    padding-top: 9px;
}

.log-btn span i {
    top: -1px;
    position: relative;
}


.tracking-body {
    padding: 15px;
    margin-top: 20px;
}


.page-wrapper .page-content-tab {
    width: calc(100% - 250px);
    margin-left: auto;
    position: relative;
    min-height: calc(100vh - 60px);
    padding: 0 8px 52px 8px;
    margin-top: 0px;
  }

.persnol-details {
    /* background-color: #fff; */
    /* margin: 40px 20px; */
    /* background-color: #fff; */
    padding: 30px;
    border-radius: 2px;
    /* border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
    z-index: 999;
    position: relative;
    padding-top: 50px;
  }

.persnol-details p {
    font-size: 13px;
    font-weight: 300;
    color: #6b6b6b;
}

.persnol-details h5 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #000;
}

.new-deopdown {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 40px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.new-deopdown i {
    position: absolute;
    right: 15px;
}

.importfilebox {
    position: relative;
    cursor: pointer;
}

.input[type="file"] {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.importfilebox label {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #f9faff;
    border: 1px dashed #878a9a;
    border-radius: 6px;
    height: 90px;
    cursor: pointer;
    gap: 20px;
    padding-left: 20px;
}

.importfilebox label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: #444444;
    margin-bottom: 0px;
}

.importfilebox label button {
    background: #6666f3;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 5px 15px;
    min-width: 110px;
}

a.select-file {
    color: #6666f3 !important;
}

.back-btn {
    color: #6666f3;
    border: 1px solid #6666f3;
    background-color: #ecf1ff;
}

#imagePreview {
    display: block;
    width: 100px;
    /* Default width, can be adjusted */
    height: 100px;
    /* Default height, can be adjusted */
    object-fit: cover;
    /* To keep aspect ratio */
}

.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    /* Change to your preferred color */
    margin: 0 1px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.text-optional {
    color: grey;
}

.filename-display {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}


/* The check icon */
.bi-check-circle {
    color: #28a745;
    /* Bootstrap's default success color */
}

.scrollable-dropdown {
    height: auto;
    max-height: 200px;
    /* You can adjust this value as per your requirement */
    overflow-x: hidden;
    overflow-y: auto;
}



.nationality-dropdown {
    height: 200px;
    overflow: scroll;
}

.close-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    margin: 10px;
    height: 42px;
    text-align: center;
    font-size: 31px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    font-weight: 200;
    border-radius: 80px;
    white-space: nowrap;
}

.adtpoics {
    background-color: #4660f6;
    border: 1px solid #4660f6;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    min-width: 100px;
    box-shadow: none !important;
    cursor: pointer;
}

.cnceltopics {
    background-color: #f5f5f5;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #444444;
    min-width: 100px;
    box-shadow: none !important;
    cursor: pointer;
}

.deltopics {
    background-color: #fcf1f1;
    border: 1px solid #eb5050;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #eb5050;
    min-width: 100px;
    box-shadow: none !important;
    cursor: pointer;
}

.adtpoics i,
.deltopics i,
.cnceltopics i {
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 14px;
}

.imginstctns h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 14px;
}

.imginstctns ul li {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}

.imgupldbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    background: #f9faff;
    border: 1px dashed #878a9a;
    border-radius: 6px;
    margin: 0 0 0;
}

.imgupldbox h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 11px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444;
    font-weight: 500;
}

.custbtn-success {
    background-color: #f1f1f1;
    padding: 0 0 !important;
    width: 40px;
    height: 40px !important;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.custbtn-success:focus {
    box-shadow: 0 13px 12px -2px rgb(133 133 133 / 31%);
}

.custbtn-success i {
    display: inline-block;
    position: relative;
    top: 2px;
    color: #262626;
}

.currentimageuplded {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto 0;
}

.currentimageuplded img {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; */
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.imgupldbg {
    justify-content: center;
    background-color: #f9f9f9;
    margin: -15px -15px;
    padding: 20px 0;
}

.helpbtn {
    position: absolute;
    right: 5px;
    top: -7px;
    font-size: 10px;
    text-align: right;
    border-radius: 50%;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    z-index: 999;
}

.helpbtn i {
    font-weight: inherit;
}

.upldactionfootbtn span {
    font-size: 14px;
    font-weight: 500;
}

.upldactionfootbtn i {
    font-size: 18px;
}

.upldactionfootbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    outline: none;
    row-gap: 4px;
    color: #444;
    text-align: center;
}

.imageinstrmainbox {
    position: absolute;
    top: -20px;
    right: 0;
    bottom: -20px;
    background-color: #000000d1;
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s linear;
    width: 0%;
    transition-delay: 0.4s;
}

.imageinstrshow {
    transition: 0.3s linear;
    width: 40%;
}

.imageinstrinner {
    transition-delay: 0.3s;
    transition: 0.3s linear;
    transform: translateX(120%);
}

.imageinstrshow .imageinstrinner {
    transition: 0.3s linear;
    transform: translateX(0%);
    transition-delay: 0.4s;
}

.helpbtn .ti-close {
    opacity: 0;
    color: #fff;
}

.showimgbox .ti-close {
    opacity: 1;
    color: #fff;
}

.showimgbox span {
    display: none;
}

div#mediagallery {
    margin-top: 15px;
}

.mdlsguplodprofile {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mdlsguplodprofile {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #dbd9d9e6;
}

.mdlsguplodbtn {
    background-color: #373737;
    border-radius: 6px;
    color: #fff !important;
    font-size: 14px;
    box-shadow: none !important;
    height: 40px;
}

span.rectanglebox {
    border: 1px solid #5b5b5b;
    width: 20px;
    display: flex;
    height: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-steps-blck {
    width: 527px;
    margin: 10px auto 0;
}

.cart-child {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.step-box {
    position: relative;
    min-width: 50px;
}

.cartactive span {
    background-color: #3bb77e !important;
    border: 2px solid #3bb77e !important;
    color: #ffffff !important;
}

.step-box span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #ebecee;
    border-radius: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    border: 2px solid #ebecee;
    z-index: 999;
    position: relative;
}

.step-box p {
    line-height: 33px;
    font-weight: 500;
    font-size: 14px;
    color: #444 !important;
    margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
    .step-box:nth-child(2):before {
        width: 185%;
        border: 1px dashed #ebecee;
        left: -121px;
        top: 14px;
    }

}

@media screen and (max-width: 2600px) {
    .step-box:nth-child(2):before {
        width: 215%;
        border: 1px dashed #ebecee;
        left: -121px;
        top: 14px;
    }
}

.step-box:nth-child(2):before {
    width: 185%;
    border: 1px dashed #ebecee;
    left: -121px;
    top: 14px;
}

.step-box::before {
    position: absolute;
    content: "";
}

@media screen and (max-width: 1280px) {
    .step-box:nth-child(3):before {
        width: 108%;
        border: 1px dashed #ebecee;
        left: -105px;
        top: 14px;

    }

}

@media screen and (max-width: 2600px) {
    .step-box:nth-child(3):before {
        width: 200%;
        border: 1px dashed #ebecee;
        left: -121px;
        top: 14px;
    }


}

.step-box:nth-child(3):before {
    width: 108%;
    border: 1px dashed #ebecee;
    left: -105px;
    top: 14px;
}

.step-box::before {
    position: absolute;
    content: "";
}


.attendance-active {
    border: 2px solid blue;
}

.categryCustomizecard {
    align-items: center;
    grid-gap: 10px;
    grid-gap: 10px;
    gap: 10px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.attendance-active {
    background-color: #e9ebfe;
    border: 1px solid #4f5eee !important;
}


.categryCustomizeinfo {
    width: 96%;
}

.categryCustomizeinfo label {
    display: block;
    cursor: pointer;
}

.categryCustomizeinfo label h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #484848;
    margin-bottom: 2px;
    margin-top: -6px;
}

.categryCustomizeinfo label p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #878a9a;
    margin-bottom: 0;
}

.attendance-active .active-check {
    display: block;
}

.active-check {
    text-align: center;
    margin: 0 auto;
}


.active-check i {
    color: blue;
}

.form-check-input {
    width: 17px;
    height: 17px;
}

.skip-btn {
    border-radius: 6px;
    border: 2px solid #6666f4;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    min-width: 120px;
}

.errorboxmain {
    text-align: center;
}

.add-filtter a {
    margin-bottom: 0px;
    color: #6666f3 !important;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.empty-file p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #444;
}

.skip-btn-para {
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    color: #878a9a !important;
    margin-bottom: 0 !important;
    margin-top: 15px;
}

.skip-btn-new {
    color: #6666f3;
    padding: 0px;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-decoration: underline;
    cursor: pointer;
}

.modal-content .modal-header {
    background-color: #ffffff;
}

.modal-content .modal-header .modal-title {
    color: #282828;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 500;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.new-dropdown {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 40px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
    position: relative;
}

.new-dropdown i {
    position: absolute;
    right: 15px;
}

.rule-main-box {
    border-radius: 6px;
    border: 1px solid #f5f5f5;
    margin-bottom: 10px;
}

.attendance-boxx {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.late-rule h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 24px;
}

.late-btn {
    width: 30%;
    text-align: right;
}

.late-btn a {
    color: #6666f3;
    font-size: 16px;
    font-weight: 500;
}

.delete-rule {
    color: red !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.shift-deta {
    background-color: #f5f8fa;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.shift-deta p {
    font-size: 11px;
    font-weight: 400;
    color: #000;
}

.attendance-details-search {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000444;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.table-buttom-border {
    border-bottom: 1px solid #e8ebf3;
}

.table-buttom-border:last-child {
    border-bottom: none;
}

.attendance-boxx {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.late-icon {
    width: 6%;
}

.late-rule {
    width: 60%;
}

.late-icon i {
    font-size: 24px;
    color: #6666f3;
}

.late-rule h5 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 24px;
}

.late-rulep {
    font-size: 12px;
}

.in-time {
    background-color: #f5f8fa;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    height: 90px;
}

.in-timespan {
    font-size: 10px;
    font-weight: 400;
}

.in-time span {
    font-size: 10px;
    font-weight: 400;
}

.attendance-rule-box {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #fff;
    border: none;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.tracking-dataaa p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #444 !important;
    margin-bottom: 0;
}

.tracking-dataaa span {
    font-size: 12px;
    color: #8e8e8e;
}

.tracking-dataaa {
    padding: 10px;

}

.active-rule {
    background-color: #c1c7fa33;
    border-radius: 6px;
}

.rule-stap h5 {
    margin-bottom: 0px;
    font-size: 16px;
    color: #444;
    font-weight: 500;
    padding-top: 3px;
}



.rules-main {
    padding: 15px;
}

.dudtion-type {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}


.if-late .input-group {
    display: flex;
    align-items: center;
}

#hoursInput {
    border-right: none;
}

#minutesInput {
    border-left: none;
}

.dudct-type,
.overtime-type {
    width: 200px;
}


button.btn.close-btn {
    border-radius: 6px;
    padding: 7px 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    box-shadow: unset !important;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #6666f3;
    cursor: pointer;
}

.d-align-center {
    align-items: center;
    display: flex;
}

.cDSAtg {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    text-align: left;
    margin-bottom: 0px;
    width: 30%;
}

.my16 {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.ant-divider-horizontal {
    clear: both;
    display: flex;
    margin: 24px 0;
    min-width: 100%;
    width: 100%;
}

.ant-divider {
    font-feature-settings: "tnum", "tnum";
    border-top: 1px solid #0000000f;
    box-sizing: border-box;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.headding h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #444;
}

.leave-delet-btn {
    position: relative;
    top: -70px;
    right: -96%;
}

.leave-delet-btn i {
    color: #eb5050;
}

.nav-link.staff-section.active {
    border-bottom: none !important;
    color: #fff !important;
    background-color: #6666f3 !important;
    border-radius: 30px !important;
}

.nav-tabs .nav-link {
    font-style: normal;
    border-radius: 0px 0 0 0;
    border: none;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #404040;
}

.editdata-edit {
    display: inline-block;
    text-align: center;
    line-height: 24px !important;
    background-color: #eef1ff;
    border: 1px solid #4660f6;
    color: #4660f6;
    font-size: 14px !important;
    border-radius: 6px !important;
    padding: 5px 22px;
}

.errorboxmain {
    min-height: 40vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #6666f3;
    color: #6666f3;
    background-color: transparent;
}

.add-filtter {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 16px;
    border: 1px solid #4f5eee;
}

.add-filtter a {
    margin-bottom: 2px;
    color: #6666f3 !important;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: bold !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.errorboxmain {
    text-align: center;
}


.page-content-tab-onbording{
    width: calc(100% - 300px);
      margin-left: auto;
      position: relative;
      min-height: calc(100vh - 60px);
      padding: 0 8px 52px 8px;
      margin-top: 0px;
  }

  .profile-input {
    background-color: #ececec36 !important;
    border: 1px solid #cacaca !important;
    border-radius: 2px;
    height: 42px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #445059 !important;
    box-shadow: none !important;
    outline: none !important;
  }


.user-list{
    font-size: 18px !important ;
    font-weight: 500;
    line-height: 20px !important;
    color: #000 !important;
    margin-bottom: 0px !important;

}

.user-count{
    color: #4761f6;
    background-color: #d1d6f2;
    border-radius: 4px;
    border-radius: 3px;
    font-size: 12px;
    /* width: 20px; */
    /* height: 20px; */
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    padding: 1px 10px;
}

.primary-span {
    margin-bottom: 0px;
    color: #4761f6;
    background-color: #d1d6f2;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.table-design tr th {
    border: 1px solid #e0e0e0 !important;
}
.table-design tr td {
    border: 1px solid #e0e0e0;
}

.card-header{
    background-color: #fff;
    border: 0;
    border-bottom: 1px dashed #e8ebf3;
  }
