.topbar{
    border-bottom: 1px solid #f1f1f1;
}
.notification
{
    background-color: #eef1ff;
}
.read-notification
{
    background-color: white;
}
div.scroll {
    min-height: auto;
    max-height: 200px;
    overflow-y: scroll;
  }
  .krenai-deshboard p{
    color: #878A9A;
  }
  .navbar-custom{
    padding-right: 30px;
  }
  .inbox-btn svg{
    position: relative;
    top: -2px;
  }
  .admin-name{
    background-color: #EB996E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .active-notification{
    /* background-color: #FF3014;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 13px; */
    background-color: #FF3014 !important;
    border-radius: 50%;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0px;
    left: -15px;
    line-height: 14px;
}
