<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <div class="row">
            </div>

            <!-- <div class="d-flex align-items-center justify-content-between p-2" >
                <div class="centrel-leave-management-heding">
                    <h3>Goog afternoon, Yogesh!</h3>
                    <p>You have 2 leave request pending.</p>
                   
                </div>
                <div class="month-celender d-flex align-items-center justify-content-between" >
                    <div class="">
                        <p>Current time</p>
                        <h4>26 Sept 2023,12.10 PM</h4>
                    </div>
                    <div class="">
                        <i class="bi bi-clock-history" style="font-size: 18px;"></i>
                    </div>

                </div>
            </div> -->
            <div class="row p-2 mt-3">
                <div class="col-md-4">
                    <div class="chart-box">
                        <h4>Weekly leave pattern</h4>
                        <img src="assets/images/wekly.png" style="width:100%">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="chart-box">
                        <h4>Monthly stats</h4>
                        <img src="assets/images/monthly.png" style="width:100%">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="chart-box">
                        <h4>Consumed leave types</h4>

                        
                            <div class="d-flex align-items-center " style="gap:20px;">
                                <div class="d-flex align-items-center pt-2" style="width: 70%; gap:10px;">
                                    <div class="leave-type">
                                       <p><b>PL</b> Privilege Leave </p>
                                       <p><b>SL</b> Sick Leave</p>
                                    </div>
                                    <div class="leave-type">
                                        <p><b>CL</b> Casual Leave</p>
                                        <p><b>ML</b> Maternity Leave</p>
                                    </div>
                                </div>
                                <div class="" style="width: 30%;">

                                </div>
                             
                     
                    </div>

                    <div class="leave-progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
        