.company-setting {
  padding: 15px;
  border-radius: 6px;
}
.edit-btn {
  margin-bottom: 0;
  color: #6666f3;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f9faff;
  border: 1px solid #6666f3;
}
.alert-light p {
  font-size: 13px;
  font-weight: 300;
  color: #6b6b6b;
}
.bg-soft-warning:hover {
  background-color: rgba(255, 159, 67, 0.08) !important;
}
.alert-light:hover .alert-heading {
  color: orange !important;
}
.origination-logo-box {
  width: 100%;
  border: 1px solid #eceff5;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  height: 115px;
}
.origination-logo-box img {
  width: 150px;
}
.origination-logo-edit-btn {
  right: 10px;
  bottom: 10px;
  background-color: #f1f4f9;
  padding: 2px 13px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.origination-logo-edit-btn i {
  font-size: 10px;
  padding-right: 3px;
  line-height: 22px;
  top: -1px;
}
.edit-btn i {
  font-size: 12px;
  top: -1px;
}
