<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content-tab">
    <div class="container-fluid">
      <!-- <div class="row leave-management-settings p-3 mt-2 align-items-center" *ngIf="mainPlaceholderFlag">
        <div class="col-md-6">
          <div class="leave-management-detail pt-5 pb-5">
            <h3 class="mb-3">
              Payroll Compliance <br />
              Management: EPF, ESI & TDS
            </h3>
            <p class="mb-0 font-14">
              Manage and track all employee bonuses and <br />
              available discounts in one place.
            </p>

          

            <hr />
            <span class="mb-0">
              By signing, you are creating
              <a href="#!">
                Learn more about it
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                >
                  <mask
                    id="mask0_4244_1588"
                    style="mask-type: alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="20"
                    height="21"
                  >
                    <rect y="0.546875" width="20" height="20" fill="#6666F2" />
                  </mask>
                  <g mask="url(#mask0_4244_1588)">
                    <path
                      d="M4.50016 17.2148L3.3335 16.0482L13.0002 6.38151H7.50016V4.71484H15.8335V13.0482H14.1668V7.54818L4.50016 17.2148Z"
                      fill="#6666F2"
                    />
                  </g>
                </svg>
              </a>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="leave-management-detail-img text-end">
            <img src="assets/images/esi-epf-img.svg" style="width: 380px" />
          </div>
        </div>
      </div> -->

      <div>
        <div class="row mb-1 mt-4 align-items-center pb-3">
          <div class="col-md-12">
            <div class="d-flex align-items-center" style="border: 1px solid #f1f1f1">
              <div style="width: 20%; position: relative">
                <div class="dropdown bonus-payroll">
                  <nz-date-picker nzMode="month" [nzSize]="size" [(ngModel)]="selectedDate"
                    (ngModelChange)="onMonthChange($event)"
                    [nzDisabledDate]="_helperService.disableMonths"></nz-date-picker>
                </div>
              </div>

              <div class="" style="width: 80%">
                <form role="search" class="searching ng-untouched ng-pristine ng-valid" (submit)="searchUsers($event)">
                  <div class="form-group" style="
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                  ">

                    <input type="text" id="searchText" placeholder="Search by name or email..."
                      class="form-control me-2 ng-untouched ng-pristine ng-valid attendance-details-search"
                      (keyup)="searchUsers($event)" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }" style="
                      padding: 10px 40px;
                      padding-right: 20px;
                      flex-grow: 1;
                    " />
                    <i class="bi bi-search search-icon" style="margin: auto; margin-left: 15px"></i>
                    <button *ngIf="search.length !== 0" type="button" class="btn close-btn" (click)="clearSearch()"
                      style="position: absolute; right: 20px">
                      <i class="bi bi-x mt-auto mb-auto"></i>
                    </button>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table border-dashed mb-0">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Employee's PF</th>
                <th>Employer's PF</th>
                <th>Employee's ESI</th>
                <th>Employer's ESI</th>
                <th>TDS</th>
              </tr>
            </thead>
            <ng-container *ngIf="
              isShimmer &&
              statutoryMonthDeductions.length === 0 &&
                !dataNotFoundPlaceholder &&
                !networkConnectionErrorPlaceHolder;
              else attendanceDataCondition
            ">
              <tbody>
                <tr *ngFor="let item of [].constructor(8)">
                  <td class="text-center" *ngFor="let item of [].constructor(8)">
                    <ngx-shimmer-loading [width]="'100%'" [height]="'10px'"></ngx-shimmer-loading>
                  </td>
                </tr>
              </tbody>
            </ng-container>

            <ng-template #attendanceDataCondition>
              <ng-container *ngIf="
                statutoryMonthDeductions.length !== 0 &&
                  !dataNotFoundPlaceholder &&
                  !networkConnectionErrorPlaceHolder;
                else errorConditionWhileFetchingEmployeeSalaryData
              ">
                <tbody>
                  <tr *ngFor="let employee of statutoryMonthDeductions">
                    <td>
                      <img onerror="this.src='./assets/images/broken-image-icon.jpg';"
                        [src]=" employee.image ? employee.image : 'assets/images/broken-image-icon.jpg'" alt=""
                        class="rounded-circle thumb-xs me-1" />
                      {{ employee.name || 'N/A'}}
                    </td>
                    <td>{{ employee.email || 'N/A'}}</td>
                    <td>{{ employee.phone || 'N/A'}}</td>
                    <td>
                      ₹{{
                      employee.employeeEpf 
                      }}
                    </td>
                    <td>
                      ₹{{
                      employee.employerEpf 
                      }}
                    </td>
                    <td>
                      ₹{{
                      employee.employeeEsi
                      }}
                    </td>
                    <td>
                      ₹{{
                      employee.employerEsi
                      }}
                    </td>
                    <td>
                      ₹{{
                      employee.tds
                      }}
                    </td>
                  </tr>
                </tbody>
              </ng-container>
            </ng-template>
          </table>

          <!--end /table-->
        </div>
        <ng-template #errorConditionWhileFetchingEmployeeSalaryData>
          <tbody>
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 5%; margin-bottom: 5%" *ngIf="dataNotFoundPlaceholder">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img-2.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail font-16">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>

                <div class="empty-file" style="margin-top: 3%; margin-bottom: 3%"
                  *ngIf="networkConnectionErrorPlaceHolder">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img-2.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail font-16">
                        Something went wrong
                      </p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </div>
      <div class="d-flex align-items-center justify-content-between pagination-box w-100 p-3 bg-white border-top"
        *ngIf="totalItems > 0">
        <p class="mb-0"> Showing {{_helperService.startIndex(pageNumber,itemPerPage) }} - {{_helperService.lastIndex(pageNumber,itemPerPage,totalItems)}} of {{ totalItems }} results</p>
        <div class="pagition-box">
          <ngb-pagination [collectionSize]="totalItems" [page]="pageNumber" [pageSize]="itemPerPage" [maxSize]="5"
            [boundaryLinks]="true" [ellipses]="true" (pageChange)="pageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>