.searching {
  display: flex;
  justify-content: flex-start;
}

.attendance-details-search {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 40px !important;
  border: none;
  background-color: transparent;
}

.cusser {
  cursor: pointer;
}

.search-icon {
  font-size: 12px;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color);
}

.add-filtter a {
  margin-bottom: 0px;
  color: #6666f3 !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
}

.new-deopdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 50px !important;
  text-align: left;
  background-color: #fff;
  border-right: 1px solid #e8ebf3 !important;
  border: none;
  border-radius: 0px;
  color: #2d2e3e;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  font-weight: BOLD !important;
}

.leave-management-settings {
  background-color: #f5f6ff;
}

.add-leave-btn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}

.add-leave-btn i {
  padding-right: 5px;
}

.excel-upload-members {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-background-color);
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}

.excel-upload-members i {
  padding-right: 5px;
}

.excel-upload-members:hover {
  color: #fff;
  background-color: var(--primary-background-color);
}

.leave-management-detail h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.leave-management-detail p {
  font-weight: 300;
  color: #444;
}

.leave-management-detail svg {
  width: 15px;
  position: relative;
  top: -1px;
}

.leave-management-detail a {
  color: var(--primary-color) !important;
}

.leave-management-detail a:hover {
  text-decoration: underline;
  color: var(--primary-color) !important;
}

::ng-deep.ant-picker {
  background-color: #fff;
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 90px;
}

.table tbody {
  border: 1px solid #f1f1f1;
}