<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content-tab">
      <div class="container-fluid">
        <div class="row mt-3">
        <div class="row">
            <div
             class="col-md-6"  
           >
             <!-- <div class="form-roe-data">
               <h5>Allocate coins to Badges</h5>
               <p>This will be displayed on your profile.</p>
             </div> -->
             <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                      <h4 class="card-title">Assign Gift and Bonus</h4>
                    </div>
                    <!--end col-->
                    <div class="col-auto">
                      <a type="button" >
                        <i class="bi bi-plus" style="font-size: 18px"></i> Set limit to redeem gift and bonuses</a>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end card-header-->
                <div class="table-responsive category">
                    <table class="table border-dashed mb-0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th class="text-center">Gift Name</th>
                          <th class="text-center">Assigned Date</th>
                          <th class="text-center">Gift Link</th>
                          <th class="text-center">Super Coins</th>
    
                        </tr>
                      </thead>
                      <!-- <tbody  style="height: 40px;">
                        <tr>
                          <td colspan="6">
                            <div class="errorboxmain text-center">
                              <div class="errorboxinner">
                                <div class="errorboxplaceholder mb-2">
                                  <img src="assets/images/empty-box.svg" style="width: 80px" />
                                </div>
                                <div class="">
                                  <h4>No Data Found</h4>
                                  <p class="mb-0">
                                    We're unable to locate a record associated with the
                                    information you entered.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody> -->
                      <tbody >
                        <tr>
                          <td ><b>1</b></td>
                          <td class="text-center">Alexa</td> 
                          <td class="text-center">25 jan, 2024</td>
                          <td class="text-center">Link</td>
                          <td class="text-center"><b>2000</b></td>
                          
                        </tr>
                        <tr>
                            <td ><b>2</b></td>
                            <td class="text-center">Macbook</td>
                            <td class="text-center">25 jan, 2024</td>
                            <td class="text-center">Link</td>
                            <td class="text-center"><b>1000</b></td>
                          </tr>
                          <tr>
                            <td ><b>3</b></td>
                            <td class="text-center">Ipad</td>
                            <td class="text-center">25 jan, 2024</td>
                            <td class="text-center">Link</td>
                            <td class="text-center"><b>500</b></td>
                          </tr>
                      </tbody>
                    </table>
                    <!--end /table-->
                  </div>
              </div>
              <!--end card-->
              <!--end row-->
   
            </div>
               <div class="col-lg-6">
                 <div class="card">
                   <div class="card-header">
                     <div class="row align-items-center">
                       <div class="col">
                         <h4 class="card-title">Assign coins to Badges</h4>
                       </div>
                       <!--end col-->
                       <div class="col-auto">
                         <a type="button" >
                           <i class="bi bi-plus" style="font-size: 18px"></i> Allocate Coins to Badges </a>
                       </div>
                       <!--end col-->
                     </div>
                     <!--end row-->
                   </div>
                   <!--end card-header-->
                   <div class="table-responsive category">
                       <table class="table border-dashed mb-0">
                         <thead>
                           <tr>
                             <th>#</th>
                             <th class="text-center">Badge Logo</th>
                             <th class="text-center">Badge Name</th>
                             
                             <th class="text-center">Assigned Date</th>
                             <th class="text-center">Super Coins</th>
       
                           </tr>
                         </thead>
                         <!-- <tbody  style="height: 40px;">
                           <tr>
                             <td colspan="6">
                               <div class="errorboxmain text-center">
                                 <div class="errorboxinner">
                                   <div class="errorboxplaceholder mb-2">
                                     <img src="assets/images/empty-box.svg" style="width: 80px" />
                                   </div>
                                   <div class="">
                                     <h4>No Data Found</h4>
                                     <p class="mb-0">
                                       We're unable to locate a record associated with the
                                       information you entered.
                                     </p>
                                   </div>
                                 </div>
                               </div>
                             </td>
                           </tr>
                         </tbody> -->
                         <tbody >
                           <tr>
                             <td ><b>1</b></td>
                             <td class="text-center">Badge Logo</td>
                             <td class="text-center">Master</td> 
                             
                             <td class="text-center">25 jan, 2024</td>
                             <td class="text-center"><b>2000</b></td>
                             
                           </tr>
                           <tr>
                               <td ><b>2</b></td>
                               <td class="text-center">Badge Logo</td>
                               <td class="text-center">Pro</td>
                              
                               <td class="text-center">25 jan, 2024</td>
                               <td class="text-center"><b>1000</b></td>
                             </tr>
                             <tr>
                               <td ><b>3</b></td>
                               <td class="text-center">Badge Logo</td>
                               <td class="text-center">Legend</td>
                               
                               <td class="text-center">25 jan, 2024</td>
                               <td class="text-center"><b>500</b></td>
                             </tr>
                         </tbody>
                       </table>
                       <!--end /table-->
                     </div>
                 </div>
                 <!--end card-->
                 <!--end row-->
               </div>
               <!-- end col-->
        </div>
        <div class="row">
            <!-- <div
             class="col-md-4 mt-3 mb-3"  
           >
             <div class="form-roe-data">
               <h5>Allocate Super Coins</h5>
               <p>This will be displayed on your profile.</p>
             </div>
   
               </div> -->
                 
               <div class="col-lg-12">
                 <div class="card">
                   <div class="card-header">
                     <div class="row align-items-center">
                       <div class="col">
                         <h4 class="card-title">Assign Coins Role wise</h4>
                       </div>
                       <!--end col-->
                       <div class="col-auto">
                         <a type="button" >
                           <i class="bi bi-plus" style="font-size: 18px"></i> Assign Super Coins </a>
                       </div>
                       <!--end col-->
                     </div>
                     <!--end row-->
                   </div>
                   <!--end card-header-->
                   <div class="table-responsive category">
                       <table class="table border-dashed mb-0">
                         <thead>
                           <tr>
                             <th>#</th>
                             <th class="text-center">Role</th>
                             <th class="text-center">Allocated Date</th>
                             <th class="text-center">Super Coins</th>
                            
                             <th class="text-center">Can Donate to Manager Limit</th>
                             <th class="text-center">Can Donate to User Limit</th>
                             <th class="text-center">Can Donate to Team Members Limit</th>
       
                           </tr>
                         </thead>
                         <!-- <tbody  style="height: 40px;">
                           <tr>
                             <td colspan="6">
                               <div class="errorboxmain text-center">
                                 <div class="errorboxinner">
                                   <div class="errorboxplaceholder mb-2">
                                     <img src="assets/images/empty-box.svg" style="width: 80px" />
                                   </div>
                                   <div class="">
                                     <h4>No Data Found</h4>
                                     <p class="mb-0">
                                       We're unable to locate a record associated with the
                                       information you entered.
                                     </p>
                                   </div>
                                 </div>
                               </div>
                             </td>
                           </tr>
                         </tbody> -->
                         <tbody >
                           <tr>
                             <td ><b>1</b></td>
                             <td class="text-center">ADMIN</td> 
                             <td class="text-center">25 Aug, 2024</td>
                             <td class="text-center"><b>2000</b></td>
                             <td class="text-center"><b>500</b></td>
                             <td class="text-center"><b>100</b></td>
                             <td class="text-center"><b>N/A</b></td>
                           </tr>
                           <tr>
                               <td ><b>2</b></td>
                               <td class="text-center">MANAGER</td>
                               <td class="text-center">25 Aug, 2024</td>
                               <td class="text-center"><b>1000</b></td>
                               <td class="text-center"><b>N/A</b></td>
                               <td class="text-center"><b>N/A</b></td>
                               <td class="text-center"><b>300</b></td>
                             </tr>
                             <tr>
                               <td ><b>3</b></td>
                               <td class="text-center">USER</td>
                               <td class="text-center">25 Aug, 2024</td>
                               <td class="text-center"><b>500</b></td>
                               <td class="text-center"><b>N/A</b></td>
                               <td class="text-center"><b>N/A</b></td>
                               <td class="text-center"><b>50</b></td>
                             </tr>
                         </tbody>
                       </table>
                       <!--end /table-->
                     </div>
                 </div>
                 <!--end card-->
                 <!--end row-->
               </div>
               <!-- end col-->
           </div>
   
        </div>
      </div>
    </div>
  </div>