.left-sidebar-onbording {
  min-width: 285px;
  max-width: 285px;
  background: linear-gradient(180deg, #f4f4f4 0%, #f8f8f8 56.31%, #e4ebff 100%);
  min-height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 1001;
  padding: 32px;
  border-right: 1px solid #eceff5;
}

.step-personal-information p {
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 0px;
}

.stap-progres-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.stap-progres-bar .progress {
  height: 3px;
  width: 95%;
}

.onbording-stap-one-text {
  align-items: center;
  display: flex;
  height: 90vh;
}

.onbording-stap-one-text h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.login-new-text {
  position: absolute;
  bottom: 32px;
  gap: 15px;
}

.login-new-text p {
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 0px;
}

.logout-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  color: #333;
  font-size: 28px;
  line-height: 0;
  cursor: pointer;
}

.step-count {
  font-size: 13px !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.step-count span {
  padding-left: 5px;
  font-weight: 500;
  font-size: 15px;
}

.sideBarStep {
  border-left: 4px solid #6666f2;
  height: 25%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.sideBarStep:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0px;
  border-top: none;
  border-left: none;
  border-right: 30px solid #6666f2;
  border-bottom: 30px solid transparent;
  transform: rotate(44deg);
}

.company-information h5 {
  color: #000;
  font-weight: 500;
  line-height: 28px;
}

.company-information p {
  color: #6b6b6b;
  font-weight: 300;
  line-height: 22px;
}

.company-information svg {
  width: 30px;
  position: relative;
  top: -1px;
  height: 30px;
}

.company-information {
  padding-top: 30px;
}

.pending-step h5 {
  line-height: 40px;
  color: rgba(153, 153, 153, 0.85);
  font-weight: 400;
}

.complete-step h5 {
  line-height: 50px;
  color: #000;
  font-weight: 400;
}

.complete-step svg {
  width: 18px;
}



.sideBarStep-one img {
  left: -5px;
  position: absolute;
  bottom: -10px;
  width: 18px;
}


.sideBarStep-one {
  border-left: 4px solid #6666f2;
  min-height: calc(5% + 100px);
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 1s;
}

.sideBarStep-two {
  min-height: calc(12% + 100px);

}

.sideBarStep-three {
  min-height: calc(20% + 100px);

}

.sideBarStep-four {
  min-height: calc(30% + 100px);
}





.pending-step h5 svg {
  width: 15px;
}