<app-employee-onboarding-sidebar></app-employee-onboarding-sidebar>



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Employee Bank Details</h5>
                    <p class="mb-0">Fields with are mandatory </p>

                    <div class="persnol-info mt-4">
                        <div class="row">

                         

                            <div class="col-md-12">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Account Holder Name</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Account holder name" [(ngModel)]="userBankDetailRequest.accountHolderName">
                               </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Bank Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Bank name" [(ngModel)]="userBankDetailRequest.bankName">
                                  
                                </div>
                             </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Account Number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Account number" [(ngModel)]="userBankDetailRequest.accountNumber">
                                  
                                </div>
                             </div>
                            <div class="col-md-12">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2"> IFSC Number </label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IFSC number" [(ngModel)]="userBankDetailRequest.ifsc">
                                  
                               </div>
                            </div>
                            

                             <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button" (click)="backRedirectUrl()"><i class="bi bi-arrow-left" style="padding-right: 8px; "></i> Back</button>
                                </div>
                                <div class="info-btn d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button" (click)="setEmployeeBankDetailsMethodCall(); routeToUserDetails()">Next <i class="bi bi-arrow-right" style="padding-left: 8px; "></i></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>