<div class="select-plan-option pt-4 pb-5">
  <div class="container-fluid" style="width: 95%">
    <div class="select-option-hedding text-center">
      <img src="assets/images/HAjiRi.svg" />
      <h3 class="pt-4">
        <span class="transparent-pricing">Simple, transparent pricing</span> for
        every team.
      </h3>
    </div>

    <div class="mt-5">
      <div
        class="d-flex align-items-center justify-content-between total-user-count"
      >
        <div class="d-flex align-items-center" style="gap: 10px">
          <h5 class="mb-0">Total User:</h5>
          <input
            type="number"
            id="inputNumber"
            class="form-control"
            style="width: 90px"
            aria-describedby="numberHelpInline"
          />
          <p class="mb-0">User</p>
        </div>
        <div class="d-flex align-items-center" style="gap: 10px">
          <h5 class="mb-0">Bill me:</h5>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label annually" for="exampleRadios1">
              Annually <span class="save-discount">Save 20%</span>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label annually" for="exampleRadios2">
              Monthly
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 row">
      <div class="col-md-4">
        <div class="planBox">
          <div class="planHadding text-center">
            <h4 class="mb-0">Basic</h4>
            <p class="mb-0">WhatsApp Based Attandance</p>
            <h1 class="mb-0">₹99</h1>
            <div class="mb-3">
              <small>per user / Annually</small>
            </div>
            <button class="btn switch-plan">Switch Plan</button>
          </div>
          <div class="planFeatured p-3">
            <ul class="mb-0">
              <li>
                <i class="bi bi-chevron-right"></i> Hindi / English Attandance
                Bot
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> Location / selfie Upload
                With Attandance
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> Leave Request & Approval
              </li>
              <li><i class="bi bi-chevron-right"></i> Payroll Automation</li>
              <li><i class="bi bi-chevron-right"></i> Timesheet</li>
              <li>
                <i class="bi bi-chevron-right"></i> Attendance Custom Rules
              </li>
              <li><i class="bi bi-chevron-right"></i> Automated Reminders</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="planBox planActive">
          <div class="planHadding text-center">
            <h4 class="mb-0">Silver</h4>
            <p class="mb-0">Slack Based Attandance</p>
            <h1 class="mb-0">₹129</h1>
            <div class="mb-3">
              <small>per user / Annually</small>
            </div>
            <button class="btn btn-primary">Current Plan</button>
          </div>
          <div class="planFeatured p-3">
            <ul class="mb-0">
              <li>
                <i class="bi bi-chevron-right"></i> Interactive Employee Profile
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> Document Storage &
                Generation
              </li>
              <li><i class="bi bi-chevron-right"></i> Employee Onboarding</li>
              <li>
                <i class="bi bi-chevron-right"></i> Advanced Leave Management
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> Slack-Chat Attendance System
              </li>
              <li><i class="bi bi-chevron-right"></i> Payroll Automation</li>
              <li><i class="bi bi-chevron-right"></i> Timesheet</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="planBox text">
          <div class="planHadding text-center">
            <h4 class="mb-0">Diamond</h4>
            <p class="mb-0">Slack Based Attandance & Task</p>
            <h1 class="mb-0">₹199</h1>
            <div class="mb-3">
              <small>per user / Annually</small>
            </div>
            <button class="btn switch-plan">Switch Plan</button>
          </div>
          <div class="planFeatured p-3">
            <ul class="mb-0">
              <li>
                <i class="bi bi-chevron-right"></i> All Slack Based Attandance
                Features
              </li>
              <li><i class="bi bi-chevron-right"></i> Unlimited Projects</li>
              <li><i class="bi bi-chevron-right"></i> Unlimited Tasks</li>
              <li>
                <i class="bi bi-chevron-right"></i> Unlimited Activity Log
              </li>
              <li><i class="bi bi-chevron-right"></i> Board view projects</li>
              <li>
                <i class="bi bi-chevron-right"></i> Unlimited file storage (2MB
                per file)
              </li>
              <li><i class="bi bi-chevron-right"></i> Status updates</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="payment-history mt-3">
      <h5>Order Summary</h5>
      <div class="mt-3 border-bottom">
        <div
          class="d-flex justify-content-between align-items-center contract-plan"
        >
          <p class="mb-0">No of Employee</p>
          <p class="mb-0">37</p>
        </div>
        <div
          class="d-flex justify-content-between align-items-center contract-plan"
        >
          <p class="mb-0">Amount</p>
          <p class="mb-0">₹0</p>
        </div>
        <div
          class="d-flex justify-content-between align-items-center contract-plan"
        >
          <p class="mb-0">Tax</p>
          <p class="mb-0">18%</p>
        </div>
        <div
          class="d-flex justify-content-between align-items-center contract-plan"
        >
          <p class="mb-0">Tax Amount</p>
          <p class="mb-0">₹0</p>
        </div>
      </div>
      <div class="mt-3">
        <div
          class="d-flex justify-content-between align-items-center contract-plan mb-0"
        >
          <p class="mb-0" style="color: #6666f3; font-size: 14px">
            <b>Total</b>
          </p>
          <p class="mb-0" style="color: #6666f3; font-size: 14px"><b>₹0</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
