.onboarding-box {
    background: linear-gradient(
      182deg,
      #e4e7ff -9.67%,
      #f2f4ff 8.88%,
      #fff 68.76%
    );
    height: 100vh;
  }
  
  .onboardingRightImg {
    background-size: contain;
    background-position: right top;
    height: 50%;
    background-repeat: no-repeat;
  }
  
  .onboardingLeftImg {
    background-size: contain;
    background-position: left bottom;
    height: 50%;
    background-repeat: no-repeat;
  }
  
  .back-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .container {
    max-width: 1200px;
    z-index: 9999;
    position: relative;
  }
  .onboarding-step {
    height: 80vh;
  }
  
  .subscription-ended-text h5 {
    color: #000;
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.096px;
  }
  .subscription-ended-text p {
    color: #3f3e3e;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .subscription-ended-text button {
    border-radius: 2px;
    background: #ec4b42;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    min-width: 230px;
  }
  .subscription-ended-text span {
    font-size: 15px;
    text-decoration: underline;
    font-weight: 500;
  }
  