.attendance-active {
    border: 2px solid blue;
}
.categryCustomizecard {
    align-items: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}
.form-check-input {
    width: 17px;
    height: 17px;
}
.categryCustomizeinfo-new{
    padding: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    border-radius: 15px;
    background: #ffffff;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    height: 140px;
}
.categryCustomizeinfo-new h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    margin-bottom: 2px;
    margin-top: -6px;
}
.categryCustomizeinfo-new p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #878a9a;
    margin-bottom: 0;
}
.attendance-active {
    background-color: #e9ebfe;
    border: 1px solid #4f5eee !important;
}

.card-header{ 
    border: 0;
    border-bottom: 1px dashed #e8ebf3;
    }
    .bg-soft-warning:hover{
    background-color: rgba(255, 159, 67, .08) !important;
    }

    .btn.add-excel {
        font-size: 14px !important;
        font-weight: 500;
        color: #6666f4 !important;
    }


