.loader-line {
    width: 30vh;
    height: 5px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin-top: 20px;
    /* margin: 100px auto; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 5px;
    width: 40%;
    background-color: #6666f3;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  @keyframes lineAnim {
    0% {
      left: -40%;
    }
  
    50% {
      left: 20%;
      width: 80%;
    }
  
    100% {
      left: 100%;
      width: 100%;
    }
  }

