<div style="height: 100vh;" class="d-flex justify-content-center align-items-center">
    <div>
      <img style="max-width: 30vh;" src="assets/images/HAjiRi.svg">
      <div class="d-flex justify-content-center">
        <div class="loader-line"></div>
      </div>
    </div>
    
</div>  
  <!-- <style>

    .variant-box-main{
        padding: 15px;
        background-color: #ccc;
        width: 100%;
        border: 1px solid red;
    }
    .variant{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

    }
  </style> -->