<div class="m-3 assets-detail p-3 pt-0" *ngIf="!profileEdit">
    <div class="employee-profile-information">
        <div class="d-flex align-items-center justify-content-between profile-imfo mt-2 mb-3">
            <div>
                <h5 class="mb-2">{{ user.name }}</h5>
                <div class="d-flex align-items-center gap-2 mb-0">
                    <p class="mb-0 text-primary font-14">{{ user.position }}</p>
                    <span class="separator-border"></span>
                    <p class="mb-0 font-13">Department: {{ user.department}}</p>
                </div>
                <span>Joining Date: {{ user.joiningDate}}</span>
            </div>
            <div class="d-flex align-items-center gap-3 action-btn">
                <button class="p-0 btn text-primary gont-14" (click)="profileEdit=true;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <mask id="mask0_5429_20359" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="23">
                            <rect y="0.5" width="22" height="22" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_5429_20359)">
                            <path
                                d="M4.58333 17.9167H5.88958L14.85 8.95625L13.5438 7.65L4.58333 16.6104V17.9167ZM2.75 19.75V15.8542L14.85 3.77708C15.0333 3.60903 15.2358 3.47917 15.4573 3.3875C15.6788 3.29583 15.9118 3.25 16.1562 3.25C16.4007 3.25 16.6375 3.29583 16.8667 3.3875C17.0958 3.47917 17.2944 3.61667 17.4625 3.8L18.7229 5.08333C18.9063 5.25139 19.0399 5.45 19.124 5.67917C19.208 5.90833 19.25 6.1375 19.25 6.36667C19.25 6.61111 19.208 6.8441 19.124 7.06562C19.0399 7.28715 18.9063 7.48958 18.7229 7.67292L6.64583 19.75H2.75ZM14.1854 8.31458L13.5438 7.65L14.85 8.95625L14.1854 8.31458Z"
                                fill="#6666F2" />
                        </g>
                    </svg>
                    Edit It</button>
                    <span></span>
                <button class="p-0 btn text-primary gont-14">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                        <mask id="mask0_5429_20366" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="23">
                            <rect y="0.5" width="22" height="22" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_5429_20366)">
                            <path
                                d="M5.50004 13.332H12.8334V11.4987H5.50004V13.332ZM5.50004 10.582H16.5V8.7487H5.50004V10.582ZM5.50004 7.83203H16.5V5.9987H5.50004V7.83203ZM1.83337 20.6654V4.16536C1.83337 3.6612 2.01289 3.2296 2.37192 2.87057C2.73094 2.51155 3.16254 2.33203 3.66671 2.33203H18.3334C18.8375 2.33203 19.2691 2.51155 19.6282 2.87057C19.9872 3.2296 20.1667 3.6612 20.1667 4.16536V15.1654C20.1667 15.6695 19.9872 16.1011 19.6282 16.4602C19.2691 16.8192 18.8375 16.9987 18.3334 16.9987H5.50004L1.83337 20.6654ZM4.72087 15.1654H18.3334V4.16536H3.66671V16.1966L4.72087 15.1654Z"
                                fill="#6666F2" />
                        </g>
                    </svg>
                    Request</button>
            </div>
        </div>

        <div class="profile-imfo-detail">
            <div class="row border-top pt-4 pb-3">
                  <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Personal Information</h5>
                    </div>

                  </div>
                  <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Email Address</p>
                                <h6 class="profile-email">{{ user.email}}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Phone Number</p>
                                <h6>{{ user.phoneNumber }}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Gender</p>
                                <h6>{{ user.gender }}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3" >
                                <p class="mb-1">Date Of Birth</p>
                                <h6>{{ user.dob }}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Marital Status</p>
                                <h6>{{ user.maritalStatus }}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Nationality</p>
                                <h6>{{ user.nationality }}</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Father’s Name</p>
                                <h6>{{ user.fatherName }}</h6>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Address Details</h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Current Address</p>
                                <h6 class="mb-1">{{ addressEmployee[0].addressLine1}} {{ addressEmployee[0].addressLine2}} {{ addressEmployee[0].city}} - {{ addressEmployee[0].pincode}}</h6>
                                <div class="d-flex align-items-center gap-2">
                                    <span class="font-13">State: <b>{{ addressEmployee[0].state }}</b></span>
                                    <span class="separator-line"></span>
                                    <span class="font-13">Country: <b>{{ addressEmployee[0].country }}</b></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Permanent Address</p>
                                <h6 class="mb-1">{{ addressEmployee[1].addressLine1}} {{ addressEmployee[1].addressLine2}} {{ addressEmployee[1].city}} - {{ addressEmployee[1].pincode}}</h6>
                                <div class="d-flex align-items-center gap-2">
                                    <span class="font-13">State: <b>{{ addressEmployee[1].state }}</b></span>
                                    <span class="separator-line"></span>
                                    <span class="font-13">Country: <b>{{ addressEmployee[1].country }}</b></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Reference <span class="font-12">(optional)</span></h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Name</p>
                                <div class="d-flex align-items-center gap-2">
                                   <h6 class="mb-1">Leslie Alexander</h6>
                                   <span class="text-primary font-12 mb-1">(Relation: Friend)</span>
                                </div>

                                <div class="d-flex align-items-center gap-2">
                                    <span class="font-13">Phone Numbers: <b>9876543217</b></span>
                                    <span class="separator-line"></span>
                                    <span class="font-13">Email: <b>wesr123@gmail.com</b></span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Academic Details</h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Higher Qualification</p>
                                <h6 class="profile-email">{{ academicEmployee.highestEducationalLevel }}</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Degree/Diploma</p>
                                <h6>{{ academicEmployee.degreeObtained }}</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Field of Study</p>
                                <h6>{{ academicEmployee.fieldOfStudy }}</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Institution Name</p>
                                <h6>{{ academicEmployee.institutionName }}</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">CGPA</p>
                                <h6>{{ academicEmployee.grade }}</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Graduating Year</p>
                                <h6>{{ academicEmployee.graduationYear }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Experience</h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div *ngFor="let job of experienceEmployee" class="col-md-12 ">
                          <div class="profile-information mb-3">
                            <p class="mb-1">Company Name</p>
                            <div class="d-flex align-items-center gap-2">
                              <h6 class="mb-1">{{ job.companyName }}</h6>
                              <span class="text-primary font-12 mb-1">
                                ({{ job.employementDuration ? job.employementDuration : 'Duration not available' }})
                              </span>
                            </div>

                            <p class="mb-0">
                              Duration:
                              {{ job.startDate ? (job.startDate | date:'dd/MM/yyyy') : 'N/A' }} -
                              {{ job.endDate ? (job.endDate | date:'dd/MM/yyyy') : 'N/A' }}
                            </p>

                            <div class="d-flex align-items-center gap-2">
                              <span class="font-13">
                                Position: <b>{{ job.lastJobPosition ? job.lastJobPosition.trim() : 'N/A' }}</b>
                              </span>
                              <span class="separator-line"></span>
                              <span class="font-13">
                                Salary: <b>₹{{ job.lastSalary ? job.lastSalary : 'N/A' }}</b>
                              </span>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <span class="font-13">
                                Department: <b>{{ job.lastJobDepartment ? job.lastJobDepartment : 'N/A' }}</b>
                              </span>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                              <span class="font-13">
                                Responsibilities: <b>{{ job.jobResponisibilities ? job.jobResponisibilities : 'N/A' }}</b>
                              </span>
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Bank Details</h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Account Holder Name</p>
                                <h6 class="profile-email">Yogesh Kumar</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Bank Name</p>
                                <h6>ICIC Bank</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">Account Number</p>
                                <h6>098765432234</h6>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1">IFSC Number</p>
                                <h6>ICICOF12345</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top pt-4 pb-3">
                <div class="col-md-3">
                    <div class="profile-imfo-hedding">
                        <h5>Emergency Contact</h5>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1"> Name</p>
                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="mb-1">Leslie Alexander</h6>
                                </div>

                                <p class="mb-0">Relation with Employee: <span class="text-primary">Father</span></p>

                                <div class="d-flex align-items-center gap-2">
                                    <span class="font-13">Phone Numbers: <b>9876543217</b></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="profile-imformation mb-3">
                                <p class="mb-1"> Name</p>
                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="mb-1">Leslie Alexander</h6>
                                </div>

                                <p class="mb-0">Relation with Employee: <span class="text-primary">Mother</span></p>

                                <div class="d-flex align-items-center gap-2">
                                    <span class="font-13">Phone Numbers: <b>9876543217</b></span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="edit-design-box m-3 p-3 pt-0" *ngIf="profileEdit">
    <div class="d-flex align-items-center justify-content-between mb-3">

        <h5 class="mb-2"> Edit Profile </h5>
        <div class="d-flex align-items-center gap-2">
            <button class="btn profile-cancel-btn" (click)="profileEdit=false;">Cancel</button>
            <button class="btn save-btn" (click)="profileEdit=false;">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <mask id="mask0_5535_3777" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                        <rect x="0.46167" y="0.5" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_5535_3777)">
                        <path
                            d="M7.16172 18.5016L1.51172 12.8516L2.93672 11.4516L8.58672 17.1016L7.16172 18.5016ZM12.8117 18.5016L7.16172 12.8516L8.56172 11.4266L12.8117 15.6766L22.0117 6.47656L23.4117 7.90156L12.8117 18.5016ZM12.8117 12.8516L11.3867 11.4516L16.3367 6.50156L17.7617 7.90156L12.8117 12.8516Z"
                            fill="white" />
                    </g>
                </svg>
                Save
            </button>
        </div>

    </div>
    <div class="edit-detail">
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Personal Information</h5>
                </div>
            </div>
            <div class="col-md-9">
               <div class="row">
                   <div class="col-md-6 mb-3">
                      <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                        <input type="input" class="form__field" value="Yogesh Kumar">
                        <label class="form__label">Name </label>
                      </div>
                   </div>
                   <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Single">
                            <label class="form__label">Marital Status </label>
                        </div>
                   </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="yogesh@krenai.com">
                            <label class="form__label">Email Address </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field"  value="27-03-2023">
                            <label class="form__label">Joining Date </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="+91-9549901868">
                            <label class="form__label">Phone Number </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field"  value="₹20,000">
                            <label class="form__label">Current Salary </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Male">
                            <label class="form__label">Gender </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Designer">
                            <label class="form__label">Department </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="13/06/1996">
                            <label class="form__label">Date Of Birth </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Frontend designer">
                            <label class="form__label">Current Position </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Kamal Singh">
                            <label class="form__label">Father’s Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Indian">
                            <label class="form__label">Nationality </label>
                        </div>
                    </div>


               </div>
            </div>
        </div>
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Address Details</h5>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row mb-3">

                    <h6 class="mb-3">Current Address</h6>

                    <div class="col-md-12 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Krishna Furniture Showroom, Badshahpur Sohna Rd Hwy, opp. Sona Devi Hospital, Badshahpur">
                            <label class="form__label">Address </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="122101">
                            <label class="form__label">Pincode </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Gurugram">
                            <label class="form__label">City </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Haryana">
                            <label class="form__label">State </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value=" India">
                            <label class="form__label">Country </label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <h6 class="mb-3">Permanent Address</h6>

                    <div class="col-md-12 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="VPO-Sanoli, Tehsil-Mundawar, Dist-Alwar">
                            <label class="form__label">Address </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="301714">
                            <label class="form__label">Pincode </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Neemrana">
                            <label class="form__label">City </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Rajasthan">
                            <label class="form__label">State </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="India">
                            <label class="form__label">Country </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Reference</h5>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Sumit Gautam">
                            <label class="form__label">Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Friend">
                            <label class="form__label">Relation </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="+91-9911909533">
                            <label class="form__label">Phone Number </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value=" sumit@krenai.com">
                            <label class="form__label">Email Address </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Academic Details</h5>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value=" Bachelor's Degree">
                            <label class="form__label">Qualification </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value=" B.A">
                            <label class="form__label">Degree/Diploma </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="History and Political Science">
                            <label class="form__label">Field of Study </label>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value=" 7.303">
                            <label class="form__label">CGPA </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="LBS jaipur">
                            <label class="form__label">Collage Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="2018">
                            <label class="form__label">Graduating Year </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Bank Details</h5>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Yogesh Kumar">
                            <label class="form__label">Account Holder Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="ICIC Bank">
                            <label class="form__label">Bank Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="007101571267">
                            <label class="form__label">Account Number </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="ICIC0000071">
                            <label class="form__label">IFSC Number </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top pt-4 pb-3">
            <div class="col-md-3">
                <div class="profile-imfo-hedding">
                    <h5>Emergency Contact</h5>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Friend">
                            <label class="form__label">Relation with Employee </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="Sumit Gautam">
                            <label class="form__label">Name </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="Profile-input align-items-center d-flex flex-row-reverse gap-1 justify-content-end p-3">
                            <input type="input" class="form__field" value="9911909533">
                            <label class="form__label">Phone Number </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


