.separator-border {
    border-left: 2px solid #b5b5b5;
    height: 15px;
}

.profile-imfo span {
    color: #787486;
    font-size: 13px;
    font-weight: 300;
}

.action-btn button svg {
    width: 18px;
    position: relative;
    top: 0px;
}

.action-btn span {
    height: 15px;
    border-left: 1px solid #AEAEAE;
}

.profile-information p {
    color: #787486;
    font-size: 13px;
}

.profile-information .profile-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 155px;
}

.profile-imfo-hedding h5 {
    font-size: 15px;
}

.separator-line {
    border-left: 1px solid #444;
    height: 13px;
}

.profile-imfo-hedding span {
    color: #787486;
}

.profile-cancel-btn {
    border: 1px solid #6666f2;
    color: #6666f2;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #fff;
    min-width: 100px;
}

.profile-cancel-btn:hover {
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #6666f2;
    min-width: 100px;
    padding: 7px 20px;
}

.save-btn {
    background-color: #6666f2;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 20px;
    height: 37px;
    min-width: 100px;
}

.save-btn svg {
    width: 18px;
    position: relative;
    top: -1px;
}


.Profile-input {
    background-color: #F8F8F8;
    border-radius: 2px;
    border: 1px solid #F8F8F8;
}

.Profile-input input {
    border: none;
    background-color: transparent;
    color: #3F988F;
    width: 100%;
    padding: 0px 0px;
}

.Profile-input input:focus {
    top: 10px;
    position: relative;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 3px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
}

.form__label {
    transition: 0.2s linear;
    white-space: nowrap;
}

.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}


.Profile-input:has(.form__field:focus) {
    border: 1px solid #E9E9E9;
}

.profile-update-request {
    background-color: #E0DFFF;
    height: 200px;
}

button.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    width: 120px;
}

.add-reference i {
    position: relative;
    top: 1px;
}

.add-reference i::before {
    font-weight: 600 !important;
}

.reference-remvo {
    border: 1px solid #ef4d56;
    color: #ef4d56;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
    min-width: 80px;
}

.ant-select-single .ant-select-selector {
    min-height: 0px !important;
    width: 200px !important;
}

.custom-date-picker {
    border: none !important;
    width: 100% !important;
    height: 0px !important;
    border-radius: 2px !important;
    background-color: transparent !important;
    color: red !important;
}

.empty-file .ant-empty-image img {
    width: 70px !important;
}

.edit-btn svg {
    width: 15px !important;
    position: relative !important;
    top: -2px !important;
}

.profile-editrequest {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FFF6E9;
}

.request-log {
    position: absolute;
    top: -25px;
    left: 45px;
    width: 350px;
    background-color: #fff;
    border-radius: 2px;
    filter: drop-shadow(0px 11.4px 13.7px rgba(71, 71, 71, 0.33));
    display: none;
    z-index: 9;
}

.profile-editrequest:hover .request-log {
    display: block;
}

.request-log::before {
    content: "";
    position: absolute;
    left: -16px;
    width: 42px;
    top: 22px;
    height: 30px;
    border-top: solid 40px #fff;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
    z-index: -1;
    rotate: 325deg;
}


.request-log svg {
    position: relative;
    top: -2px;
}

.stap-bar::after {
    content: "";
    width: 2px;
    height: 121px;
    background-color: transparent;
    top: -59px;
    left: 9px;
    z-index: 9;
    position: absolute;
    border-left: 2px dashed #ebecee;
}

.updaaate-log {
    padding-left: 25px;
}

.stap-dot {
    position: absolute;
    top: -43px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 99;
}

.stap-dot2 {
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
    z-index: 99;
}



::ng-deep .ant-popover-inner-content {
    padding: 0px !important;
}

.request-g .btn i {
    position: relative;
    top: 2px;
}

.icon-info-activity {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.icon-info-activity i {
    font-size: 16px;
}

.icon-info-activity i::before {
    font-weight: 600 !important;
}

.nots-section {
    background-color: rgba(236, 236, 236, 0.21) !important;
    width: 100%;
    height: 100px !important;
    border: 1px dashed #e9e9e9;
}

.cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 500;
    min-width: 100px;
}

.btn-danger {
    min-width: 100px;
}
.reject-btn{
    background-color: #eec1c1;
    color: red;
    min-width: 100px;
    height: 40px;
    border: none;
}
.d-n-desktop{
    display: none;
}

@media screen and (max-width: 500px) {
    .d-n-mobile{
        display: none !important;
    }
    .d-n-desktop{
        display: block;
    }
}