<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="persnol-details">

                        <div class="d-flex align-items-center" style="gap:15px">
                            <div class="add-filtter" (click)="back()">
                                <a><i class="bi bi-chevron-left"></i></a>
                            </div>
                            <div class="">
                                <h5 id="exampleModalDefaultLabel"> {{attendanceRuleResponse.name}} </h5>
                            </div>
                        </div>

                        <form #createAttendanceRuleForm="ngForm">
                            <div class="form-group">
                                <div class="persnol-info mt-3">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div>
                                                <ul id="myTab" role="tablist" class="nav nav-tabs">
                                                    <li role="presentation" class="nav-item">
                                                        <button id="home-tab" data-bs-toggle="tab"
                                                            data-bs-target="#home" type="button" role="tab"
                                                            aria-controls="home" aria-selected="true"
                                                            class="nav-link active" #ruleActiveTab>Rules</button>
                                                    </li>
                                                    <li role="presentation" class="nav-item">
                                                        <button id="profile-tab" data-bs-toggle="tab"
                                                            data-bs-target="#profile" type="button" role="tab"
                                                            aria-controls="profile" aria-selected="false"
                                                            class="nav-link" (click)="trueActiveModel();"
                                                            [disabled]="selectedDeductionType.type == ''"
                                                            #staffActiveTab>Staff selection</button>
                                                    </li>
                                                </ul>
                                                <div id="myTabContent" class="tab-content">
                                                    <div id="home" role="tabpanel" class="tab-pane fade show active">
                                                        <div class="rules-main">
                                                            <div class="form-check pb-3">
                                                                <input type="checkbox" value="" id="flexCheckChecked"
                                                                    checked="" class="form-check-input"
                                                                    style="cursor: pointer;">
                                                                <label for="flexCheckChecked" class="form-check-label">
                                                                    Deduct salary </label>
                                                            </div>
                                                            <div class="dudtion-type">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="if-late">
                                                                                    <label for="hoursInput" class="pb-2">If staff is
                                                                                        late by </label>
                                                                                    <div class="input-group" style="gap: 5px;">
                                                                                        <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.customSalaryDeduction.lateDuration" 
                                                                                            nzFormat="HH:mm" (ngModelChange)="getlateDuration($event)" name="lateDuration" #lateDuration="ngModel" required
                                                                                            style="width: 80% !important;">
                                                                                        </nz-time-picker>
                                                                                        
                                                                                        <span><b> hrs.</b></span>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div class="overtime-type"
                                                                                    *ngIf="attendanceRuleResponse.id == OVERTIME_RULE; else deductionType">
                                                                                    <label for="exampleInputEmail1"
                                                                                        class="pb-2">Overtime Type</label>
                                                                                    <div class="dropdown">
                                                                                        <button
                                                                                            class="btn btn-secondary dropdown-toggle new-dropdown"
                                                                                            type="button" id="dropdownMenuButton1"
                                                                                            data-bs-toggle="dropdown"
                                                                                            aria-expanded="false"
                                                                                            style=" text-align: left; background-color: white; color: black; border-color: #ced4da; width: 100%;">
                                                                                            {{ selectedOvertimeType?.type || "Select overtime type" }}
                                                                                            <i class="bi bi-chevron-down"></i>
                                                                                        </button>
                                                                                        <ul class="dropdown-menu"
                                                                                            aria-labelledby="dropdownMenuButton1"
                                                                                            style="width: 100%">
                                                                                            <li
                                                                                                *ngFor="let overtimeType of overtimeTypeList">
                                                                                                <a class="dropdown-item"
                                                                                                    (click)="selectOvertimeType(overtimeType)">{{
                                                                                                    overtimeType.type
                                                                                                    }}</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <ng-template #deductionType>

                                                                                    <div class="dudct-type">
                                                                                        <label for="exampleInputEmail1"
                                                                                            class="pb-2">Deduction Type</label>
                                                                                        <div class="dropdown">
                                                                                            <button
                                                                                                class="btn btn-secondary dropdown-toggle new-dropdown"
                                                                                                type="button"
                                                                                                id="dropdownMenuButton1"
                                                                                                data-bs-toggle="dropdown"
                                                                                                aria-expanded="false"
                                                                                                style=" text-align: left; background-color: white; color: black; border-color: #ced4da; width: 100%;">
                                                                                                {{ selectedDeductionType?.type ||
                                                                                                "Select deduction type" }}
                                                                                                <i class="bi bi-chevron-down"></i>
                                                                                            </button>
                                                                                            <ul class="dropdown-menu"
                                                                                                aria-labelledby="dropdownMenuButton1"
                                                                                                style="width: 100%">
                                                                                                <li
                                                                                                    *ngFor="let deductionType of deductionTypeList">
                                                                                                    <a class="dropdown-item"
                                                                                                        (click)="selectDeductionType(deductionType)">
                                                                                                        {{ deductionType.type }}
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </ng-template>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <div *ngIf="selectedDeductionType?.type == 'FIXED AMOUNT'">
                                                                                    <label for="exampleInputEmail1"
                                                                                        class="pb-2">Amount in rupees:</label>
                                                                                    <div class="d-flex" style="gap:20px">
            
                                                                                        <input type="number" class="form-control"
                                                                                            aria-describedby="emailHelp"
                                                                                            placeholder="Enter the amount here"
                                                                                            [(ngModel)]="attendanceRuleDefinitionRequest!.customSalaryDeduction!.amountInRupees"
                                                                                            [ngModelOptions]="{standalone: true}">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                            
                                                                <div class="mt-3">
                                                                    <div class="form-check ">
                                                                        <input class="form-check-input"
                                                                            style="cursor: pointer;" type="checkbox"
                                                                            value="" id="Occurrences" [checked]="isFull"
                                                                            (click)="showFullDay()">
                                                                        <label class="form-check-label" #Occurrences
                                                                            for="Occurrences">
                                                                            Set Occurrences
                                                                        </label>
                                                                    </div>
                                                                    <div class="d-flex align-items-center mt-2"
                                                                        style="gap:10px;" *ngIf="isFull">

                                                                        <div class="dropdown">
                                                                            <button
                                                                                class="btn btn-secondary dropdown-toggle"
                                                                                type="button" id="dropdownMenuButton1"
                                                                                data-bs-toggle="dropdown"
                                                                                aria-expanded="false"
                                                                                style="text-align: right; background-color: white;color: black; border-color: #ced4da; width: 100%;">
                                                                                {{
                                                                                selectedOccurenceDropdownForCustomSalrayDeduction
                                                                                ?
                                                                                selectedOccurenceDropdownForCustomSalrayDeduction
                                                                                : "Selectoccurrence type" }}
                                                                                <i class="bi bi-chevron-down"></i>
                                                                            </button>
                                                                            <ul class="dropdown-menu"
                                                                                aria-labelledby="dropdownMenuButton1"
                                                                                style="width: 100px">
                                                                                <li
                                                                                    *ngFor="let countDurationDropdown of countDurationDropdownList">
                                                                                    <a class="dropdown-item"
                                                                                        (click)="selectOccurenceDropdownForCustomSalrayDeduction(countDurationDropdown)">{{
                                                                                        countDurationDropdown }}</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="if-late d-flex align-items-center"
                                                                            style="width: 100px; gap:10px;"
                                                                            *ngIf="selectedOccurenceDropdownForCustomSalrayDeduction === 'Count'">
                                                                            <input type="text" class="form-control"
                                                                                aria-describedby="emailHelp"
                                                                                placeholder="Count"
                                                                                [(ngModel)]="attendanceRuleDefinitionRequest!.customSalaryDeduction!.occurrenceCount"
                                                                                [ngModelOptions]="{standalone: true}">
                                                                            <span>times</span>
                                                                        </div>
                                                                        <div id="occurrence-type-duration" class="dudct-type d-flex align-items-center" style="width: 135px; gap: 5px; "
                                                                            *ngIf="selectedOccurenceDropdownForCustomSalrayDeduction === 'Duration'">
                                                                            <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.customSalaryDeduction.occurrenceDuration" 
                                                                                nzFormat="HH:mm" (ngModelChange)="getLateOccurrenceDuration($event)" name="lateOccurrenceDuration">
                                                                            </nz-time-picker>
                                                                            <span><b>hrs.</b></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mt-2">
                                                                <!-- Deduct half day salary -->
                                                                <div class="form-check pb-3">
                                                                    <input class="form-check-input"
                                                                        style="cursor: pointer;" type="checkbox"
                                                                        value="" id="staff" [checked]="isdeductHalf"
                                                                        (click)="showDeductHalf()">
                                                                    <label class="form-check-label" for="staff">
                                                                        {{attendanceRuleResponse.halfDayRuleHeader}}
                                                                    </label>
                                                                </div>
                                                                <div class="dudtion-type" *ngIf="isdeductHalf">
                                                                    <div class="d-flex align-items-center"
                                                                        style="gap:20px">
                                                                        <div class="if-late">
                                                                            <label for="exampleInputEmail1"
                                                                                class="pb-2">{{attendanceRuleResponse.ruleSubHeader}}</label>
                                                                            <div class="input-group d-flex" style="gap: 5px;">
                                                                                <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.halfDaySalaryDeduction.lateDuration" 
                                                                                    nzFormat="HH:mm" (ngModelChange)="getHalfDaylateDuration($event)" name="halfDayLateDuration" style="width: 80% !important;">
                                                                                </nz-time-picker>
                                                                                <span><b>hrs.</b></span>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="mt-3">
                                                                        <div class="form-check ">
                                                                            <input class="form-check-input"
                                                                                style="cursor: pointer;" type="checkbox"
                                                                                value="" id="Occurrences3"
                                                                                [checked]="isBreak"
                                                                                (click)="showBreak()">
                                                                            <label class="form-check-label"
                                                                                for="Occurrences3">
                                                                                Set Occurrences
                                                                            </label>
                                                                        </div>
                                                                        <div class="d-flex align-items-center mt-2"
                                                                            style="gap:10px;" *ngIf="isBreak">

                                                                            <div class="dropdown">
                                                                                <button
                                                                                    class="btn btn-secondary dropdown-toggle"
                                                                                    type="button"
                                                                                    id="dropdownMenuButton1"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false"
                                                                                    style="text-align: right; background-color: white; color: black;border-color: #ced4da; width: 100%;">
                                                                                    {{
                                                                                    selectedOccurenceDropdownForHalfDaySalrayDeduction
                                                                                    ?
                                                                                    selectedOccurenceDropdownForHalfDaySalrayDeduction
                                                                                    :
                                                                                    "Select occurrence type" }}
                                                                                    <i class="bi bi-chevron-down"></i>
                                                                                </button>
                                                                                <ul class="dropdown-menu"
                                                                                    aria-labelledby="dropdownMenuButton1"
                                                                                    style="width: 100%">
                                                                                    <li
                                                                                        *ngFor="let countDurationDropdown of countDurationDropdownList">
                                                                                        <a class="dropdown-item"
                                                                                            (click)="selectOccurenceDropdownForHalfDaySalrayDeduction(countDurationDropdown)">{{
                                                                                            countDurationDropdown
                                                                                            }}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="if-late d-flex align-items-center"
                                                                                style="width: 150px; gap:10px;"
                                                                                *ngIf="selectedOccurenceDropdownForHalfDaySalrayDeduction === 'Count'">
                                                                                <!-- <label for="exampleInputEmail1" class="">Count</label> -->
                                                                                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Count"
                                                                                    [(ngModel)]="attendanceRuleDefinitionRequest!.halfDaySalaryDeduction!.occurrenceCount"
                                                                                    [ngModelOptions]="{standalone: true}">
                                                                                <span>times</span>
                                                                            </div>
                                                                            <div class="dudct-type d-flex align-items-center"
                                                                                style="width: 135px; gap:10px;"
                                                                                *ngIf="selectedOccurenceDropdownForHalfDaySalrayDeduction === 'Duration'">
                                                                                <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.halfDaySalaryDeduction.occurrenceDuration" 
                                                                                nzFormat="HH:mm" (ngModelChange)="getHalfDayOccurrenceDuration($event)" name="halfDayOccurrenceDuration">
                                                                            </nz-time-picker>

                                                                                <span><b>hrs.</b></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Deduct full day salary start-->
                                                                <div class="form-check pb-3">
                                                                    <input type="checkbox" [checked]="isfullDayy"
                                                                        (click)="showFullDayy()" value="" id="selery"
                                                                        class="form-check-input"
                                                                        style="cursor: pointer;">
                                                                    <label for="selery" class="form-check-label"> Deduct full day salary </label>
                                                                </div>

                                                                <div class="dudtion-type" *ngIf="isfullDayy">
                                                                    <div class="d-flex align-items-center" style="gap:20px">
                                                                        <div class="if-late">
                                                                            <label for="exampleInputEmail1"
                                                                                class="pb-2">{{attendanceRuleResponse.ruleSubHeader}}</label>
                
                                                                            <div class="input-group" style="gap: 5px;">
                                                                                <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.fullDaySalaryDeduction.lateDuration" nzFormat="HH:mm"
                                                                                 (ngModelChange)="getFullDaylateDuration($event)" name="fullDayLateDuration" style="width: 80% !important;"></nz-time-picker>
                                                                               
                                                                                <span><b>hrs.</b></span>
                                                                            </div>
                                                                        </div>
                
                                                                    </div>
                
                                                                    <div class="mt-3">
                                                                        <div class="form-check ">
                                                                            <input class="form-check-input" style="cursor: pointer;"
                                                                                type="checkbox" value="" id="Occurrences3"
                                                                                [checked]="isBreak" (click)="showBreak()">
                                                                            <label class="form-check-label" for="Occurrences3">
                                                                                Set Occurrences
                                                                            </label>
                                                                        </div>
                                                                        <div class="d-flex align-items-center mt-2" style="gap:10px;"
                                                                            *ngIf="isBreak">
                
                                                                            <div class="dropdown">
                                                                                <button
                                                                                    class="btn btn-secondary dropdown-toggle"
                                                                                    type="button" id="dropdownMenuButton1"
                                                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                                                    style=" text-align: right; background-color: white; color: black; border-color: #ced4da; width: 100%;">
                                                                                    {{ selectedOccurenceDropdownForFullDaySalrayDeduction ?
                                                                                    selectedOccurenceDropdownForFullDaySalrayDeduction :
                                                                                    "Select occurrence type" }}
                                                                                    <i class="bi bi-chevron-down"></i>
                                                                                </button>
                                                                                <ul class="dropdown-menu"
                                                                                    aria-labelledby="dropdownMenuButton1"
                                                                                    style="width: 100%">
                                                                                    <li *ngFor="let countDurationDropdown of countDurationDropdownList">
                                                                                        <a class="dropdown-item"
                                                                                            (click)="selectOccurenceDropdownForFullDaySalrayDeduction(countDurationDropdown)">{{ countDurationDropdown }}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="if-late d-flex align-items-center" style="width: 150px; gap:10px;"
                                                                                *ngIf="selectedOccurenceDropdownForFullDaySalrayDeduction === 'Count'">
                                                                                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Count"
                                                                                    [(ngModel)]="attendanceRuleDefinitionRequest!.fullDaySalaryDeduction!.occurrenceCount"
                                                                                    [ngModelOptions]="{standalone: true}">
                                                                                <span>times</span>
                                                                            </div>
                                                                            <div class="dudct-type d-flex align-items-center" style="width: 135px; gap:10px;"
                                                                                *ngIf="selectedOccurenceDropdownForFullDaySalrayDeduction === 'Duration'">
                                                                                <nz-time-picker [(ngModel)]="attendanceRuleDefinitionRequest.fullDaySalaryDeduction.occurrenceDuration" 
                                                                                nzFormat="HH:mm" (ngModelChange)="getFullDayOccurrenceDuration($event)" name="fullDayOccurrenceDuration">
                                                                            </nz-time-picker>
                
                                                                                <span><b>hrs.</b></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                
                                                                <!-- Deduct full day salary end-->
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="modal-footer d-flex align-items-center justify-content-end">
                                                            <button type="button" class="btn btn-outline-primary" [disabled]="selectedDeductionType.type == '' && createAttendanceRuleForm.invalid" 
                                                                (click)="staffActiveTabMethod()">Next</button>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="profile" role="tabpanel">
                                                        <div class="staf-list-box mt-3">


                                                            <div class="row mb-3">

                                                                <div class="col-md-6">
                                                                    <div>
                                                                        <h5>Userlist <span
                                                                                style="color: #4761f6; background-color: #d1d6f2; padding: 5px; border-radius: 5px"><b>{{total}}</b></span>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <form novalidate="" role="search"
                                                                        (submit)="searchUsers()"
                                                                        class="searching ng-untouched ng-pristine ng-valid">
                                                                        <div class="form-group"
                                                                            style="position: relative">
                                                                            <input type="text" id="searchText"
                                                                                placeholder="Search by name and role"
                                                                                class="form-control me-2 ng-untouched ng-pristine ng-valid"
                                                                                (keyup)="searchUsers()"
                                                                                [(ngModel)]="searchText"
                                                                                [ngModelOptions]="{ standalone: true }"
                                                                                style="padding: 10px 50px 10px 30px;">
                                                                            <button type="button" class="btn close-btn">
                                                                                <i class="bi bi-x"></i>
                                                                            </button>
                                                                            <i class="bi bi-search search-icon"
                                                                                style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px;"></i>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>

                                                            <div style="display: flex; justify-content: space-between; align-items : center;">

                                                                <div *ngIf="selectedStaffsUuids.length > 0">
                                                                    <ng-container
                                                                        *ngIf="selectedStaffsUuids.length === total; else elseCondition2">
                                                                        <span (click)="unselectAllUsers()"
                                                                            style="cursor: pointer; color: #EB5050; background-color: #FCF1F1; padding: 8px; border-radius: 5px;">Clear
                                                                            all users <i class="bi bi-x"></i></span>
                                                                    </ng-container>
                                                                    <ng-template #elseCondition2>
                                                                        <span (click)="selectAllUsers(true)"
                                                                            style="cursor: pointer; color: #4761F6; background-color: #EEF1FF; padding: 8px; border-radius: 5px;">Select
                                                                            all {{total}} users</span>
                                                                    </ng-template>
                                                                </div>

                                                                <div *ngIf="selectedStaffsUuids.length !== 0">
                                                                    <ng-container
                                                                        *ngIf="selectedStaffsUuids.length === total; else elseCondition1">
                                                                        <span>All <b>{{total}}</b> users selected</span>
                                                                    </ng-container>
                                                                    <ng-template #elseCondition1>
                                                                        <span><b>{{selectedStaffsUuids.length}}</b>
                                                                            selected of <b>{{total}}</b></span>
                                                                        <span style="cursor:pointer;"
                                                                            (click)="unselectAllUsers()"><i
                                                                                class="bi bi-x"></i></span>
                                                                    </ng-template>
                                                                </div>


                                                            </div>

                                                            <table class="table">
                                                                <thead class="thead-light">
                                                                    <tr>
                                                                        <th style="width:0%;">
                                                                            <input type="checkbox"
                                                                                style="cursor: pointer;"
                                                                                class="form-check-input"
                                                                                [(ngModel)]="isAllSelected"
                                                                                (change)="selectAll(isAllSelected)"
                                                                                [ngModelOptions]="{standalone: true}">
                                                                        </th>
                                                                        <!-- <th style="width:25%; padding: 12px 15px;">S. No.</th> -->
                                                                        <th style="width:25%; padding: 12px 15px;">Name
                                                                        </th>
                                                                        <th style="width:25%; padding: 12px 15px;">Email
                                                                        </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let staff of staffs | paginate: {itemsPerPage: itemPerPage, currentPage: pageNumber, totalItems: total} "
                                                                        style="border-bottom: 1px solid #dddddd;">
                                                                        <td>
                                                                            <div class="form-check">
                                                                                <input type="checkbox"
                                                                                    style="cursor: pointer;"
                                                                                    class="form-check-input"
                                                                                    [(ngModel)]="staff.selected"
                                                                                    (change)="checkIndividualSelection()"
                                                                                    [ngModelOptions]="{standalone: true}">
                                                                            </div>
                                                                        </td>
                                                                        <!-- <td style="padding: 12px 15px;">{{ i+1 }}</td> -->
                                                                        <td style="padding: 12px 15px;">{{ staff.name }}
                                                                        </td>
                                                                        <td style="padding: 12px 15px;">{{ staff.email? staff.email:"N/A"}}</td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!-- *ngIf="staffs.length > 8" -->
                                                        <div class="pagination pl-3 d-flex justify-content-between">
                                                            <p class="mb-0" style="padding-left: 15px">
                                                                Showing {{ getStartIndex() }} - {{ getEndIndex() }} of
                                                                {{ total }} teams
                                                            </p>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <nav aria-label="Page navigation example">
                                                                        <ul class="pagination justify-content-end">
                                                                            <li class="page-item"
                                                                                [class.disabled]="pageNumber == 1">
                                                                                <a class="page-link"
                                                                                    href="javascript:void(0);"
                                                                                    aria-label="Previous"
                                                                                    (click)="changePage('prev')">
                                                                                    <span
                                                                                        aria-hidden="true">&laquo;</span>
                                                                                </a>
                                                                            </li>
                                                                            <li class="page-item"
                                                                                *ngFor="let page of getPages()"
                                                                                [class.active]="pageNumber == page">
                                                                                <a class="page-link"
                                                                                    href="javascript:void(0);"
                                                                                    (click)="changePage(page)">{{ page
                                                                                    }}</a>
                                                                            </li>
                                                                            <li class="page-item"
                                                                                [class.disabled]="pageNumber == totalPages">
                                                                                <a class="page-link"
                                                                                    href="javascript:void(0);"
                                                                                    aria-label="Next"
                                                                                    (click)="changePage('next')">
                                                                                    <span
                                                                                        aria-hidden="true">&raquo;</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="back-and-submit">
                                                            <div
                                                                class="modal-footer d-flex align-items-center justify-content-between">
                                                                <button type="button" class="btn btn-outline-primary"
                                                                    (click)="ruleActiveTabMethod()">Back</button>
                                                                <button type="button" class="btn btn-primary"
                                                                [disabled]="selectedStaffsUuids.length == 0"
                                                                    (click)="registerAttendanceRuleDefinitionMethodCall()">
                                                                    <span *ngIf="!saveAttendanceRuleDefinitionLoading">Submit</span>
                                                                    <div class="dot-opacity-loader" *ngIf="saveAttendanceRuleDefinitionLoading">
                                                                        <span></span>
                                                                        <span></span>
                                                                        <span></span>
                                                                    </div>
                                                                    
                                                                </button>
                                                                    
                                                            </div>
                                                            <div class="modal-footer d-flex align-items-center ">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="attendance-rule-box">
                                                <div class="tracking-dataaa d-flex " style="gap:8px">
                                                    <div class="rule-stap">
                                                        <h5>1</h5>
                                                    </div>

                                                    <div class="">
                                                        <p>Create your first rule</p>
                                                        <div>
                                                            <span> Automate Late fine for employee </span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tracking-dataaa d-flex" [ngClass]="{'active-rule':!isStaffTab}" style="gap:8px">
                                                    <div class="rule-stap">
                                                        <h5>2</h5>
                                                    </div>
                                                    <div class="">
                                                        <p> Set a Rule value</p>
                                                        <div>
                                                            <span> Set a value for your rule type. </span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tracking-dataaa d-flex" [ngClass]="{'active-rule':isStaffTab}" style="gap:8px">
                                                    <div class="rule-stap">
                                                        <h5>3</h5>
                                                    </div>
                                                    <div class="">
                                                        <p> Assign Staff</p>
                                                        <div>
                                                            <span> Select the staff that you want the rule to be
                                                                assigned to. </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>