<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <div class="row">
            </div>

            <div class="row mb-3 mt-3 align-items-center search-area" style="padding-bottom: 15px;">
                <div class="col-md-4">

                    <form novalidate="" role="search" class="searching ng-untouched ng-pristine ng-valid">
                        <div class="form-group" style="width: 100%; position: relative;">
                            <input type="text" id="searchText" placeholder="Search"
                                class="form-control me-2 ng-untouched ng-pristine ng-valid attendance-details-search"
                                style="padding: 10px 30px;" ng-reflect-model="" ng-reflect-options="[object Object]"
                                [(ngModel)]="searchString" (keyup)="filterLeaves(searchString)" name="searchText">
                            <!-- <button
                            type="button"
                            class="btn close-btn"
                            (click)="reloadPage()"
                            *ngIf="crossFlag"
                          >
                            <i class="bi bi-x mt-auto mb-auto pl-3"></i>
                          </button>
                            -->

                            <!-- <input  type="text" id="searchText" placeholder="Search" class="form-control me-2 ng-untouched ng-pristine ng-valid attendance-details-search" style="padding: 10px 30px;" ng-reflect-model="" ng-reflect-options="[object Object]"> -->
                            <i class="bi bi-search search-icon" style="margin: auto; margin-left: 10px;" *ngIf="(searchString=='')"></i>
                            <i class="bi bi-x search-icon" style="margin: auto; margin-left: 10px;"  *ngIf="(searchString)" (click)="emptySearch()"></i>

                        </div>
                    </form>
                </div>
                <div class="col-md-8">

                </div>
            </div>

            <div class="p-3 leave-section mt-3">

                <div *ngIf="isLeaveManagementShimmerFlag && !isPlaceholderFlag">
                    <div class="row" *ngFor="let item of [].constructor(5)">
                        <div class="col-md-4">
                            <div class="d-flex" style="gap:15px;">
                                <div class="shimmer-redias" style="border-radius: 50%;">
                                    <ngx-shimmer-loading class="shimmer-redias-1" [width]="'70px'" [height]="'70px'"
                                        style="border-radius: 50% !important;"></ngx-shimmer-loading>
                                </div>
                                <div class="">
                                    <ngx-shimmer-loading [width]="'100px'" [height]="'15px'"></ngx-shimmer-loading>
                                    <ngx-shimmer-loading [width]="'150px'" [height]="'10px'"></ngx-shimmer-loading>
                                    <ngx-shimmer-loading [width]="'100px'" [height]="'20px'"
                                        style="position: relative; top: 10px;"></ngx-shimmer-loading>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex mb-3 shimmer-main" style="gap:20px;">
                                <div class="">
                                    <ngx-shimmer-loading [width]="'100px'" [height]="'12px'"
                                        style="position: relative; bottom: 7px;"></ngx-shimmer-loading>
                                    <div class="leave-section-box text-center">
                                        <div class="d-flex" style="gap:10px; padding-left: 15px; padding-right: 15px;">
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="">
                                    <ngx-shimmer-loading [width]="'100px'" [height]="'12px'"
                                        style="position: relative; bottom: 7px;"></ngx-shimmer-loading>
                                    <div class="leave-section-box text-center">
                                        <div class="d-flex" style="gap:10px; padding-left: 15px; padding-right: 15px;">
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="">
                                    <ngx-shimmer-loading [width]="'100px'" [height]="'12px'"
                                        style="position: relative; bottom: 7px;"></ngx-shimmer-loading>
                                    <div class="leave-section-box text-center">
                                        <div class="d-flex" style="gap:10px; padding-left: 15px; padding-right: 15px;">
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'40px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>

                                                <div class="">
                                                    <ngx-shimmer-loading [width]="'60px'"
                                                        [height]="'10px'"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>


                <div class="mt-3 dashnodata">
                    <div class="errorboxmain" *ngIf="isErrorFlag">

                        <div class="errorboxinner text-center">
                            <div class="errorboxplaceholder mb-2">
                                <img src="assets/images/signal.svg" style="width:80px;" />
                            </div>
                            <div class="">
                                <h4>Something went wrong</h4>
                                <p>An error occurred while processing your
                                    request. Please refresh the page and try
                                    again.</p>
                            </div>
                        </div>

                    </div>
                    <div class="errorboxmain" *ngIf="isPlaceholderFlag && total==0 && !isLeaveManagementShimmerFlag">

                        <div class="errorboxinner text-center">
                            <div class="errorboxplaceholder mb-2">
                                <img src="assets/images/addnewproduct.svg" style="width:80px;" />
                            </div>

                            <h4>No Data Found</h4>
                            <p>We're unable to locate a record associated with
                                the information you entered.</p>
                        </div>

                    </div>

                </div>

                <div *ngIf="!isLeaveManagementShimmerFlag && !isPlaceholderFlag">
                    <div class="row align-items-center mb-3 pb-3 leave-management-main"
                        *ngFor="let uLDeets of userLeaveDetailResponse; let i = index">
                        <div class="col-md-4">
                            <div class="leave-name">

                                <div class="d-flex align-items-center " style="gap:15px;">
                                    <div class="" *ngIf="uLDeets.userDetails.image !== null">
                                        <img [src]="uLDeets.userDetails.image"
                                            style="width: 70px; border-radius: 50%; height: 70px;">
                                    </div>
                                    <span class="members-name" *ngIf="uLDeets.userDetails.image == null">
                                        <!-- <img [src]="{{
                                    uLDeets.userDetails.name[0]}}" style="width: 70px; border-radius: 50%; height: 70px;"> -->
                                        {{uLDeets.userDetails.name[0]}}
                                    </span>

                                    <!-- <div class="members-name" *ngIf="uLDeets.userDetails.image==null" style="width: 70px; border-radius: 50%; height: 70px;">{{
                                uLDeets.userDetails.name[0]
                              }}</div> -->


                                    <div class="project-detail">
                                        <h4>{{uLDeets.userDetails.name}}</h4>
                                        <p class="mb-0">{{uLDeets.userDetails.email}}</p>

                                        <div class="add-note d-flex mt-2" style="gap: 10px;"
                                            *ngIf="uLDeets.userDetails.requestedLeaves >0">

                                            <a class="d-flex align-items-center" style="gap:5px;"
                                                data-bs-toggle="collapse"
                                                [href]="'#collapse' + uLDeets.userDetails.uuid" role="button"
                                                aria-expanded="false"
                                                [attr.aria-controls]="'collapse' + uLDeets.userDetails.uuid"
                                                (click)="getRequestedLeaveLogs(uLDeets.userDetails.uuid)"> Request <span
                                                    class="request-count">{{uLDeets.userDetails.requestedLeaves}}</span></a>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-8">

                            <!-- <div *ngIf="(uLDeets.leaveDetails.length) > 2">
                        <span class="right-arrow-sine"><i class="bi bi-arrow-right"></i></span></div> -->
                            <span class="left-arrow-sine" *ngIf="shouldShowLeftScroll[i]" (click)="scrollLeft(i)">
                                <i class="bi bi-arrow-left"></i>
                            </span>
                            <div class="d-flex align-items-center leave-asign-sertion" #scrollContainer
                                style="overflow-x:auto;" (scroll)="checkScroll($event, i)">

                                <!-- <div *ngIf="(uLDeets.leaveDetails.length) > 2">
                                <span class="right-arrow-sine" (click)="scrollRight()">
                                    <i class="bi bi-arrow-right"></i>
                                </span>
                            </div> -->


                                <div class="" *ngFor="let leaves of uLDeets.leaveDetails">
                                    <div class="sick-leave">
                                        <h5> {{leaves.leaveName}}</h5>
                                    </div>

                                    <div class="leave-section-box text-center">
                                        <div class="d-flex align-items-center">
                                            <div class="Approved rejected-css">
                                                <p class="mb-0">{{leaves.totalLeave}}</p><span class="total-holiday"
                                                    style="color:black !important;">Total</span>
                                            </div>
                                            <div class="Approved total-break-time-box">
                                                <p class="mb-0" style="color:#3e993e">{{leaves.approvedLeave}}</p>
                                                <span class="total-holiday">Approved</span>
                                                <!-- <div class="total-braek-time">
    
                                                    <div>
                                  
                                                        <div class="calenInfo ng-star-inserted">
                                                            <p><b>Leaves Type: </b> Casual Leave</p>
                                                            <p><b>Start Date : </b>Feb 26, 2024</p>
                                                            <p><b>End Date : </b>Feb 27, 2024</p>
                                                            <p><b>Total Days: </b>1</p>
                                                            <hr>
                                                            <p><b>Leaves Type: </b> Casual Leave</p>
                                                            <p><b>Start Date : </b>Feb 26, 2024</p>
                                                            <p><b>End Date : </b>Feb 27, 2024</p>
                                                            <p><b>Total Days: </b>1</p>
                                                            <hr>
                                                            <p><b>Leaves Type: </b> Casual Leave</p>
                                                            <p><b>Start Date : </b>Feb 26, 2024</p>
                                                            <p><b>End Date : </b>Feb 27, 2024</p>
                                                            <p><b>Total Days: </b>1</p>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <aside class="hover-popup">
                                                    <h2>Additional info here</h2>
                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora similique <span>quia corporis</span> libero. In dolor qui repudiandae ullam! Corporis minus veritatis consequuntur natus. Neque, quidem?</p>
                                                  </aside>
                                            </div>
                                            <div class="Approved pending-css">
                                                <p class="mb-0">{{leaves.pendingLeave}}</p>
                                                <span class="total-holiday">Pending</span>
                                            </div>
                                            <div class="Approved remaining-css">
                                                <p class="mb-0">{{leaves.remainingLeave}}</p>
                                                <span class="total-holiday">Remaining</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="right-arrow-sine" *ngIf="shouldShowRightScroll[i]" (click)="scrollRight(i)">
                                <i class="bi bi-arrow-right"></i>
                            </span>

                        </div>


                        <div class="mt-3 logs-box collapse multi-collapse" [id]="'collapse' + uLDeets.userDetails.uuid"
                            [class.show]="currentlyOpenUserUuid === uLDeets.userDetails.uuid"
                            *ngIf="uLDeets.userDetails.requestedLeaves >0">

                            <div style="text-align: left; position: relative;" class="mb-4 add-border-css"
                                *ngFor="let log of userLeaveLogs[uLDeets.userDetails.uuid]">
                                <!-- <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-2">Leaves Request</h5>
                        </div> -->
                                <div class="mt-2 leaves-request-type d-flex align-items-center" style="gap:8px;">
                                    <!-- <div class="d-flex align-items-center mb-1" style="gap:15px;">
                                <h5> Pradeep Yadav </h5>
                                 <p>Has requseted a leave</p>
                            </div> -->
                                    <!-- <div class="mb-1" style="color: #cccc;">|</div> -->
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>Leave Type : </h5>
                                        <p>{{log.leavetype}}</p>
                                    </div>
                                    <div class="mb-1" style="color: #cccc;">|</div>
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>Start Date : </h5>
                                        <p>{{log.startdate | date}}</p>
                                    </div>
                                    <div class="mb-1" style="color: #cccc;">|</div>
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>End Date : </h5>
                                        <p>{{log.enddate | date}}</p>
                                    </div>
                                    <div class="mb-1" style="color: #cccc;">|</div>
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>Leave Entitled : </h5>
                                        <p>{{log.totalleaves}}</p>
                                    </div>
                                    <div class="mb-1" style="color: #cccc;">|</div>
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>Total Approved : </h5>
                                        <p >{{log.approvedleaves}}</p>
                                    </div>
                                    <div class="d-flex align-items-center mb-1" style="gap:5px;">
                                        <h5>Total Days Count: </h5>
                                        <p >{{log.totaldays}}</p>
                                    </div>

                                </div>

                                <div class="d-flex align-items-start leaves-request-type mt-3" style="gap:10px;">
                                    <div class="" style="width: 50px;">
                                        <h5 style="font-size: 14px;">Notes : </h5>
                                    </div>
                                    <div class="" style="width:75%">
                                        <p style="position: relative; top:-2px;">{{log.notes}}</p>
                                    </div>

                                </div>
                                <!-- {{log.manager}}-{{logInUserUuid}} -->
                                <div class="d-flex align-items-center btn-box mt-2" style="gap:15px;"
                                    *ngIf="(log.manager===logInUserUuid) || (ROLE=='ADMIN')">
                                    <button class="btn approved" type="button"
                                        (click)="approveOrDeny(log.id, 'approved', uLDeets.userDetails.uuid)">Approve</button>
                                    <button class="btn deny" type="button"
                                        (click)="approveOrDeny(log.id, 'rejected', uLDeets.userDetails.uuid)">Deny</button>
                                </div>

                            </div>
                        </div>

                        <!-- ################ approved leaves -->
                        
                        
                    </div>
                </div>


            </div>
            <div class="pagination pl-3"
                *ngIf="!isLeaveManagementShimmerFlag && total > 5">
                <p class="mb-0" style="padding-left: 15px">
                    Showing {{ getStartIndex() }} - {{ getEndIndex() }} of
                    {{ total }} teams
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item" [class.disabled]="pageNumber == 1">
                                    <a class="page-link" href="javascript:void(0);" aria-label="Previous"
                                        (click)="changePage('prev')">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let page of getPages()"
                                    [class.active]="pageNumber == page">
                                    <a class="page-link" href="javascript:void(0);" (click)="changePage(page)">{{ page
                                        }}</a>
                                </li>
                                <li class="page-item" [class.disabled]="pageNumber == totalPages">
                                    <a class="page-link" href="javascript:void(0);" aria-label="Next"
                                        (click)="changePage('next')">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>