.centrel-leave-management-heding h3 {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 34px;
  font-weight: 500;
}

.centrel-leave-management-heding p {
  font-size: 12px;
  color: #8d93a1 !important;
  margin-bottom: 0px;
}

.month-celender p {
  font-size: 12px;
  color: #8d93a1 !important;
  margin-bottom: 0px;
  font-weight: 400;
}

.month-celender h4 {
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
}

.month-celender {
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding: 10px 15px;
  gap: 20px;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
}

.chart-box {
  padding: 15px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  border-radius: 2px;
  min-height: 205px;
  height: 300px;
}

.chart-box h4 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}

.leave-type p {
  font-size: 10px;
}

.leave-progress .progress {
  height: 7px;
}

.progress-heading {
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

span.total-leave-deta {
  color: #d0d0d0;
}

.my-leave-log {
  padding: 15px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  border-radius: 2px;
  height: 550px;
}

.my-leave-log-hedding h4 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}

.view-loges-btn {
  color: #6666f3 !important;
  font-size: 13px;
  font-weight: 500;
}

.view-loges-btn i {
  font-size: 13px;
  margin-left: 2px;
  transition: 0.1s linear;
}

.view-loges-btn:hover i {
  margin-left: 4px;
}

.leave-logs h4 {
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}

.leave-logs p {
  font-size: 12px;
  color: #8d93a1 !important;
  margin-bottom: 0px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.leave-logs ul li {
  padding-bottom: 30px;
  list-style: none;
}

.leave-logs ul li:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #efefef;
  top: 22px;
  left: -25px;
  z-index: 999;
}

.leave-logs ul li:last-child:after {
  height: 0px;
}

.leave-logs ul li:last-child {
  padding-bottom: 0px;
}

span.leave-pending {
  border: 1px solid #ccc;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 6px;
}

.pending-logs p {
  color: orange !important;
}

.approved-logs p {
  color: green !important;
}

.rejected-logs p {
  color: red !important;
}

span.leave-approved {
  position: absolute;
  left: -30px;
}

span.leave-rejected {
  position: absolute;
  left: -30px;
}

.panding-leave-box img {
  width: 35px;
  border: 1px solid #6666f3;
  border-radius: 50%;
  padding: 1px;
}

.rejected-history p {
  font-size: 12px;
  font-weight: 500;
  color: red;
}

.approved-history p {
  font-size: 12px;
  font-weight: 500;
  color: green;
}

.view-loges-btn {
  font-size: 13px;
  /* padding: 6px; */
  transition: 0.5s;
}

/* .view-loges-btn:hover{
    border-bottom: 1px solid #6666f3;
    transition: 0.5s;
} */

.approve-btn {
  background-color: #e0ffe0 !important;
  color: #3e993e !important;
  border: 1px solid #3e993e;
}

.reject-btn {
  background-color: rgb(248, 215, 215);
  color: #eb5050 !important;
  border: 1px solid #eb5050;
}

.leave-appervo-modal h4 {
  font-size: 18px !important;
  color: #000;
  font-weight: 500;
  padding-bottom: 5px;
}

.leave-appervo-modal h5 {
  font-size: 14px !important;
  color: #444;
  font-weight: 400;
  padding-bottom: 15px;
}

.leave-appervo-modal p {
  color: #8d93a1 !important;
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 0px;
  line-height: 23px;
  text-align: justify;
}

.leave-request-modat-close-btn {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  font-size: 25px;
}

.load-more-btn p {
  width: 100px;
  /* background-color: #f3f3f3; */
  border-radius: 5px;
  padding: 7px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 12px;
  color: #444;
  border: 1px solid #f1f1f1;
}

.profile-details h4 {
  margin-bottom: 0px !important;
}

.profile-details p {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.profile-user-img img {
  width: 50px;
  border: 1px solid #6666f3;
  border-radius: 50%;
  padding: 1px;
}

.load-more-btn i {
  padding-left: 5px;
}

.total-holidey-live h5 {
  font-size: 13px !important;
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-weight: 500;
}

.total-holidey-live p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}

.Approved {
  border-right: 1px solid #f1f1f1;
  width: 160px;
}

.Approved:last-child {
  border-right: none;
}

.Approved:first-child {
  border-right: none;
  text-align: left;
}

.rejected-css p {
  color: black !important;
}

.rejected-css span {
  color: black !important;
}

.Approved p {
  color: #3e993e !important;
}

.Approved span {
  color: #3e993e !important;
}

.pending-css p {
  color: orange !important;
}

.pending-css span {
  color: orange !important;
}

.remaining-css p {
  color: #6666f3 !important;
}

.remaining-css span {
  color: #6666f3 !important;
}

.total-holiday {
  font-size: 11px;
  text-align: center;
}

.Approved p {
  text-align: center;
}

.leave-logs {
  height: 365px;
  overflow: scroll;
}

.leave-logs::-webkit-scrollbar {
  display: none;
}

.leave-history-box {
  /* max-height: 214px; */
  max-height: 370px;
  overflow: scroll;
}

.leave-history-box-if-pending-null {
  max-height: 380px;
  overflow: scroll;
}

.leave-history-box-if-pending-one {
  max-height: 208px;
  overflow: scroll;
}

.leave-history-box::-webkit-scrollbar {
  display: none;
}

.search-icon {
  font-size: 12px !important;
  position: absolute !important;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color) !important;
}

.new-deopdown {
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  height: 40px !important;
  text-align: left;
  background-color: #fff;
  border-right: 1px solid #f1f1f1 !important;
  border: none;
  border-radius: 0px;
  color: #2d2e3e;
}

.new-deopdown i {
  position: absolute;
  right: 15px;
  top: 8px;
}

.leave-request-padding {
  padding: 6px;
}

.acitivity-timeline-2 h6 {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 3px;
}

/* 
.chart-box {
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
   */
.activity .activity-info .icon-info-activity i {
  width: 28px;
  height: 28px;
}

.bg-soft-success:hover {
  background-color: rgba(34, 183, 131, 0.08) !important;
  color: #22b783 !important;
}

.bg-soft-danger:hover {
  background-color: rgba(239, 77, 86, 0.08) !important;
  color: #ef4d56 !important;
}

.team-dropdown {
  max-height: 200px;
  overflow: scroll;
}

.leave-detail {
  text-align: left;
  font-size: 10px;
}

.leave-count {
  text-align: right;
  font-size: 10px;
}

.d-flex.justify-content-between.align-items-center {
  width: 100%;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Adjust as needed */
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #007bff;
  /* Bootstrap primary color for example, change as needed */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

/* Keyframes for the opacity animation */
@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.activity .activity-info:last-child ::before {
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #6666f3;
  color: #6666f3;
  background-color: transparent;
}

.nav-tabs .nav-link {
  font-style: normal;
  border-radius: 0px 0 0 0;
  border: none;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: #404040;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 1rem;
}

.Regular-data {
  cursor: pointer;
}

.Regular-data:hover {
  color: #6666f3 !important;
  text-decoration: underline;
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 90px;
}


.nots-section {
  background-color: rgba(236, 236, 236, 0.21) !important;
  width: 100%;
  height: 80px !important;
  border: 1px solid #E9E9E9;
}

span.request-count {
  background-color: rgb(241 241 253) !important;
  color: var(--primary-color) !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}