<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid mt-4">

      <div class="row">
        <div class="col-md-4">
          <div class="chart-box">
            <h4 class="mb-2">Weekly Leave Pattern</h4>
            <ngx-charts-bar-vertical-stacked [view]="view" [results]="weeklyChartData" [scheme]="colorScheme"
              [gradient]="gradient" [xAxis]="true" [yAxis]="true" [legend]="false"
              [animations]="true"></ngx-charts-bar-vertical-stacked>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart-box">
            <h4 class="mb-2">Last 6 Months Pattern</h4>
            <ngx-charts-bar-vertical-stacked [view]="view" [results]="monthlyChartData" [scheme]="colorScheme"
              [gradient]="gradient" [xAxis]="true" [yAxis]="true" [legend]="false"
              [animations]="true"></ngx-charts-bar-vertical-stacked>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chart-box">
            <h4 class="mb-2">Consumed leave types</h4>
            <div class="d-flex flex-column" style="gap: 3px">
              <ng-container *ngFor="let leave of consumedLeaveArray">
                <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="leave-detail">
                    <b>{{ getLeaveInitials(leave?.leaveType) }}</b>
                    {{ leave?.leaveType }}
                  </div>
                  <div class="leave-count">
                    <span>{{ leave?.consumedCount }} /
                      {{ leave?.totalLeaveCount }}</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="leave-progress">
              <ngx-charts-bar-horizontal-normalized *ngIf="dataReady" [view]="views" [scheme]="colorSchemeConsumed"
                [results]="consumedLeaveData" [gradient]="false" [xAxis]="showXAxis" [yAxis]="showYAxis"
                [legend]="showLegend"></ngx-charts-bar-horizontal-normalized>
            </div>
            <!-- <div class="empty-file" style="margin-top: 15%">
              <nz-empty
                nzNotFoundImage="assets/images/no-data-found-img-2.svg"
                [nzNotFoundContent]="contentTpl"
              >
                <ng-template #contentTpl>
                  <p class="mb-1 empty-detail font-16">No leave crated</p>
                </ng-template>
              </nz-empty>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="my-leave-log">
            <div
              class="my-leave-log-hedding d-flex align-items-center justify-content-between leave-request-padding mb-1">
              <h4>Leave Requests</h4>
              <a href="" class="view-loges-btn" *ngIf="ROLE != 'ADMIN'" data-bs-toggle="modal"
                data-bs-target=".apply-leave">Apply for leaves <i class="bi bi-chevron-right"></i>
              </a>
            </div>
            <ul class="nav nav-tabs bg-white border-top" role="tablist">
              <li class="nav-item d-flex align-items-center" >
                <a class="nav-link active" data-bs-toggle="tab" href="#pendingLeaves" role="tab"
                 aria-selected="true" (click)="onTabChange(PENDING)">Pending Leave
                </a>
                <span class="request-count d-flex align-items-center justify-content-center"
                  *ngIf="totalCountOfPendingCounts > 0">{{ totalItems[PENDING] }}</span>
              </li>
              <li class="nav-item" >
                <a class="nav-link" data-bs-toggle="tab" href="#leaveHistory" role="tab" 
                aria-selected="true" (click)="onTabChange(HISTORY)">Leaves  History</a>
              </li>
            </ul>
            <div class="tab-content">
              <!-------------PENDING LEAVE TAB STARTS ------------------>
              <div class=" tab-pane active pt-3 pb-3" id="pendingLeaves" #pendingLeaves role="tabpanel" >
                <div class="leave-history-box" #logContainerOfPendingLeaves
                 >
                  <div class="empty-file" style="margin-top: 25%" *ngIf="totalItems[PENDING]==0  && !isLoadingLeaves[PENDING]">
                    <nz-empty nzNotFoundImage="assets/images/pending-leave.svg" [nzNotFoundContent]="contentTpl">
                      <ng-template #contentTpl>
                        <p class="mb-1 empty-detail font-16">
                          No pending for now
                        </p>
                      </ng-template>
                    </nz-empty>
                  </div>
                  <div class="row mt-2" *ngFor="let pl of leaves[PENDING]">
                    <div class="col-auto">
                      <img *ngIf="pl.image" src="{{ pl.image }}" alt="" class="thumb-md rounded-circle"
                        style="width: 32px; height: 32px" (error)="onError($event)" />
                      <img *ngIf="!pl.image" src="assets/images/user.png" alt="" class="thumb-md rounded-circle"
                        style="width: 32px; height: 32px" />
                    </div>
                    <!--end col-->
                    <div class="col">
                      <div class="comment-body ms-n2 bg-light-alt p-3">
                        <div class="activity-info-text">
                          <div class="float-end">
                            <div class="dropdown d-inline-block">
                              <div class="align-self-center">
                                <h6 class="fw-semibold">
                                  <span class="badge badge-outline-primary">
                                    {{ pl.totalDays }} Days |
                                    {{ pl.leaveType }}</span>
                                </h6>
                                <small>{{ pl.leaveDate | date : "medium" || "N/A" }}
                                  <!-- &nbsp;
                                  <span>{{
                                    pl.leaveDate | date:'medium' || "N/A"
                                  }}</span> -->
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="media align-items-center">
                            <div class="media-body ms-2 align-self-center">
                              <h5 class="m-0 Regular-data" (click)="routeToUserProfile(pl.uuid)">
                                {{ pl.username }}
                              </h5>
                              <p>
                                Duration:
                                <u>{{ pl.startDate | date : 'd MMMM, y' || "N/A" }}
                                  -
                                  {{ pl.endDate | date : 'd MMMM, y' || "N/A" }}</u>
                              </p>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="text-primary" (click)="viewPendingLeave(pl)"
                          data-bs-toggle="modal" data-bs-target="#leave-appervo">
                          <i class="fas fa-external-link-square-alt me-1"></i>View
                        </a>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <div class="align-self-center text-center mt-2" *ngIf="leaves[PENDING]?.length!=totalItems[PENDING] && !isLoadingLeaves[PENDING] &&  totalItems[PENDING]!=0">
                    <button type="button" class="btn btn-xs btn-light btn-round"
                      (click)="loadMoreLeaves(PENDING)">
                      Load More <i class="bi bi-chevron-down"></i>
                    </button>
                  </div>
                  <div class="text-center load-more-btn"  *ngIf="isLoadingLeaves[PENDING]">
                    <div class="spinner-border spinner-border-custom-1 text-primary" role="status"></div>
                    <div>
                      <small>Loading...</small>
                    </div>
                  </div>
                </div>
                
              </div>
              <!-------------PENDING LEAVE TAB ENDS ------------------>

              <!-------------LEAVE HISTORY TAB STARTS ------------------>
              <div class="tab-pane pt-3 pb-3" id="leaveHistory" #leaveHistory role="tabpanel" >
                <div class="leave-history-box-if-pending-null" #logContainerOfApprovedRejected >
                  <div class="empty-file" style="margin-top: 25%" *ngIf="totalItems[HISTORY]==0 && !isLoadingLeaves[HISTORY]">
                    <nz-empty nzNotFoundImage="assets/images/pending-leave.svg" [nzNotFoundContent]="contentTpl">
                      <ng-template #contentTpl>
                        <p class="mb-1 empty-detail font-16">
                          No leaves history for now
                        </p>
                      </ng-template>
                    </nz-empty>
                  </div>
                  <div class="row mt-2" *ngFor="let arl of leaves[HISTORY]">
                    <div class="col-auto">
                      <img *ngIf="arl.image" src="{{ arl.image }}" alt="" class="thumb-md rounded-circle"
                        style="width: 32px; height: 32px" (error)="onError($event)" />
                      <img *ngIf="!arl.image" src="assets/images/user.png" alt="" class="thumb-md rounded-circle"
                        style="width: 32px; height: 32px" />
                    </div>
                    <!--end col-->
                    <div class="col">
                      <div class="comment-body ms-n2 p-3" [ngClass]="{
                          'bg-soft-success': arl.status == 'approved',
                          'bg-soft-danger': arl.status == 'rejected'
                        }">
                        <div class="activity-info-text">
                          <div class="float-end">
                            <div class="dropdown d-inline-block">
                              <div class="align-self-center">
                                <h6 class="fw-semibold">
                                  <span class="badge badge-outline-primary">
                                    {{ arl.totalDays }} Days |
                                    {{ arl.leaveType }}</span>
                                </h6>
                                <small>{{
                                  arl.leaveDate | date : "medium" || "N/A"
                                  }}
                                  <!-- &nbsp;
                                  <span>{{
                                    arl.leaveDate | date:'medium' || "N/A"
                                  }}</span> -->
                                </small>
                              </div>
                            </div>
                          </div>
                          <div class="media align-items-center">
                            <div class="media-body ms-2 align-self-center">
                              <h5 class="m-0 Regular-data" (click)="routeToUserProfile(arl.uuid)">
                                {{ arl.username }}
                                <i class="ti ti-checks bg-soft-success" *ngIf="arl.status == 'approved'"></i>
                                <i class="ti ti-x bg-soft-danger" *ngIf="arl.status == 'rejected'"></i>
                              </h5>
                              <p>
                                Duration:
                                <u>{{arl.startDate | date : 'd MMMM, y' || "N/A" }}
                                  -
                                  {{arl.endDate | date : 'd MMMM, y' || "N/A" }}</u>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                </div>
                <div class="align-self-center text-center mt-2" *ngIf="leaves[HISTORY]?.length!=totalItems[HISTORY] && !isLoadingLeaves[HISTORY] &&  totalItems[HISTORY]!=0">
                  <button type="button" class="btn btn-xs btn-light btn-round" 
                    (click)="loadMoreLeaves(HISTORY)">
                    Load More <i class="bi bi-chevron-down"></i>
                  </button>
                </div>
                <div class="text-center load-more-btn" *ngIf="isLoadingLeaves[HISTORY]">
                  <div class="spinner-border spinner-border-custom-1 text-primary" role="status"></div>
                  <div>
                    <small>Loading...</small>
                  </div>
                </div>
              </div>
              <!-------------LEAVE HISTORY TAB ENDS ------------------>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="my-leave-log">
            <div class="my-leave-log-hedding">
              <h4>My Leaves</h4>
            </div>
            <hr style="margin-bottom: 10px" />
            <div class="mb-3 d-flex align-items-center" style="border: 1px solid #f1f1f1; border-radius: 2px"
              *ngIf="ROLE != 'USER' && (totalItems[ALL]!=0 || searchTerm != '' || this.selectedTeam )">
              <!-- TEAM FILTER DROPDOWN START -->
              <div class="dropdown" style="width: 35%" *ngIf="ROLE != 'USER' ">
                <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                  class="btn btn-secondary dropdown-toggle new-deopdown">
                  {{ selectedTeam ? selectedTeam.teamName : "All" }}
                  <i class="bi bi-chevron-down" style="color: #444; font-size: 15px"></i>
                </button>
                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu team-dropdown" style="width: 100%">
                  <li class="ng-star-inserted" *ngIf="selectedTeam" >
                    <a class="dropdown-item" (click)="applyTeamFilter(null,ALL)">All</a>
                  </li>
                  <li class="ng-star-inserted" *ngFor="let tn of teamNameList" >
                    <a (click)="applyTeamFilter(tn,ALL)" class="dropdown-item"> {{ tn.teamName }} </a>
                  </li>
                </ul>
              </div>
              <!-- TEAM FILTER DROPDOWN END -->

              <!-- ALL EAVES SEARCH START -->
              <div class="form-group pb-1" style="width: 65%; position: relative">
                <input type="text" id="searchText" placeholder="Search" [(ngModel)]="searchTerm"
                  class="form-control me-2 ng-untouched ng-pristine ng-valid"
                  style="padding: 10px 30px; border: none !important"  (keyup)="searchLeaves(ALL)"  />
                <i class="bi bi-search search-icon" style="margin: auto; margin-left: 10px"
                  *ngIf="searchTerm == ''"></i>
                <i class="bi bi-x search-icon" style="margin: auto; margin-left: 10px" *ngIf="searchTerm != ''"
                (click)="getLeaves(ALL,true)"></i>
              </div>
              <!-- ALL EAVES SEARCH END -->

            </div>
            <div class="leave-logs" #logContainer >
              <div class="empty-file" style="margin-top: 25%" *ngIf="totalItems[ALL]==0 && !isLoadingLeaves[ALL] ">
                <nz-empty nzNotFoundImage="assets/images/no-data-found-img-2.svg" [nzNotFoundContent]="contentTpl">
                  <ng-template #contentTpl>
                    <p class="mb-1 empty-detail font-16">No data for now</p>
                  </ng-template>
                </nz-empty>
              </div> 
              <div class="activity" *ngFor="let fullLogList of leaves[ALL]">
                <div class="activity-info" *ngIf="fullLogList.status != PENDING && fullLogList.status != REQUESTED">
                  <div class="icon-info-activity">
                    <i [ngClass]="{
                      'ti ti-clock bg-soft-warning': fullLogList.status === PENDING || fullLogList.status === REQUESTED,
                      'ti ti-checks bg-soft-success': fullLogList.status === APPROVED,
                      'ti ti-x bg-soft-danger': fullLogList.status === REJECTED
                    }"></i>
                  </div>
                  <div class="activity-info-text">
                    <div>
                      <div class="float-end">
                        <div class="dropdown d-inline-block">
                          <div class="align-self-center">
                            <div class="btn btn-xs btn-light btn-round">
                              {{
                              fullLogList.leaveDate | date : "medium" || "N/A"
                              }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="media align-items-center">
                        <div class="media-body ms-2 align-self-center">
                          <h5 class="m-0 Regular-data" (click)="routeToUserProfile(fullLogList.uuid)">
                            {{ fullLogList.username }}
                          </h5>
                          <p class="text-muted font-12 mb-0">
                            <ng-container [ngSwitch]="fullLogList.status">
                              <span *ngSwitchCase='PENDING' style="color: orange" class="ng-star-inserted">
                                Applied <span> To </span>
                              </span>
                              <span *ngSwitchCase='APPROVED' style="color: green" class="ng-star-inserted">
                                Approved <span> By </span>
                              </span>
                              <span *ngSwitchCase='REJECTED' style="color: rgb(255, 55, 0)" class="ng-star-inserted">
                                Rejected <span> By </span>
                              </span>
                              <span *ngSwitchCase='REQUESTED' style="color: rgb(155, 235, 234)" class="ng-star-inserted">
                                Requested <span> To </span>
                              </span>
                            </ng-container>
                            {{ fullLogList.managerName }}
                          </p>
                        </div>
                      </div>
                      <hr class="hr-dashed" />
                      <div class="d-flex justify-content-between">
                        <p>
                          Duration:
                          <u>{{fullLogList.startDate | date : 'd MMMM, y'|| "N/A"}}
                            -
                            {{fullLogList.endDate| date : 'd MMMM, y' || "N/A"}}</u>
                        </p>
                        <h6 class="fw-semibold">
                          <span class="badge badge-outline-primary">{{ fullLogList.totalDays }} Days |
                            {{ fullLogList.leaveType }}</span>
                        </h6>
                      </div>
                      <p class="text-muted mb-0">{{ fullLogList.notes }}</p>
                      <p class="text-danger mb-0"
                        *ngIf="fullLogList.rejectionReason != null && fullLogList.rejectionReason != ''">Reason: {{
                        fullLogList.rejectionReason }} </p>
                    </div>
                    <a *ngIf="fullLogList.docFileLink != null" [href]="fullLogList.docFileLink" target="_blank"
                      rel="noopener noreferrer">
                      Declaration <i class="bi bi-arrow-down"></i>
                    </a>

                    <hr class="hr-dashed" />
                  </div>
                </div>
                <!-- SECTOND DIV OLY FOR APPLIED  -->
                <div class="activity-info">
                  <div class="icon-info-activity">
                    <i class="ti ti-clock bg-soft-warning"></i>
                  </div>
                  <div class="activity-info-text">
                    <div>
                      <div class="float-end">
                        <div class="dropdown d-inline-block">
                          <div class="align-self-center">
                            <div class="btn btn-xs btn-light btn-round">
                              {{
                              fullLogList.leaveDate | date : "medium" || "N/A"
                              }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="media align-items-center">
                        <div class="media-body ms-2 align-self-center">
                          <h5 class="m-0 Regular-data" (click)="routeToUserProfile(fullLogList.uuid)">
                            {{ fullLogList.username }}
                          </h5>
                          <p class="text-muted font-12 mb-0">
                              <span style="color: orange" class="ng-star-inserted">
                                Applied <span> To </span>
                              </span>
                            {{ fullLogList.managerName }}
                          </p>
                        </div>
                      </div>
                      <hr class="hr-dashed" />
                      <div class="d-flex justify-content-between">
                        <p>
                          Duration:
                          <u>{{fullLogList.startDate | date : 'd MMMM, y'|| "N/A"}}
                            -
                            {{fullLogList.endDate| date : 'd MMMM, y' || "N/A"}}</u>
                        </p>
                        <h6 class="fw-semibold">
                          <span class="badge badge-outline-primary">{{ fullLogList.totalDays }} Days |
                            {{ fullLogList.leaveType }}</span>
                        </h6>
                      </div>
                      <p class="text-muted mb-0">{{ fullLogList.notes }}</p>
                      <p class="text-danger mb-0"
                        *ngIf="fullLogList.rejectionReason != null && fullLogList.rejectionReason != ''">Reason: {{
                        fullLogList.rejectionReason }} </p>
                    </div>
                    <a *ngIf="fullLogList.docFileLink != null" [href]="fullLogList.docFileLink" target="_blank"
                      rel="noopener noreferrer">
                      Declaration <i class="bi bi-arrow-down"></i>
                    </a>

                    <hr class="hr-dashed" />
                  </div>
                </div>
              </div>
              <!--end activity-->
              <div class="align-self-center text-center mt-2" *ngIf="!isLoadingLeaves[ALL] && leaves[ALL]?.length != totalItems[ALL] && totalItems[ALL]!=0">
                <button type="button" class="btn btn-xs btn-light btn-round" 
                  (click)="loadMoreLeaves(ALL)">
                  Load More <i class="bi bi-chevron-down"></i>
                </button>
              </div>
              <div class="text-center load-more-btn" *ngIf="isLoadingLeaves[ALL]">
                <div class="spinner-border spinner-border-custom-1 text-primary" role="status"></div>
                <div>
                  <small>Loading...</small>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Viewing Leave Details -->
  <div class="modal fade" id="leave-appervo" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 570px" role="document">
      <div class="modal-content">
        <div class="modal-body p-4">
          <button type="button" class="leave-request-modat-close-btn" (click)="rejectLeaveModalClose()"
            data-bs-dismiss="modal" aria-label="Close" #closeModal>
            <i class="bi bi-x" style="line-height: 20px"></i>
          </button>

          <div *ngIf="!rejectLeaveToggle">
            <div class="text-center leave-appervo-modal" *ngIf="leave">
              <div class="d-flex align-items-start justify-content-between">
                <div class="d-flex align-items-center profile-details" style="gap: 15px">
                  <div class="profile-user-img">
                    <img [src]="
                      leave.image || 'assets/images/user.png'
                    " style="width: 50px; height: 50px; object-fit: cover" />
                  </div>

                  <div>
                    <h4 style="cursor: pointer" (click)="
                      routeToUserProfileAfterClosePending(
                        leave.uuid
                      )
                    ">
                      {{ leave.name }}
                    </h4>
                    <p>{{ leave.email }}</p>
                  </div>
                </div>
                <div class="total-holidey-live">
                  <h5>
                    {{
                    leave.startDate
                    | date : "dd MMM yyyy" || "N/A"
                    }}
                    -
                    {{
                    leave.endDate | date : "dd MMM yyyy" || "N/A"
                    }}
                  </h5>
                  <p>
                    {{ leave.leaveType }} (
                    {{ leave.totalDays }} Days )
                  </p>
                  <p>
                    {{
                    leave.leaveDate
                    | date : "dd MMM yyyy hh:mm:ss a"
                    }}
                  </p>
                  <p>Applied To : {{ leave.managerName }}</p>

                  <div *ngIf="leave.attachment != null" class="text-end">
                    <a [href]="leave.attachment" target="_blank" rel="noopener noreferrer"
                      style="font-size: 13px;">View Attachment <i class="fas fa-external-link-square-alt me-1"></i> </a>
                  </div>

                </div>
              </div>
              <div class="mt-4">
                <!-- <div class="d-flex align-items-center" *ngIf="!isFetchingQuotaFailed">
                  <div class="Approved rejected-css">
                    <p class="mb-0" style="color: black"></p>
                    <span style="
                      color: #9196a4 !important;
                      text-align: left;
                      font-size: 14px;
                      font-weight: 400;
                    " class="total-holiday">{{ leave.leaveType }}</span>
                  </div>
                  <div class="Approved">
                    <p class="mb-0">{{ leave.approved }}</p>
                    <span class="total-holiday">Approved</span>
                  </div>
                  <div class="Approved pending-css">
                    <p class="mb-0">{{ leave.applied }}</p>
                    <span class="total-holiday">Pending</span>
                  </div>
                  <div class="Approved remaining-css">
                    <p class="mb-0">{{ leave.remainingQuota }}</p>
                    <span class="total-holiday">Remaining</span>
                  </div>
                </div> -->

                <p class="mt-4 mb-4">{{ leave.notes }}</p>
                <div class="mb-3" style="text-align: left">
                  <a *ngIf="leave.docFileLink != null" [href]="leave.docFileLink"
                    target="_blank" rel="noopener noreferrer">
                    Declaration <i class="bi bi-arrow-down"></i>
                  </a>

                </div>
                <div class="d-flex align-items-center justify-content-end" style="gap: 10px" *ngIf="
                  leave.managerUuid === logInUserUuid ||
                  ROLE == 'ADMIN'
                ">
                  <!-- Approve Button -->
                   <!-- (click)="approveOrDeny(leave.id, 'approved')" -->
                  <button class="btn approve-btn" type="button" (click)="approveOrDeny(leave.id, 'approved')"
                    >
                    <div *ngIf="approvedLoader; else approveLabel">
                      <div class="dot-opacity-loader">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <ng-template #approveLabel>Approve</ng-template>
                  </button>
                  <!-- Reject Button -->
          

                  <button class="btn reject-btn" type="button" (click)="approveOrDeny(leave.id, 'rejected')">
                    <div *ngIf="rejecetdLoader; else rejectLabel">
                      <div class="dot-opacity-loader">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <ng-template #rejectLabel>Reject</ng-template>
                  </button>

                </div>
              </div>
            </div>
          </div>

          <div *ngIf="rejectLeaveToggle">
            <div>
              <label for="" class="mb-3">Rejection Reason</label>
              <textarea class="nots-section" name="inputReason" id="reason" [(ngModel)]="rejectionReason"></textarea>
            </div>

            <div class="d-flex align-items-center justify-content-end gap-2 mt-3">

              <button type="button" class="btn btn-warning" (click)="rejectLeave()" aria-label="Close">Close</button>
              <!-- (click)="approveOrDeny(leave.id, 'rejected')" -->
              <button class="btn reject-btn" type="button" [disabled]="rejectionReason == ''"
                >
                <div *ngIf="rejecetdLoader; else rejectLabel">
                  <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <ng-template #rejectLabel>Submit</ng-template>
              </button>

            </div>
          </div>

          <!-- </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade apply-leave" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title m-0" id="exampleModalCenterTitle">
          Apply for a Leave
        </h6>
        <button type="button" class="btn-close" id="requestLeaveCloseModel" data-bs-dismiss="modal" aria-label="Close"
          #requestLeaveCloseModel></button>
      </div>
      <div class="modal-body">
        <div class="apply-leave-main-box">
          <div class="mb-2">
            <p class="mb-0" style="color: #000444">
              Please fill out the following fields:
            </p>
          </div>
          <form [formGroup]="userLeaveForm" #formDirective="ngForm">
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Pick a starting date</label>
              <input type="date" id="username" placeholder="Enter title ..." required=""
                class="form-control ng-untouched ng-pristine ng-invalid" formControlName="startDate"
                [(ngModel)]="userLeaveRequest.startDate" [min]="currentNewDate" />
              <div class="form-text text-danger" *ngIf="
                  StartDate?.errors?.['required'] &&
                  (StartDate?.touched || StartDate?.dirty)
                ">
                Start Date is Required.
              </div>
            </div>
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Pick an ending date
              </label>
              <input type="date" id="username" placeholder="Enter title ..."
                class="form-control ng-untouched ng-pristine ng-invalid" formControlName="endDate"
                [(ngModel)]="userLeaveRequest.endDate" [min]="userLeaveRequest.startDate" />
            </div>
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Select the type of leave you want to request</label>
              <div class="" style="width: 100%; position: relative">
                <div class="dropdown" style="width: 100%">
                  <select class="form-select" id="exampleFormControlSelect1" formControlName="leaveType"
                    [(ngModel)]="userLeaveRequest.leaveType">
                    <option value="">Select Leave Type</option>
                    <option *ngFor="let ul of userLeave">
                      {{ ul.leaveType }}
                    </option>
                  </select>
                  <div class="form-text text-danger" *ngIf="
                      LeaveType?.errors?.['required'] &&
                      (LeaveType?.touched || LeaveType?.dirty)
                    ">
                    Leave Type Required.
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Select if you are requesting Half Leave
                <span class="optional">(optional)</span>
              </label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="halfLeaveToggle" [checked]="halfDayLeaveShiftToggle"
                  formControlName="halfDayLeave" [(ngModel)]="userLeaveRequest.halfDayLeave"
                  (click)="halfLeaveShiftToggle()" />
                <label class="form-check-label" for="halfLeaveToggle">Half Day Leave</label>
              </div>
            </div>
            <div class="mb-2" *ngIf="halfDayLeaveShiftToggle">
              <label style="padding-bottom: 6px">Select Shift:</label>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="dayShiftType" [checked]="dayShiftToggle"
                  (change)="dayShiftToggleFun('day')" />
                <label class="form-check-label" for="dayShiftType">Day Shift</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="eveningShiftType" [checked]="eveningShiftToggle"
                  (change)="dayShiftToggleFun('evening')" />
                <label class="form-check-label" for="eveningShiftType">Night Shift</label>
              </div>
            </div>
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Select user to request the leave from</label>
              <div class="" style="width: 100%; position: relative">
                <div class="dropdown" style="width: 100%">
                  <select class="form-select" id="manager" formControlName="managerId" [(ngModel)]="selectedManagerId">
                    <option [ngValue]="undefined">Select Manager</option>
                    <option *ngFor="let manager of managers" [ngValue]="manager.id">
                      {{ manager.name }}
                    </option>
                  </select>
                  <div class="form-text text-danger" *ngIf="
                      ManagerId?.errors?.['required'] &&
                      (ManagerId?.touched || ManagerId?.dirty)
                    ">
                    Select User to Request Leave Required.
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-2">
              <label for="username" style="padding-bottom: 6px">Notes </label>
              <textarea class="form-control" #maxWords id="exampleFormControlTextarea1" placeholder="Notes" rows="3"
                required style="height: 100px !important" formControlName="optNotes" [maxLength]="255"
                [(ngModel)]="userLeaveRequest.optNotes"></textarea>
              <div class="form-text text-danger" *ngIf="
                  OptNotes?.errors?.['required'] &&
                  (OptNotes?.touched || OptNotes?.dirty)
                ">
                Notes is Required.
              </div>
              <small *ngIf="maxWords.value.length > 254" style="color: red">The maximum number of characters allowed in
                above field is
                255!</small>
            </div>
            <div class="mb-2">
              <label for="selectDocuments">
                Select Proof Document (optional)
              </label>
              <br />
              <input type="file" #fileInput class="form-control-file" id="selectDocuments"
                (change)="onFileSelected($event)" accept="image/jpeg, image/png, image/jpg,  application/pdf" />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-de-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary save-changes" [disabled]="userLeaveForm.invalid || isFileUploaded"
          (click)="saveLeaveRequestUser()">
          <ng-container *ngIf="!submitLeaveLoader; else loader">Submit</ng-container>
          <ng-template #loader>
            <div class="dot-opacity-loader">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div> -->
