<div class="statutory-tab mt-3">
    <ul id="pills-tab" role="tablist" class="nav nav-pills ">
        <li class="nav-item">
        <a id="pills-announcement-tab" data-bs-toggle="pill" href="#earning" role="tab" 
            aria-controls="pills-dashboard" aria-selected="false"
            class="nav-link active">Earning</a>
        </li>
        <li class="nav-item d-flex align-items-center">
        <a id="pills-notification-tab" data-bs-toggle="pill" href="#benefits" role="tab"
            aria-controls="pills-request" aria-selected="false"
            class="nav-link">Benefits & Deductions </a>
        </li>
        <li class="nav-item d-flex align-items-center">
            <a id="pills-notification-tab" data-bs-toggle="pill" href="#reimbursements" role="tab"
                aria-controls="pills-request" aria-selected="false"
                class="nav-link">Reimbursements</a>
        </li>
    </ul>
</div>




<div class="footer position-fixed bg-white d-flex align-items-center  justify-content-end gap-2">
    <button class="btn cancel-btn font-13 fw-semibold mt-0">Cancel</button>
    <button class="btn submitActionBtn font-13 fw-semibold text-white">Submit</button>
</div>