<div id="restrictedModal" tabindex="-1" aria-labelledby="restrictedModalLabel" class="w-100">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-0">
            <div class="modal-header">
                <h5 class="modal-title" id="restrictedModalLabel">Upgrade Your Plan</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur deserunt neque quibusdam, 
                non aperiam laudantium animi sit reprehenderit, ducimus unde recusandae aspernatur consectetur ea dignissimos,
                 voluptatibus ratione ipsum repudiandae a!</P>

             <a  class="btn btn-secondary" routerLink="/setting/subscription" (click)="closeModal()"> Upgrade</a>    
            </div>
        </div>
    </div>
</div>