.entry-step {
    margin-top: 5rem;
}

.entry-sidebar {
    height: 100%;
    border-right: 1px solid #f1f1f1;
    background-color: #F4F4F4;
}

.entry-step p {
    color: #6B6B6B;
    line-height: 22px;
}

.entry-step h5 {
    color: #000;
    line-height: 26px;
}

.entry-step h6 {
    color: rgba(68, 68, 68, 0.85);
    line-height: 26px;
}

.entry-step-one span svg {
    width: 28px;
}

.step-one {
    width: 30px;
    height: 30px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
}

.step-active {
    background-color: #00E69C !important;
    color: #fff !important;
    border: 1px solid #00E69C;
}

.entry-step-one:after {
    content: "";
    width: 2px !important;
    height: 100% !important;
    background-color: transparent;
    top: 40px !important;
    left: 13px !important;
    z-index: 9 !important;
    position: absolute;
    border-left: 2px dashed #ebecee;
}

.entry-step-one:last-child::after {
    display: none;
}

.help-btn {
    position: absolute;
    bottom: 50px;
}

.help-btn:hover {
    color: #000 !important;
    text-decoration: underline;
}

.entry-right-box {
    overflow: auto;
}

.location-mark {
    cursor: pointer;
    transition: transform .3s ease, color .3s ease;
    position: absolute;
    top: 13px;
    right: 10px;
}

.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
    width: 100px;
}

.link-expired-img img {
    height: 500px;
    object-fit: cover;
}

.company-logo {
    display: none;
}
.location-searchbar input{
    color: #6666F2;
    font-size: 13px;
}

.link-expire-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center; 
}
.continue-btn {
    font-size: 14px;
    font-weight: 500;
    background-color: #fa2626;
    border-radius: 2px;
    color: #fff;
}
.next-step-btn i{
    padding-left: 5px;
    position: relative;
    top: 1px;
}
.snapshot img{
    height: 600px;
    object-fit: cover;
}

.mobile-action-btn{
    display: none;
}

@media screen and (max-width: 2600px) {
    .entry-sidebar {
        padding: 2rem;
    }

    .entry-right-box {
        padding: 3rem;
    }

    .entry-right-box h5 {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1440px) {
    .entry-right-box h5 {
        margin-top: 1px;
    }
}

@media screen and (max-width: 1280px) {
    .entry-sidebar {
        padding: 2rem;
    }

    .entry-right-box {
        padding: 2rem;
    }

    .entry-right-box h5 {
        margin-top: 1px;
    }
}

@media screen and (max-width: 500px) {
    .entry-sidebar {
        display: none;
    }

    .company-logo {
        display: block;
    }
    .desktop-action-btn{
        display:none !important;
    }
    .location-searchbar input{
        padding-right: 40px;
    }
    .mobile-action-btn{
        display: block;
    }
    .location-map webcam video {
        width: 100% !important;
        height: 600px !important;
        object-fit: cover !important;
    }
}


agm-map {
    height: 500px
}