<div class="work-time-entry">
    <div class="row">
        <div class="col-md-3 pr-0 mr-0">
            <div class="entry-sidebar" [ngClass]="{'vh-100': isLogoVisible}">
                <img *ngIf="isLogoVisible" src="assets/images/HAjiRi.svg" alt="logo-" style="height: 40px">
               <!-- mt-0 on logo invisible -->
                <div class="entry-step position-relative " [ngClass]="{'mt-0': !isLogoVisible}">
                    <div class="entry-step-one position-relative d-flex align-items-start gap-3">
                        <div>
                            <!-- TO DO: step active class (step-active)  -->
                            <span *ngIf="attendanceMode!=2"
                                class="step-one text-primary font-14 d-flex align-items-center justify-content-center fw-semibold" [ngClass]="{'step-active' : isSelfieNeeded}">1</span>
                        </div>
                        <div>
                            <!-- TO DO: step active text -->
                            <h6 *ngIf="isSelfieNeeded" class="mb-3 font-13">Confirm Your Location to Mark Attendance</h6>
                            <h5 *ngIf="!isSelfieNeeded" class="mb-3 font-18 fw-bold">Confirm Your Location to Mark Attendance</h5>
                            <p *ngIf="!isSelfieNeeded" class="mb-2 font-12">Ensure your attendance is marked correctly by verifying your current location.</p>
                            <span *ngIf="!isSelfieNeeded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="26" viewBox="0 0 51 26"
                                    fill="none">
                                    <path
                                        d="M49.7871 11.7885L38.3969 0.398164C37.9877 -0.0796163 37.2686 -0.135313 36.7909 0.273947C36.3131 0.68311 36.2574 1.40218 36.6666 1.87996C36.7048 1.9245 36.7463 1.9661 36.7909 2.00418L46.2334 11.4582H1.139C0.509985 11.4582 0 11.9682 0 12.5973C0 13.2264 0.509985 13.7363 1.139 13.7363H46.2334L36.7909 23.1788C36.3131 23.588 36.2574 24.3071 36.6666 24.7848C37.0759 25.2626 37.7949 25.3183 38.2727 24.9091C38.3172 24.8709 38.3588 24.8294 38.3969 24.7848L49.7872 13.3945C50.2288 12.9503 50.2288 12.2328 49.7871 11.7885Z"
                                        fill="#6666F2" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="attendanceMode!=2" class="entry-step-one position-relative mt-5 d-flex align-items-start gap-3">
                        <div>
                            <span *ngIf="attendanceMode!=2"
                                class="step-one text-primary font-14 d-flex align-items-center justify-content-center fw-semibold">2</span>
                        </div>
                        <div>
                            <h6 *ngIf="!isSelfieNeeded" class="mb-3 font-13">Add Your Selfie for Verification</h6>
                            <h5 *ngIf="isSelfieNeeded" class="mb-3 font-18 fw-bold">Add Your Selfie for <br> Verification</h5>
                        <p  *ngIf="isSelfieNeeded"class="mb-2 font-12">Complete the process by uploading <br> your selfie to confirm your
                            identity. </p>
                        <span *ngIf="isSelfieNeeded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="26" viewBox="0 0 51 26"
                                fill="none">
                                <path
                                    d="M49.7871 11.7885L38.3969 0.398164C37.9877 -0.0796163 37.2686 -0.135313 36.7909 0.273947C36.3131 0.68311 36.2574 1.40218 36.6666 1.87996C36.7048 1.9245 36.7463 1.9661 36.7909 2.00418L46.2334 11.4582H1.139C0.509985 11.4582 0 11.9682 0 12.5973C0 13.2264 0.509985 13.7363 1.139 13.7363H46.2334L36.7909 23.1788C36.3131 23.588 36.2574 24.3071 36.6666 24.7848C37.0759 25.2626 37.7949 25.3183 38.2727 24.9091C38.3172 24.8709 38.3588 24.8294 38.3969 24.7848L49.7872 13.3945C50.2288 12.9503 50.2288 12.2328 49.7871 11.7885Z"
                                    fill="#6666F2" />
                            </svg>
                        </span>
                        </div>
                    </div>
                </div>

                <a class="text-black fw-semibold font-14 p-0 help-btn" href="https://www.hajiri.in/contact.html" target="_blank">Help &
                    support</a>
            </div>
        </div>
        <div *ngIf="!isSelfieNeeded" class="col-md-9 pl-0 ml-0">
            <div class="entry-right-box">

                <div class="company-logo mb-4 text-center">
                    <img src="assets/images/HAjiRi.svg" alt="logo-" style="height: 40px">
                </div>

                <h5 class="font-16 mb-0 fw-semibold text-blacks">Current Location</h5>
                <div class="location-searchbar position-relative mt-4">
                    <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp"
                  [value]="address" disabled placeholder="Fetch your location">
                <span *ngIf="!isInvalid" class="location-mark" (click)="locateUser()"><i class="fa fa-crosshairs"
                    style="color: #6666f3"></i></span>
                </div>
                <div class="location-map mt-4">
                    <agm-map *ngIf="!isInvalid" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>

                    <div (click)="sendNewAttendanceLink()" *ngIf="isInvalid" class="link-expired-img position-relative">
                        <img src="assets/images/link-expired.png" class="w-100">
                        <div class="link-expire-btn">
                            <h5 class="mb-0 text-white font-18">Oops! This link has expired.</h5>
                            <button class="btn continue-btn mt-3">Send a new link</button>
                        </div>
                    </div>
                </div>
                <div class="mt-4 d-flex align-items-center justify-content-between">
                    <p class="mb-0 font-13 fw-semibold">This link will expire soon if no action is taken.
                        Please proceed promptly.</p>
                    <!-- <button class="btn submitActionBtn font-13">Submit</button> -->

                    <button type="button" (click)="calculateDistance()" [disabled]="!enableSubmitToggle || disableButton || isInvalid"
                    [ngClass]="{'btn-border': (enableSubmitToggle && !isInvalid)}" class="btn p-0 font-15 fw-semibold next-step-btn">
                        <div *ngIf="toggle" class="dot-opacity-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span *ngIf="!toggle">
                            {{ attendanceMode == 2 ? 'Mark Attendance' : 'Next Step' }}
                            <i class="bi bi-chevron-right"></i>
                        </span>
                    </button>

                </div>
            </div>
        </div>

        <div *ngIf="isSelfieNeeded" class="col-md-9 pl-0 ml-0">
            <div class="entry-right-box">
                <div class="location-setting pb-2">
                    <h4>Upload Photo</h4>
                </div>
                <form #attendancePhoto="ngForm" (ngSubmit)="markAttendaceWithLocationMethodCall()">
                    <div class="form-group">
                        <div class="location-map mt-3">
                            <webcam *ngIf="!captureImage" [trigger]="triggerObservable"
                                [videoOptions]="{deviceId: currentDeviceId}" (imageCapture)="handleImage($event)">
                            </webcam>
                            <div *ngIf="captureImage" id="results" class="snapshot">
                                <img [src]="captureImage" class="w-100">
                            </div>
                        </div>


                        <div class="set-location-btn d-flex align-items-center justify-content-between mt-4">
                            <div>
                                <button *ngIf="submitButton" class="btn p-0 text-black font-14" (click)="clickAgain();">Click Again <i class="bi bi-camera pl-1"></i></button>
                            </div>
                            <button type="button" *ngIf="!captureImage; else markAttendance"
                                (click)="triggerSnapshot()" class="btn next-step mobile-margin btn-border">
                                <div *ngIf="toggle" class="dot-opacity-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span *ngIf="!toggle">
                                    Take a Snapshot <i class="bi bi-camera pl-2"></i>
                                </span>
                            </button>
                            <ng-template #markAttendance>
                                <button type="submit" class="btn next-step btn-border"
                                    [disabled]="!submitButton || disableButton">
                                    <div *ngIf="toggle" class="dot-opacity-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <span *ngIf="!toggle">
                                        Mark Attendance <i class="bi bi-chevron-right pl-2"></i>
                                    </span>
                                </button>
                            </ng-template>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>