
.employe-onbording{
    background-color: #fff;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.orderpcardleft{
    width: 80%;
}

.orderpcardlefth6{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #878a9a;
    margin-bottom: 5px;
    text-align: left;
}

.orderpcardleft h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 0px;
    text-align: left;
    margin-top: 10px;
}

.orderpcardright{
    margin: auto 0;
    width: 20%;
}

.total-employ-icon{
    background-color: #fdcd;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    line-height: 20px;
    color: #ff915c;
    padding: 10px;
    width: 50px;
}

.on-leave-section{
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    padding: 15px;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.thumb-xl {
    height: 50px;
    width:50px;
    font-size: 32px;
    font-weight: 700;
}

.rounded-circle {
    border-radius: 50%!important;
}


.on-leave h5 {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1px;
}

.on-leave p {
    margin-bottom: 0px;
    font-size: 12px;
}

.on-leave {
    width: 33.3%;
    border-right: 1px solid #eee;
    padding-right: 16px;
}

.on-leave:last-child {
    width: 33.3%;
    border-right: none;
    padding-right: 16px;
}

.on-leaves {
    border-right: 1px solid #eee !important;
    padding-right: 16px;
}

.on-leaves:last-child {
    border-right: none;
}

.on-leaves h5 {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1px;
}

.on-leaves p {
    margin-bottom: 0px;
    font-size: 12px;
}

.on-leave-section h5 {
    margin-top: 0px;
}

.obboard-employee-list {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    padding: 15px;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.onboarding-date p {
    font-size: 16px !important;
    font-weight: 500;
}

.onboarding-date i{
    font-size: 20px;
    color: #557ef8;
    line-height: 0px;
}

.arrow-leftee i{
    font-size: 20px;
    color: #444;
    line-height: 0px;
}

.table .thead-light th {
    color: #8997bd;
    background-color: #f9fafb;
    border-color: #e8ebf3;
    border-bottom: none;
    font-size: 13px;
}

.full-per{
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.rej-per{
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.half-per{
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


.weekly-pro{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
}

tbody tr {
    border-bottom: 1px solid #ececec;
}

.week {
    background-color: transparent;
    color: #557ef8;
    padding: 5px 23px;
    border: 1px solid #557ef8;
}

.week:hover {
    background-color: #557ef8;
    color: #fff;
    padding: 5px 23px;
    border: 1px solid #557ef8;
}
/* 
.errorboxmain{
    min-height: 20vh;
    background-color: #fff;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    border-radius: 6px;
}

  .errorboxmain {
    padding: 15px;
} */


.errorboxinner{
    display: flex;
    align-items: center;
    gap:10px
}
.errorboxmain{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

  .errorboxmain {
    padding: 30px;
}
.table-design tr td{
    border: 1px solid #e0e0e0;
}
.table-design tr th{
    border: 1px solid #e0e0e0;
}
.add-filtter a {
    margin-bottom: 0px;
    color: #557ef8;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}


.searching{
    display: flex;
    justify-content: flex-start;
}


button.btn.close-btn{
    border-radius: 6px;
    padding: 7px 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    box-shadow: unset!important;
    position: absolute;
    right: 0px;
    top:0px; 
    color: #557ef8;
    cursor: pointer;
}


.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.hafday {
	cursor: pointer;
	text-indent: -9999px;
    width: 45px;
    height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.hafday:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
    height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}


.hafday:active:after {
	width: 130px;
}

.search-icon {
    font-size: 12px !important;
    position: absolute !important;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color) !important;
}

.new-deopdown{
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 40px!important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.new-deopdown i {
    position: absolute;
    right: 15px;
    top: 12px;
}
.joining-email{
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.joining-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}