<div class="onboarding-successfull d-flex align-items-center justify-content-center flex-column text-center">
   <!-- <ng-lottie  
   [options]="options"  
   (loopComplete)="onLoopComplete()" /> -->
   <img src="assets/images/onboarding-successfull.gif" style="width:150px; height:150px;">
   <h5 class="font-22">Setting Up Your Dashboard</h5>
   <p>Onboarding complete! Your dashboard is being prepared, and you will be redirected<br> to your dashboard shortly to manage
   your account and explore all features.
</p> 
   <!-- <p><b>Thank you for choosing us to streamline your workflow. We’re here to support you every step of the way.</b></p> -->

</div>