<!-- search-bar.component.html -->
<!-- <input type="text" [(ngModel)]="searchQuery" (input)="searchUsers()">
<div class="user-dropdown" *ngIf="userList.length > 0">
  <div class="user-item" *ngFor="let user of userList" (click)="selectUser(user)">
    <img [src]="user.image" alt="User Logo">
    {{ user.name }} - {{ user.email }}
  </div>
</div> -->

<input type="text" [(ngModel)]="searchQuery" (input)="searchUsers()">
<div class="user-dropdown" *ngIf="userList.length > 0">
  <div class="user-item" *ngFor="let user of userList" (click)="toggleUserSelection(user)">
    <img [src]="user.image" alt="User Logo">
    {{ user.name }} - {{ user.email }}
  </div>
</div>
<div class="selected-users">
  <div class="selected-user" *ngFor="let selectedUser of selectedUsers">
    {{ selectedUser.name }} - {{ selectedUser.email }}
    <span class="remove-icon" (click)="removeSelectedUser(selectedUser)">✖</span>
  </div>
</div>



<!-- Richa -->
<!-- 
<angular2-multiselect [data]="itemList" 
                      [(ngModel)]="selectedItems" 
                      [settings]="settings" 
                      (onSelect)="onItemSelect($event)"
                      (onDeSelect)="OnItemDeSelect($event)" 
                      (onSelectAll)="onSelectAll($event)" 
                      (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect> -->