.waiting-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* .loader {
    width: 300px;
    height: 33px;
    margin: 0 15px;
    border-radius: 100px;
    position: relative;
    top: -2px;
    left: -5px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    column-gap: 15px;
  } */

  .loader{
    width: 300px;
    height: 23px;
    margin: 0 15px;
    border-radius: 100px;
    position: relative;
    top: 0px;
    left: -5px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    grid-column-gap: 15px;
    grid-column-gap: 15px;
    column-gap: 15px;
    /* background-color: #f8f8f8; */
  }
  

  /* .loaderIcon{
    font-size: 24px;
    animation: iconMove 4s linear infinite;
    position: absolute;
    left: -20%;
    top: -8px;
    bottom: 0;
  } */

  .loaderIcon {
    font-size: 17px;
    animation: iconMove 4s linear infinite;
    position: absolute;
    left: -20%;
    top: -2px;
    bottom: 0;
}
  .loaderIcon:nth-child(1){
    animation-delay: 1s;
  }
  .loaderIcon:nth-child(2){
    animation-delay: 2s;
  }
  .loaderIcon:nth-child(3){
    animation-delay: 3s;
  }
  .loaderIcon:nth-child(4){
    animation-delay: 4s;
  }
  @keyframes iconMove{
    0%{
      left: -10%;
    }
    15%{
      left: 0%;
    }
    50%{
      left: 50%;
    }
    75%{
      left: 75%;
    }
    100%{
      left: 100%;
    }
  }
  /* .loader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    right: 0;
    border-bottom: 1px dashed #dddddd;
    z-index: 0;
} */
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  

.detaworkspace{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

