<!-- <div class="d-flex " style="height: 100vh; background-color: #fff;">
    <div class="" style="flex-basis: 100%; display: flex; align-items: center; justify-content: center;;">
        <div class="login-detail">
         
            <div class="waiting-page">
                <div class="loader"></div>
                <img src="assets/images/hajiri-black.png" style="width:115px; margin-bottom: 10px;"> 
                <p>Please wait, while processing your request...</p>
              </div>
        
        </div>
    </div>
</div> -->




<!-- <div class="detaworkspace" style="height: 100vh; background-color: #fff;">

  

    <div class="d-flex align-items-center position-relative">
        <div class="left-folder">
            <img src="assets/images/slack-img.svg" alt="logo-large" class="logo-lg logo-light" style="height: 110px;">
        </div>

        <div class="arc">
            <img class="image-rotate" src="assets/images/google-docs 2.svg"  />
            <img class="image-rotate" src="assets/images/group-team.svg" style="width:40px" />
            <img class="image-rotate" src="assets/images/file-deta.svg" style="width:40px"/>
          </div>

     



        <div class="right-folder">
            <img src="assets/images/folder.svg" alt="logo-large" class="logo-lg logo-light" style="height: 110px;">
        </div>
    </div>
    <div class="progress-main text-center">
        <div class="containerr">
            <div class="progressBar" style="width: 25%;">
                <div class="progressNumber">25%</div>
            </div>
        </div>
          
        <div class="mt-5">
            <p class="pb-0 wait-text"> Please wait, while processing your request...</p>
        </div>
    </div>

</div> -->


<div style="height: 100vh;" class="d-flex justify-content-center align-items-center">
    <div>
      <img style="max-width: 35vh;" src="assets/images/HAjiRi.svg">
      <div class="d-flex justify-content-center">
        <div class="loader-line"></div>
      </div>
    </div>
</div>
