<div class="d-flex " style="height: 100vh; background-color: #fff;">
    <div class="" style="flex-basis: 100%; display: flex; align-items: center; justify-content: center;;">
        <div class="login-detail">
            
            <!-- <h2>Now You have added Haajri in your slack workspace</h2> -->
            <!-- <p>Welcome back! Please enter your details</p> -->
            <div class="waiting-page">
                <div class="loader"></div>
                <img src="assets/images/hajiri-black.png" style="width:115px; margin-bottom: 10px;"> 
                <p>Please wait, while processing your request...</p>
              </div>
              
            <!-- <div id="mt-5" class="mt-5">
            <div class="">
                <a href="https://slack.com/intl/en-in/">
                    <img src="https://platform.slack-edge.com/img/add_to_slack.png"  style="width:28px; margin-right:6px"> Open <b> Slack </b>
                </a>
            </div> -->
            
        
        </div>
    </div>
</div>