<div class="chat-area">
    <div class="chat-head border-bottom p-3">
        <div class="d-flex justify-content-between">
            <img src="assets/images/HAjiRi.svg" alt="logo-large" style="height: 20px" />
        </div>
    </div>
    <div class="chat-body p-3">
       
            <div class="chat-msg">
            <div class="user-side-msg d-flex align-items-start gap-2 mb-3">
                <span class="user-name d-flex align-items-center justify-content-center font-14 text-white">Y</span>
                <div class="p-2 bg-white user-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>
                </div>
            </div>
            <div class="admin-side-msg d-flex align-items-start justify-content-end gap-2 mb-3">
                <div class="p-2 admin-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">a. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrice</p>
                </div>
                <span class="admin-name d-flex align-items-center justify-content-center">
                    <img src="assets/images/hajiri-icon.svg" style="width: 20px;">
                </span>
            </div>
            <div class="user-side-msg d-flex align-items-start gap-3 mb-3">
                <span class="user-name d-flex align-items-center justify-content-center font-14 text-white">Y</span>
                <div class="p-2 bg-white user-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing</p>
                </div>
            </div>
            <div class="user-side-msg d-flex align-items-start gap-3 mb-3">
                <span class="user-name d-flex align-items-center justify-content-center font-14 text-white">Y</span>
                <div class="p-2 bg-white user-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>
                </div>
            </div>
            <div class="admin-side-msg d-flex align-items-start justify-content-end gap-3 mb-3">
                <div class="p-2 admin-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Pellentesque sit amet sapien </p>
                </div>
                <span class="admin-name d-flex align-items-center justify-content-center">
                    <img src="assets/images/hajiri-icon.svg" style="width: 20px;">
                </span>
            </div>
            <div class="admin-side-msg d-flex align-items-start justify-content-end gap-3 mb-3">
                <div class="p-2 admin-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</p>
                </div>
                <span class="admin-name d-flex align-items-center justify-content-center">
                    <img src="assets/images/hajiri-icon.svg" style="width: 20px;">
                </span>
            </div>
            <div class="user-side-msg d-flex align-items-start gap-3 mb-3">
                <span class="user-name d-flex align-items-center justify-content-center font-14 text-white">Y</span>
                <div class="p-2 bg-white user-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>
                </div>
            </div>
            <div class="admin-side-msg d-flex align-items-start justify-content-end gap-3 mb-3">
                <div class="p-2 admin-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</p>
                </div>
                <span class="admin-name d-flex align-items-center justify-content-center">
                    <img src="assets/images/hajiri-icon.svg" style="width: 20px;">
                </span>
            </div>
            <div class="admin-side-msg d-flex align-items-start justify-content-end gap-3 mb-3">
                <div class="p-2 admin-side-text">
                    <p class="mb-0 font-12 lh-base fw-normal">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</p>
                </div>
                <span class="admin-name d-flex align-items-center justify-content-center">
                    <img src="assets/images/hajiri-icon.svg" style="width: 20px;">
                </span>
            </div>
            </div>

        
    </div>
    <div class="chat-bottom position-absolute p-3">
        
        <div class="chat-bottom-form">
            <textarea class="form-control transparent-bg no-resize hide-scrollbar w-100 font-14" placeholder="Write your message..." rows="1"></textarea>
            <button class="bottomform-btn pointer">
                <i class="bi bi-send"></i>
            </button>
        </div>
    </div>
</div>
