<div class="employee-onboarding-section">
  <div class="container-scroller">
    <div
      class="left-sidebar-onbording p-3"
      style="padding-left: 35px !important; padding-right: 35px !important"
    >
      <div class="stap-progres-bar">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [style]="{ width: (STEP_ID * 100) / 4 + '%' }"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div class="step-personal-information">
        <p>Step {{ STEP_ID }}/4 - {{ STEP_TEXT }}</p>
      </div>
      <div class="logout-btn">
        <i class="bi bi-x"></i>
      </div>
      <div class="onbording-stap-one-text">
        <div class="">
          <h4>{{ STEP_CONTENT }}</h4>
        </div>
        <div class=""></div>
      </div>
      <div class="login-new-text d-flex align-items-center">
        <i class="bi bi-exclamation-circle"></i>
        <p>
          We need your email for security reasons and to keep technical
          communication
        </p>
      </div>
    </div>
  </div>
</div>
