.left-sidebar-onbording {
  border-right: 1px solid #eceff5;
}
.left-sidebar-onbording {
  min-width: 285px;
  max-width: 285px;
  background-color: #f8fafb;
  min-height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 1001;
}
.step-personal-information p {
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 0px;
}
.stap-progres-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.stap-progres-bar .progress {
  height: 3px;
  width: 95%;
}
.onbording-stap-one-text {
  align-items: center;
  display: flex;
  height: 90vh;
}
.onbording-stap-one-text h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
.login-new-text {
  position: absolute;
  bottom: 20px;
  gap: 15px;
}
.login-new-text p {
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 0px;
}
.logout-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  color: #333;
  font-size: 28px;
  line-height: 0;
  cursor: pointer;
}
