.profile-image-name {
    width: 35%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);

}
.profile-histery{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 65%;   
     border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);


}

.profile-image-name p {
    color: #555;
    font-size: 12px;
    font-weight: 400;
}

.profile-image-name h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.sand-request {
    background-color: #4f5eee;
    color: #fff;
    width: 100%;
}
.form-deta{
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.form-deta h6{
    color: #555;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.form-deta h4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 6px;
}

.employ-nots {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);

}

.employ-nots ol{
    padding-left: 15px;
}

.employ-nots ol li{
    line-height: 24px;
    color: #606060;
    font-size: 12px;
}
.employ-nots h5{
    margin-bottom: 10px;
    margin-top: 5px;
}

.document-deta {
    border-bottom: 1px solid #e0e0e0;
    line-height: 43px;
}

.document-deta:last-child {
    border-bottom: none;
}
.download-color{
    color: #4f5eee;
}

.delete-coloe{
    color: red;
}
.onboare-deta{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);

}

.nav-tabs {
    box-shadow: none !important;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-right: 1rem;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #4660f6;
    color: #4660f6;
    background-color: transparent;
}
.nav-tabs .nav-link {
    font-style: normal;
    border-radius: 0px 0 0 0;
    border: none;
    padding: 7px 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #404040;
}

.employ-bank-detail h6{
    color: #555;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.employ-bank-detail h4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 6px;
    text-transform: uppercase;
}

.table .thead-light th {
    color: #8997bd;
    background-color: #f9fafb;
    border-color: #e8ebf3;
    border-bottom: none;
    font-size: 13px;
}

.table-design tr td{
    border: 1px solid #e0e0e0;
    text-align: left;
}
.table-design tr th{
    border: 1px solid #e0e0e0;
    text-align: left;
}



.active-color i {
    color: blue !important;
}
.approved-left i{
    color: #b0b0b0;
}

.attendance-date {
    border: none;
    font-size: 14px;
}

/* .table-padding tr td{
    padding: 15px 20px;
    
}

.table-padding tr th {
    padding: 15px 20px !important;
} */




.table>:not(caption)>*>* {
    padding: 9px 15px !important;
}

.table tbody tr:hover {
    box-shadow: none;
}

.leves-type-s{
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    padding: 5px 15px;
    cursor: pointer;
}

.acitivity-timeline-2 {
    border-radius: 12px;
    position: relative;
}


.acitivity-timeline-2 li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.acitivity-timeline-2 li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #3762ea;
    -webkit-box-shadow: 3px 3px 0 #c1cff9;
    box-shadow: 3px 3px 0 #c1cff9;
    box-shadow: 3px 3px 0 #c1cff9;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 0;
}


.gap-3 {
    gap: 1rem !important;
}


.text-muted {
    --tb-text-opacity: 1;
    color: #878a99;
}

.acitivity-timeline-2 li:last-child {
    border: 0;
    padding-bottom: 0;
}

.logs-box{
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    padding: 15px;
    
}

.leves-type-s h5{
    font-size: 15px;
}

.profile-date{
    margin-bottom: 0px;
    /* position: absolute;
    top: 2px;
    right: 2px; */
    color: #fff;
    font-size: 9px;
    background-color: #7681e9;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    line-height: 28px;
    margin: 0 auto;
    margin-top: 5px;
    text-transform: uppercase;
}




.table-padding tr td{
    position: relative;
}

.absent{
    background-color: rgb(248, 215, 215);
    color: #eb5050!important;
    border: 1px solid #eb5050;
 }
 
 .half-day {
     color: #f9af47!important;
     background-color: #faf5ee!important;
     border: 1px solid #f9af47;
 }
 
 .present{
     background-color: #e0ffe0!important;
     color: #3e993e!important;
     border: 1px solid #3e993e;
 }

 .approved{
    background-color: #e0ffe0!important;
    color: #3e993e!important;
    border: 1px solid #3e993e;
 }
 .rejected{
    background-color: rgb(248, 215, 215);
    color: #eb5050!important;
    border: 1px solid #eb5050;
 }

 .approved:hover{
    background-color: #3e993e!important;
    color: #fff!important;
    border: 1px solid #3e993e;
 }
 .rejected:hover{
    background-color: #eb5050;
    color: #fff!important;
    border: 1px solid #eb5050;
 }

 span.edit-profile {
    position: absolute;
    top: 30px;
    right: 75px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #4f5eee;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    font-size: 10px;
}
/* 
span.edit-profile:hover{
    background-color: #adb5ff;
} */
