<div
  style="height: 100vh"
  class="d-flex justify-content-center align-items-center"
  *ngIf="!isSuccessComponent && !isErrorComponent"
>
  <div class="detaworkspace" style="height: 80vh; background-color: #fff">
    <div class="d-flex align-items-center position-relative">
      <div class="left-folder">
        <img
          src="assets/images/slack-img.svg"
          alt="logo-large"
          class="logo-lg logo-light"
          style="height: 110px"
        />
      </div>

      <div class="arc">
        <img class="image-rotate" src="assets/images/google-docs 2.svg" />
        <img
          class="image-rotate"
          src="assets/images/group-team.svg"
          style="width: 40px"
        />
        <img
          class="image-rotate"
          src="assets/images/file-deta.svg"
          style="width: 40px"
        />
      </div>

      <div class="right-folder">
        <img
          src="assets/images/folder.svg"
          alt="logo-large"
          class="logo-lg logo-light"
          style="height: 110px"
        />
      </div>
    </div>
    <div class="progress-main text-center">
      <div class="mt-5">
        <p class="pb-0 wait-text">
          Please wait, while processing your request...
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="is-dark" *ngIf="isSuccessComponent">
  <div class="nk-mask bg-pattern-dot-white-sm">
    <div class="">
      <div class="container">
        <div
          class="slack-addes-successfully-main d-flex align-items-center justify-content-center"
          style="flex-direction: column"
        >
          <div class="mb-5">
            <img
              src="assets/images/wekreta-white-logo.svg"
              style="width: 160px"
            />
          </div>
          <h1>Hajiri added to Slack successfully!</h1>
          <p class="mb-0 slack-addes-para">
            To Get started, take a look at our User Guide.
            <a
              target="_blank"
              href="https://www.hajiri.in/reference-docs.html"
              style="color: #6666f3 !important"
              >Reference Docs</a
            >
            <br />

            Fill Onboarding Form Via
            <a style="color: #6666f3 !important" (click)="redirectNow()"
              >Onboarding</a
            >
            <br />
          </p>
          <p></p>

          <div class="mt-5">
            <a
              [href]="slackWorkspaceUrl"
              class="btn add-to-slack-btn"
              style="padding: 13px 30px"
            >
              Continue in Slack
              <i class="bi bi-arrow-right" style="padding-left: 10px"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--  error component -->

<div class="error-page" *ngIf="isErrorComponent">
  <img src="assets/images/onbording-eroor.jpg" style="width: 200px" />
  <h1>We're Sorry, but an Unexpected Error Occurred</h1>
  <p class="" *ngIf="!errorFlag">
    {{ errorMessage }}
  </p>
  <p class="" *ngIf="errorFlag">
    {{ errorMessage }}
    <a href="https://www.hajiri.in/contact.html" style="color: blue"
      >Contact Form</a
    >
  </p>

  <button
    class="btn add-filtter mt-4"
    type="button"
    (click)="redirectToLogin()"
  >
    Login Again
    <i class="bi bi-arrow-right" style="padding-left: 10px"></i>
  </button>
</div>

<div class="onboarding-box" *ngIf="isSuccessComponent">
  <div
    class="onboardingRightImg"
    style="background-image: url(assets/images/onbording-right-img.svg)"
  >
    <div class="container">
      <div style="padding-top: 32px">
        <img src="assets/images/HAjiRi.svg" style="width: 120px" />
      </div>
      <div
        class="onboarding-step d-flex align-items-center justify-content-center flex-column"
      >
        <div
          class="d-flex align-items-center justify-content-center gap-2 pb-4 successfull-icon"
        >
          <img src="assets/images/successful-icon.gif" style="width: 65px" />
        </div>

        <div class="text-center enter-otp">
          <h5 class="mb-2">Slack Integration Successful!</h5>
          <p>
            Your data has been synced with Slack, and
            <span class="text-black"><b>{{slackUserCount || 0}}</b></span> new team <br />members
            have been successfully added to Hajiri
          </p>

          <div
            class="d-flex align-items-center justify-content-center gap-3 mt-5"
          >
            <a class="btn sign-slack" [href]="slackWorkspaceUrl">
              <img
                src="assets/images/slack-1.svg"
                style="width: 24px; padding-right: 5px; margin-top: -2px"
              />
              Continue with slack
            </a>
            <a class="btn begin-onboarding" (click)="redirectNow()">
              Begin Onboarding with Hajiri
            </a>
          </div>
        </div>
      </div>
      <div class="footer-text d-flex align-items-center gap-2">

        <div class="circle-container">
          <svg width="40" height="40" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45" class="bg-circle"></circle>
            <circle cx="50" cy="50" r="45" 
                    [attr.stroke-dasharray]="283" 
                    [attr.stroke-dashoffset]="283 - (progress / 100) * 283"
                    [ngClass]="{'progress-complete': countdown === 0, 'progress-circle': countdown > 0}"></circle>
            <text x="50" y="55" text-anchor="middle" class="countdown-text">{{ countdown === 0 ? 'Done' : countdown }}</text>
          </svg>
        </div>
        

        <p class="mb-0">
         
          <!-- <nz-progres
            [nzPercent]="countdown"
            [nzValue]="countdown"
            nzType="circle"
            [nzFormat]="countdown === 0 ? formatTwo : formatOne"
          ></nz-progress> -->
          <!-- <circle-progress
            [percent]="(countdown / maxCountdownValue) * 100"
            [animation]="true"
            [animateTitle]="true"
            [showTitle]="true"
            [title]="countdown.toString()"
            [subtitle]="''">
          </circle-progress> -->
          
          
          We will automatically redirect you to the onboarding flow.
        </p>
      </div>
    </div>
  </div>

  <div
    class="onboardingLeftImg"
    style="background-image: url(assets/images/onbording-left-img.svg)"
  ></div>
</div>
