.Attendance-report-deta {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.Attendance-report-deta h5{
    font-size: 16px;
    font-weight: 500;

}
.employee-report-deta h5 {
    padding-bottom: 6px;
    font-size: 15px;
}


.report-icon {
    background-color: #ebebeb;
    border-radius: 50%;
    color: #2f2f2f;
    padding: 2px 5px;
    
}

.report-icon i{
    color: #2f2f2f;
    line-height: 20px;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 600 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.employee-reports {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
}
.report-download {
    min-height: 100vh;
    position: sticky;
    bottom: 0;
    top: 0;
    z-index: 1001;
    padding: 15px;
    /* box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
}


.pdf-detaactive {
    width: 33.3%;
    text-align: center;
    background-color: #0061ff;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    padding: 7px 10px;
    line-height: 25px;
    cursor: pointer;
}

.pdf-detaactive i {
    line-height: 24px;
    position: relative;
    top: -2px;
}

.pdf-deta i {
    line-height: 24px;
    position: relative;
    top: -2px;
}

.report-main-div{
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.report-main-div h5 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.report-main-div p {
    margin-bottom: 10px;
    color: #707070;
    font-size: 11px;
}


.pdf-deta{
    width: 33.3%;
    text-align: center;
    background-color: #f5f8fc;
    color: #939ca8;
    font-size: 16px;
    border-radius: 2px;
    padding: 7px 10px;
    line-height: 25px;
    cursor: pointer;
}

.errorboxmain{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}
  .errorboxmain {
    padding: 30px;
}
.heading{
    color: #000;
    margin-bottom: 20px;
}

.report-main-div {
    margin-bottom: 15px;
}

.report-main-div:first-child {
    margin-top: 0px;
}
.downloadlog{
    margin-top: 15px;
    margin-bottom: 5px;
}


.report-ico p {
    color: #557ef8;
}

.download-icon ul{
    list-style: none;
    margin-bottom: 0px;
}
.download-icon ul li{
    display: inline-block;
    color: #557ef8;
    font-size: 14px;
    padding-right: 10px;
    cursor: pointer;
}

.download-icon ul li:hover{
    color: #557ef8;
}