<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row" >
                <div class="col-md-12">
                <div class="persnol-details">


                    <div class="d-flex align-items-top" style="gap:15px">
                        <div class="add-filtter" (click)="back()">
                            <a><i class="bi bi-chevron-left"></i></a>
                        </div>
                        <div class="">
                            <h5>Attendance Rule Setting</h5>
                            <p class="mb-0">Set rules for Late Entry, Early Exit, Breaks & Overtime based on punch-in and punch-out time. You just have to approve the fine/overtime entries.</p>
                        </div>
                       
                    </div>
                   
                   
                      <form>
                        <div class="form-group">
                        <div class="persnol-info mt-4">
                          <div class="row">

                            <div class="col-md-8">
                                <div class="attendance-rule">

                                    <div class="d-flex align-items-center attendance-rule-box"
                                    *ngFor="let attendanceRuleResponse of attendanceRuleResponseList; let i = index">
                                        <div class="late-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <div class="late-rule">
                                            <h5 style="color: #444;">{{attendanceRuleResponse.name}}</h5>
                                            <p class="mb-0">{{attendanceRuleResponse.description}}</p></div>
                                        <div class="late-btn d-flex justify-content-end" style="gap: 10px; ">
                                            <!-- <a routerLink="/organization-onboarding/creat-rule" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a> -->
                                            <a (click)="routeToCreate(i)" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex align-items-center attendance-rule-box">
                                        <div class="late-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <div class="late-rule">
                                            <h5 style="color: #444;">Breaks Rules</h5>
                                            <p class="mb-0">Define the late entry rules for the employees</p></div>
                                        <div class="late-btn d-flex justify-content-end" style="gap: 10px;">
                                            <a href="" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center attendance-rule-box">
                                        <div class="late-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <div class="late-rule">
                                            <h5 style="color: #444;">Early Exit Rules</h5>
                                            <p class="mb-0">Define the late entry rules for the employees</p></div>
                                        <div class="late-btn d-flex justify-content-end" style="gap: 10px;">
                                            <a href="" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center attendance-rule-box">
                                        <div class="late-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <div class="late-rule">
                                            <h5 style="color: #444;">Overtime Rules</h5>
                                            <p class="mb-0">Define the late entry rules for the employees</p></div>
                                        <div class="late-btn d-flex justify-content-end" style="gap: 10px;">
                                            <a href="" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center attendance-rule-box">
                                        <div class="late-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <div class="late-rule">
                                            <h5 style="color: #444;">Early Overtime Rules</h5>
                                            <p class="mb-0">Define the late entry rules for the employees</p></div>
                                        <div class="late-btn d-flex justify-content-end" style="gap: 10px;">
                                            <a href="" class="create-rule" style="font-size: 12px;"> Create your first rule <i class="bi bi-chevron-right"></i></a>
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="attendance-rule-box">
                                    <div class="tracking-dataaa active-rule d-flex " style="gap:8px" >
                                        <div class="rule-stap">
                                            <h5>1</h5>
                                        </div>

                                        <div class="">
                                            <p>Create your first rule</p>
                                            <div>
                                                <span> Automate Late fine for employee </span>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="tracking-dataaa d-flex " style="gap:8px" >
                                        <div class="rule-stap">
                                            <h5>2</h5>
                                        </div>
                                        <div class="">
                                            <p>  Set a Rule value</p>
                                            <div>
                                                <span> Set a value for your rule type. </span>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="tracking-dataaa d-flex " style="gap:8px" >
                                        <div class="rule-stap">
                                            <h5>3</h5>
                                        </div>
                                        <div class="">
                                            <p> Assign Staff</p>
                                            <div>
                                                <span> Select the staff that you want the rule to be assigned to. </span>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            
                              
                                 

                                

                        
      
                            </div>
                        </div>
                    </div>
                  </form>
                  
                </div>
            </div>
            </div>

        </div>
    </div>
</div>



