<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row" >
                <div class="col-md-12">
                    <div class="persnol-details">
                        <div class="d-flex align-items-center" style="gap:15px">
                            <div class="add-filtter">
                                <a><i class="bi bi-chevron-left"></i></a>
                            </div>
                            <div class="">
                                <h5 class="mb-0">Upload Team</h5>
                            </div>
                        </div>



                        <div class="team-deta mt-4">
                            <div class="d-flex align-items-center justify-content-center" style="gap:20px; flex-direction: column;">
                                <div class="">
                                <div class="importfilebox">
                                    <input type="file" name="img">
                                    <label>
                                        <img src="assets/images/excel.svg" style="width:50px;">
                                        <span>Excel Upload</span>
                                    </label>
                                </div>
                            </div>
                            <div class="or-text-tab">
                                <p class="mb-0">OR</p>
                            </div>

                            <div class="">
                                <div class="importfilebox">
                                    <label>
                                        <img src="assets/images/checklist.svg" style="width:50px;">
                                        <span>Manual Upload</span>
                                    </label>
                                </div>
                            </div>
                            </div>
    
                        </div>

                        <div class="add-new-user mt-4">
                            <div class="row">
                                <div class="form-group row mb-3" ng-reflect-name="0">
                                    <div class="col-md-4">
                                        <label class="mb-2"> Name</label>
                                        <input type="text" placeholder="Name" required="" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="mb-2">Phone Number</label>
                                    <input type="number" placeholder="Phon Number" required="" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="mb-2">Email </label>
                                    <input type="email" placeholder="Email" required="" class="form-control">
                                </div>

                                </div>


                                <div id="back-and-submit" class=" d-flex align-items-center justify-content-between">
                                    <button type="button" class="btn skip-btn-new"><i class="bi bi-plus" style="font-size: 23px;"></i> Add New User</button>
                                        <button type="submit" class="btn btn-primary skip-btn" style="margin-right: 15px;" >Submit</button>
                                </div>
                            </div>
                        </div>


                   
                </div>
            </div>
        </div>
    </div>
</div>
            
                   