
    .leave-delet-btn {
    top: 0px;
    right: 11px;
    }
    .leave-delet-btn i {
    color: #eb5050;
    }
 
    p.tableinfo.mb-0 {
    font-size: 13px !important;
    font-weight: 500 !important;
    }
  
    .munal-deta-upload-modal{
    max-height: 400px;
    overflow-x: scroll;
    }
    .munal-deta-upload-modal::-webkit-scrollbar{
    display: none;
    }
    a.munal-add-more-btn {
    color: #6666f4 !important;
    font-size: 14px;
    font-weight: 400;
    }
    .tableinfo i{
    font-size: 16px;
    color: #6666f4;
    }
    /* Pushpendra's Code  */
    .card-header{ 
    border: 0;
    border-bottom: 1px dashed #e8ebf3;
    }
    .bg-soft-warning:hover{
    background-color: rgba(255, 159, 67, .08) !important;
    }

    .btn.add-excel {
        font-size: 14px !important;
        font-weight: 500;
        color: #6666f4 !important;
    }
    .mt-130{
        margin-top: 130px;
    }
    .img-fluid{
        width: 91.3% !important;
    }
    .munal-add-more-btn.disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }