.leave-management-settings {
  background-color: #f5f6ff;
}

.add-leave-btn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}

.add-leave-btn i {
  padding-right: 5px;
}

.excel-upload-members {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-background-color);
  font-size: 14px;
  height: 40px;
  min-width: 160px;
  border-radius: 2px;
  font-weight: 400;
}

.excel-upload-members i {
  padding-right: 5px;
}

.excel-upload-members:hover {
  color: #fff;
  background-color: var(--primary-background-color);
}

.leave-management-detail h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.leave-management-detail p {
  font-weight: 300;
  color: #444;
}

.leave-management-detail svg {
  width: 15px;
  position: relative;
  top: -1px;
}

.leave-management-detail a {
  color: var(--primary-color) !important;
}

.leave-management-detail a:hover {
  text-decoration: underline;
  color: var(--primary-color) !important;
}

::ng-deep.ant-picker {
  background-color: #fff;
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 90px;
}

::ng-deep.anticon-close-circle {
  display: none;
}
.table tbody {
  border: 1px solid #f1f1f1;
}

.search-icon {
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.close-btn {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}