<!-- <h2 mat-dialog-title class="dialog-title">Are you sure, you want to proceed?</h2>
<mat-dialog-content class="dialog-content">
  <p>Note: By clicking on this, your changes will get reflected.</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close="false" class="cancel-button">Cancel</button>
  <button mat-button mat-dialog-close="true" cdkFocusInitial class="proceed-button">Proceed</button>
</mat-dialog-actions> -->

<div class="modal fade" id="confirmationDialog" tabindex="-1"
    aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered mx-auto mx-auto" style="max-width: 400px !important;">
        <div class="modal-content p-0" style="border-radius: 15px;">
            <form #confirmationForm="ngForm">

                <div class="modal-body text-center mt-1 mb-3">


                    <i class="bi bi-question-circle"></i>

                    <h3 class="confirm-detail">Are you sure, you want to proceed? </h3>

                    <p>Note: <span style="color: #a1a0a0;">By clicking on this, your changes will get reflect.</span></p>

                    <div class="d-flex align-items-center justify-content-center mt-4" style="gap: 15px;">

                        <button type="button" class="btn btnmarkcancel" (click)="onCancel()" data-bs-dismiss="modal"> Cancel
                        </button>
                        <button type="button" class="btn btnmarkproceed" (click)="onProceed()">
                            <ng-container *ngIf="!dotOpacityLoader; else dotOpacityLoaderElseCondition">
                                Proceed 
                            </ng-container>
                            <ng-template #dotOpacityLoaderElseCondition>
                                <div class="dot-opacity-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </ng-template>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
