<div class="modal-backdrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <i mat-dialog-title class="bi bi-question-circle"></i>
        <h2 mat-dialog-title>Are you sure, you want to proceed?</h2>
        <mat-dialog-content class="dialog-content">
        <p>Note: By clicking on this, your changes will get reflected.</p>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false" class="cancel-button">Cancel</button>
        <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial class="proceed-button">Proceed</button>
        </mat-dialog-actions>
      </div>
    </div>
</div>


