<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content-tab">
    <div class="container-fluid">
      <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                       
                        <h4 class="page-title">Attendance Summary</h4>
                    </div>
                </div>
            </div> -->
      <!-- end page title end breadcrumb -->
      <!-- <div class="row">
    <div class="col-lg-3">
        
    
    </div>

    <div class="col-lg-9d">


       


        <div class=" d-flex align-items-center justify-content-end">


            <div class="d-flex dashboadfilterbtnsbox">
                <div class="my-auto orderdaysfilter">
                    <button type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle calenderbtn"> Project Wise Attendance </button>
    
                    <div class="dropdown-menu dropdown-menuRange" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(115px, 61px, 0px);">
                        <button type="button" class="dropdown-item"> Kernai </button>
                        <button type="button" class="dropdown-item"> 1PYQ </button>
                        <button type="button" class="dropdown-item"> Owm </button>
                        <button type="button" class="dropdown-item"> credily </button>
                        <button type="button" class="dropdown-item"> SBM </button>
                    </div>
                </div>
                <div class="form-group mb-0 mt-auto mb-auto">
                    <input type="text" id="dateRangeInput" applylabel="Okay" startkey="start" endkey="end" firstmonthdayclass="first-day" lastmonthdayclass="last-day" emptyweekrowclass="empty-week-row" emptyweekcolumnclass="empty-week-column" lastdayofpreviousmonthclass="last-previous-day" firstdayofnextmonthclass="first-next-day" name="daterange" autocomplete="off" class="inputdaterange ng-valid ng-dirty ng-touched" ng-reflect-name="daterange" [(ngModel)]="dateRangeInputValue" (click)="dateRangeButton()">

                    <div id="date-picker-wrapper" class="date-picker-wrapper">
                        <ngx-daterangepicker-material
                          id="date-picker-calendar"
                          (choosedDate)="dateRangeFilter($event)"
                          [locale]="{ applyLabel: 'Apply', format: 'DD-MM-YYYY' }"
                        >
                        </ngx-daterangepicker-material>
                      </div>
                    
                </div>
            </div>

            <div class="filter">
            
               <br>
              
                <div>
                    <button type="button" class="btn btn-primary btn-sm">Export</button>     
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="timetable-box table-responsive">

                    <table class="table table-bordered time-table-list">
                        <thead>
                          <tr>
                            <th scope="col" class="css-8mp9q7">
                                <h5>Date</h5>
                            </th>
                            <th scope="col" class="css-4jt3ln"  *ngFor="let entry of attendanceArrayDate">
                                <h5>{{entry.createdDate | dateFormat}}</h5>
                                <p class="mb-0">{{entry.createdDay}}</p>
                            </th>
                            
                            <th scope="col" class="css-1j0jct9">
                                <div class="border-left">
                                <h5>Total</h5>
                                </div>
                            </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let total = index, let entry of myAttendanceData | keyvalue">
                            <th scope="row" class="css-8mp9q7">
                                <div >
                                    <h5 class="d-flex align-items-center justify-content-center" style="gap:10px;"> 
                                        <span class="first-name">{{ entry.key[0] }}</span>
                                        <span>{{ entry.key }}</span>
                                    </h5>
                                </div>
                            </th>
                            <td *ngFor="let attendance of entry.value">
                                <div *ngIf="attendance.checkInTime !== null">
                                  <p><i class="bi bi-box-arrow-in-right mr-2 today-in"></i> {{ attendance.checkInTime | timeFormat}}</p>
                                 
                                  <p><i class="bi bi-box-arrow-left mr-2"></i> {{ attendance.checkOutTime | timeFormat}}</p>
                          
                                  <p ><i class="bi bi-pause-btn"></i>{{attendance.breakCount}} - ({{attendance.breakDuration | durationFormat}})</p>
                                  <p><i class="bi bi-stopwatch mr-2"></i> {{ attendance.duration | durationFormat }}</p>
                                </div>
                                <div *ngIf="attendance.checkInTime === null">
                                  <p><i class="bi bi-calendar-check-fill absent"></i>Absent</p>
                                </div>
                              </td>
                              <td class="css-odmd51">
                           
                                <p><i class="bi bi-calendar-event"></i>{{entry.value[0].totalPresentDays}} Present Days</p>
                            </td>
                            
                          </tr>
                         
                         
                        </tbody>
                      </table>


                    

                    <div class="row app-emptiy-notifaction">
                        <div class="col-md-6 d-
                        flex align-items-center justify-content-center">
                             <div ccol-md-6la
                             ss="">
                                <h4>No time off requests</h4>
                                <p>When your team submits time off requests,<br> they appear here.</p>

                                <div class="mb-3">
                                    <a href="" class="addinh-hiar">Learn about time off <i class="bi bi-arrow-up-right" style="padding-left: 8px; font-size: 12px; color: #6666f3; font-weight: bold;"></i></a>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-6">
    
                            <div class="">
                                <img src="assets/images/enpty-1.png" style="width:100%;">
                            </div>
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
     
                        
    </div>
</div> -->

      <!-- <div class="row app-emptiy-notifaction">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
         <div ccol-md-6la
         ss="">
            <h4>No time off requests</h4>
            <p>When your team submits time off requests,<br> they appear here.</p>

            <div class="mb-3">
                <a href="" class="addinh-hiar">Learn about time off <i class="bi bi-arrow-up-right" style="padding-left: 8px; font-size: 12px; color: #6666f3; font-weight: bold;"></i></a>
            </div>
         </div>
    </div>
    <div class="col-md-6">

        <div class="">
            <img src="assets/images/enpty-1.png" style="width:100%;">
        </div>

    </div>
</div> -->

      <div class="row">
        <div class="col-md-12 search-area mt-4" style="display: flex; justify-content: space-between; align-items: center;">
          <div class="col-md-6">
            <div class="date-all-approved d-flex align-items-center" style="gap:20px">
                <span class="approved-left active-color" (click)="selectPreviousDay()"><i class="bi bi-chevron-left"></i></span>
                <div class="text-center">
                  <input type="date" id="input-date" class="attendance-date" [(ngModel)]="inputDate" (ngModelChange)="getAttendanceDetailsReportByDateMethodCall()" [max]="getCurrentDate()">
                  <p style="font-size: 10px; position: relative; top: 0px; color: #686868; margin-bottom: 0px;">Attendance Date</p>
                </div>
             
                      
              
              <span class="approved-right active-color" (click)="selectNextDay()"><i class="bi bi-chevron-right"></i></span> 
                <!-- <span class="cal-icon"><i class="bi bi-calendar3"></i></span> -->
            </div>

        </div>
          <div
            class="add-filtter d-flex align-items-center justify-content-end"
            style="gap: 10px">
            <a>Unprocessed Logs <i class="bi bi-list-ol"></i></a>
            <p style="color: #a1a0a0; margin-bottom: 0px">|</p>
            <a>Daily Report <i class="bi bi-download"></i></a>
            <p style="color: #a1a0a0; margin-bottom: 0px">|</p>
            <a routerLink="/setting/attendance-setting">Settings <i class="bi bi-gear"></i></a>
          </div>
        </div>
      </div>
      <div class="attendance-sheet mt-4">
        <div class="row">
          

          

          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div class="all-approved">
              <!-- <p class="mb-0">
                <i
                  class="bi bi-check-circle-fill"
                  style="padding-right: 5px"
                ></i>
                All Approved
              </p> -->
            </div>
          </div>
        </div>
        <div class="attendance-deta mb-2 mt-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="staf">
              <p>Total Staff</p>
              <h5>{{activeUsersCount}}</h5>
            </div>
            <div class="staf">
              <p>Present</p>
              <h5>{{presentUsersCount}}</h5>
            </div>
            <div class="staf">
              <p>Absent</p>
              <h5>{{absentUsersCount}}</h5>
            </div>
            <div class="staf" style="text-align: center;">
              <p>Half Day</p>
              <h5>-</h5>
              <!-- <h5>{{halfDayUsers}}</h5> -->
            </div>
            <div class="staf">
              <p>OverTime Hours</p>
              <h5>00:00</h5>
            </div>
            <div class="staf">
              <p>Fine Hours</p>
              <h5>00:00</h5>
            </div>
            <div class="staf">
              <p>Paid Leave</p>
              <h5>5</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="search-bar pt-3 pb-3 border-top border-bottom mt-3" >
        <div class="row" >
          <div class="col-md-9">
            <div class="searchbr-ui" id="attendanceDataTopbar">

                <form novalidate="" role="search" (submit)="searchUsers($event)" class="searching ng-untouched ng-pristine ng-valid">
                  <div class="form-group" style="width: 350px; position: relative">
                      <input type="text" id="searchText" placeholder="Search by name and role" class="form-control me-2 ng-untouched ng-pristine ng-valid attendance-details-search" (keyup)="searchUsers($event)" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }" style="padding: 10px 30px" />
                      <button *ngIf="searchText.length !== 0" type="button" class="btn close-btn" (click)="clearSearchText()">
                          <i class="bi bi-x mt-auto mb-auto pl-3"></i>
                      </button>
                      <i class="bi bi-search search-icon" style="margin: auto; margin-left: 10px"></i>
                  </div>
              </form>
              
            
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <div class="" style="width: 100%; position: relative;">
                <div class="dropdown" style="width: 100%;">
                  <button
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    class="btn btn-secondary dropdown-toggle new-deopdown"
                  >
                    {{ filterCriteria }} <i class="bi bi-chevron-down" style="color: #444; font-size: 15px;"></i>
                  </button>
                  <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="width: 100%;">
                    <li *ngFor="let filterCriteriaIterator of filterCriteriaList">
                      <a class="dropdown-item" (click)="selectFilterCriteria(filterCriteriaIterator)">
                        {{ filterCriteriaIterator }}
                      </a>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row mb-3 mt-3">
        <div class="col-md-6">
          <div class="monthly-heading" *ngIf="filterCriteria == 'PRESENT'">
            <h5 class="d-flex align-items-center" style="gap: 10px">
              Present Employees: <span class="monthly-span">{{total}}</span>
            </h5>
          </div>
          <div class="monthly-heading" *ngIf="filterCriteria == 'ABSENT'">
            <h5 class="d-flex align-items-center" style="gap: 10px">
              Absent Employees: <span class="monthly-span">{{total}}</span>
            </h5>
          </div>
          <div class="monthly-heading" *ngIf="filterCriteria == 'HALFDAY'">
            <h5 class="d-flex align-items-center" style="gap: 10px">
              Half Day Employees: <span class="monthly-span">{{total}}</span>
            </h5>
          </div>
          <div class="monthly-heading" *ngIf="filterCriteria == 'ALL'">
            <h5 class="d-flex align-items-center" style="gap: 10px">
              All Employees: <span class="monthly-span">{{total}}</span>
            </h5>
          </div>
        </div>




        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <div class="row">
            <!-- <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle new-deopdown"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                A to Z <i class="bi bi-chevron-down"></i>
              </button>
              <ul
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton1"
                style="width: 100%"
              >
                <li><a class="dropdown-item">Z to A</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>

      <!-- *ngIf="attendanceDataByDateKey.length==0 && !isShimer" -->
      <div class="mt-3 dashnodata" >
      
    </div> 

    <!-- *ngIf="isShimer" -->
  <div >


  <ng-container *ngIf="isShimmerForAttendanceDetailsResponse && !dataNotFoundForAttendanceDetailsResponse && !networkConnectionErrorForAttendanceDetailsResposne; else attendanceDetailsResponseData">
    <div class="monthly-section mt-3" *ngFor="let item of [].constructor(6)">
      <div class="row">
        <div class="col-md-6">
          <div class="m">
            <ngx-shimmer-loading [width]="'30%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
          <div class="mt-1">
            <ngx-shimmer-loading [width]="'40%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
          <div class="mt-1">
            <ngx-shimmer-loading [width]="'35%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4" *ngFor="let item of [].constructor(6)">
               <div class="">
                <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"></ngx-shimmer-loading>
               </div>
            </div>

          </div>
        </div>

      </div>    
    </div>
  </ng-container>

  <ng-template #attendanceDetailsResponseData>
    <ng-container *ngIf="attendanceDetailsResponseList !== null && attendanceDetailsResponseList !== undefined && attendanceDetailsResponseList.length !== 0 && !dataNotFoundForAttendanceDetailsResponse && !networkConnectionErrorForAttendanceDetailsResposne; else errorInFetchingAttendanceDetailsResponseData">
      <div class="monthly-section mt-3" *ngFor="let attendanceDetailsResponse of attendanceDetailsResponseList | paginate : {itemsPerPage: itemPerPage, currentPage: pageNumber, totalItems: total}">
        <div class="row" >
          <div class="col-md-6">
            <div class="Regular-data">
              <h5>{{attendanceDetailsResponse.name}}
                <!-- <span class="attendance-id">123</span> -->
              </h5>
  
              <p [ngClass]="{'in-time-color' : (attendanceDetailsResponse.currentStatus == 'Working'), 'break-color': (attendanceDetailsResponse.currentStatus == 'On Break'), 'out-time-color' : (attendanceDetailsResponse.currentStatus == 'Checked Out' || attendanceDetailsResponse.currentStatus == 'Absent' || attendanceDetailsResponse.currentStatus == 'Not Marked')}">{{attendanceDetailsResponse.currentStatus}}</p>
              <div class="add-note d-flex" style="gap: 10px">
                <a
                  href=""
                  data-bs-toggle="modal"
                  data-bs-target="#addnotes"
                  (click)="addNotesModel(attendanceDetailsResponse.uuid)"
                >
                  Add Note</a
                >
                <a>|</a>
                <a href="" data-bs-toggle="modal" data-bs-target="#viewlog" (click)="viewLogs(attendanceDetailsResponse.uuid)">
                  View Logs</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row position-relative">
              <div class="col-md-4">
                <div class="in-time">
                  <span>In </span><span>|</span>
                  <p class="mb-0">{{attendanceDetailsResponse.checkInTime | timeFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Out </span> <span>|</span>
                  <p class="mb-0">{{attendanceDetailsResponse.checkOutTime | timeFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Hours </span><span>|</span>
                  <p class="mb-0">{{attendanceDetailsResponse.totalWorkingHours | durationFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Break</span> <span>|</span>
                  <p class="mb-0">({{attendanceDetailsResponse.breakCount}}) </p>
                </div>
              </div>

              <div class="col-md-4" (mouseover)="getAttendanceDetailsBreakTimingsReportByDateByUserMethodCall(attendanceDetailsResponse.uuid)">
                <div class="in-time total-break-time-box position-relativ">
                  <span>Break Timings</span> <span>|</span>
                  <p class="mb-0">&nbsp; &nbsp;<i style="color: black;" id="dropdownMenuButton" class="bi bi-chevron-down"></i></p>
                  <div class="total-braek-time">
  
                    <div *ngIf="breakTimingsList !== null && breakTimingsList !== undefined && breakTimingsList.length!==0; else noBreaks;">
  
                      <table class="table">
                        <thead class="table-light">
                          <tr>
                            <th class="text-left">Break</th>
                            <th class="text-left">Back</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let breakTimings of breakTimingsList">
                            <td class="text-left">{{breakTimings.breakTime | timeFormat}}</td>
                            <td class="text-left">{{breakTimings.backTime | timeFormat}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                    <ng-template #noBreaks>
                      <p style="color: #009688; padding: 15px;">No breaks taken! 😐</p>
                      <!-- <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="mt-3">
                          <ngx-shimmer-loading [width]="'50%'" [height]="'12px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                          <ngx-shimmer-loading [width]="'100%'" [height]="'8px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                          <ngx-shimmer-loading [width]="'40%'" [height]="'8px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>

                      <div class="mt-3">
                          <ngx-shimmer-loading [width]="'50%'" [height]="'12px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                          <ngx-shimmer-loading [width]="'100%'" [height]="'8px'"
                          style="border-radius: 50%"></ngx-shimmer-loading>
                      </div>
                      </div> -->
                      
                    </ng-template>
                </div>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Hours </span><span>|</span>
                  <p class="mb-0">{{attendanceDetailsResponse.totalBreakHours | durationFormat}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #errorInFetchingAttendanceDetailsResponseData>
    <div class="errorboxmain" *ngIf="networkConnectionErrorForAttendanceDetailsResposne">
      <div class="errorboxinner text-center">
        <div class="errorboxplaceholder mb-2">
          <img
            src="assets/images/signal.svg"
            style="width: 80px"
          />
        </div>
        <div class="">
          <h4>Something went wrong</h4>
          <p>
            An error occurred while processing your
            request. Please refresh the page and try
            again.
          </p>
        </div>
      </div>
    </div>

      <div class="errorboxmain" *ngIf="dataNotFoundForAttendanceDetailsResponse">
          <div class="errorboxinner text-center">
            <div class="errorboxplaceholder mb-2">
              <img src="assets/images/addnewproduct.svg" style="width:80px;" />
            </div>

            <h4>No Data Found</h4>
            <p>Sorry, We can't show you the data at this moment!</p>
          </div>
      </div>
  </ng-template>
      

<div
  class="modal fade bs-example-modal-center"
  id="addnotes"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title m-0" id="exampleModalCenterTitle">Add Notes</h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="mb-3">
            <label for="username" style="padding-bottom: 6px"
              >Notes Title</label
            >
            <input
              type="text"
              id="username"
              placeholder="Enter title ..."
              name="username"
              required=""
              class="form-control ng-untouched ng-pristine ng-invalid"
              [(ngModel)]="additionalNotes.title"
            />
          </div>
          <div class="mb-3">
            <label for="message" style="padding-bottom: 6px">Message</label>
            <textarea
              class="form-control"
              rows="5"
              id="message"
              style="height: 100px !important"
              [(ngModel)]="additionalNotes.message"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-de-secondary"
          data-bs-dismiss="modal"
          #addNotesModalClose
        >
          Close
        </button>
        <button type="button" class="btn btn-primary save-changes" (click)="addAdditionalNotesMethodCall()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="viewlog" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLabel">
                    Attendance Log
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- modal-header -->
            <div class="modal-body">
                <div class="">
                  <div  class="mt-2">
                    <div class="scroll-box-logs" >

                    <ng-container *ngIf="isShimmer && attendanceLogResponseList.length === 0 && !dataNotFoundPlaceholder && !networkConnectionErrorPlaceHolder; else attendanceLogResponseData">
                      <ul class="loges-loding" *ngFor="let item of [].constructor(5)">
                        <li>
                          <h6><ngx-shimmer-loading [width]="'90%'" [height]="'15px'"></ngx-shimmer-loading></h6>
                          <h6 class="mt-1"><ngx-shimmer-loading [width]="'40%'" [height]="'10px'"></ngx-shimmer-loading></h6>
                          <h6 class="mt-1"><ngx-shimmer-loading [width]="'60%'" [height]="'10px'"></ngx-shimmer-loading></h6>
                        </li>
                      </ul>
                    </ng-container>

                    <ng-template #attendanceLogResponseData>
                      <ng-container *ngIf="attendanceLogResponseList.length !== 0 && !dataNotFoundPlaceholder && !networkConnectionErrorPlaceHolder; else errorInFetchingAttendanceLogData">
                        <ul class="acitivity-timeline-2 list-unstyled mb-0" *ngFor="let attendanceLogResponse of attendanceLogResponseList">
                          <li>
                            <!-- in-time-color out-time-color break-color break-back-color -->
                              <h6 class="fs-md mt-0 " *ngIf="attendanceLogResponse.operationPerformedBy !== null">{{attendanceLogResponse.operationType}}<span class="added-by" style="padding-left: 10px;">(Added By - {{attendanceLogResponse.operationPerformedBy}})</span></h6>
                              <h6 class="fs-md mt-0 " *ngIf="attendanceLogResponse.operationPerformedBy === null" [ngClass]="{'in-time-color': (attendanceLogResponse.operationType == 'in'), 'out-time-color': (attendanceLogResponse.operationType == 'out'), 'break-color': (attendanceLogResponse.operationType == 'break'), 'break-back-color': (attendanceLogResponse.operationType == 'back')}" >{{attendanceLogResponse.operationType}} | {{attendanceLogResponse.operationTime | timeFormat}}</h6>
                              <div style="display: block; margin-top: 5px; color: #6c757d;">
                                  <span style="font-size: 13px; font-weight: 600; vertical-align: middle;">
                                      <i class="bi bi-calendar3" style="margin-right: 5px;"></i>
                                      {{attendanceLogResponse.operationTime | dateFormat}} | {{attendanceLogResponse.operationTime | timeFormat}}
                                  </span>
                              </div>
                                  <div class="d-flex align-items-center mb-2 mt-2 gap-3">
                                    <p class="mb-0" style="font-size: 14px;"> 
                                      <span><b>Notes</b></span><span> : </span>  {{attendanceLogResponse.additionalNotes}}
                                    </p>
                                  </div>
                              </li>
                      </ul>
                      </ng-container>
                    </ng-template>
                    <ng-template #errorInFetchingAttendanceLogData>
                      <div class="empty-file" *ngIf="dataNotFoundPlaceholder">
                        <div class="errorboxmain" >
                            <div class="errorboxinner">
                                <div class="errorboxplaceholder mb-2">
                                    <img src="assets/images/empty-box.svg" style="width:80px;"/>
                                </div>
                                <div class="">
                                  <h4>No Data Found</h4>
                                    <p class="mb-0">Attendance log doesn't exist for this user</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="empty-file" *ngIf="networkConnectionErrorPlaceHolder">
                        <div class="errorboxmain">
                            <div class="errorboxinner text-center">
                            <div class="errorboxplaceholder mb-2">
                                <img
                                src="assets/images/signal.svg"
                                style="width: 80px"
                                />
                            </div>
                            <div class="">
                                <h4>Something went wrong</h4>
                                <p>
                                An error occurred while processing your
                                request. Please refresh the page and try
                                again.
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                    </ng-template>
                    </div>


                  </div>
                </div>

            </div>
            <!-- modal-body -->
            <div class="modal-footer d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-de-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
            <!-- modal-footer -->
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->


<!-- Pagination -->
<div class="pagination pl-3" *ngIf="(total > 7 && attendanceDetailsResponseList.length > 7) || (pageNumber === lastPageNumber && lastPageNumber !== 1)">
  <p class="mb-0" style="padding-left: 15px">
      Showing {{ getStartIndex() }} - {{ getEndIndex() }} of
      {{ total }} items
  </p>
  <div class="row">
      <div class="col-md-12">
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                  <li class="page-item" [class.disabled]="pageNumber == 1">
                      <a class="page-link" href="javascript:void(0);"
                          aria-label="Previous" (click)="changePage('prev')">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item" *ngFor="let page of getPages()"
                      [class.active]="pageNumber == page">
                      <a class="page-link" href="javascript:void(0);"
                          (click)="changePage(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="pageNumber == totalPages">
                      <a class="page-link" href="javascript:void(0);" aria-label="Next"
                          (click)="changePage('next')">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>

    </div>
  </div>
</div>
