.filter{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    justify-content: end;
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: auto;
}

.btn-primary {
    color: #fff;
    background-color: #557ef8 !important;
    border-color: #557ef8 !important;
    padding: 12px 30px !important;
    height: 40px;
}

.time-table-list th td{
    color: #8997bd;
    font-weight: 400;
    vertical-align: middle;
    border-color: #e8ebf3;
    border: 1px solid #ccc !important;
    padding: 5px 15px;
    text-align: center;
}

.time-table-list th h5{
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
    /* margin-top: 0; */
    text-align: center;
}

.time-table-list th p{
    font-size: 12px;
    color: #8d8d8d;
    text-align: center;
}
.time-table-list td p{
    margin-bottom: 5px;
}
span.first-name {
    background-color: #444;
    width: 30px;
    height: 30px;
    display: block;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

.css-8mp9q7 {
    position: sticky;
    left: 0px;
    min-width: 224px;
    background-color: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    z-index: 999;
}

.css-odmd51 {
    position: sticky;
    right: 0px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(217, 217, 217) !important;
    z-index: 999;

}


.css-4jt3ln{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    display: table-cell;
    vertical-align: inherit;
  
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    min-width: 154px;
    padding: 18px 26px;
}
.css-1j0jct9 {
    min-width: 202px;
    position: sticky;
    right: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(217, 217, 217);
    z-index: 999;
}
.absent{
    color: red;
    font-size: 22px;
    padding-right: 10px;
}

.time-table-list td i{
    font-size: 18px;
    padding-right: 10px;
}

.today-in{
    color: green;
}
#hide{
    display: none;
}

/* Style for the date picker */
.date-picker-wrapper {
    display: inline-block;
    margin-right: 10px;
}

/* Style for the select dropdown */
select.form-control {
    width: 200px;
    margin-right: 10px;
}

/* Style for the export button */
.btn.btn-primary.btn-sm {
    background-color: #007bff;
    color: #fff;
    border: none;
}

/* Style for the export button on hover */
.btn.btn-primary.btn-sm:hover {
    background-color: #0056b3;
    color: #fff;
}
#date-picker-wrapper{
    display: none;
}

/* #date-picker-button{
    background-color: white;
    border: 0.1px solid whitesmoke;
    border-radius: 3px;
} */
.total-day{
    position: fixed;
    z-index: 1001;
}

.dashboadfilterbtnsbox {
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 6px;
}

.orderdaysfilter button {
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #767474;
    min-width: 150px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.calenderbtn {
    border: 1px solid #cccccc;
    border-radius: 8px 0px 0px 8px;
    height: 40px;
    padding: 0 20px 0;
    font-weight: 500;
    font-size: 12px;
    border-right: none;
    color: #777777 !important;
    box-shadow: none !important;
}
.inputdaterange {
    border: 1px solid #cccccc;
    border-radius: 0px 8px 8px 0px;
    height: 40px !important;
    padding: 0 15px 0 !important;
    font-weight: 400;
    font-size: 12px !important;
    color: #777777 !important;
    box-shadow: none !important;
    background-color: transparent;
    min-width: 190px;
    text-align: center;
}

.errorboxmain {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.create-team{
    background-color: #557ef8;
    padding: 8px 20px;
    color: #fff;
}

.app-emptiy-notifaction{
    background-color: transparent;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px !important;

}

.app-emptiy-notifaction p{
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
}

.addinh-hiar {
    font-size: 16px;
    font-weight: 400;
}


.attendance-sheet {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
}

.all-approved p{
    color: green;
    font-size: 14px;
    font-weight: 600;
}
.approved-right i {
    color: #b0b0b0;
}

.approved-left i{
    color: #b0b0b0;
}

.active-color i{
    color: blue !important;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: BOLD !important;
}

.date-all-approved h5{
    font-size: 16px;
    font-weight: 600;
}

.cal-icon i{
    font-size: 14px;
    color: #557ef8;
}
.attendance-deta p{
    margin-bottom: 0px;
    color: #929292;
    font-size: 12px;
}

.attendance-deta h5{
    font-size: 13px;
    margin-bottom: 7px;
    margin-top: 5px;
}

.attendance-deta .staf{
    width: 14%;
    border-right: 1px solid #f3f3f3;
    padding: 0px 15px;
    cursor: pointer;
}


.attendance-deta .staf:last-child{
    border-right: none;
}

.search-icon {
    font-size: 12px;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color);
}
.monthly-span {
    background-color: #e9e9e9;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 900;
}

.monthly-section{
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Regular-data p{
    font-size: 13px;
    color: red;
    font-weight: 400;
    margin-bottom: 10px;
}

.add-note a {
    font-size: 14px;
    color: #557ef8;
    font-weight: 500;
}

.attendance-id{
    font-size: 12px;
    color: #828282;
    font-weight: 400;
    padding-left: 5px;
}

.Regular-data h5 {
    font-size: 16px;
}

.in-time {
    background-color: #f5f8fa;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.in-time p {
    font-size: 12px;
    color: #929292;
    font-weight: 500;
    line-height: 20px;
}

.in-time span{
    font-size: 12px;
    font-weight: 500;
}
.add-filtter a{
    margin-bottom: 0px;
    color: #557ef8;
    font-size: 15px;
    font-weight: 500;
   cursor: pointer;
}

.add-filtter i{
    padding-left: 5px;
}

.new-deopdown {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size:13px;
    font-weight: 500;
    height: 42px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.save-changes{
    color: #fff;
    background-color: #557ef8 !important;
    border-color: #557ef8 !important;
    padding: 0px 15px !important;
    height: 36px;
}

.table-light {
    background-color: #f9fafb !important;
}

.table th {
    color: #8997bd;
    font-weight: 400;
    vertical-align: middle;
    border-color: #ececec;
    font-size: 12px !important;
}

.table td {
    font-size: 12px !important;
}

.attendance-date {
    border: none;
    font-size: 16px;
}