<div class="page-wrapper">
  <!-- Page Content-->
  <div class="page-content-tab">
    <div class="container-fluid">
      <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                       
                        <h4 class="page-title">Attendance Summary</h4>
                    </div>
                </div>
            </div> -->
      <!-- end page title end breadcrumb -->
      <!-- <div class="row">
    <div class="col-lg-3">
        
    
    </div>

    <div class="col-lg-9d">


       


        <div class=" d-flex align-items-center justify-content-end">


            <div class="d-flex dashboadfilterbtnsbox">
                <div class="my-auto orderdaysfilter">
                    <button type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle calenderbtn"> Project Wise Attendance </button>
    
                    <div class="dropdown-menu dropdown-menuRange" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(115px, 61px, 0px);">
                        <button type="button" class="dropdown-item"> Kernai </button>
                        <button type="button" class="dropdown-item"> 1PYQ </button>
                        <button type="button" class="dropdown-item"> Owm </button>
                        <button type="button" class="dropdown-item"> credily </button>
                        <button type="button" class="dropdown-item"> SBM </button>
                    </div>
                </div>
                <div class="form-group mb-0 mt-auto mb-auto">
                    <input type="text" id="dateRangeInput" applylabel="Okay" startkey="start" endkey="end" firstmonthdayclass="first-day" lastmonthdayclass="last-day" emptyweekrowclass="empty-week-row" emptyweekcolumnclass="empty-week-column" lastdayofpreviousmonthclass="last-previous-day" firstdayofnextmonthclass="first-next-day" name="daterange" autocomplete="off" class="inputdaterange ng-valid ng-dirty ng-touched" ng-reflect-name="daterange" [(ngModel)]="dateRangeInputValue" (click)="dateRangeButton()">

                    <div id="date-picker-wrapper" class="date-picker-wrapper">
                        <ngx-daterangepicker-material
                          id="date-picker-calendar"
                          (choosedDate)="dateRangeFilter($event)"
                          [locale]="{ applyLabel: 'Apply', format: 'DD-MM-YYYY' }"
                        >
                        </ngx-daterangepicker-material>
                      </div>
                    
                </div>
            </div>

            <div class="filter">
            
               <br>
              
                <div>
                    <button type="button" class="btn btn-primary btn-sm">Export</button>     
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="timetable-box table-responsive">

                    <table class="table table-bordered time-table-list">
                        <thead>
                          <tr>
                            <th scope="col" class="css-8mp9q7">
                                <h5>Date</h5>
                            </th>
                            <th scope="col" class="css-4jt3ln"  *ngFor="let entry of attendanceArrayDate">
                                <h5>{{entry.createdDate | dateFormat}}</h5>
                                <p class="mb-0">{{entry.createdDay}}</p>
                            </th>
                            
                            <th scope="col" class="css-1j0jct9">
                                <div class="border-left">
                                <h5>Total</h5>
                                </div>
                            </th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let total = index, let entry of myAttendanceData | keyvalue">
                            <th scope="row" class="css-8mp9q7">
                                <div >
                                    <h5 class="d-flex align-items-center justify-content-center" style="gap:10px;"> 
                                        <span class="first-name">{{ entry.key[0] }}</span>
                                        <span>{{ entry.key }}</span>
                                    </h5>
                                </div>
                            </th>
                            <td *ngFor="let attendance of entry.value">
                                <div *ngIf="attendance.checkInTime !== null">
                                  <p><i class="bi bi-box-arrow-in-right mr-2 today-in"></i> {{ attendance.checkInTime | timeFormat}}</p>
                                 
                                  <p><i class="bi bi-box-arrow-left mr-2"></i> {{ attendance.checkOutTime | timeFormat}}</p>
                          
                                  <p ><i class="bi bi-pause-btn"></i>{{attendance.breakCount}} - ({{attendance.breakDuration | durationFormat}})</p>
                                  <p><i class="bi bi-stopwatch mr-2"></i> {{ attendance.duration | durationFormat }}</p>
                                </div>
                                <div *ngIf="attendance.checkInTime === null">
                                  <p><i class="bi bi-calendar-check-fill absent"></i>Absent</p>
                                </div>
                              </td>
                              <td class="css-odmd51">
                           
                                <p><i class="bi bi-calendar-event"></i>{{entry.value[0].totalPresentDays}} Present Days</p>
                            </td>
                            
                          </tr>
                         
                         
                        </tbody>
                      </table>


                    

                    <div class="row app-emptiy-notifaction">
                        <div class="col-md-6 d-
                        flex align-items-center justify-content-center">
                             <div ccol-md-6la
                             ss="">
                                <h4>No time off requests</h4>
                                <p>When your team submits time off requests,<br> they appear here.</p>

                                <div class="mb-3">
                                    <a href="" class="addinh-hiar">Learn about time off <i class="bi bi-arrow-up-right" style="padding-left: 8px; font-size: 12px; color: #557ef8; font-weight: bold;"></i></a>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-6">
    
                            <div class="">
                                <img src="assets/images/enpty-1.png" style="width:100%;">
                            </div>
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
     
                        
    </div>
</div> -->

      <!-- <div class="row app-emptiy-notifaction">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
         <div ccol-md-6la
         ss="">
            <h4>No time off requests</h4>
            <p>When your team submits time off requests,<br> they appear here.</p>

            <div class="mb-3">
                <a href="" class="addinh-hiar">Learn about time off <i class="bi bi-arrow-up-right" style="padding-left: 8px; font-size: 12px; color: #557ef8; font-weight: bold;"></i></a>
            </div>
         </div>
    </div>
    <div class="col-md-6">

        <div class="">
            <img src="assets/images/enpty-1.png" style="width:100%;">
        </div>

    </div>
</div> -->

      <div class="row">
        <div class="col-md-12 search-area mt-4">
          <div
            class="add-filtter d-flex align-items-center justify-content-end"
            style="gap: 10px"
          >
            <a>Unprocessed Logs <i class="bi bi-list-ol"></i></a>
            <p style="color: #a1a0a0; margin-bottom: 0px">|</p>
            <a>Daily Report <i class="bi bi-download"></i></a>
            <p style="color: #a1a0a0; margin-bottom: 0px">|</p>
            <a>Settings <i class="bi bi-gear"></i></a>
          </div>
        </div>
      </div>
      <div class="attendance-sheet mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="date-all-approved d-flex align-items-center" style="gap:20px">
                <span class="approved-left active-color" (click)="selectPreviousDay()"><i class="bi bi-chevron-left"></i></span>
                <div class="text-center">
                  <input type="date" id="input-date" class="attendance-date" [(ngModel)]="inputDate" (ngModelChange)="getAttendanceDetailsByDateMethodCall()" [max]="getCurrentDate()">
                  <p style="font-size: 10px; position: relative; top: 0px; color: #686868; margin-bottom: 0px;">Attendance Date</p>
                </div>
             
                      
              
              <span class="approved-right active-color" (click)="selectNextDay()"><i class="bi bi-chevron-right"></i></span> 
                <!-- <span class="cal-icon"><i class="bi bi-calendar3"></i></span> -->
            </div>

        </div>

          

          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div class="all-approved">
              <!-- <p class="mb-0">
                <i
                  class="bi bi-check-circle-fill"
                  style="padding-right: 5px"
                ></i>
                All Approved
              </p> -->
            </div>
          </div>
        </div>
        <div class="attendance-deta mb-2 mt-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="staf">
              <p>Total Staff</p>
              <h5>{{activeUsersCount}}</h5>
            </div>
            <div class="staf">
              <p>Present</p>
              <h5>{{attendanceDataByDateKey.length}}</h5>
            </div>
            <div class="staf">
              <p>Absent</p>
              <h5>{{activeUsersCount - attendanceDataByDateKey.length}}</h5>
            </div>
            <div class="staf" style="text-align: center;">
              <p>Half Day</p>
              <h5>-</h5>
              <!-- <h5>{{halfDayUsers}}</h5> -->
            </div>
            <div class="staf">
              <p>OverTime Hours</p>
              <h5>00:00</h5>
            </div>
            <div class="staf">
              <p>Fine Hours</p>
              <h5>00:00</h5>
            </div>
            <div class="staf">
              <p>Paid Leave</p>
              <h5>5</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="search-bar mt-3 mb-3">
        <div class="row">
          <div class="col-md-9">
            <div class="searchbr-ui">
              <form
                novalidate=""
                role="search"
                class="searching ng-untouched ng-pristine ng-valid"
              >
                <div class="form-group">
                  <input
                    type="search"
                    id="searchText"
                    placeholder="Search Staff By Name, Phone Number or EmployeeID"
                    class="form-control me-2 ng-untouched ng-pristine ng-valid"
                    style="padding: 10px 30px"
                  />
                  <i
                    class="bi bi-search search-icon"
                    style="margin: auto; margin-left: 10px"
                  ></i>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <div class="" style="width: 100%; position: relative;">
                <div class="dropdown" style="width: 100%;">
                  <button
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    class="btn btn-secondary dropdown-toggle new-deopdown"
                  >
                  Present <i class="bi bi-chevron-down" style="color: #444; font-size: 15px;"></i>
                  </button>
                  <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="width: 100%;">
                    <li><a class="dropdown-item">Present</a></li>
                    <li><a class="dropdown-item">Absent</a></li>
                    <li><a class="dropdown-item">Half Day</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <div class="monthly-heading">
            <h5 class="d-flex align-items-center" style="gap: 10px">
              Present Employees: <span class="monthly-span">{{attendanceDataByDateKey.length}}</span>
            </h5>
          </div>
        </div>




        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <div class="row">
            <!-- <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle new-deopdown"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                A to Z <i class="bi bi-chevron-down"></i>
              </button>
              <ul
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton1"
                style="width: 100%"
              >
                <li><a class="dropdown-item">Z to A</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>

      <!-- *ngIf="attendanceDataByDateKey.length==0 && !isShimer" -->
      <div class="mt-3 dashnodata" >
        <div
        class="errorboxmain"
        *ngIf="errorToggleTimetable"
      >
        <div class="errorboxinner text-center">
          <div class="errorboxplaceholder mb-2">
            <img
              src="assets/images/signal.svg"
              style="width: 80px"
            />
          </div>
          <div class="">
            <h4>Something went wrong</h4>
            <p>
              An error occurred while processing your
              request. Please refresh the page and try
              again.
            </p>
          </div>
        </div>
      </div>

        <div class="errorboxmain" *ngIf="attendanceDataByDateKey.length==0 && !isShimer && placeholder">
            <div class="errorboxinner text-center">
              <div class="errorboxplaceholder mb-2">
                <img src="assets/images/addnewproduct.svg" style="width:80px;" />
              </div>

              <h4>No Data Found</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div> 

    <!-- *ngIf="isShimer" -->
  <div >
    <div *ngIf="isShimer">
    <div class="monthly-section mt-3" *ngFor="let item of [].constructor(6)">
      <div class="row">
        <div class="col-md-6">
          <div class="m">
            <ngx-shimmer-loading [width]="'30%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
          <div class="mt-1">
            <ngx-shimmer-loading [width]="'40%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
          <div class="mt-1">
            <ngx-shimmer-loading [width]="'35%'" [height]="'15px'"></ngx-shimmer-loading>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4" *ngFor="let item of [].constructor(6)">
               <div class="">
                <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"></ngx-shimmer-loading>
               </div>
            </div>

          </div>
        </div>

      </div>    
    </div>
  </div>

    <div *ngIf="attendanceDataByDateKey.length!=0">
      <div class="monthly-section mt-3" *ngFor="let key of attendanceDataByDateKey">
        <div class="row" >
          <div class="col-md-6">
            <div class="Regular-data">
              <h5>{{key}} </h5>
              <!-- <span class="attendance-id">123</span> -->
              <p>Not Marked</p>
              <div class="add-note d-flex" style="gap: 10px">
                <a
                  href=""
                  data-bs-toggle="modal"
                  data-bs-target=".bs-example-modal-center"
                >
                  Add Note</a
                >
                <a>|</a>
                <a href="" data-bs-toggle="modal" data-bs-target=".viewlog">
                  View Logs</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row position-relative">
              <div class="col-md-4">
                <div class="in-time">
                  <span>In </span><span>|</span>
                  <p class="mb-0">{{attendanceDataByDate[key].checkInTime | timeFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Out </span> <span>|</span>
                  <p class="mb-0">{{attendanceDataByDate[key].checkOutTime | timeFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Hours </span><span>|</span>
                  <p class="mb-0">{{attendanceDataByDate[key].duration| durationFormat}}</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Break</span> <span>|</span>
                  <p class="mb-0">({{attendanceDataByDate[key].breakCount}}) &nbsp; &nbsp;<i style="color: black;" class="bi bi-chevron-down"></i></p>

                 
                </div>


              
              </div>


             

              <div class="col-md-4">
                <div class="in-time total-break-time-box position-relativ">
                  <span>Back Timings</span> <span>|</span>
                  <p class="mb-0">-</p>



                  <div class="total-braek-time">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <p>Break - 01:26 AM</p>
                      <p>-</p>
                      <p>Break Back - 02:17 AM</p>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <p>Break - 04:37 AM</p>
                      <p>-</p>
                      <p>Break Back - 05:11 AM</p>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-between">
                      <p>Break - 06:37 AM</p>
                      <p>-</p>
                      <p>Break Back - 06:45 AM</p>
                    </div>
                </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="in-time">
                  <span>Total Hours </span><span>|</span>
                  <p class="mb-0">{{attendanceDataByDate[key].breakDuration| durationFormat}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      

<div
  class="modal fade bs-example-modal-center"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title m-0" id="exampleModalCenterTitle">Add Notes</h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="mb-3">
            <label for="username" style="padding-bottom: 6px"
              >Notes Title</label
            >
            <input
              type="text"
              id="username"
              placeholder="Enter title ..."
              name="username"
              required=""
              class="form-control ng-untouched ng-pristine ng-invalid"
            />
          </div>
          <div class="mb-3">
            <label for="message" style="padding-bottom: 6px">Message</label>
            <textarea
              class="form-control"
              rows="5"
              id="message"
              style="height: 100px !important"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-de-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary save-changes">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade viewlog"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title m-0" id="exampleModalCenterTitle">View Logs</h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th class="text-left">Date</th>
                  <th class="text-left">In Time</th>
                  <th class="text-left">Out Time</th>
                  <th class="text-left">Total Time</th>
                  <th class="text-left">Break</th>
                  <th class="text-left">Back Time</th>
                  <th class="text-left">Total Break</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left">01-12-2023</td>
                  <td class="text-left">10:13 AM</td>
                  <td class="text-left">07:15 PM</td>
                  <td class="text-left">08:50 H</td>
                  <td class="text-left">01:10 PM</td>
                  <td class="text-left">02:10 PM</td>
                  <td class="text-left">01:20 H</td>
                </tr>
                <tr>
                  <td class="text-left">01-12-2023</td>
                  <td class="text-left">10:13 AM</td>
                  <td class="text-left">07:15 PM</td>
                  <td class="text-left">08:50 H</td>
                  <td class="text-left">01:10 PM</td>
                  <td class="text-left">02:10 PM</td>
                  <td class="text-left">01:20 H</td>
                </tr>
                <tr>
                  <td class="text-left">01-12-2023</td>
                  <td class="text-left">10:13 AM</td>
                  <td class="text-left">07:15 PM</td>
                  <td class="text-left">08:50 H</td>
                  <td class="text-left">01:10 PM</td>
                  <td class="text-left">02:10 PM</td>
                  <td class="text-left">01:20 H</td>
                </tr>
                <tr>
                  <td class="text-left">01-12-2023</td>
                  <td class="text-left">10:13 AM</td>
                  <td class="text-left">07:15 PM</td>
                  <td class="text-left">08:50 H</td>
                  <td class="text-left">01:10 PM</td>
                  <td class="text-left">02:10 PM</td>
                  <td class="text-left">01:20 H</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
                <button type="button" class="btn btn-de-secondary " data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-changes">Submit</button>
            </div> -->
    </div>
  </div>
</div>
