.order-place-data h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #444444;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .order-place-data p {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #444444;
  }
  .order-place-data {
    width: 60%;
    margin: 0 auto 0;
  }

  .order-place-data {
    /* display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 auto 0;
    height: 100%;
    flex-direction: column; */
  }


  .order-place-head{
    /* position: fixed; */
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #fffffffc;
    margin: 0 auto;
  }


  .successful-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    /* margin-top: 20px; */
    width: 100%;
    /* padding: 15px; */
    /* box-shadow: 0 0 0.875rem #343a400d; */
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.hajiri-box p{
    font-size: 12px;
    color: #555;
    margin-bottom: 0px;
}

.hajiri-box h4{
    margin-top: 20px;
    margin-bottom: 5px;
}

.hajiri-box{
    padding: 0px 15px;
}

.main-boxsusses{
  background-color: #f4f4f4cc;
}

.services-email p{
  font-size: 10px;
  text-align: left;
}

.services-email ul{
  list-style: none;
  padding-left: 0px;
  text-align: left;
}
.services-email ul li{
  display: inline-block;
  padding-right: 28px;
}
.services-email ul li a {
  font-size: 10px;
  color: #444;
}