
<div class="container">
    <div class="order-place-head successAnimate mt-5">
        
        <div class="order-place-data text-center ">

            <div class="hajiri-box" style="text-align: left; width: 100%;">
                <img src="assets/images/HAjiRi.svg" style="width: 115px;">
                <h4>krenai It Service</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
            </div>

           <div class="successful-box">
            <img src="assets/images/order-placed.svg" style="width: 80px;" alt="">
            <h3>Payment Successful </h3><p class="mb-0">Lorem Ipsum is simply dummy text of the printing and. <br> Lorem Ipsum has been the industry's </p>
            
            </div>

            <div class="successful-box d-flex justify-content-between align-items-center">
                <p class="mb-0"><b>Order Number - </b> 21323</p>
                <p class="mb-0"><b>Payment Id - </b> #23456sdv23</p>
            </div>




        </div>
    </div>
</div>