<div class="container">
    <div class="order-place-head successAnimate mt-3">
        <button routerLink="/setting/billing" type="button" class="btn btn-primary px-3 py-2"> <i
                class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Back </button>
        <div class="order-place-data text-center ">

            <div class="hajiri-box mb-3" style="text-align: left; width: 100%;">
                <img src="assets/images/HAjiRi.svg" style="width: 115px;">
                <!-- <h4>Hajiri</h4> -->
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p> -->
            </div>

            <div class="p-3 w-100 main-boxsusses ">
                <div class="successful-box">
                    <img src="assets/images/order-placed.svg" style="width: 80px;" alt="">
                    <h3>Payment Successful </h3>
                    <!-- <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and. <br> Lorem Ipsum has been the
                        industry's </p> -->

                </div>

                <div class="successful-box mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="w-50" style="text-align: left;">
                            <p class="mb-0"><b>Invoice Number</b></p>
                            <p class="mb-0">{{invoices.invoiceNo}}</p>
                        </div>
                        <div class="w-50" style="text-align: left;">
                            <p class="mb-0"><b>Payment Id</b></p>
                            <p class="mb-0">{{invoices.transactionId}}</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div class="w-50" style="text-align: left; padding-right: 15px;">
                            <p class="mb-0"><b>Invoice To</b></p>
                            <p class="mb-0">{{invoices.organizationPersonalInformation.addressLine1}}</p>
                        </div>
                        <!-- <div class="w-50" style="text-align: left; padding-right: 15px;">
                            <p class="mb-0"><b>Shipping Address </b> </p>
                            <p class="mb-0"> C-75, near NIrula's Hotel, C Block, Sector 2, Noida, Uttar Pradesh
                            </p>
                        </div> -->
                    </div>

                    <div class="d-flex justify-content-between align-items-start mt-4">
                        <div class="w-50" style="text-align: left;">
                            <p class="mb-0"><b>Payment Method </b> </p>
                            <p class="mb-0">Razorpay</p>
                        </div>
                        <div class="w-50 " style="text-align: left;">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0"><b>Sub Total : </b> </p>
                                <p class="mb-0"> ₹{{invoices.amount}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0"><b>Tax (18%) : </b> </p>
                                <p class="mb-0"> ₹{{invoices.taxAmount}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-0"><b>Total </b> </p>
                                <p class="mb-0"> ₹{{invoices.payableAmount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="successful-box mb-4 services-email "
                style="background-color: #e6e6e6; border-radius: 0px; border: none;">
                <p class="mb-0">You have recevied this services email to update you about your recent Google Store
                    transaction</p>
                <ul class="mt-2">
                    <li><a href="">Account</a></li>
                    <li><a href="">History</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Trems of Sale</a></li>
                    <li><a href="">Trems of service</a></li>
                </ul>
                <p class="mb-0">© 2023 Hajiri | All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>