.createteam-form{
    padding: 100px;
}

.create-new h4{
    font-size: 28px;
    color: #111;
    font-weight: 500;
    line-height: 25px;
}

.create-new{
    margin-bottom: 30px;
}

.endorsed a{
    font-size: 13px;
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}

 .endorsed-para{
    font-size: 12px;
    margin-top: 5px;
}

.team-user{
    align-items: center;
    background: #e6e6e6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.team-user > i{
    font-size:28px;
    line-height: 20px;
}

.team-user-main{
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}


span.members-name {
    background-color: #a69ff3;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

.members-list{
    margin-bottom: 25px;
}

.members-list P{
    color: #111;
}

.dummy-nmae {
    background-color: #e6e6e6 !important;
}
.dummy-member-nmae {
    width: 50%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
}

.new-project{
    background-color: #e6e6e6;
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 18px;
    text-transform: uppercase;
}

.dummy-member-new{
    width: 70%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
    margin-bottom: 5px !important;
}

.dummy-member-newe{
    width: 50%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
    margin-bottom: 5px !important;
}
#user-image{
    width: 30px;
    height: 30px;
    font-size: 18px;
}

#user-image > img{
    width: 30px;
    border-radius: 50%;
}

.user-item img{
    width: 30px;
    border-radius: 50%;
}
#members{
    width: 100%;
    border-radius: 5px;
}
#user-first-name-logo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#user-list-details{
    display: flex;
    align-items: center;
    line-height: 45px;
    cursor: pointer;
}

.team-name{
    word-break: break-all;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.team-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: normal;
    word-break: break-all;
}
.new-membear-list{
    width: 100%;
    padding: 10px;
    border: 1px solid #e8ebf3;
    border-top: 0px;
}

.selected-users {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.selected-userss{
    background-color: #557ef8;
    color: #fff;
    padding: 2px 8px;
    border-radius: 6px !important;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    /* left: 8px; */
    display: flex;
    gap: 5px;
}

.selected-users p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}