.createteam-form{
    padding: 100px;
}

.create-new h4{
    font-size: 28px;
    color: #111;
    font-weight: 500;
    line-height: 25px;
}

.create-new{
    margin-bottom: 30px;
}

.endorsed a{
    font-size: 13px;
    text-decoration: underline;
    color: blue;
    font-weight: 400;
}

 .endorsed-para{
    font-size: 12px;
    margin-top: 5px;
}

.team-user{
    align-items: center;
    background: #e6e6e6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.team-user > i{
    font-size:28px;
    line-height: 20px;
}

.team-user-main{
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
}

.members-icon{
    background-color: #eea2cc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}


span.members-name {
    background-color: #a69ff3;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 0 0 2px #f9fafb;
}

span.members-namess {
    background-color: #a69ff3;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 1px;
}

.members-list{
    margin-bottom: 25px;
}

.members-list P{
    color: #111;
}

.dummy-nmae {
    background-color: #e6e6e6 !important;
}
.dummy-member-nmae {
    width: 50%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
}

.new-project{
    background-color: #e6e6e6;
    width: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-size: 18px;
    text-transform: uppercase;
}

.dummy-member-new{
    width: 70%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
    margin-bottom: 5px !important;
}

.dummy-member-newe{
    width: 50%;
    background-color: #e6e6e6;
    height: 18px;
    border-radius: 10px;
    margin-bottom: 5px !important;
}
#user-image{
    width: 30px;
    height: 30px;
    font-size: 18px;
}

#user-image > img{
    width: 30px;
    border-radius: 50%;
}

.user-item img{
    width: 30px;
    border-radius: 50%;
}
#members{
    width: 100%;
    border-radius: 5px;
}
#user-first-name-logo{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#user-list-details{
    display: flex;
    align-items: center;
    line-height: 45px;
    cursor: pointer;
}

.team-name{
    word-break: break-all;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  font-size: 16px;
}

.team-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: normal;
    word-break: break-all;
}
.new-membear-list{
    width: 100%;
    padding: 10px;
    border: 1px solid #e8ebf3;
    border-top: 0px;
}

.selected-users {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.selected-userss{
    background-color: #557ef8;
    color: #fff;
    padding: 2px 8px 2px 2px;
    border-radius: 15px !important;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    /* left: 8px; */
    display: flex;
    gap: 5px;
}

.selected-users p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    /* padding: 2em; */
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.add-team{
    border: 1px solid #41CBD8;
    background-color: transparent;
    color: #41CBD8;
    font-size: 12px;
    padding: 4px 12px;
}


/* Team Member */

.members-team-member-one {
    background-color: #7b7b7b;
}

.members-team-member-two {
    background-color: #fda8a8;
}

.members-team-member-three {
    background-color: #ffbff2;
}

.members-team-member-for {
    background-color: #bfedff;
}
.members-team-member-five {
    background-color: #f8ffbf;
}

/* Team Member */

span.remove-icon:hover {
    background-color: #8ca7f8;
    border-radius: 50%;
}

.errorboxmain {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
}

.create-team{
    background-color: #557ef8;
    padding: 8px 20px;
    color: #fff;
}

.img-group .avatar-badge {
    position: absolute;
    right: 1px;
    width: 8px;
    top: 0px;
    height: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2;
}

.app-emptiy-notifaction{
    background-color: transparent;
    margin-bottom: 15px !important;
    padding: 15px;
    border-radius: 6px;
    margin: 0px;

}

.app-emptiy-notifaction p{
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
}

.addinh-hiar {
    font-size: 16px;
    font-weight: 400;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 800 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Members-list-box {
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.Members-list-box:hover {
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 6px;
}

.manegir-dropdown {
    padding: 3px 9px;
    border-radius: 6px;
}

.manegir-dropdown:hover {
    background-color: #ececec;
    padding: 3px 9px;
    border-radius: 6px;
}
.manager-list a {
    font-size: 12px !important;
}

.remove-team a:hover{
    background-color: transparent;
    color: #c92f54;
  }
  

  .StaticMenuItemBase-button {
    color: #c92f54;
    fill: #c92f54;
    height: 35px;
    border-top: 1px solid #edeae9;
    padding-top: 9px;
}

.bottom-absolute{
    position: absolute;
    bottom: 0;
    display: flex;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.searching{
    display: flex;
    justify-content: flex-start;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    height: 40px !important;
    border: 1px solid #ccc;
    background-color: transparent;
}
.cusser{
    cursor: pointer;
}
.search-icon {
    font-size: 12px;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color);
}
.shimmer-box{
    margin-bottom: 15px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

.loading-btn {
    border: 1px solid #557ef8;
    background-color: #fff;
    padding: 2px 15px;
    border-radius: 6px;
}

.add-filtter a {
    margin-bottom: 0px;
    color: #557ef8;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
