<div
  class="container-scroller topbar-fix"
  *ngIf="
    key.TOPBAR_ROUTES.includes(this._router.url.split('?')[0]) &&
    this.rbacService.isUserInfoInitialized
  "
>
  <div class="horizontal-menu">
    <app-topbar></app-topbar>
  </div>
</div>
<div
  class="container-scroller"
  *ngIf="key.HEADER_ROUTES.includes(this._router.url.split('?')[0]) &&  this.rbacService.userInfo.role != 'USER'"
>
  <div class="horizontal-menu">
    <app-header></app-header>
  </div>
</div>
<router-outlet  *ngIf="!onboardingService.isLoadingOnboardingStatus"></router-outlet>

<app-hajiri-page-loader *ngIf="onboardingService.isLoadingOnboardingStatus">
</app-hajiri-page-loader>

<app-notifaction-tost *ngIf="isShowToast"></app-notifaction-tost>
<!-- <app-exit-modal></app-exit-modal>  -->
