.request-count {
    background-color: rgb(241 241 253) !important;
    color: var(--primary-color) !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.date-range {
    background-color: #F9FAFC;
    border: 1px solid #DCDCE4;
    border-radius: 2px;
}
.attendance-date .ant-picker {
    border: none !important;
    background-color: transparent !important;
    height: 40px !important;
}
.expense-chart{
    border: 1px solid #EAEAEA;
}

.expense-wallet{
    background-color : rgba(253, 249, 251, 0.80);
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 85px;
}
.expense-wallet h5{
    color: #444;
}

.expense-spending{
    background-color: #DEE0FF;
    border-radius: 0px 0px 5px 5px;

}
/* .wallet-transactions-list img{
    width: 45px;
    border-radius: 50px;
} */
.wallet-transactions-list{
   max-height: 370px;
   overflow: scroll;
}
.wallet-transactions-list::-webkit-scrollbar{
    display: none;
}
.wallet-transactions-list p{
    color: #858585;
}
.expense-wallets .col-md-3{
    width: 28%;
}
.expense-wallets .col-md-9{
    width: 72%;
}
.total-expanse{
    border: 1px solid #EAEAEA;
}
.expense-info .col-md-3{
    width: 20%;
}
.total-expanse-icon {
    width: 35px;
    height: 35px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    background-color: #F6F6F6;
}
.week-count svg {
    width: 18px;
}
.categories-report{
    border: 1px  solid #EAEAEA;
}

::ng-deep .week-filter .ant-select-selection-placeholder {
    line-height: 24px !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
  }
  
  ::ng-deep .week-filter .ant-select-selection-item {
    line-height: 24px !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
  }
  ::ng-deep  .week-filter .ant-select-selector{
    background-color: transparent !important;
    min-height: 24px !important;
    height: 24px !important;
  }

  .earned-leave{
    background-color: #CA365F;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .casual-leave{
    background-color: #47539F;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .sick-leave{
    background-color: #327DD1;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .lop{
    background-color: #3C887C;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .maternity-leave{
    background-color: #5ECED8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .paternity-leave{
    background-color: #4496AC;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  .leave-count-list{
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.categories-report{
    height: 500px;
}
.categories-list{
   height: 350px;
   overflow: scroll;
}
.categories-list::-webkit-scrollbar{
    display: none;
}
.object-fit-cover{
    object-fit: cover;
}
::ng-deep .ant-progress-bg, .ant-progress-success-bg{
    background-color: #6666F2 !important;
}
.report-header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 10;
}
.departmental-separator{
    border-left: 1px solid #DCDCE4;
    height: 40px;
}
.asset-assigned-search {
    border: 1px solid #EAEAEA;
}
.search-filter .new-dropdown {
    display: block;
    width: 120px;
    padding: .4rem .5rem;
    font-size: 14px !important;
    background-color: #fff;
    border: none !important;
    border-right: 1px solid #f2f2f2 !important;
    font-weight: 500;
    box-shadow: unset;
    color: #444;
    height: 45px !important;
}

.search-filter svg {
    width: 18px;
}

.actionMenuList {
    line-height: 35px;
}
.not-assign-filter {
    width: 300px !important;
    border-radius: 2px !important;
    padding: 0px !important;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}

.cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 500;
    width: 100px;
}

.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    min-width: 100px;
}

.search-date input {
    border: none;
    height: 45px !important;
    border-left: 0;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1f1f1f !important;
}

.nots-section{
    background-color: rgba(236, 236, 236, 0.21) !important;
    width: 100%;
    height: 80px !important;
    border: 1px solid #e9e9e9;
}
.search-icon {
    font-size: 13px !important;
    position: absolute !important;
    top: 0;
    color: var(--tb-secondary-color) !important;
    margin: auto auto auto 15px;
}

.filter-btn {
    min-width: 170px;
}

/* .filter-bdg {
    overflow-x: scroll;
    flex-wrap: nowrap;
} */

.filter-pills {
    line-height: 18px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 52px;
    padding: 6px 15px;
    white-space: nowrap;
    margin-bottom: 0 !important;
    background-color: #557ef826;
}
.white-space{
    white-space: normal;
    width: 130px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.action-btn {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    background-color: #F9FAFC;
}
.actionMenuList svg {
    width: 18px;
    position: relative;
    top: -1px;
}
.dropdown-item:hover {
    background-color: #f1f1fd;
}
.actionMenuList .dropdown-item {
    font-size: 14px !important;
    color: #333 !important;
    border-radius: 6px !important;
    padding: 0px 6px !important;
}
.active-row{
    background-color: #FBFBFF;
}

.expense-list{
    background-color: #F9FAFC;
}
.expense-list .table th{
    background-color: #fff !important;
}
.expense-list .table tr td{
    border: 1px solid #f2f2f2;
}
.filter-box{
    width: 400px !important;
    z-index: 999;
}
.input-zorro {
    border-radius: 2px !important;
    border: 1.021px solid #e9e9e9 !important;
    background: rgba(236, 236, 236, 0.21) !important;
    height: 45px !important;
    font-size: 13px !important;
    color: #a2a2a2;
    font-weight: 400 !important;
}


.action-btn:not(.collapsed) i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.view-details:not(.collapsed) i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    display: inline-block;
}
.expanse-type-chart{
    max-width: 190px;
    width: 100%;
    height: 71px;
    margin-top: -20px;
    margin-right: -36px;
}

.team-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
.calendar-separator {
    border-left: 1px solid #DCDCE4;
    height: 20px;
}