.nav.nav-pills {
    background-color: transparent;
    border-bottom: 1px solid #edeff5;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background: transparent !important;
    color: var(--primary-color) !important;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-color);
}

.nav-link {
    margin-right: 20px;
    display: block;
    padding: 7px 10px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

.attendance-date {
    border-radius: 2px;
    border: 1px solid #DCDCE4;
}

.calendar-back-btn {
    width: 43px;
    height: 30px;
}

.calendar-separator {
    border-left: 1px solid #f2f2f2;
    height: 30px;
}

.request-dropdown {
    width: 130px !important;
    height: 38px !important;
    border-radius: 2px;
    border: 1px solid #DCDCE4 !important;
}

.expense-data {
    background-color: #F9FAFC;
    border-radius: 2px;
    max-height: 115px;
}

.approved {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #22b783;
    display: inline-flex;
    margin-right: 5px;
}

.pending {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff9f43;
    display: inline-flex;
    margin-right: 5px;
}

.canceled {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ef4d56;
    display: inline-flex;
    margin-right: 5px;
}

.paid {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    display: inline-flex;
    margin-right: 5px;
}

.expense-data p {
    color: #787486;
}

.table td {
    font-weight: 500;
    vertical-align: middle;
    font-size: 12px !important;
    white-space: nowrap;
    padding: 15px 15px !important;
}

.table-font-weight {
    font-weight: 400;
}

.white-space {
    white-space: normal;
    min-width: 150px;
    max-width: 100px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.settled-payroll {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    min-width: 75px;
    max-width: 75px;
}

.view-btn {
    font-weight: 500;
}

.view-btn svg {
    width: 18px;
    position: relative;
    top: -1px;
}

.food {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #F99963;
    display: inline-flex;
    margin-right: 3px;
}

.transport {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #3353F4;
    display: inline-flex;
    margin-right: 3px;
}

.notice-period-error {
    border-radius: 2px;
    border-left: 3.775px solid #FF3014;
    background: #FFF2F0;
    height: 45px;
}

.action-btn {
    height: 15px;
    border-left: 1px solid #AEAEAE;
}

.nots-section {
    background-color: rgba(236, 236, 236, 0.21) !important;
    width: 100%;
    height: 80px !important;
    border: 1px solid #e9e9e9;
}

.input-zorro {
    border-radius: 2px !important;
    border: 1.021px solid #e9e9e9 !important;
    background: rgba(236, 236, 236, 0.21) !important;
    height: 45px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
}

.submitActionBtn {
    background-color: var(--primary-background-color);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    width: 100px;
}

.bill-image img {
    width: 100%;
    height: 485px;
    object-fit: cover;
}

.new-announcement {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #DCDCE4;
    padding: 6px 15px;
}

.bill-image {
    background-color: rgba(244, 247, 255, 0.50);
    height: 100%;
}



.add-image-btn svg {
    width: 16px;
    position: relative;
    top: -1px;
}
.nav-item {
    margin-right: 0px;
}

.bill-images {
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6.800000190734863px);
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 98%;
    z-index: 999;
}

.bill-images img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.prev-btn {
    position: absolute;
    top: 48%;
    right: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9.010000228881836px);
    backdrop-filter: blur(9.010000228881836px);
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-btn svg {
    width: 18px;
}

.next-btn {
    position: absolute;
    top: 48%;
    left: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9.010000228881836px);
    backdrop-filter: blur(9.010000228881836px);
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-btn svg {
    width: 18px;
}

.do-you-continue {
    background-color: #ececec36;
    border: 1px solid #e9e9e9;
}

.new-announcement svg {
    width: 16px;
}

.onboard-add {
    border: 1px solid #f1f1f1;
}

.empFilerDropfilter .new-deopdown {
    display: block;
    width: 130px;
    padding: 0.4rem 0.5rem;
    font-size: 13px !important;
    text-align: left;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    position: relative;
    border-right: 1px solid #f2f2f2 !important;
    color: #777 !important;
    font-weight: 400;
    letter-spacing: 0.1px;
    box-shadow: unset;
}

.onboarding-date input[type="text"] {
    width: 450px;
    border-radius: 0px 10px 10px 0px;
    border: 0px solid #f2f2f2;
    height: 45px !important;
    border-left: 0;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1f1f1f !important;
}

.search-icon {
    font-size: 13px !important;
    position: absolute !important;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color) !important;
    margin: auto;
    margin-left: 15px;
}

.assets-request-btn {
    min-width: 120px;
}

.assets-request-btn svg {
    width: 16px;
    position: relative;
    top: -1px;
}

:ng-deep.ant-picker {
    border: none !important;
    width: 100% !important;
    height: 45px !important;
    border-radius: 2px !important;
    background-color: transparent !important;
}

.expance-date-filter {
    border-right: 1px solid #f2f2f2 !important;
}

.expance-date-filter .ant-picker {
    border: none !important;
    background-color: transparent;
    height: 45px !important;
}

.filter-icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #000;
    top: 12px;
}

.filter-icon::before {
    font-weight: 600 !important;
}

/** Dot opacity start */

.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.text-optional {
    color: grey;
}

.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6666f3;
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.multiple-add-image {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.multiple-add-imagesvg {}

.bill-image-remvo {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -7px;
}

.bill-image-remvo i {
    color: #fff;
    font-size: 14px;
}

/** Dot opacity end */

.calendar-back-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.table tbody {
    border: 1px solid #f1f1f1;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
    line-height: 36px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  
  ::ng-deep .placeholder-line .ant-select-selection-item {
    line-height: 36px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  ::ng-deep .placeholder-lineee .ant-select-selection-placeholder {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  
  ::ng-deep .placeholder-lineee .ant-select-selection-item {
    line-height: 45px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  .mobile-attendance-date{
    border-bottom: 20px solid #fff !important;
}
.mobile-card-view{
    display: none;
}

  @media screen and (max-width: 500px) {
    .desktop-attendance-date{
        display: none;
    }
    .mobile-card-view{
        display: block;
    }
    .col-sm-6{
        width: 50%;
    }
    .nav-link {
        margin-right: 0px;
        font-size: 13px;
    }
    .attendance-history{
        margin-top: -15px !important;
    }
    .desktop-filter{
        display: none;
    }
    .new-announcement {
        font-size: 12px;
        padding: 7px 10px;
    }
    .attendance-date .ant-picker {
        width: 115px !important;
    }
    .expense-data{
        margin-bottom: 15px;
    }
    .empOnnoardtable{
        margin-bottom: 60px;
    }
    .bill-image{
        display: none;
    }
  }