 <!-- leftbar-tab-menu -->
 <div class="left-sidebar">
    <!-- LOGO -->
    <div class="brand">
        <a class="logo">
            <!-- <span>
                <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span> -->
            <span>
                <img src="assets/images/HAjiRi.svg" alt="logo-large" class="logo-lg logo-light" style="height: 40px;">
                <img src="assets/images/HAjiRi.svg" alt="logo-large" class="logo-lg logo-dark" style="height: 40px;">
            </span>
        </a>
    </div>


    <!--end logo-->
    <div class="menu-content h-100" >
        <div class="menu-body navbar-vertical">
            <div class="collapse navbar-collapse tab-content" id="sidebarCollapse">

                <div class="bjRpmy">
                    <ul class="cfyCez">
                        <li class="dagRMy" routerLinkActive="iUctsy" routerLink="/dashboard" style="cursor: pointer;">
                            <a class="dashboard-list-active sc-3ee1404a-9 iUctsy-new">

                                <span class=" sc-3ee1404a-10 evIlxu"> 
                                    <i class="bi bi-house-door menu-icon pr-2"></i>
                                     Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bjRpmy">

                    <div class="sc-485d66d8-0 sc-39e987ab-0 iZfNPZ irmdrk sc-3ee1404a-4 izZYaK">POEPLE</div>
                    <ul class="cfyCez">
                        <!-- <li class="sc-3ee1404a-7 dagRMy" routerLink="/timetable">
                            <a href="" class="sc-3ee1404a-9 iUctsy-new">
                                <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                        </div>
                        <span class="sc-3ee1404a-10 evIlxu"> <i class="bi bi-table menu-icon"></i> Timetable</span>
                    </a>
                    </li> -->
                    <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/team" style="cursor: pointer;">
                        <a class="sc-3ee1404a-9 iUctsy-new" >
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-people menu-icon"></i> Team</span>
                </a>
                </li>

                <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/employee-onboarding" style="cursor: pointer;">
                    <a class="sc-3ee1404a-9 iUctsy-new">
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-person-lines-fill menu-icon"></i> Onboarding</span>
            </a>
            </li>

        
                    <!-- <li class="sc-3ee1404a-7 dagRMy" routerLink="/project">
                        <a href="" class="sc-3ee1404a-9 iUctsy-new">
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-list-task menu-icon"></i> Project</span>
                </a>
                </li> -->
<!-- 
                <li class="sc-3ee1404a-7 dagRMy" routerLink="/team">
                    <a class="sc-3ee1404a-9 iUctsy-new" >
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-people menu-icon"></i> Team</span>
            </a>
            </li> -->
           
                    </ul>
                </div>

                <div class="bjRpmy">

                    <div class="sc-485d66d8-0 sc-39e987ab-0 iZfNPZ irmdrk sc-3ee1404a-4 izZYaK">MANAGEMENT</div>
                    <ul class="cfyCez">

                        <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/timetable" style="cursor: pointer;">
                            <a class="sc-3ee1404a-9 iUctsy-new">
                                <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                        </div>
                        <span class="sc-3ee1404a-10 evIlxu"> <i class="bi bi-table menu-icon"></i> Attendance</span>
                    </a>
                    </li>

                    <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/reports" style="cursor: pointer;">
                        <a class="sc-3ee1404a-9 iUctsy-new">
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-bar-chart-line menu-icon"></i> Reports</span>
                </a>
                </li>

                    <!-- <li class="sc-3ee1404a-7 dagRMy" routerLink="/task-manager">
                        <a href="" class="sc-3ee1404a-9 iUctsy-new">
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu">  <i class="bi bi-person-check menu-icon"></i> Task </span>
                </a>
                </li> -->

                <li class="sc-3ee1404a-7 dagRMy" style="cursor: pointer;">
                    <a class="sc-3ee1404a-9 iUctsy-new">
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="sc-3ee1404a-10 evIlxu" ><i class="bi bi-caret-right-fill menu-icon projectIcon collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i> Project</span>
                    <span class="add-project"><i class="bi bi-plus"></i> Add</span>


                
                </div>



               
            </a>

            <div class="collapse project-name" id="collapseExample">
                <ul>
                    <li> <a class="project-link"> <span class="project-list">#</span> <p class="mb-0">Cross-functional project plan</p></a></li>
                    <li> <a class="project-link"> <span class="project-list">#</span> <p class="mb-0">Krenai</p></a></li>
                </ul>
            </div>
            </li> 
                        <!-- <li class="sc-3ee1404a-7 dagRMy" routerLink="/live-manager">
                            <a href="" class="sc-3ee1404a-9 iUctsy-new">
                                <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                        </div>
                        <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-envelope menu-icon"></i> Leave Manager</span>
                    </a>
                    </li>
                    <li class="sc-3ee1404a-7 dagRMy" routerLink="/userlist">
                        <a class="sc-3ee1404a-9 iUctsy-new" >
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-list-check menu-icon"></i> User List</span>
                </a>
                </li> -->

              
          
                    </ul>
                </div>

                <div class="bjRpmy" style="margin-bottom: 130px;">

                    <div class="sc-485d66d8-0 sc-39e987ab-0 iZfNPZ irmdrk sc-3ee1404a-4 izZYaK">COMPANY</div>
                    <ul class="cfyCez">

                        <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/company-setting" style="cursor: pointer;">
                            <a class="sc-3ee1404a-9 iUctsy-new">
                                <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                        </div>
                        <span class="sc-3ee1404a-10 evIlxu"> <i class="bi bi-gear menu-icon"></i> Company Setting</span>
                    </a>
                    </li>

                   
                    <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/attendance-setting" style="cursor: pointer;">
                        <a class="sc-3ee1404a-9 iUctsy-new">
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-gear menu-icon"></i> Attendance Setting</span>
                </a>
                </li> 

                <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/leave-setting" style="cursor: pointer;">
                    <a class="sc-3ee1404a-9 iUctsy-new">
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <span class="sc-3ee1404a-10 evIlxu">  <i class="bi bi-envelope menu-icon"></i> Leave settings </span>
            </a>
            </li>

                <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/selery-setting" style="cursor: pointer;">
                    <a class="sc-3ee1404a-9 iUctsy-new">
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-person-check menu-icon"></i> Salary  Setting</span>
            </a>
            </li> 

         
                

                    <!-- <li class="sc-3ee1404a-7 dagRMy" style="cursor: pointer;">
                        <a class="sc-3ee1404a-9 iUctsy-new">
                            <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                    </div>
                    <span class="sc-3ee1404a-10 evIlxu">  <i class="bi bi-file-earmark-code menu-icon"></i> Document </span>
                </a>
                </li> -->

                <li class="sc-3ee1404a-7 dagRMy" routerLinkActive="iUctsy" routerLink="/role" style="cursor: pointer;">
                    <a class="sc-3ee1404a-9 iUctsy-new">
                        <div class="sc-485d66d8-0 sc-3ee1404a-8 dLkVjV kNLmp">
                </div>
                <span class="sc-3ee1404a-10 evIlxu"><i class="bi bi-person-check menu-icon"></i> Admin Permission</span>
            </a>
            </li> 
         
     

              
          
                    </ul>
                </div>

                <!-- Navigation -->
                <!-- <ul class="navbar-nav tab-pane active" id="Main" role="tabpanel">
                  
                  

                  
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard" >
                           

                            <i class="bi bi-house-door menu-icon"></i>
                            <span>Dashboard</span>
                        </a>
                       
                    </li>
                    

                    <li class="nav-item" style="cursor: pointer;" routerLink="/timetable">
                        <a class="nav-link" >
                            <i class="bi bi-table menu-icon"></i>
                            <span>Timetable</span>
                        </a>
                        
                    </li>


                    <li class="nav-item" style="cursor: pointer;" routerLink="/project">
                        <a class="nav-link"  >
                            <i class="bi bi-list-task menu-icon"></i>
                            <span>Project</span>
                        </a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/team" >
                            <i class="bi bi-people-fill menu-icon"></i>
                            <span>Team</span>
                        </a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/task-manager">

                            <i class="bi bi-person-check menu-icon"></i>
                            <span>Task Manager</span>
                        </a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/live-manager">
                            <i class="bi bi-envelope menu-icon"></i>
                            <span>Leave Manager</span>
                        </a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/userlist">
                            
                            <i class="bi bi-list-check menu-icon"></i>
                            <span>User List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/onboarding">
                            <i class="bi bi-person-lines-fill menu-icon"></i> <span>Onboarding</span>
                        </a>
                    </li>
                </ul> -->

                <div class="log-out-btn-box">

                    <div class="plan-box d-flex align-items-center justify-content-between">
                        <div class="">
                            <p class="mb-0">Free Plan</p>
                        </div>
                        <div class="" style="cursor:pointer;">
                            <a class="mb-0"><i class="bi bi-lightning-fill"></i> Upgrade</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center" style="gap:20px; padding: 10px; background-color: #f1f1fd;">
                        <div class="">
                            <span class="members-namess">{{getFirstAndLastLetterFromName(loggedInUser.name)}}</span>
                        </div>
                        <div class="">
                            <div class="sc-485d66d8-0 sc-e0edf03b-5 dLkVjV ddCElb">{{loggedInUser.name}}</div>
                            <div class="sc-485d66d8-0 sc-e0edf03b-2 buCZLT eYcpQL">{{loggedInUser.email}}</div>
                        </div>
                        <div class="">
                           

                            <div class="dropdown d-inline-block log-btn" >
                           
                                <a class="dropdown-toggle"  id="dLabel1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class=""><i class="bi bi-chevron-right"></i></span>

                                </a>
                                <div class="dropdown-menu dropdown-menu-end list-top" aria-labelledby="dLabel1">

                                    <div class="manager-list" style="cursor: pointer;" routerLink="/account-settings">
                                        <a class="dropdown-item"> <i class="bi bi-gear" style="padding-right: 10px;"></i> Account Settings</a>
                                     </div>

                                     <div class="manager-list" style="cursor: pointer;">
                                        <a class="dropdown-item"> <i class="bi bi-rocket" style="padding-right: 10px;"></i> What's new?</a>
                                     </div>
                                
                                    <div class="manager-list" style="cursor: pointer;">
                                        <a class="dropdown-item"> <i class="bi bi-gift" style="padding-right: 10px;"></i> Refer a friend</a>
                                     </div>
                                    <div class="manager-list remove-team" (click)="onLogout()" style="cursor: pointer;">
                                        <a class="dropdown-item StaticMenuItemBase-button" >
                                            <span><i class="bi bi-box-arrow-in-left"></i> Log out</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>    
</div>
<!-- end left-sidenav-->
<!-- end leftbar-tab-menu-->

