<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ isCreate ? 'Attendance Update Request' : 'Review Attendance Request' }}</h5>
    <button *ngIf="isModal" type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="emptySelectRequest()" #closeButton>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <mask id="mask0_5037_2014" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_5037_2014)">
          <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="black" />
        </g>
      </svg>
    </button>
    <!-- <span *ngIf="!isModal" class="badge rounded-pill font-11" [ngClass]="{
      'badge-soft-success': attendanceData?.status === 'APPROVED',
      'badge-soft-danger': attendanceData?.status === 'PENDING',
      'badge-soft-secondary': attendanceData?.status === 'REJECTED'
    }">
    {{ attendanceData?.status | uppercase }}
  </span> -->
  </div>
  <div class="modal-body p-0">
    <div *ngIf="!isCreate" class="d-flex align-items-center justify-content-between p-3 user-detail">
      <div  class="d-flex align-items-center gap-2">
         <img [src]="attendanceData?.imageUrl" onerror="this.src='./assets/images/broken-image-icon.jpg';" class="img-50 radius-50">

         <div>
            <h5 class="mb-0 font-14">{{attendanceData?.userName}} </h5>
            <p class="mb-0 font-12"></p>
         </div>
      </div>
      <div class="text-end">
         <p class="font-12 mb-2"> Date: {{attendanceData?.createdDate | date:'MM/dd/yyyy hh:mm:ss a' }} </p>
         <span  class="badge rounded-pill" [ngClass]="{
          'badge-soft-success': attendanceData?.status === 'APPROVED',
          'badge-soft-danger': attendanceData?.status === 'PENDING',
          'badge-soft-secondary': attendanceData?.status === 'REJECTED'
        }">  {{ attendanceData?.status | uppercase }} </span>
      </div>
   </div>
    <div class="assets-request-form p-3">
      <form [formGroup]="attendanceTimeUpdateForm">
        <div class="row register-form-box">
          <div class="col-md-12 mb-3">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="employeeTypeId" class="mb-2">Select Date</label>
                  <nz-date-picker formControlName="requestedDate" id="requestedDate" nzFormat="dd-MM-yyyy" class="ant-picker ant-picker-borderless"
                    [nzDisabled]="!isCreate" (ngModelChange)="onDateChange($event)" nzPlaceHolder="Choose Date" name="selectDate" [nzDisabledDate]="disabledDate">
                  </nz-date-picker>
                  <small class="text-danger d-block mt-2" *ngIf="checkHoliday">There was holiday on selected date!</small>
                  <small class="text-danger d-block mt-2" *ngIf="checkAttendance">
                    Your attendance is already registered with us for selected date, you can opt for attendance update option instead of requesting new attendance!
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-3" *ngIf="isCreate">
            <div class="form-group requesting-half-leave p-2">
              <div class="d-flex align-items-center justify-content-between" style="padding-top: 2px;">
                <p class="mb-0">Select What do you want to update</p>
              </div>
              <hr>
              <div class="row mt-3 mb-2">
                <div class="col-md-6 m-mb-3">
                  <label class="form-check assets-req d-flex align-items-center justify-content-start">
                    <input class="form-check-input" type="radio" formControlName="attendanceRequestType" [value]="'UPDATE'" (change)="resetError()">
                    <p class="form-check-label mb-0">Update Timing</p>
                  </label>
                </div>
                <div class="col-md-6">
                  <label class="form-check assets-req d-flex align-items-center justify-content-start">
                    <input class="form-check-input" type="radio" formControlName="attendanceRequestType" [value]="'CREATE'" (change)="resetError()">
                    <p class="form-check-label mb-0">New Request</p>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Update Timing -->
          <div *ngIf="attendanceTimeUpdateForm.get('attendanceRequestType')?.value === 'UPDATE'" formGroupName="updateGroup">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="employeeTypeId" class="mb-2">Type<span class="text-danger" *ngIf="isCreate">*</span></label>
                <div class="row">
                  <div class="col-md-6 m-mb-3">
                    <nz-form-control>
                      <nz-select class="form-control" formControlName="requestType" id="requestType" nzPlaceHolder="Select request type" style="width: 100%" nzSize="large" [ngModel]="attendanceData.requestOf"
                        [nzDisabled]="!isCreate" (ngModelChange)="getAttendanceChecktimeListDate($event)">
                        <nz-option [nzValue]="'in'" [nzLabel]="'In'"></nz-option>
                        <nz-option [nzValue]="'out'" [nzLabel]="'Out'"></nz-option>
                        <nz-option [nzValue]="'break'" [nzLabel]="'Break'"></nz-option>
                        <nz-option [nzValue]="'back'" [nzLabel]="'Back'"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                  <div *ngIf="isCreate" class="col-md-6 m-mb-3">
                    <nz-form-control>
                      <nz-select class="form-control" formControlName="attendanceId" id="attendanceId" nzPlaceHolder="Select time to be updated" style="width: 100%" nzSize="large" [nzDisabled]="!isCreate">
                        <nz-option *ngFor="let time of attendanceCheckTimeResponse" [nzValue]="time.attendanceId" [nzLabel]="time.checkTime | date: 'shortTime'"></nz-option>
                      </nz-select>
                    </nz-form-control>
                    <small class="text-muted d-block mt-2" *ngIf="isCreate && (!attendanceTimeUpdateForm.get('updateGroup.requestType')?.value || !attendanceTimeUpdateForm.get('updateGroup.requestedDate')?.value)">
                      Please select the Date and Type above before choosing a time!
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group updated-timing position-relative">
                <label for="employeeTypeId" class="mb-2">
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">

                  </svg> -->
                  Updated Timing
                </label>
                <nz-time-picker nzBorderless formControlName="updatedTime" id="updatedTime" nzFormat="HH:mm" class="w-100" nzPlaceHolder="Enter the new time" [nzDisabled]="!isCreate"></nz-time-picker>
                <span class="updated-timing-input-box">{{ updateStatusString }}</span>
              </div>
            </div>
          </div>
          <!-- Update Timing end -->

          <!-- New Request -->
          <div *ngIf="attendanceTimeUpdateForm.get('attendanceRequestType')?.value === 'CREATE'" formGroupName="createGroup">
            <div class="col-md-12 mb-3">
              <div class="form-group updated-timing">
                <label for="employeeTypeId" class="mb-2">
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">

                  </svg> -->
                  Updated Timing
                </label>
                <div class="row time-update">
                  <div class="col-md-6">
                    <nz-time-picker nzBorderless formControlName="inRequestTime" id="inRequestTime" nzFormat="HH:mm" class="w-100" nzPlaceHolder="Enter the new time" [nzDisabled]="!isCreate"></nz-time-picker>
                    <span class="updated-timing-input">In</span>
                  </div>
                  <div class="col-md-6">
                    <nz-time-picker nzBorderless formControlName="outRequestTime" id="outRequestTime" nzFormat="HH:mm" class="w-100" nzPlaceHolder="Enter the new time" [nzDisabled]="!isCreate"></nz-time-picker>
                    <span class="updated-timing-input">Out</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- New Request end -->

          <div class="col-md-12 mb-3">
            <div class="form-group">
              <label for="employeeTypeId" class="mb-2">Select manager to request for</label>
              <nz-form-control>
                <nz-select formControlName="managerId" id="managerId" class="form-control" style="width: 100%" nzSize="large" nzPlaceHolder="Select manager" [nzDisabled]="!isCreate">
                  <nz-option *ngFor="let manager of managers" [nzValue]="manager.id" [nzLabel]="manager.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="form-group">
              <label for="templateName" class="mb-2">Reason</label>
              <textarea formControlName="requestReason" id="requestReason" class="form-control nots-section" placeholder="write the reason" rows="3" [maxLength]="255" [readonly]="!isCreate" #maxWords></textarea>
              <small *ngIf="isCreate && maxWords.value.length > 254" style="color: red">The maximum number of characters allowed in above field is 255!</small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isCreate || attendanceData.status === 'PENDING' " class="modal-footer d-flex align-items-center justify-content-end">
    <div class="d-flex align-items-center gap-2">
      <button *ngIf="isCreate" type="button" class="btn cancel-btn mt-0" data-bs-dismiss="modal" (click)="emptySelectRequest()" #closeAttendanceUpdateModal>Cancel</button>
      <ng-container *ngIf="isCreate">
        <button type="button" class="btn submitActionBtn" [disabled]="!isAttendanceFormValid()" (click)="submitForm()">
          <ng-container *ngIf="!attendanceUpdateRequestLoader">Submit</ng-container>
          <ng-container *ngIf="attendanceUpdateRequestLoader">
            <div class="dot-opacity-loader">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </ng-container>
        </button>
      </ng-container>
      <!-- <ng-container *ngIf="!isCreate && attendanceData.status === 'PENDING' && (ROLE=='ADMIN' || attendanceData.managerUuid == userId)"> -->
        <ng-container  *ngIf="!isCreate && roleService.showAttendanceUpdateActionButton(attendanceData,logInUserUuid,StatusKeys.ATTENDANCE_UPDATE_REQUEST_PENDING,Routes.TIMETABLE)">
        <button [disabled]="approveLoader || rejectLoader" type="button" class="btn btn-soft-success" (click)="approveOrReject(
                  attendanceData.id,
                  'APPROVED'
                )">
                <span *ngIf="!approveLoader">Approve</span>
                <span *ngIf="approveLoader">
                  <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </span>
              </button>
        <button [disabled]="approveLoader || rejectLoader" type="button" class="btn btn-soft-danger" (click)="approveOrReject(
          attendanceData.id,
          'REJECTED'
        )">
        <span *ngIf="!rejectLoader">Reject</span>
        <span *ngIf="rejectLoader">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </span>
      </button>
      </ng-container>
    </div>
  </div>
</div>
