<div class="d-flex justify-content-between mt-3">
  <h5 class="m-0" style="color: #111; font-size: 18px" (click)="back()">
    <div class="back-btns-box" style="cursor: pointer;">
      <i class="bi bi-chevron-left"></i>
      <span class="font-16 pt-2 pl-2">EPF, ESI & TDS (OVERRIDE)</span>
    </div>
  </h5>
</div>





<ul class="nav nav-pills mb-3 mt-4" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
      role="tab" aria-controls="pills-home" aria-selected="true">EPF</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
      role="tab" aria-controls="pills-profile" aria-selected="false">ESI</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
      role="tab" aria-controls="pills-contact" aria-selected="false">TDS</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="table-responsive">
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>EMPLOYEE</th>
            <th>EMAIL</th>
            <th>AMOUNT</th>
            <th>AMOUNT TO BE ADJUSTED</th>
            <th>FINAL AMOUNT</th>

          </tr>
        </thead>
        <ng-container
          *ngIf="isShimmerForEpfDetailsResponse && epfDetailsResponseList.length == 0; else epfDetailsResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center">
                <ngx-shimmer-loading [width]="'100%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #epfDetailsResponseListCondition>
          <ng-container
            *ngIf="!isShimmerForEpfDetailsResponse && epfDetailsResponseList.length != 0; else errorInFetchingEpfDetailsResponseListCondition">
            <tbody *ngFor="let epfDetailsResponse of epfDetailsResponseList
                | paginate
                  : {
                      itemsPerPage: itemPerPage,
                      currentPage: pageNumber,
                      totalItems: total
                    }">
              <tr>
                <td>{{ epfDetailsResponse.name }}</td>
                <td>{{ epfDetailsResponse.email }}</td>
                <td>{{ epfDetailsResponse.amount }}</td>
                <td>
                  <!-- <input class="comment-input p-2" type="number" placeholder="Enter the new amount here" [(ngModel)]="epfDetailsResponse.amountToBeAdjusted" (ngModelChange)="updateFinalAmount(epfDetailsResponse)" [ngModelOptions]="{ standalone: true }" /> -->
                </td>
                <td>{{ epfDetailsResponse.finalAmount }}</td>
                <!-- <td class="text-start"><a><i class="bi bi-pencil-square"></i></a></td> -->
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorInFetchingEpfDetailsResponseListCondition>
          <tbody>
            <tr>
              <td colspan="8">
                <div class="errorboxmain" *ngIf="networkConnectionErrorPlaceHolderForEpfDetailsResponse">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForEpfDetailsResponse &&
          !networkConnectionErrorPlaceHolderForEpfDetailsResponse
        ">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="table-responsive">
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>EMPLOYEE</th>
            <th>EMAIL</th>
            <th>AMOUNT</th>
            <th>AMOUT TO BE ADJUSTED</th>
            <th>FINAL AMOUNT</th>
            <!-- <th>ACTION</th> -->
          </tr>
        </thead>
        <ng-container
          *ngIf="isShimmerForEsiDetailsResponse && esiDetailsResponseList.length == 0; else esiDetailsResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center">
                <ngx-shimmer-loading [width]="'100%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #esiDetailsResponseListCondition>
          <ng-container
            *ngIf="!isShimmerForEsiDetailsResponse && esiDetailsResponseList.length != 0; else errorInFetchingEsiDetailsResponseListCondition">
            <tbody *ngFor="let esiDetailsResponse of esiDetailsResponseList
                | paginate
                  : {
                      itemsPerPage: itemPerPage,
                      currentPage: pageNumber,
                      totalItems: total
                    }">
              <tr>
                <td>{{ esiDetailsResponse.name }}</td>
                <td>{{ esiDetailsResponse.email }}</td>
                <td>{{ esiDetailsResponse.amount }}</td>
                <td>
                  <!-- <input class="comment-input p-2" type="number" placeholder="Enter the new amount here" [(ngModel)]="esiDetailsResponse.amountToBeAdjusted" (ngModelChange)="updateFinalAmount(esiDetailsResponse)" [ngModelOptions]="{ standalone: true }" /> -->
                </td>
                <td>{{ esiDetailsResponse.finalAmount }}</td>
                <!-- <td class="text-start"><a><i class="bi bi-pencil-square"></i></a></td> -->
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorInFetchingEsiDetailsResponseListCondition>
          <tbody>
            <tr>
              <td colspan="8">
                <div class="errorboxmain" *ngIf="networkConnectionErrorPlaceHolderForEsiDetailsResponse">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForEsiDetailsResponse &&
          !networkConnectionErrorPlaceHolderForEsiDetailsResponse
        ">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="table-responsive">
      <table class="table border-dashed mb-0">
        <thead>
          <tr>
            <th>EMPLOYEE</th>
            <th>EMAIL</th>
            <th>AMOUNT</th>
            <th>AMOUT TO BE ADJUSTED</th>
            <th>FINAL AMOUNT</th>
            <!-- <th>ACTION</th> -->
          </tr>
        </thead>
        <ng-container
          *ngIf="isShimmerForTdsDetailsResponse && tdsDetailsResponseList.length == 0; else tdsDetailsResponseListCondition">
          <tbody>
            <tr *ngFor="let item of [].constructor(10)">
              <td class="text-center">
                <ngx-shimmer-loading [width]="'100%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
              <td class="text-center">
                <ngx-shimmer-loading [width]="'70%'" [height]="'10px'"></ngx-shimmer-loading>
              </td>
            </tr>
          </tbody>
        </ng-container>
        <ng-template #tdsDetailsResponseListCondition>
          <ng-container
            *ngIf="!isShimmerForTdsDetailsResponse && tdsDetailsResponseList.length != 0; else errorInFetchingTdsDetailsResponseListCondition">
            <tbody *ngFor="let tdsDetailsResponse of tdsDetailsResponseList;">
              <tr>
                <td>{{ tdsDetailsResponse.name }}</td>
                <td>{{ tdsDetailsResponse.email }}</td>
                <td>{{ tdsDetailsResponse.amount }}</td>
                <td>
                  <!-- <input class="comment-input p-2" type="number" placeholder="Enter the new amount here" [(ngModel)]="tdsDetailsResponse.amountToBeAdjusted" (ngModelChange)="updateFinalAmount(tdsDetailsResponse)" [ngModelOptions]="{ standalone: true }" /> -->
                </td>
                <td>{{ tdsDetailsResponse.finalAmount }}</td>
                <!-- <td class="text-start"><a><i class="bi bi-pencil-square"></i></a></td> -->
              </tr>
            </tbody>
          </ng-container>
        </ng-template>
        <ng-template #errorInFetchingTdsDetailsResponseListCondition>
          <tbody>
            <tr>
              <td colspan="8">
                <div class="errorboxmain" *ngIf="networkConnectionErrorPlaceHolderForTdsDetailsResponse">
                  <div class="errorboxinner text-center">
                    <div class="errorboxplaceholder mb-2">
                      <img src="assets/images/signal.svg" style="width: 100px" />
                    </div>
                    <div class="">
                      <h4>Something went wrong</h4>
                      <p> An error occurred while processing your request. Please refresh the page and try again. </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="
          dataNotFoundPlaceholderForTdsDetailsResponse &&
          !networkConnectionErrorPlaceHolderForTdsDetailsResponse
        ">
            <tr>
              <td colspan="8">
                <div class="empty-file" style="margin-top: 8%; margin-bottom: 8%">
                  <nz-empty nzNotFoundImage="assets/images/no-data-found-img.svg" [nzNotFoundContent]="contentTpl">
                    <ng-template #contentTpl>
                      <p class="mb-1 empty-detail">No data for now</p>
                    </ng-template>
                  </nz-empty>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <!--end /table-->
    </div>
  </div>
</div>




<!-- <div class="pagination pl-3 align-items-center justify-content-between" *ngIf="(total > itemPerPage - 1 || (pageNumber === lastPageNumber && lastPageNumber !== 1)) && 
            ((CURRENT_TAB == EPF && !dataNotFoundPlaceholderForEpfDetailsResponse && !networkConnectionErrorPlaceHolderForEpfDetailsResponse) || 
             (CURRENT_TAB == ESI && !dataNotFoundPlaceholderForEsiDetailsResponse && !networkConnectionErrorPlaceHolderForEsiDetailsResponse) || 
             (CURRENT_TAB == TDS && !dataNotFoundPlaceholderForTdsDetailsResponse && !networkConnectionErrorPlaceHolderForTdsDetailsResponse))">
            <p style="padding-left: 15px"> Showing {{ getStartIndex() }} - {{ getEndIndex() }} of {{ total }} employees </p>
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item" [class.disabled]="pageNumber == 1">
                    <a class="page-link" href="javascript:void(0);" aria-label="Previous" (click)="changePage('prev', CURRENT_TAB)">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of getPages()" [class.active]="pageNumber == page">
                    <a class="page-link" href="javascript:void(0);" (click)="changePage(page, CURRENT_TAB)">{{ page
                      }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="pageNumber == totalPages">
                    <a class="page-link" href="javascript:void(0);" aria-label="Next" (click)="changePage('next', CURRENT_TAB)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div> -->