.company-logo img {
  width: 110px;
  margin-bottom: 10px;
}
.login-sidebar-heading h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0px;
  color: #000;
}
.login-sidebar-heading p {
  font-size: 14px;
  font-weight: 300;
  color: #b7b7b7;
  margin-bottom: 0px;
  line-height: 22px;
  padding-top: 5px;
}
.login-with-slack {
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

.right-arrow::before {
  font-weight: bold !important;
}

.login-with-slack:hover {
  /* background-color: #6666f30f; */
  border: 1px solid #6666f39c;
}
.login-with-slack:hover .right-arrow {
  color: #6666f39c;
}

.btn-fix-height {
  height: 48px;
  font-size: 16px;
}
.register-whatsApp-number-text {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 2px;
}
.register-whatsApp-number-text p {
  font-size: 11px;
  font-weight: 400;
  color: #878a9a;
  margin-bottom: 0px;
  line-height: 18px;
}
.forgot-password-btn {
  font-size: 14px;
  font-weight: 400;
}
.forgot-password-btn:hover {
  color: red !important;
}
.otp-input {
  width: 53px;
  height: 53px;
  border: solid 1px #c5c5c5;
  text-align: center;
  font-size: 28px;
  border-bottom: 3px solid #c5c5c5;
}
/* .otp-input:not(:last-child) {
        margin-right: 5px;
    } */

.otp-input:not(:last-child) {
  border-right: none;
}
.active-otp-box {
  border: 1px solid #6666f3;
  border-bottom: 3px solid #6666f3;
}
.resent-otp {
  color: #878a9a !important;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 300;
}
.resent-otp:hover {
  color: #6666f3 !important;
  cursor: pointer;
}
.change-phone-number {
  color: #444;
  font-size: 14px;
  font-weight: 400;
}
.change-phone-number:hover {
  color: #6666f3;
}
.change-phone-number i {
  padding-right: 3px;
  font-size: 12px;
  top: -2px;
}
.back-to-login-btn {
  font-size: 16px;
  font-weight: 400;
  bottom: 14px;
  top: -30px;
}
.gmail-login-btn {
  border: 1px solid #f1f1f1;
  padding: 10px;
  height: 50px;
  border-radius: 4px;
  display: inline-block;
  color: #6666f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-logo {
  width: 35px;
  padding-right: 15px;
}
.slack-img {
  width: 26px;
  margin-right: 6px;
}
.whatapp-img {
  width: 25px;
  margin-right: 6px;
}
.gmail-img {
  width: 24px;
  margin-right: 6px;
}
.login-with-slack h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #878a9a;
  margin-bottom: 0px;
}
.sidebar-footer-text {
  bottom: 0px;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}
.sidebar-footer-text p {
  font-size: 12px;
  font-weight: 300;
  color: #b7b7b7;
  line-height: 22px;
}
.login-video {
  height: 100vh;
}
.login-video video {
  object-fit: cover;
}
.right-arrow {
  font-size: 18px;
  color: #878a9a;
}
.video-footer-link {
  left: 0;
  bottom: 0;
  padding: 15px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(252, 176, 69, 0) 79%
  );
  top: 24%;
}
.video-footer-link ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
.video-footer-link ul li {
  display: inline-block;
  line-height: 30px;
}
.video-footer-link ul li a {
  font-size: 14px;
  color: #d0d0d0 !important;
  padding-right: 15px;
}
.login-sidebar-heading {
  margin-top: 60px;
}

.login-steps {
  margin-top: 50px !important;
}

.bg-soft-warning:hover {
  background-color: rgba(255, 159, 67, 0.08) !important;
}
.alert-light:hover .alert-heading {
  color: orange !important;
}
.create-password-warning > p {
  color: #6b6b6b;
  font-size: 13px;
  font-weight: 300;
}
