/* .login-iamge{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-detail h2{
        margin-bottom: 5px;
        font-size: 35px;
        font-weight: 300;
        color: #444;
}

.login-detail p{
    font-size: 13px;
    color: #9c9c9c;
    font-weight: 100;
}

.login-detail a{
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.75;
    text-decoration: none;
    width: 380px;
    font-weight: 500;
    display: block;
    text-align: center;
    columns: #444;

}

.login-detail a:hover{
    color: #444 !important;
} */
#signin-with-email{
    display: none;
}






/* .signin-with-email-button a{
    color: #1890ff;
} */

.signin-with-email-button:hover{
    background-color: whitesmoke;
}

#registerButton:hover{
    cursor: pointer;
}


.login-page-main{
    height: 100vh;
}


/* .login-stap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
} */

.login-image{
   background-image: url(/assets/images/dashboards/crovex.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.login-stap{
    padding: 30px;
    height: 100vh;
    /* display: flex; */
    /* align-items: start;
    flex-direction: column;
    justify-content: center; */
}

.login-detail a {
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    display: block;
    text-align: left;
    color: #444;
    border: 1px solid #f1f1f1;
}

.login-stap h5{
    font-size: 14px;
    font-weight: 500;
}

.welcome-hajiri h4{
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 0px;
}
.welcome-hajiri p{
    font-size: 12px;
    color: #878A9A;
    font-weight: 400;
}

.login-with ul{
    padding-left: 0px;
    display: flex;
   gap: 20px;
   align-items: center;
}

.login-with ul li{
    list-style: none;
    display: inline-block;
    color: #555;
    font-size: 12px;
    
}

.login-space{
    color: #6666f3;
    font-size: 12px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    border: 0px !important;
    padding: 0px !important;
}

.login-with{
    position: absolute;
    bottom: 0px
}

.login-imagee {
    height: 100vh;
}

.login-imagee video {
    object-fit: cover;
}


.right-arrow {
    position: absolute;
    right: 14px;
    font-size: 18px;
    color: #9d9d9d;
}









.chat-bubel-3{
    position: absolute;
    top:40%;
    left: 210px;
    transform: scale(0);
    animation: chat 5s linear both ;
    animation-delay: 5s;
}

.chat-bubel-1{
    position: absolute;
    top: 45%;
    right: 80px;
    transform: scale(0);
    animation: lineAnim 6s linear both;
    animation-delay: 12s;
}

.chat-bubel-2{
    position: absolute;
    top:25%;
    right:280px;
    transform: scale(0);
    animation: lineAnimsition 6s linear both;
    animation-delay: 20s;
}



@keyframes chat{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

@keyframes lineAnim{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

@keyframes lineAnimsition{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white; /* Change to your preferred color */
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}


a.neq-login-link {
    display: inline-block !important;
    border: none !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #6666f3 !important;
    padding: 0px !important;
    width: auto !important;
    line-height: 24px !important;
}

.login-new-text p{
    font-size: 12px;
    color: #878A9A;
    font-weight: 400;
    padding: 10px 10px 0px 10px;
    line-height: 20px;
    margin-bottom: 0px;
}



.te-tourpack-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(252, 176, 69, 0) 79%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    flex-wrap: nowrap;
    top: 24%;
}

.te-tourpack-bottom ul{
   list-style: none;
   width: 100%;
   text-align: center;
}

.te-tourpack-bottom ul li{
   display: inline-block;
   line-height: 30px;
}
.te-tourpack-bottom ul li a{
    font-size: 12px;
    color: #d0d0d0;
    padding-right: 15px;
    text-align: center;
}

.login-new-text {
    position: absolute;
    bottom: 10px;
}

.login-new-texttt p{
    font-size: 12px;
    color: #878A9A;
    font-weight: 400;
    padding: 10px 10px 0px 10px;
    line-height: 10px;
    margin-bottom: 0px;
}

.back-btns-box {
    background-color: #fff;
    border-radius: 50%;
    /* width: 30px;
    height: 30px; */
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 16px;
    /* border: 1px solid #6666f3; */
    position: relative;

    color: #6666f3;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #6666f3;
    border-radius: 3px;
    padding: 13px;
}

.back-btns-box i {
    margin-bottom: 0;
    color: #6666f3;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    top: -1px;
    padding-right: 4px;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: bold !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ##########  otp verification css */

.otp-verification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .otp-card {
    /* border: 1px solid #ddd; */
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .otp-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .otp-input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .otp-input-container input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .verify-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .o-t-p {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }