body.dark-sidebar .left-sidebar {
  background-color: #fff;
}
.left-sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #fff;
  min-height: 100vh;
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 1001;
}

.employee-logo{
  padding-top: 20px;
}

.tracking-body {
  padding: 15px;
}

.tracking-steps {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.tracking-steps {
  padding-left: 1rem;
}

.tracking-item {
  align-items: center;
  grid-column-gap: 15px;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 15px;
  list-style: none;
}

.new-stap {
  align-items: center;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  grid-column-gap: 15px;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;
}

.tracking-item:nth-child(1)::after {
  width: 2px;
  height: 0px;
  background-color: #3BB77E;
  top: 31px;
  left: 11px;
  z-index: 1;
}

.tracing-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ebecee;
  line-height: 2px;
  color: #ebecee;
  z-index: 99;
}

.tracking-data p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #444 !important;
  margin-bottom: 0;
}

.tracking-steps::after {
  content: '';
  width: 2px !important;
  height: 85% !important;
  background-color: transparent;
  top: 20px !important;
  left: 27px !important;
  z-index: -1 !important;
  position: absolute;
  border-left: 2px dashed #ebecee;
}

.log-out-btn-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: -1px;
  right: 0px;
  z-index: 999;
}

span.members-namess {
  background-color: #a69ff3;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 1px;
}

.ddCElb {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(15, 20, 25);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eYcpQL {
  color: rgb(75, 88, 101);
  font-size: 0.625rem;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #444;
  line-height: 21px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.manager-list a {
  font-size: 12px !important;
}
.StaticMenuItemBase-button {
  color: #c92f54;
  fill: #c92f54;
  height: 35px;
  border-top: 1px solid #edeae9;
  padding-top: 9px;
}

.log-btn span i {
  top: -1px;
  position: relative;
}


.tracking-body {
  padding: 15px;
  margin-top: 20px;
}


.page-wrapper .page-content-tab {
  width: calc(100% - 250px);
  margin-left: auto;
  position: relative;
  min-height: calc(100vh - 60px);
  padding: 0 8px 52px 8px;
  margin-top: 0px;
}

.persnol-details {
  background-color: #fff;
  /* padding: 30px; */
  margin: 40px 80px;
  /* border-radius: 14px; */
  /* box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.persnol-details p {
  font-size: 13px;
  font-weight: 300;
  color: #6b6b6b;
}

.persnol-details h5 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #4f5eee;
}

.new-deopdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: .875rem;
  font-weight: 400;
  height: 40px !important;
  text-align: left;
  background-color: #fff;
  border: 1px solid #e8ebf3;
  color: #2d2e3e;
}

.new-deopdown i {
  position: absolute;
  right: 15px;
}

.importfilebox {
  position: relative;
  cursor: pointer;
}
.input[type="file"] {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.importfilebox label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 6px;
  height: 100px;
  cursor: pointer;
  gap: 20px;
}

.importfilebox label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  margin-bottom: 0px;
}

.importfilebox label button {
  background: #6666f3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 15px;
  min-width: 110px;
}

a.select-file {
  color: #6666f3 !important;
}

.back-btn {
  color: #6666f3;
  border: 1px solid #6666f3;
  background-color: #ecf1ff;
}


.add-filtter a {
  margin-bottom: 0px;
  color: #6666f3 !important;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.text-add, .text-delete {
  color: #ff3e3e !important;  /* Primary color, adjust as needed */
  cursor: pointer;
  transition: color 0.3s ease;
}

.text-add:hover, .text-delete:hover {
  color: #ff0000 !important; /* Darker shade for hover effect */
}


.personal-details {
  background-color: #fff;
  padding: 30px;
  margin: 40px 80px;
  border-radius: 14px;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.personal-details p {
  font-size: 13px;
  font-weight: 300;
  color: #6b6b6b;
}

.personal-details h5 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #4f5eee;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white; /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
.text-optional {
  color: grey;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.spinner-border {
  width: 3rem; /* Size of the loader */
  height: 3rem; /* Size of the loader */
  color: #007bff; /* Color of the loader, can be adjusted */
}
.department-dropdown{
  height: 200px;
  overflow: scroll;
}

.btn-custom-selected {
  background-color: #6666f3 !important; /* Your specific color */
  border-color: #6666f3 !important; /* Border color to match the background */
  color: #fff !important; /* Text color for contrast */
}
