<app-employee-onboarding-sidebar></app-employee-onboarding-sidebar>



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Employee Emergency Contact</h5>
                    <p class="mb-0">Fields with are mandatory </p>

                    <div class="persnol-info mt-4">
                        <div class="row">

                         

                            <div class="col-md-12">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2"> Name</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Father name">
                               </div>
                            </div>


                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2"> Relation with Employee</label>
                                    <div class="dropdown" style="width: 100%;">
                                        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown"> Relation with employee 
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                        <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="width: 100%;">
                                            <li><a class="dropdown-item">Father</a></li>
                                            <li><a class="dropdown-item">Mother</a> </li>
                                            <li><a class="dropdown-item">Brother</a> </li>
                                            <li><a class="dropdown-item">Sister</a> </li>
                                            <li><a class="dropdown-item">Other</a> </li>
                                        </ul>
                                    </div>
                                </div>
                             </div>

                             <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2"> Phone Number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone number">
                                </div>
                             </div>
                            

                             <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2"> Medical Information </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Medical information ">
                                </div>
                             </div>
                            
                            

                             <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button"><i class="bi bi-arrow-left" style="padding-right: 8px; "></i> Back</button>
                                </div>
                                <div class="info-btn d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button">Next <i class="bi bi-arrow-right" style="padding-left: 8px; "></i></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>