.fixheigt-section{
    height: 302px;
}

.fixheigt-section img{
    width: 80%;
}


span.complete {
    background-color: #10c215;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

span.progresss {
    background-color: #db6e09;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

span.todo {
    background-color: #cd0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

.current-projects {
    position: relative;
}
.progress-div {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 6px;
}
span.complete-task {
    width: 33.3%;
    border-bottom: 3px solid #10c215;
    display: flex;
}
span.progress-task {
    width: 33.3%;
    border-bottom: 3px solid #db6e09;
    display: flex;
}
span.todo-task {
    width: 33.3%;
    border-bottom: 3px solid #cd0000;
    display: flex;
}


.complete-text{
    font-size: 11px;
}
.progress-text{
    font-size: 11px;
}
.todo-text{
    font-size: 11px;
}

.projest-nmae{
    font-size: 16px;
    font-weight: 500px;
    color: #303e67;
}
.table tbody tr:hover {
    box-shadow: none;
}
.monthly-report {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.monthly-report h5{
    font-size: 16px;
    font-weight: 500;
}

.table-light {
    background-color: #f9fafb !important;
}


.day-deta th{
    background-color: #f9fafb;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 10px;
}

.day-deta td{
    border: 1px solid #ececec;
    padding: 6px;
}

.month-deta {
    padding-bottom: 10px;
    padding-top: 10px;
}

.table th {
    color: #8997bd;
    font-weight: 400;
    vertical-align: middle;
    border-color: #ececec;
    font-size: 12px !important;
}
.table td {
    font-size: 12px !important;
}

.month-d{
    padding-right: 10px;
    color: blue;
    font-size: 14px;
    font-weight: 900;
} 
.new-deopdown {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-size:13px;
    font-weight: 500;
    height: 42px !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid #e8ebf3;
    color: #2d2e3e;
}

.new-deopdown i {
    position: absolute;
    right: 15px;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: BOLD !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.projectdIcon{
    transition:0.2s linear;
    transform: rotate(90deg);
    display: inline-block;
}
.projectdIcon.collapsed{
    /* transition:0.2s linear; */
    transform: rotate(0deg);
}
/* .plandtlMain:not(.collapsed) > .plandtlMainicon i {
    transform: rotate(180deg);
} */
/* .day-deta, th, td {
    border:1px solid #ccc;
  } */

  .errorboxmain{
    /* min-height: 20vh; */
    background-color: #fff;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    border-radius: 6px;
}

  .errorboxmain {
    padding: 15px;
}



.icons i{
    font-size: 22px;
    line-height: 20px;
    color: #4f5eee;
}

@media screen and (max-width: 2600px) {
    .fixheigt-section img{
        width: 58%;
    }
}

@media screen and (max-width: 1300px) {
    .fixheigt-section img{
        width: 80%;
    }
}


span.members-name {
    background-color: #9fccf3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
    height: 60px;
    width: 60px;
    font-size: 43px;
    font-weight: 400;
    color: #fff;
}

.errorboxinner{
    display: flex;
    align-items: center;
    gap:10px
}

.attendance-name{
    padding-left: 28px;
    font-size: 12px;
    color: #878a99;
    margin-bottom: 0px;
}

.red{
   background-color: rgb(248, 215, 215);
   color: #eb5050!important;
}

.orange {
    color: #ffa500;
    background-color: #faf5ee!important;
}

.green{
    background-color: #e0ffe0!important;
    color: #3e993e!important;
}

.blue{
    color: #6666f3;
    background-color: #c6c6ff;
}

.black{
    color : #000000;
    background-color: #e8e8e8;
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pro-title {
    font-size: 15px;
    font-weight: 600;
    color: #303e67;
    margin-bottom: 5px;
    margin-top: 0px;
}

.late-employ-email{
    font-size: 11px;
}

.in-time{
    font-size: 11px;

}
.teme-maneger{
    color: #8d93a1;
    font-size: 12px;
}

.borders-bottom{
    margin-top: 0px;
    margin-bottom: 5px;
}

.in-time-box{
    position: absolute;
    top: 5px;
    right: 10px;
}

.ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
}

.ribbon1 span.rib1-primary, .ribbon1 span:before {
    background: rgb(233 233 255);
}

.ribbon1 span {
    display: block;
    padding: 6px 4px 0;
    border-top-right-radius: 6px;
    width: 115px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(102 102 243) !important;
}

.ribbon1 span.rib1-blue, .ribbon1 span:before {
    background: rgb(233 233 255);
}

.ribbon1 span.rib1-primary:after {
    background: rgb(102 102 243 / 43%) !important;
}
.ribbon1 span:after {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    border-radius: 8px 8px 0 0;
}

.ribbon1.rib1-primary:after {
    border-top-color: rgb(233 233 255);
}

.ribbon1:after {
    position: absolute;
    content: "";
    width: 24px;
    height: 0;
    border-left: 58px solid transparent;
    border-right: 58px solid transparent;
    border-top: 10px solid;
}


.img-group .user-avatar {
    position: relative;
    display: inline-block;
}


/* .bg-soft-info {
    background-color: rgba(65, 203, 216, .08) !important;
    color: #41cbd8 !important;
}
.thumb-xs {
    height: 20px !important;
    width: 20px !important;
    font-size: 12px;
    font-weight: 700;
} */

a.user-avatar {
    background-color: #ccc;
    border-radius: 6px;
    padding: 4px;
    background-color: rgba(65, 203, 216, .08) !important;
    color: #41cbd8 !important;
}

.view-more p{
    font-size: 12px;
    margin-bottom: 0;
    color: #6666f3;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.search-icon {
    font-size: 12px!important;
    position: absolute!important;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--tb-secondary-color)!important;
}

button.btn.close-btn {
    border-radius: 6px;
    padding: 7px 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    box-shadow: unset!important;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #6666f3;
    cursor: pointer;
}
.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6666f3; /* Change to your preferred color */
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}


.confirm-detail{
    font-size: 22px;
    margin-bottom: 10px;
    color: #444;
    margin-top: 20px;
}

.confram-msg{
    font-size: 14px !important;
    font-weight: 400;
}

.btnmarkdelete {
    background-color: #fcf1f1;
    border: 1px solid #eb5050;
    color: #eb5050!important;
    height: 37px;
}

.btnmarkcancel {
    background-color: #f5f5f5;
    border: 1px solid #aeaeae;
    color: #444!important;
    height: 37px;
}



span.total-holiday {
    font-size: 12px;
    font-weight: 400;
}

.Approved p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}

.Approved span{
    font-size: 9px;
}



.pending-css p {
    color: orange !important;
    /* background-color: rgba(201,201,255,.975); */
    padding: 0px;
    border-radius: 3px;
    margin-top: 5px;
    min-width: 33px;
}


/* .pending-css span{
    color: orange;
} */


.absents p{ 
    color: red !important;
    /* background-color: rgb(255,231,186); */
    padding: 0px;
    border-radius: 3px;
    margin-top: 5px;
    min-width: 33px;
}

/* .absents span{
    color: red;
} */

/* .na span{
    color: #6666f3!important
} */

.na p{
    /* background-color: rgb(255,199,199); */
    padding: 0px;
    border-radius: 3px;
    color: #6666f3!important;
    margin-top: 5px;
    min-width: 33px;
}

.Approved {
    border-right: 1px solid #f1f1f1;
    width: 47px;
}

.Approved:last-child{
    width: 57px;
    border-right: none;
}
