.fixheigt-section {
  height: 310px;
}

.fixheigt-section img {
  width: 80%;
}

a {
  color: #6666f2 !important;
}

span.complete {
  background-color: #10c215;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}

span.progresss {
  background-color: #db6e09;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}

span.todo {
  background-color: #cd0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}

.progress-div {
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 6px;
}

span.complete-task {
  width: 33.3%;
  border-bottom: 3px solid #10c215;
}

span.progress-task {
  width: 33.3%;
  border-bottom: 3px solid #db6e09;
}

span.todo-task {
  width: 33.3%;
  border-bottom: 3px solid #cd0000;
}

.complete-text {
  font-size: 11px;
}

.progress-text {
  font-size: 11px;
}

.todo-text {
  font-size: 11px;
}

.projest-nmae {
  font-size: 16px;
  font-weight: 500px;
  color: #303e67;
}

.table tbody tr:hover {
  box-shadow: none;
}

.table-light {
  background-color: #f9fafb !important;
}

.day-data th {
  background-color: #f9fafb;
  border: 1px solid #ccc;
  padding: 6px !important;
  font-size: 10px !important;
}

.day-data td {
  border: 1px solid #ececec;
  padding: 6px !important;
  font-size: 10px !important;
}

/* .month-deta {
  padding-bottom: 10px;
  padding-top: 10px;
} */

.table th {
  color: #8997bd;
  font-weight: 400;
  vertical-align: middle;
  border-color: #ececec;
  font-size: 12px !important;
}

.table td {
  font-size: 12px !important;
}

.month-d {
  padding-right: 10px;
  color: blue;
  font-size: 14px;
  font-weight: 900;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  font-weight: 600 !important;
}

.projectdIcon {
  transition: 0.2s linear;
  transform: rotate(90deg);
  display: inline-block;
}

.projectdIcon.collapsed {
  /* transition:0.2s linear; */
  transform: rotate(0deg);
}

/* .plandtlMain:not(.collapsed) > .plandtlMainicon i {
    transform: rotate(180deg);
} */
/* .day-deta, th, td {
    border:1px solid #ccc;
  } */

.errorboxmain {
  /* min-height: 20vh; */
  background-color: #fff;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  border-radius: 6px;
}

.errorboxmain {
  padding: 15px;
}

.icons i {
  font-size: 22px;
  line-height: 20px;
  color: #4f5eee;
}

@media screen and (max-width: 2600px) {
  .fixheigt-section img {
    width: 58%;
  }
}

@media screen and (max-width: 1300px) {
  .fixheigt-section img {
    width: 80%;
  }
}

span.members-name {
  background-color: #9fccf3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  text-transform: uppercase;
  height: 60px;
  width: 60px;
  font-size: 43px;
  font-weight: 400;
  color: #fff;
}

.errorboxinner {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
}

.errorboxplaceholder img {
  max-width: 65px;
}

.errorboxinner div h4 {
  font-size: 20px !important;
  margin-bottom: 8px !important;
}

.attendance-name {
  padding-left: 28px;
  font-size: 12px;
  color: #878a99;
  margin-bottom: 0px;
}

.red {
  background-color: rgb(248, 215, 215);
  color: #eb5050 !important;
}

.orange {
  color: #ffa500;
  background-color: #faf5ee !important;
}

.green {
  background-color: #e0ffe0 !important;
  color: #3e993e !important;
}

.blue {
  color: #6666f3;
  background-color: #c6c6ff;
}

.black {
  color: #000000;
  background-color: #e8e8e8;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pro-title {
  font-size: 15px;
  font-weight: 600;
  color: #303e67;
  margin-bottom: 5px;
  margin-top: 0px;
}

.late-employ-email {
  font-size: 11px;
}

.in-time {
  font-size: 11px;
}

.teme-maneger {
  color: #8d93a1;
  font-size: 12px;
}

.borders-bottom {
  margin-top: 0px;
  margin-bottom: 5px;
}

.in-time-box {
  position: absolute;
  top: 5px;
  right: 10px;
}

.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 10px;
}

.ribbon1 span.rib1-primary,
.ribbon1 span:before {
  background: rgb(233 233 255);
}

.ribbon1 span {
  display: block;
  padding: 6px 4px 0;
  border-top-right-radius: 6px;
  width: 115px;
  font-size: 11px;
  font-weight: 500;
  color: rgb(102 102 243) !important;
}

.ribbon1 span.rib1-blue,
.ribbon1 span:before {
  background: rgb(233 233 255);
}

.ribbon1 span.rib1-primary:after {
  background: rgb(102 102 243 / 43%) !important;
}

.ribbon1 span:after {
  height: 6px;
  width: 6px;
  left: -6px;
  top: 0;
  border-radius: 8px 8px 0 0;
}

.ribbon1.rib1-primary:after {
  border-top-color: rgb(233 233 255);
}

.ribbon1:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 0;
  border-left: 58px solid transparent;
  border-right: 58px solid transparent;
  border-top: 10px solid;
}

.img-group .user-avatar {
  position: relative;
  display: inline-block;
}

a.user-avatar {
  background-color: #ccc;
  border-radius: 6px;
  padding: 4px;
  background-color: rgba(65, 203, 216, 0.08) !important;
  color: #41cbd8 !important;
}

.view-more p {
  font-size: 12px;
  margin-bottom: 0;
  color: #6666f3;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.search-icon {
  font-size: 12px !important;
  position: absolute !important;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--tb-secondary-color) !important;
}

button.btn.close-btn {
  border-radius: 6px;
  padding: 7px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  box-shadow: unset !important;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #6666f3;
  cursor: pointer;
  height: 50px;
}

.download-button-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.download-button-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3;
  /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.download-button-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.download-button-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.confirm-detail {
  font-size: 22px;
  margin-bottom: 10px;
  color: #444;
  margin-top: 20px;
}

.confram-msg {
  font-size: 14px !important;
  font-weight: 400;
}

.btnmarkdelete {
  background-color: #fcf1f1;
  border: 1px solid #eb5050;
  color: #eb5050 !important;
  height: 37px;
}

.btnmarkcancel {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae;
  color: #444 !important;
  height: 37px;
}

span.total-holiday {
  font-size: 12px;
  font-weight: 400;
}

.Approved p {
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
}

.Approved span {
  font-size: 9px;
}

.pending-css p {
  color: orange !important;
  padding: 0px;
  border-radius: 3px;
  margin-top: 5px;
  min-width: 33px;
}

.absents p {
  color: red !important;
  padding: 0px;
  border-radius: 3px;
  margin-top: 5px;
  min-width: 33px;
}

.na p {
  padding: 0px;
  border-radius: 3px;
  color: #6666f3 !important;
  margin-top: 5px;
  min-width: 33px;
}

.Approved {
  border-right: 1px solid #f1f1f1;
  width: 47px;
}

.Approved:last-child {
  width: 57px;
  border-right: none;
}

.late p {
  color: rgb(12, 167, 38) !important;
  padding: 0px;
  border-radius: 3px;
  margin-top: 5px;
  min-width: 33px;
}

.new-deopdown {
  border: none;
  border-right: 1px solid #f1f1f1;
  border-radius: 0px;
  height: 50px !important;
  background-color: transparent !important;
}

.deshboard-search-box {
  padding: 10px 40px;
  border: none;
  border-right: 1px solid #f1f1f1;
  border-radius: 0px !important;
  height: 50px !important;
}

.Approved span,
.Approved p {
  transition: color 0.3s ease;
}

.Approved:hover span,
.Approved:hover p {
  color: #007bff;
  /* Highlight color */
}

#user-first-name-logo {
  background-color: #a69ff3;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;

}


.user-details {
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  left: 50px;
  background-color: #fff;
  width: 180px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
  display: none;
  text-align: left;
}

.user-details h5 {
  font-size: 14px;
  font-weight: 600;
}

.user-details p {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
  color: #444;
}

.attendance-detail:hover .user-details {
  display: block;
}

.Regular-data {
  cursor: pointer;
  font-size: 14px !important;
}

.Regular-data:hover {
  color: #6666f3 !important;
  text-decoration: underline;
}

/* CSS for Billing & Subscription modal */
.bill-detail {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  height: 430px;
}

.bill-detail h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  /* font-size: 18px; */
  /* font-weight: 600; */
  color: #6666f3;
}

.bill-detail p {
  font-size: 14px;
  color: #4a4f57;
  font-weight: 400;
  margin-top: 1px;
}

span.currentplan {
  background-color: green;
  color: #fff;
  padding: 2px 14px;
  font-size: 12px;
  border-radius: 20px;
}

.bill-detail h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
}

.free-trial {
  background-color: transparent;
  color: #6666f3;
  border: 1px solid #6666f3;
  font-size: 15px;
  width: 100%;
  margin-top: 5px;
  height: 40px;
}

.plan-featured {
  list-style: none;
  padding-left: 0px;
  margin-top: 10px;
}

.plan-featured li {
  line-height: 30px;
  font-size: 12px;
}

.plan-featured li i {
  font-size: 15px;
  padding-right: 5px;
  color: #6868f4;
}

.payment-detail h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 22px;
  font-weight: 600;
  color: #6666f3;
}

.payment-detail h1 {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

button.btn.add-card-btn {
  margin-bottom: 0;
  color: #6666f3;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.insurer-text h5 {
  font-size: 15px;
  font-weight: 400;
}

.responisibilities {
  color: green;
}

.insurance-pra {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 1px;
  color: #878a9a;
  line-height: 24px;
}

.aetna {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
}

.proceed-add {
  width: 100%;
  background-color: #6666f3;
  border-radius: 6px;
  color: #fff;
  margin-top: 10px;
  height: 40px;
}

.payment-history {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
  padding: 15px;
}

.payment-history h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
}

.contract-plan {
  margin-bottom: 10px;
}

.contract-plan p {
  font-size: 12px;
  color: #878a9a;
}

.payment-option {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
}

.order-place-data h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #444444;
  padding-bottom: 0px;
  padding-top: 10px;
}

.order-place-data p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.order-place-data {
  width: 70%;
  margin: 0 auto 0;
}

.order-place-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  height: 100%;
  flex-direction: column;
}

.order-place-head {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: #fffffffc;
  clip-path: circle(0%);
  margin: 0 auto;
}

.successAnimate {
  animation: scaleCircle 1s linear both;
  animation-delay: -0.1s;
}

@keyframes scaleCircle {
  100% {
    clip-path: circle(100%);
  }
}

.loader {
  text-align: center;
  border: 7px solid #f3f3f3;
  /* Light grey */
  border-top: 7px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

/* .testing-prompt{
  position: absolute;
  transform: rotate(-45deg);
  left: 0px;
  padding: 6px 56px;
  background: #000;
  color: #fff;
  margin: 30px -49px;
  z-index: 9999;
  font-size: 15px;
  font-weight: 800;
  width: fit-content;
  } */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Order Success animation */

.monthly-plan {
  background-color: #f1f1fd;
  border: 1px dashed #6666f3;
  padding: 15px;
  border-radius: 6px;
}

.annual-plan-active {
  border: 1px solid green;
  border-radius: 10px;
  color: green;
  padding: 0px 10px;
}

.monthly-plan h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 24px;
}

.monthly-plan p {
  font-size: 12px;
  color: #878a9a;
  margin-bottom: 0px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 5px;
}

.selected-btn {
  width: 100px;
  background-color: transparent;
  border-radius: 6px;
  color: #6666f3;
  padding: 3px 5px;
  border: 1px solid #6666f3;
  line-height: 23px;
}

.border-line {
  margin: 0.5rem 0;
}

.active-select {
  width: 100px;
  background-color: #6666f3;
  border-radius: 6px;
  color: #ffffff;
  padding: 3px 5px;
  border: 1px solid #6666f3;
}

.off-box h5 {
  color: #6666f3;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.active-col {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.search-box {
  border-bottom: 1px solid #f1f1f1;
}

.fixed-height {
  height: 80vh;
  /* Adjust this value as per your requirement */
}

/* .modal-body {
  overflow-y: auto;
  height: calc(85vh - 100px);
} */

.user-list-modal {
  max-height: 525px;
  overflow-y: scroll;
}

.user-list-modal::-webkit-scrollbar {
  display: none;
}

.bill-detail {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.bill-detail.selected {
  border-color: #6666f3;
  background-color: #f0f0ff;
}

.btn.free-trial {
  transition: background-color 0.3s, color 0.3s;
}

.btn.free-trial.filled {
  background-color: #6666f3;
  color: #fff;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3 !important;
  /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 90px;
}

::ng-deep.ant-picker {
  background-color: transparent !important;
}

.leave-list {
  background-color: #fff6eb;
  border-left: 5px solid #f3a73d;
}

.upcoming-holiday-list {
  border-left: 5px solid var(--primary-color);
}

.leave-list h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f3a73d;
  line-height: 30px;
}

.leave-list p {
  font-weight: 400;
  color: #8a8a8a;
  line-height: 18px;
}

.leave-list h5 {
  font-weight: 500;
  color: #000;
  line-height: 16px;
}

.upcoming-holiday-list h3 {
  font-size: 18px;
  font-weight: 500;
  color: #555558;
  line-height: 30px;
}

.upcoming-holiday-list p {
  font-weight: 400;
  color: #8a8a8a;
  line-height: 18px;
}

.upcoming-holiday-list h5 {
  font-weight: 500;
  color: #000;
  line-height: 16px;
}

.all-holiday-list {
  padding-top: 20px;
}

.all-holiday-list p {
  font-weight: 400;
  color: #8a8a8a;
  line-height: 18px;
}

.all-holiday-list button {
  font-weight: 500;
  text-decoration: underline;
}

.upcoming-birthday img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.today-birthday {
  background-color: #f6f6f6;
  border-left: 5px solid var(--primary-color);
  background-repeat: no-repeat;
  background-position: right top;
  right: 10px;
}

.today-birthday p {
  font-weight: 400;
  color: #8a8a8a;
  line-height: 22px;
}

.today-birthday h5 {
  font-weight: 500;
  color: #000;
  line-height: 20px;
}

.upcoming-birthday-box p {
  font-weight: 400;
  color: #8a8a8a;
  line-height: 22px;
}

.upcoming-birthday-box h5 {
  font-weight: 500;
  color: #000;
  line-height: 20px;
}

/* .upcoming-birthday-box {
  border-right: 5px solid var(--primary-color);
} */

.holiday-list-box h5 {
  color: #f3a73d;
}

.leave-list:last-child {
  border-bottom: 0px !important;
}

.active-leave-list {
  background-color: #fff6eb;
  border-left: 5px solid #f3a73d;
  margin-bottom: 4px;
}

.upcoming-leave-list {
  background-color: #fbfbfb;
  border-left: 5px solid var(--primary-background-color);
  margin-bottom: 4px;
}

.upcoming-leave-list h5 {
  color: #444;
}

.dashnodata table td {
  border-bottom: none !important;
}

.month-deta tr td {
  border-bottom: 1px solid #e6e7e9 !important;
}

.month-deta {
  border-bottom: 1px solid #f7f7f7 !important;
}


.denger-border {
  border-left: 5px solid red !important;
}

.success-border {
  border-left: 5px solid green !important;
}

.warning-border {
  border-left: 5px solid orange !important;
}

.primiry-border {
  border-left: 5px solid var(--primary-background-color) !important;
}