.Process-payroll-heading{
    background-color: #EDEFF5;
}
 .payrun-separator{
    border-left: 1px solid #DCDCE4;
    height: 50px;
  }
  .submitActionBtn {
    background-color: var(--primary-background-color);
    width: 130px;
  }

  .run-payroll-complete{
    background-color: #F2F2F2;
  }
  .backBtn{
    width: 32px;
    height: 32px;
    border: 1px solid #6666F2;
  }
  .search-date input {
    border: none;
    height: 45px !important;
    border-left: 0;
    border-right: 1px solid #EAEAEA;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #1f1f1f !important;
}
.filter-btn{
    min-width: 170px;
}
.run-payroll-search {
    border: 1px solid #EAEAEA;
}
.search-icon {
    font-size: 13px !important;
    position: absolute !important;
    top: 0;
    color: var(--tb-secondary-color) !important;
    margin: auto auto auto 15px;
}