<div class="work-time-entery">
    <div class="row">
        <div class="col-md-3 pr-0 mr-0">
            <div class="entery-sidebar">
                <img src="assets/images/HAjiRi.svg" alt="logo-" style="height: 40px">
                <div class="entery-stap position-relative">
                    <div class="entery-stap-one position-relative d-flex align-items-start gap-3">
                        <div>
                            <!-- TO DO: step active class (step-active)  -->
                            <span
                                class="step-one text-primary font-14 d-flex align-items-center justify-content-center fw-semibold">1</span>
                        </div>
                        <div>
                            <!-- TO DO: step active text -->
                            <!-- <h6 class="mb-3 font-13">Confirm Your Location to Mark <br> Attendance</h6> -->
                            <h5 class="mb-3 font-18 fw-bold">Confirm Your Location <br> to Mark Attendance</h5>
                            <p class="mb-2 font-12">Ensure your attendance is marked <br> correctly by verifying your
                                current<br> location.</p>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="51" height="26" viewBox="0 0 51 26"
                                    fill="none">
                                    <path
                                        d="M49.7871 11.7885L38.3969 0.398164C37.9877 -0.0796163 37.2686 -0.135313 36.7909 0.273947C36.3131 0.68311 36.2574 1.40218 36.6666 1.87996C36.7048 1.9245 36.7463 1.9661 36.7909 2.00418L46.2334 11.4582H1.139C0.509985 11.4582 0 11.9682 0 12.5973C0 13.2264 0.509985 13.7363 1.139 13.7363H46.2334L36.7909 23.1788C36.3131 23.588 36.2574 24.3071 36.6666 24.7848C37.0759 25.2626 37.7949 25.3183 38.2727 24.9091C38.3172 24.8709 38.3588 24.8294 38.3969 24.7848L49.7872 13.3945C50.2288 12.9503 50.2288 12.2328 49.7871 11.7885Z"
                                        fill="#6666F2" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="entery-stap-one position-relative mt-5 d-flex align-items-start gap-3">
                        <div>
                            <span
                                class="step-one text-primary font-14 d-flex align-items-center justify-content-center fw-semibold">2</span>
                        </div>
                        <div>
                            <h6 class="mb-3 font-13">Add Your Selfie for Verification</h6>
                            <!-- <h5 class="mb-3 font-18 fw-bold">Add Your Selfie for <br> Verification</h5>
                        <p class="mb-2 font-12">Complete the process by uploading <br> your selfie to confirm your
                            identity. </p>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="26" viewBox="0 0 51 26"
                                fill="none">
                                <path
                                    d="M49.7871 11.7885L38.3969 0.398164C37.9877 -0.0796163 37.2686 -0.135313 36.7909 0.273947C36.3131 0.68311 36.2574 1.40218 36.6666 1.87996C36.7048 1.9245 36.7463 1.9661 36.7909 2.00418L46.2334 11.4582H1.139C0.509985 11.4582 0 11.9682 0 12.5973C0 13.2264 0.509985 13.7363 1.139 13.7363H46.2334L36.7909 23.1788C36.3131 23.588 36.2574 24.3071 36.6666 24.7848C37.0759 25.2626 37.7949 25.3183 38.2727 24.9091C38.3172 24.8709 38.3588 24.8294 38.3969 24.7848L49.7872 13.3945C50.2288 12.9503 50.2288 12.2328 49.7871 11.7885Z"
                                    fill="#6666F2" />
                            </svg>
                        </span> -->
                        </div>
                    </div>
                </div>

                <a class="text-black fw-semibold font-14 p-0 help-btn" href="https://www.hajiri.in/contact.html">Help &
                    support</a>
            </div>
        </div>
        <div class="col-md-9 pl-0 ml-0">
            <div class="entery-right-box">

                <div class="compay-logo mb-4 text-center">
                    <img src="assets/images/HAjiRi.svg" alt="logo-" style="height: 40px">
                </div>

                <h5 class="font-16 mb-0 fw-semibold text-blacks">Current Location</h5>
                <div class="location-searchbar position-relative mt-4">
                    <input type="text" id="exampleInputText" aria-describedby="emailHelp" disabled=""
                        placeholder="Fetch your location" class="form-control">
                    <span class="crosshairs">
                        <i class="fa fa-crosshairs text-primary"></i></span>
                </div>
                <div class="location-map mt-4">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112173.19063595662!2d77.12658451822968!3d28.527327337868517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1736845501514!5m2!1sen!2sin"
                        width="100%" height="500" style="border-radius: 5px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <!-- <div class="linkexpird-img">
                        <img src="assets/images/link-expired.webp" class="w-100">
                    </div> -->
                </div>
                <div class="mt-4 d-flex align-items-center justify-content-between">
                    <p class="mb-0 font-13 fw-semibold">This link will expire soon if no action is taken.
                        Please proceed promptly.</p>
                    <button class="btn submitActionBtn font-13">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>