<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">
            <app-hajiri-page-loader *ngIf="isLoading"></app-hajiri-page-loader>

            <div class="row" *ngIf="!isLoading">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Personal Information</h5>
                    <p class="mb-0">Fields with * are mandatory </p>
                    <!-- <form ngNativeValidate (ngSubmit)="setEmployeePersonalDetailsMethodCall()"> -->
                      <form #personalInformationForm="ngForm" ngNativeValidate (ngSubmit)="setEmployeePersonalDetailsMethodCall()">
                        <div class="form-group">
                        <div class="persnol-info mt-4">
                          <div class="row">
                              
                                  <!-- <div class="col-md-9">
                                      <div class="mb-3">
                                          <label for="profilePicture" class="pb-2">Profile Picture <span class="text-optional">*</span></label>
                                          <div class="importfilebox">
                                              <input id="profilePicture" required type="file" name="img" accept="image/*" class="input" (change)="onFileSelected($event)" #image="ngModel" [(ngModel)]="userPersonalInformationRequest.image">
                                              <label for="profilePicture" class="pl-3">
                                                  <span><b>Drop your file here or <a href="#" class="select-file"> Select a file </a></b><br> SVG, PNG, JPG, or GIF (max. 100px*100px)</span>
                                              </label>
                                          </div>
                                          <div *ngIf="image?.touched">
                                              <p class="errortxt mt-2 mb-0" style="color:red"  *ngIf="image.errors?.required"><i class="bi bi-exclamation-circle"></i> This field is required.</p>
                                          </div>
                                      </div>
                                  </div> -->

                                  <div class="col-md-9">
                                    <div class="mb-3">
                                        <label for="profilePicture" class="pb-2">Profile Picture <span class="text-optional">*</span></label>
                            
                                
                                    <div class="importfilebox">
                                        <input id="profilePicture" [required]="!dbImageUrl" type="file" name="img" accept="image/*" class="input" (change)="onFileSelected($event)" #image="ngModel" [(ngModel)]="userPersonalInformationRequest.image">
                                        <label for="profilePicture" class="pl-3">
                                            <span><b>Drop your file here or <a href="#" class="select-file"> Select a file </a></b><br> SVG, PNG, JPG, or GIF (max. 100px*100px)</span>
                                        </label>
                                    </div>
                                    <div *ngIf="!dbImageUrl && image?.touched">
                                        <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="image.errors?.required"><i class="bi bi-exclamation-circle"></i> Photograph is required.</p>
                                    </div>
                                    
                                    <!-- Display if image already exists -->
                                    <div *ngIf="dbImageUrl">
                                        <p>Image already uploaded.</p>
                                    </div>
                                </div>
                            </div>

                                  <div class="col-md-3">
                                    <div style="text-align: center; margin-top: 30px; display: flex; align-items: center; justify-content: center;">
                                        <img id="imagePreview" [src]="dbImageUrl || 'assets/images/user.png'" alt="Profile Preview" style="max-width: 100px; max-height: 100px;"/>
                                    </div>
                                  </div>
                                
                             
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="name" class="pb-2">Name <span class="text-optional">*</span></label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter full name" name="nameF" [(ngModel)]="userPersonalInformationRequest.name" minlength="3" maxlength="50" required #name="ngModel" [disabled]="userPersonalInformationRequest.name">                            
                                </div>
                                <div *ngIf="name?.touched ">
                                  <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="name.errors?.required"><i
                                          class="bi bi-exclamation-circle"></i>
                                      Name is required.</p>
                                  <p class="errortxt mt-2 mb-0 " style="color:red" *ngIf="name.errors?.minlength"><i
                                          class="bi bi-exclamation-circle"></i>
                                      Please enter minimum five characters name.</p>
                              </div>
                              </div>    

                              <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="emailField" class="pb-2">Email Id <span class="text-optional">*</span></label>
                                    <input type="email" class="form-control" id="emailField" name="email" aria-describedby="emailHelp" placeholder="Enter email id" [(ngModel)]="userPersonalInformationRequest.email" required #email="ngModel" [disabled]="userPersonalInformationRequest.email != null">
                                </div>
                                <div *ngIf="email?.touched">
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="email.errors?.required">
                                        <i class="bi bi-exclamation-circle"></i> Email Id is required.
                                    </p>
                                    <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="email.errors?.email">  
                                        <i class="bi bi-exclamation-circle"></i> Please enter a valid email address.
                                    </p>
                                </div>
                            </div>
                            
                              

                            <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="phoneField" class="pb-2">Phone <span class="text-optional">*</span></label>
                                  <input type="text" class="form-control" id="phoneField" name="phone" aria-describedby="phoneHelp" placeholder="Enter phone" 
                                         [(ngModel)]="userPersonalInformationRequest.phoneNumber"
                                         minlength="10" maxlength="10" required #phone="ngModel" pattern="[0-9]*">
                              </div>
                              <div *ngIf="phone?.touched">
                                  <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phone.errors?.required">
                                      <i class="bi bi-exclamation-circle"></i> Phone number is required.
                                  </p>
                                  <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phone.errors?.minlength || phone.errors?.maxlength">
                                      <i class="bi bi-exclamation-circle"></i> Phone number must be exactly 10 digits.
                                  </p>
                                  <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="phone.errors?.pattern">
                                      <i class="bi bi-exclamation-circle"></i> Only numeric values are allowed.
                                  </p>
                              </div>
                          </div>
                          
                          
                            
                          <div class="col-md-6">
                            <div class="mb-3">
                                <label for="dobField" class="pb-2">DOB <span class="text-optional">*</span></label>
                                <input type="date" class="form-control" id="dobField" name="dob" aria-describedby="dobHelp" placeholder="Enter DOB" [(ngModel)]="userPersonalInformationRequest.dob" required #dob="ngModel">
                            </div>
                            <div *ngIf="dob?.touched">
                                <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="dob.errors?.required">
                                    <i class="bi bi-exclamation-circle"></i> DOB is required.
                                </p>
                               
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="mb-3">
                              <label for="genderDropdown" class="pb-2">Gender <span class="text-optional">*</span></label>
                              <div class="dropdown" style="width: 100%;">
                                  <button type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="gender">
                                      {{ userPersonalInformationRequest.gender || 'Select Gender' }}
                                      <i class="bi bi-chevron-down"></i>
                                  </button>
                                  <ul aria-labelledby="genderDropdown" class="dropdown-menu" style="width: 100%;">
                                      <li><a class="dropdown-item" (click)="userPersonalInformationRequest.gender = 'Male'">Male</a></li>
                                      <li><a class="dropdown-item" (click)="userPersonalInformationRequest.gender = 'Female'">Female</a></li>
                                      <li><a class="dropdown-item" (click)="userPersonalInformationRequest.gender = 'Transgender'">Transgender</a></li>
                                  </ul>
                              </div>
                              <input type="hidden" [(ngModel)]="userPersonalInformationRequest.gender" required #genderInput="ngModel">
                              <div *ngIf="genderInput?.touched">
                                  <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="genderInput.errors?.required">
                                      <i class="bi bi-exclamation-circle"></i> Gender selection is required.
                                  </p>
                              </div>
                          </div>     
                      </div>
                      
                      <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fatherNameField" class="pb-2">Father's Name <span class="text-optional">*</span></label>
                            <input type="text" class="form-control" id="fatherNameField" name="fatherName" aria-describedby="fatherNameHelp" placeholder="Enter father's name" 
                                   [(ngModel)]="userPersonalInformationRequest.fatherName" 
                                   minlength="3" maxlength="50" required #fatherName="ngModel">
                        </div>
                        <div *ngIf="fatherName?.touched">
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="fatherName.errors?.required">
                                <i class="bi bi-exclamation-circle"></i> Father Name is required.
                            </p>
                            <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="fatherName.errors?.minlength || fatherName.errors?.maxlength">
                                <i class="bi bi-exclamation-circle"></i> Father's name must be between 3 and 50 characters.
                            </p>
                        </div>
                    </div>
                    

                    <div class="col-md-6">
                      <div class="mb-3">
                          <label for="maritalStatusDropdown" class="pb-2">Marital Status <span class="text-optional">*</span></label>
                          <div class="dropdown" style="width: 100%;">
                              <button type="button" id="maritalStatusDropdown" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-secondary dropdown-toggle new-deopdown" name="maritalStatus">
                                  {{ userPersonalInformationRequest.maritalStatus || 'Select Marital Status' }}
                                  <i class="bi bi-chevron-down"></i>
                              </button>
                              <ul aria-labelledby="maritalStatusDropdown" class="dropdown-menu" style="width: 100%;">
                                  <li><a class="dropdown-item" (click)="userPersonalInformationRequest.maritalStatus = 'Single'">Single</a></li>
                                  <li><a class="dropdown-item" (click)="userPersonalInformationRequest.maritalStatus = 'Married'">Married</a></li>
                                  <li><a class="dropdown-item" (click)="userPersonalInformationRequest.maritalStatus = 'Divorced'">Divorced</a></li>
                                  <li><a class="dropdown-item" (click)="userPersonalInformationRequest.maritalStatus = 'Widowed'">Widowed</a></li>
                                  <li><a class="dropdown-item" (click)="userPersonalInformationRequest.maritalStatus = 'Seperated'">Seperated</a></li>
                              </ul>
                          </div>
                          <input type="hidden" [(ngModel)]="userPersonalInformationRequest.maritalStatus" required #maritalStatus="ngModel">
                          <div *ngIf="maritalStatus?.touched">
                              <p class="errortxt mt-2 mb-0" style="color:red" *ngIf="maritalStatus.errors?.required">
                                  <i class="bi bi-exclamation-circle"></i> Marital status selection is required.
                              </p>
                          </div>
                      </div>                      
                  </div>
                  
                        
                  <div class="col-md-6">
                    <div class="mb-3">
                        <label for="joiningDateField" class="pb-2">Joining Date <span class="text-optional">*</span></label>
                        <input type="date" class="form-control" id="joiningDateField" name="joiningDate" placeholder="Enter joining date" [(ngModel)]="userPersonalInformationRequest.joiningDate" required #joiningDate="ngModel">
                        <div *ngIf="joiningDate.touched">
                            <p class="errortxt mt-2 mb-0" *ngIf="joiningDate.errors?.required" style="color:red"> <i class="bi bi-exclamation-circle"></i> Joining date is required.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                  <div class="mb-3">
                      <label for="currentSalaryField" class="pb-2">Current Salary <span class="text-optional">*</span></label>
                      <input type="text" class="form-control" id="currentSalaryField" name="currentSalary" placeholder="Enter current salary" [(ngModel)]="userPersonalInformationRequest.currentSalary" required pattern="^[0-9]*$" #currentSalary="ngModel">
                      <div *ngIf="currentSalary.touched">
                          <p class="errortxt mt-2 mb-0" *ngIf="currentSalary.errors?.required" style="color:red"> <i class="bi bi-exclamation-circle"></i> Current salary is required.</p>
                          <p class="errortxt mt-2 mb-0" *ngIf="currentSalary.errors?.pattern" style="color:red"> <i class="bi bi-exclamation-circle"></i> Please enter a valid number.</p>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-6">
                <div class="mb-3">
                    <label for="departmentField" class="pb-2">Department <span class="text-optional">*</span></label>
                    <input type="text" class="form-control" id="departmentField" name="department" placeholder="Enter department" [(ngModel)]="userPersonalInformationRequest.department" required #department="ngModel">
                    <div *ngIf="department.touched">
                        <p class="errortxt mt-2 mb-0" *ngIf="department.errors?.required" style="color:red"> <i class="bi bi-exclamation-circle"></i> Department is required.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
              <div class="mb-3">
                  <label for="positionField" class="pb-2">Current Position <span class="text-optional">*</span></label>
                  <input type="text" class="form-control" id="positionField" name="position" placeholder="Enter current position" [(ngModel)]="userPersonalInformationRequest.position" required #position="ngModel">
                  <div *ngIf="position.touched">
                      <p class="errortxt mt-2 mb-0" *ngIf="position.errors?.required" style="color:red"> <i class="bi bi-exclamation-circle"></i> Position is required.</p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-6">
            <div class="mb-3">
                <label for="nationalityField" class="pb-2">Nationality <span class="text-optional">*</span></label>
                <input type="text" class="form-control" id="nationalityField" name="nationality" placeholder="Enter nationality" [(ngModel)]="userPersonalInformationRequest.nationality" required #nationality="ngModel">
                <div *ngIf="nationality.touched">
                    <p class="errortxt mt-2 mb-0" *ngIf="nationality.errors?.required" style="color:red"> <i class="bi bi-exclamation-circle"></i> Nationality is required.</p>
                </div>
            </div>
        </div>
        
        <!-- <button class="btn btn-primary" type="submit" aria-label="Next Step">
          <div *ngIf="toggle" class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span *ngIf="!toggle">Next <i class="bi bi-arrow-right"></i></span>
        </button> -->
                          
        <div class="col-md-12 d-flex justify-content-end mt-3">
          <div class="info-btn">
              <button class="btn btn-primary" type="submit" [disabled]="toggle" aria-label="Next Step">
                  <div *ngIf="toggle" class="dot-opacity-loader">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  <span *ngIf="!toggle">
                      Next <i class="bi bi-arrow-right" style="padding-left: 8px;"></i>
                  </span>
              </button>
          </div>
      </div>
      
      
                            </div>
                        </div>
                    </div>
                  </form>
                  
                </div>
            </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="modal" *ngIf="displayModal && userPersonalInformationRequest.employeeOnboardingFormStatus.response==='USER_REGISTRATION_SUCCESSFUL'">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Your onboarding status is: {{ userPersonalInformationRequest.employeeOnboardingStatus.response }}</p>
                <button type="button" class="btn btn-primary" *ngIf="allowEdit" (click)="closeAndEdit()">
                    Edit
                </button>
               
            </div>
        </div>
    </div>
</div> -->




   <!-- Success Message Modal -->
   <button type="button" style="display: none;" data-bs-toggle="modal" data-bs-target="#successMessageModal" #successMessageModalButton id="successMessageModalButton"></button>
   <div class="modal fade"  id="successMessageModal" #successMessageModal aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="bi bi-check-circle" *ngIf="employeeOnboardingFormStatus != 'REJECTED'" style="font-size: 48px; color: green;"></i>
                <i class="bi bi-exclamation-triangle-fill" *ngIf="employeeOnboardingFormStatus == 'REJECTED'" style="font-size: 48px; color: red;"></i>
                
                <!-- Conditional Messages -->
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'PENDING'">
                    Your registration is successful. Pending for verification.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'APPROVED'">
                    Your onboarding is approved.
                </p>
                <p class="mt-2" *ngIf="employeeOnboardingFormStatus == 'REJECTED'">
                    Your onboarding is rejected.
                </p>

                <!-- Edit Button -->
                <button type="button" class="btn btn-primary" *ngIf="allowEdit" data-bs-dismiss="modal">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>