body.dark-sidebar .left-sidebar {
  background-color: #fff;
}
.left-sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #fff;
  min-height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 1001;
}

.employee-logo {
  padding-top: 20px;
}

.tracking-body {
  padding: 15px;
}

.tracking-steps {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.tracking-steps {
  padding-left: 1rem;
}

.tracking-item {
  align-items: center;
  grid-column-gap: 15px;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 15px;
  list-style: none;
}

.new-stap {
  align-items: center;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  grid-column-gap: 15px;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;
}

.tracking-item:nth-child(1)::after {
  width: 2px;
  height: 0px;
  background-color: #3bb77e;
  top: 31px;
  left: 11px;
  z-index: 1;
}

.tracing-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ebecee;
  line-height: 2px;
  color: #ebecee;
  z-index: 99;
}

.tracking-data p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #444 !important;
  margin-bottom: 0;
}

.tracking-steps::after {
  content: "";
  width: 2px !important;
  height: 85% !important;
  background-color: transparent;
  top: 20px !important;
  left: 27px !important;
  z-index: -1 !important;
  position: absolute;
  border-left: 2px dashed #ebecee;
}

.log-out-btn-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: -1px;
  right: 0px;
  z-index: 999;
}

span.members-namess {
  background-color: #a69ff3;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 1px;
}

.ddCElb {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0px;
  color: rgb(15, 20, 25);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eYcpQL {
  color: rgb(75, 88, 101);
  font-size: 0.625rem;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #444;
  line-height: 21px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.manager-list a {
  font-size: 12px !important;
}
.StaticMenuItemBase-button {
  color: #c92f54;
  fill: #c92f54;
  height: 35px;
  border-top: 1px solid #edeae9;
  padding-top: 9px;
}

.log-btn span i {
  top: -1px;
  position: relative;
}

.tracking-body {
  padding: 15px;
  margin-top: 20px;
}

.page-wrapper .page-content-tab {
  width: calc(100% - 250px);
  margin-left: auto;
  position: relative;
  min-height: calc(100vh - 60px);
  padding: 0 8px 52px 8px;
  margin-top: 0px;
}

.persnol-details {
  background-color: #fff;
  /* padding: 30px; */
  margin: 40px 80px;
  /* border-radius: 14px; */
  /* box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, 0.05);
}

.persnol-details p {
  font-size: 13px;
  font-weight: 300;
  color: #6b6b6b;
}

.persnol-details h5 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #4f5eee;
}

.new-deopdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 40px !important;
  text-align: left;
  background-color: #fff;
  border: 1px solid #e8ebf3;
  color: #2d2e3e;
}

.new-deopdown i {
  position: absolute;
  right: 15px;
}

.importfilebox {
  position: relative;
  cursor: pointer;
}
.input[type="file"] {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.importfilebox label {
  display: flex;
  justify-content: start;
  align-items: center;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 6px;
  height: 90px;
  cursor: pointer;
  gap: 20px;
  padding-left: 20px;
}

.importfilebox label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #444444;
  margin-bottom: 0px;
}

.importfilebox label button {
  background: #6666f3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 15px;
  min-width: 110px;
}

a.select-file {
  color: #6666f3 !important;
}

.back-btn {
  color: #6666f3;
  border: 1px solid #6666f3;
  background-color: #ecf1ff;
}

#imagePreview {
  display: block;
  width: 100px; /* Default width, can be adjusted */
  height: 100px; /* Default height, can be adjusted */
  object-fit: cover; /* To keep aspect ratio */
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white; /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

/* .save-button{
    min-width: 90px;
    min-height: 35px;
} */

@keyframes dotOpacity {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.text-optional {
  color: grey;
}
.filename-display {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

/* The check icon */
.bi-check-circle {
  color: #28a745; /* Bootstrap's default success color */
}

.scrollable-dropdown {
  height: auto;
  max-height: 200px; /* You can adjust this value as per your requirement */
  overflow-x: hidden;
  overflow-y: auto;
}

.nationality-dropdown {
  height: 200px;
  overflow: scroll;
}

.close-button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  margin: 10px;
  height: 42px;
  text-align: center;
  font-size: 31px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  font-weight: 200;
  border-radius: 80px;
  white-space: nowrap;
}

.adtpoics {
  background-color: #4660f6;
  border: 1px solid #4660f6;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.cnceltopics {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #444444;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.deltopics {
  background-color: #fcf1f1;
  border: 1px solid #eb5050;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #eb5050;
  min-width: 100px;
  box-shadow: none !important;
  cursor: pointer;
}

.adtpoics i,
.deltopics i,
.cnceltopics i {
  position: relative;
  top: 1px;
  margin-right: 4px;
  font-size: 14px;
}

.imginstctns h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 14px;
}

.imginstctns ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.imgupldbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 6px;
  margin: 0 0 0;
}

.imgupldbox h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 11px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444;
  font-weight: 500;
}

.custbtn-success {
  background-color: #f1f1f1;
  padding: 0 0 !important;
  width: 40px;
  height: 40px !important;
  text-align: center;
  border: 1px solid #e1e1e1;
}

.custbtn-success:focus {
  box-shadow: 0 13px 12px -2px rgb(133 133 133 / 31%);
}

.custbtn-success i {
  display: inline-block;
  position: relative;
  top: 2px;
  color: #262626;
}

.currentimageuplded {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
  margin: 0 auto 0;
}

.currentimageuplded img {
  /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; */
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.imgupldbg {
  justify-content: center;
  background-color: #f9f9f9;
  margin: -15px -15px;
  padding: 20px 0;
}

.helpbtn {
  position: absolute;
  right: 5px;
  top: -7px;
  font-size: 10px;
  text-align: right;
  border-radius: 50%;
  cursor: pointer;
  line-height: 20px;
  font-weight: 600;
  z-index: 999;
}

.helpbtn i {
  font-weight: inherit;
}

.upldactionfootbtn span {
  font-size: 14px;
  font-weight: 500;
}

.upldactionfootbtn i {
  font-size: 18px;
}

.upldactionfootbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  outline: none;
  row-gap: 4px;
  color: #444;
  text-align: center;
}

.imageinstrmainbox {
  position: absolute;
  top: -20px;
  right: 0;
  bottom: -20px;
  background-color: #000000d1;
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s linear;
  width: 0%;
  transition-delay: 0.4s;
}

.imageinstrshow {
  transition: 0.3s linear;
  width: 40%;
}

.imageinstrinner {
  transition-delay: 0.3s;
  transition: 0.3s linear;
  transform: translateX(120%);
}

.imageinstrshow .imageinstrinner {
  transition: 0.3s linear;
  transform: translateX(0%);
  transition-delay: 0.4s;
}

.helpbtn .ti-close {
  opacity: 0;
  color: #fff;
}

.showimgbox .ti-close {
  opacity: 1;
  color: #fff;
}

.showimgbox span {
  display: none;
}

div#mediagallery {
  margin-top: 15px;
}

.mdlsguplodprofile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mdlsguplodprofile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #dbd9d9e6;
}

.mdlsguplodbtn {
  background-color: #373737;
  border-radius: 6px;
  color: #fff !important;
  font-size: 14px;
  box-shadow: none !important;
  height: 40px;
}

span.rectanglebox {
  border: 1px solid #5b5b5b;
  width: 20px;
  display: flex;
  height: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 2rem;
  height: 2rem;
}

.modal {
  background-color: white;
  border: 2px solid red;
}
