<div class="onboarding-successfull d-flex align-items-center justify-content-center flex-column text-center">
   <!-- <ng-lottie  
   [options]="options"  
   (loopComplete)="onLoopComplete()" /> -->
   <img src="assets/images/onboarding-successfull.gif" style="width:150px; height:150px;">
   <h5 class="font-22">Setting Up Your Dashboard</h5>
   <!-- <p>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</p> -->
   <!-- <main lottie [options]="options" (animationCreated)="animationCreated($event)"></main> -->
   <p>Congratulations! Your onboarding process is complete, and we're preparing your personalized dashboard. In just a few moments, you'll be redirected to your dashboard, where you can start managing your account and accessing all features.</p> <p>Thank you for choosing us to streamline your workflow. We’re here to support you every step of the way.</p>

</div>