
<ng-container *ngIf="moved">
<div class="page-wrapper" *ngIf="selectedEarning">
        <div class="container-fluid" >
            <div class="earning-detail mt-4 mb-100"  >
                <div class="d-flex align-items-center gap-2" >
                    <span class="backBtn radius-50 d-flex align-items-center justify-content-center" (click)="goBack('salary')">
                        <i class="bi bi-chevron-left text-primary font-18"></i>
                    </span>
                    <h5 class="mb-0 font-15 fw-semibold">Edit Earning</h5>
                </div>
               <div class="mt-5 earninng-edit-box pl-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="payroll-details-box">
                            <h4 class="font-13 text-black fw-semibold lh-1">Earning Details</h4>
                            <p class="text-muted font-11 lh-base fw-normal">This section contain EPF no, deduction cycle pattern and <br> employee contribution rate</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="Address-box">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="border-rounded-2 attendance-border w-100 d-flex align-items-center justify-content-center background-light">
                                        <div class="w-50 p-3 currency-types-border">
                                            <p class="mb-0 font-12 fw-light">Earning Types</p>
                                        </div>
                                        <div class="w-50">
                                            <h5 class="mb-0 font-13 fw-semibold px-3">{{selectedEarning.name}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="earning-types-notification border-rounded-2 px-3">
                                        <p class="mb-0 font-13 fw-normal text-warning">Fixed amount paid at the end of every month.</p>
                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="border-rounded-2 attendance-border w-100 d-flex align-items-center justify-content-center">
                                        <div class="w-50 currency-types-border">
                                            <p class="mb-0 font-12 fw-light ">Earning Name</p>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" name="displayName" placeholder="Enter earning name" required class="form-control borderLess"  [(ngModel)]="selectedEarning.displayName"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="border-rounded-2 attendance-border w-100 d-flex align-items-center justify-content-center">
                                        <div class="w-50 currency-types-border">
                                            <p class="mb-0 font-12 fw-light">Name In Payslip</p>
                                        </div>
                                        <div class="w-50">
                                            <input type="text" name="payslipName" placeholder="Enter payslip name" required class="form-control borderLess" [(ngModel)]="selectedEarning.displayName"> 
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-5 mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="payroll-details-box">
                            <h4 class="font-13 text-black fw-semibold lh-1">Pay Type</h4>
                            <p class="text-muted font-11 lh-base fw-normal"> This section contain EPF no, <br> deduction cycle</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12"> 
                            <div class="form-check d-flex align-items-start gap-2 mb-3">
                                <input type="radio" id="exampleRadios1" name="paytype" class="form-check-input" [(ngModel)]="selectedEarning.payTypeId" [value]=" PAY_TYPE_FIXED">
                                <div>
                                    <label for="exampleRadios1" class="form-check-label font-13">Fixed Pay</label>
                                    <p class="mb-0 font-12 fw-light text-optional">Fixed amount paid at the end of every month.</p>
                                </div>
                            </div>
                            <div class="form-check d-flex align-items-start gap-2 mb-3">
                                <input type="radio" id="exampleRadio2" name="paytype" class="form-check-input" [(ngModel)]="selectedEarning.payTypeId" [value]=" PAY_TYPE_VARIABLE">
                                <div>
                                    <label for="exampleRadio2" class="form-check-label font-13">Variable Pay</label>
                                    <p class="mb-0 font-12 fw-light text-optional">Variable amount paid during any payroll.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-5 mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="payroll-details-box">
                            <h4 class="font-13 text-black fw-semibold lh-1">Calculation Type</h4>
                            <p class="text-muted font-11 lh-base fw-normal">This section contain EPF no, <br> deduction cycle</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 mb-4"> 
                            <div class="form-check d-flex align-items-start gap-2 mb-3">
                                <input type="radio" id="exampleRadios3" name="calculationType" class="form-check-input" [(ngModel)]="selectedEarning.valueTypeId" [value]=" VALUE_TYPE_FLAT">
                                <div>
                                    <label for="exampleRadios3" class="form-check-label font-13">Flat Amount</label>
                                    <p class="mb-0 font-12 fw-light text-optional">Fixed Payment Value Without Variations</p>
                                </div>
                            </div>
                            <div class="form-check d-flex align-items-start gap-2 mb-3">
                                <input type="radio" id="exampleRadio4"name="calculationType" class="form-check-input" [(ngModel)]="selectedEarning.valueTypeId" [value]="VALUE_TYPE_PERCENTAGE">
                                <div>
                                    <label for="exampleRadio4" class="form-check-label font-13">CTC Percentage</label>
                                    <p class="mb-0 font-12 fw-light text-optional">Proportion of Cost to Company Allocated</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-8">
                            <div class="border-rounded-2 attendance-border w-100 d-flex align-items-center justify-content-center background-light">
                                <div class="w-50 currency-types-border">
                                    <p class="mb-0 font-12 fw-light ">
                                        <span *ngIf="selectedEarning.valueTypeId == VALUE_TYPE_FLAT"> Enter Amount</span>
                                        <span *ngIf="selectedEarning.valueTypeId == VALUE_TYPE_PERCENTAGE"> Enter Percentage</span></p>
                                </div>
                                <div class="w-50 background-light position-relative">
                                    <input type="text" placeholder="Enter percentage" required name="value" class="form-control borderLess" [(ngModel)]="selectedEarning.value"> 
                                    <span class="percentage-icon d-flex align-items-center justify-content-center">
                                        <i *ngIf="selectedEarning.valueTypeId == VALUE_TYPE_FLAT" class="bi bi-currency-rupee font-18"></i>
                                        <i *ngIf="selectedEarning.valueTypeId == VALUE_TYPE_PERCENTAGE" class="bi bi-percent font-18"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-5 mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="payroll-details-box">
                            <h4 class="font-13 text-black fw-semibold lh-1">Other Configurations</h4>
                            <p class="text-muted font-11 lh-base fw-normal">This section contain EPF no, <br> deduction cycle</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12" *ngFor="let config of selectedEarning?.configurations">
                            <div class="form-check mb-3 d-flex align-items-start gap-2">
                                <input type="checkbox" id="exampleCheck3" name="congiguraation" class="form-check-input"
                                [id]="'check-' + config.id" 
                                [disabled]="!config.editable"
                                [(ngModel)]="config.checked"
                                >
                                <div>
                                    <label for="exampleCheck3" class="form-check-label font-13">{{config.name}}</label>
                                    <p class="mb-0 font-12 fw-light text-optional">{{config.description}}</p>

                                </div>
                            </div>
                        </div>

                        <div class="employee-calculation p-3 border-rounded-2 mb-4 mt-4">
                            <p class="mb-0 font-13 text-black fw-normal lh-base">
                                <span class="fw-600 text-warning">Note: </span> Once you associate this component with an employee, you will only be able to edit the Name and <br> Amount/Percentage. The changes you make to Amount/Percentage will apply only to new employees.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>
        
<div class="footer position-fixed bg-white d-flex align-items-center  justify-content-end gap-2">
    <button class="btn cancel-btn font-13 fw-semibold mt-0" (click)="goBack('salary')">Cancel</button>
    <button type="submit" class="btn submitActionBtn font-13 fw-semibold text-white">Submit</button>
</div>
</ng-container>


<ng-container *ngIf="!moved">
    <app-salary></app-salary>
</ng-container>