.categryCustomizecard {
  margin-bottom: 0;
}

.categryCustomizeinput {
  width: 6%;
}

.categryCustomizeinput input[type="radio"] {
  width: 20px;
  height: 20px;
  top: 2px;
  margin-right: 0px;
  accent-color: #6666f3;
}

.rule-box>input[type="radio"]:checked~label .slect-radio img {
  opacity: 1;
}

.categryCustomizeinfo label h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #5c5c5c;
  margin-bottom: 2px;
}

.categryCustomizeinfo label p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878a9a;
  margin-bottom: 0;
}

.new-deopdown {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 45px !important;
  text-align: left;
  background-color: #fff;
  border-right: 1px solid #f1f1f1 !important;
  border: none;
  color: #2d2e3e;
}

.new-deopdown i {
  position: absolute;
  right: 15px;
}

.late-icon {
  width: 10%;
}

.late-rule {
  width: 60%;
}

.late-btn {
  width: 30%;
  text-align: right;
}

.late-rule h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 24px;
}

.late-btn a {
  color: #6666f3;
  font-size: 16px;
  font-weight: 500;
  /* margin-right: 18px; */
}

.delete-rule {
  color: red !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.attendance-boxx {
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-radius: 6px; */
  padding-left: 10px;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #f5f5f5;
}

.late-icon i {
  font-size: 20px;
  color: #6666f3;
}

.late-rule p {
  font-size: 12px;
}

.rule-section h5 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 13px;
}

.rule-section p {
  font-size: 12px;
  /* padding-left: 15px; */
}

.rule-main-div {
  margin-bottom: 10px;
}

.rule-main-divv {
  background: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
}
/* 
.nav-tabs {
  box-shadow: none !important;
  background-color: #fff;
}

.nav-tabs {
  border-bottom: 1px solid #f1f1f1;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 1rem;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #6666f3;
  color: #6666f3;
  background-color: transparent;
}

.nav-tabs .nav-link {
  font-style: normal;
  border-radius: 0px 0 0 0;
  border: none;
  padding: 7px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
} */

.rules-main {
  padding: 15px;
}

.delete-btn i {
  color: red;
  font-size: 20px;
}

.dudtion-type {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.dudct-type,
.overtime-type {
  width: 200px;
}

.add-time-range {
  color: #6666f3;
  font-size: 13px;
  font-weight: 400;
}

.filteredcol {
  grid-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.filteredcol p {
  margin-bottom: 0px;
  border: 1px solid #4761f6;
  padding: 2px 10px;
  border-radius: 4px;
  background: #eef1ff;
  color: #4761f6;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.filteredcol p span {
  display: inline-block;
  margin-right: 10px;
}

.filteredcol p i {
  cursor: pointer;
  font-weight: 800;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.company-settinh {
  background-color: #fff;
  border-radius: 6px;
}

.border-buttom-setting {
  border-bottom: 1px solid #f5f5f5;
}

.importfilebox {
  position: relative;
  cursor: pointer;
}

.input[type="file"] {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.importfilebox label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9faff;
  border: 1px dashed #878a9a;
  border-radius: 6px;
  height: 100px;
  cursor: pointer;
}

.importfilebox i {
  font-size: 23px;
}

.importfilebox label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.importfilebox label button {
  background: #6666f3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 15px;
  min-width: 110px;
}

.form-roe-data h5 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #444;
}

.form-roe-data p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #878a9a;
}

.border-box {
  border-bottom: 1px solid #f5f5f5;
}

.add-filtter a {
  margin-bottom: 0px;
  color: #6666f3 !important;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.manual-order {
  border: 1px solid #eee !important;
  padding: 15px;
  border-radius: 6px;
}

.categryCustomizecard {
  align-items: center;
  grid-gap: 10px;
  grid-gap: 10px;
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  background: #ffffff;
  /* border: 1px solid #eee !important; */
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 6px;
}

.active-check {
  text-align: center;
  margin: 0 auto;
}

.categryCustomizeinfo label {
  display: block;
  cursor: pointer;
}

.active-check i {
  font-size: 26px;
  color: blue;
}

.noactive-check i {
  font-size: 26px;
  color: #444;
}

.noactive-check {
  text-align: center;
  margin: 0 auto;
}

.company-save-btn {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  background-color: #6666f3;
  width: 150px;
}

.company-cancel-btn {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #444;
  background-color: #fff;
  width: 150px;
  border: 1px solid #e8ebf3;
}

.attendance-active {
  background-color: #e9ebfe !important;
  border: 1px solid #6666f3 !important;
}

.planselected {
  height: 17px;
  border: 1px solid #878a9a;
  border-radius: 50%;
  background-color: transparent;
  width: 17px;
}

.slect-radio img {
  opacity: 0;
}

.planselected img {
  width: 17px;
  height: 17px;
  position: absolute;
  right: -1px;
  top: -1px;
}

.websiteCardinner .categryCustomizecard {
  padding: 0 15px 20px;
}

.websiteCardinner .categryCustomizecard {
  margin-bottom: 0;
}

.categryCustomizecard {
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  background: #ffffff;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #f1f1f1;
  /* -webkit-box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05); */
}

.categryCustomizeinput {
  width: 8%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.categryCustomizeinfo {
  width: 75%;
}

.categryCustomizeinfo label {
  display: block;
  cursor: pointer;
}

.categryCustomizeinfo label h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #444;
  margin-bottom: 2px;
  margin-top: -6px;
}

.categryCustomizeinfo label p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878a9a;
  margin-bottom: 0;
}

.table .thead-light th {
  color: #8997bd;
  background-color: #f9fafb;
  border-color: #e8ebf3;
  border-bottom: none;
  font-size: 13px;
}

.table-design tr th {
  border: 1px solid #e0e0e0;
}

.table-design tr td {
  border: 1px solid #e0e0e0;
}

.staf-names {
  font-size: 13px;
  margin-top: 0px;
  color: #000444;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
}

#amount-in-rupees {
  display: none;
}

.if-late .input-group {
  display: flex;
  align-items: center;
}

.if-late .input-group .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.if-late .input-group .input-group-text {
  background-color: #eeeeee;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.in-time {
  background-color: #f5f8fa;
  border-radius: 2px;
  /* margin-bottom: 10px; */
  padding: 10px;

  cursor: pointer;
}

.duration-box {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  justify-content: space-between;
}

.in-time span {
  font-size: 9px;
  font-weight: 400;
}

.in-time p {
  font-size: 10px;
  color: #525252;
  font-weight: 400;
  line-height: 20px;
}

.rule-main-box {
  border-radius: 6px;
  border: 1px solid #f5f5f5;
  margin-bottom: 10px;
}

.border-bottom-class {
  border-bottom: 1px solid #f5f5f5;
}

#occurrence-type-count {
  display: none;
}

#occurrence-type-duration {
  display: none;
}

button.btn.close-btn {
  border-radius: 6px;
  padding: 7px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  box-shadow: unset !important;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #6666f3;
  cursor: pointer;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 800 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tracking-body {
  padding: 15px;
}

.tracking-steps {
  padding-left: 1rem;
  position: relative;
}

.tracking-item {
  align-items: center;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 15px;
  list-style: none;
}

.tracking-item.statusdone::before,
.tracking-item.statusdone::after {
  background-color: #3bb77e !important;
}

/* .tracking-item::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #808191;
    border-radius: 50%;
    left: -30px;
    top:20px;
  } */

.tracking-data span {
  font-size: 12px;
  color: #8e8e8e;
}

.logiest-name {
  font-size: 14px !important;
}

.tracking-item.statusdone .tracing-icon {
  background-color: #3bb77e;
}

.tracing-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ebecee;
  line-height: 2px;
  color: #ebecee;
  z-index: 99;
}

.tracing-icon.active {
  background-color: #3bb77e;
  border: 1px solid #3bb77e;
  color: #fff;
}

.tracking-data p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #444 !important;
  margin-bottom: 0;
}

.tracking-item.statusdone .tracking-data p,
.tracking-item.statusdone .tracking-data span {
  color: #8e8e8e;
}

p {
  margin-top: 0;
}

.tracking-item.statusdone::before,
.tracking-item.statusdone::after {
  background-color: #3bb77e;
}

.tracking-item:nth-child(1)::after {
  width: 2px;
  height: 0px;
  background-color: #3bb77e;
  top: 31px;
  left: 11px;
  z-index: 99;
}

.tracking-item::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.tracking-item:nth-child(2)::after {
  width: 2px;
  height: 0px;
  background-color: #3bb77e;
  top: 31px;
  left: 11px;
  z-index: 99;
}

.tracking-item:nth-child(3)::after {
  width: 2px;
  height: 0px;
  background-color: #3bb77e;
  top: 31px;
  left: 11px;
  z-index: 999;
  bottom: 0;
  z-index: 99;
}

/* .tracking-item:nth-child(4)::after {
    width: 2px;
    width: 2px;
    height: 40px;
    background-color: #ebecee;
    top: 38px;
    left: 11px;
    z-index: 999;
    bottom: 0;
  } */
.new-stap {
  align-items: center;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;
}

.tracking-steps::after {
  content: "";
  width: 2px !important;
  height: 70% !important;
  background-color: transparent;
  top: 20px !important;
  left: 27px !important;
  z-index: 9 !important;
  position: absolute;
  border-left: 2px dashed #ebecee;
}

.shift-modal tr th {
  font-size: 12px;
  padding: 15px;
}

.shift-modal tr td {
  font-size: 12px;
  padding: 15px;
}

.table .thead-light th {
  color: #8997bd;
  background-color: #f9fafb;
  border-color: #e8ebf3;
  border-bottom: none;
  font-size: 13px;
}

.table-design tr th {
  border: 1px solid #e0e0e0;
}

.table-design tr td {
  border: 1px solid #e0e0e0;
}

.shift-deta p {
  font-size: 10px;
}

.shift-deta {
  background-color: #f5f8fa;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* .new-dropdown i {
    position: absolute;
    right: 15px;
} */

.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type="time"]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: -10px;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

.custom-time-input {
  display: flex;
  align-items: center;
}

select {
  margin-right: 5px;
}

.tracking-item.tracking-itemActive::after {
  animation: heightanimate 1.5s linear both;
}

@keyframes heightanimate {
  0% {
    height: 0px;
  }

  100% {
    height: 53px;
  }
}

.tracking-steps {
  position: relative;
  height: fit-content;
}

.tracking-item::after {
  content: "";
  position: absolute;
  z-index: -1;
}

i.bi.bi-plus {
  font-size: 20px;
}

#hoursInput {
  border-right: none;
}

#minutesInput {
  border-left: none;
}

.errorboxmain {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#back-and-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.attendance-active {
  border: 2px solid blue;
}

.attendance-active .active-check {
  display: block;
}

.active-check i {
  color: blue;
}

.categryCustomizecard:hover {
  border: 1px solid #6666f3;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  /* Change to your preferred color */
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.text-optional {
  color: grey;
}

.commonInput {
  background: var(--bg-default);
  border: 1px solid #dadada;
  border-radius: 4px;
  color: var(--text-primary);
  font-size: 14px;
  height: 44px;
  margin: 0 !important;
  width: 90%;
  padding: 10px;
}

.delete-btns {
  align-items: center;
  height: 44px !important;
  background-color: #fcf1f1;
  border: 1px solid #eb5050;
  color: #eb5050;
  font-size: 16px;
  border-radius: 6px !important;
  cursor: pointer;
}

.week-checkbox {
  margin-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.btnmarkcancel {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae;
  color: #444 !important;
  height: 37px;
}

.btnmarkdelete {
  background-color: #6666f3;
  border: 1px solid #6666f3;
  color: #fff !important;
  height: 37px;
}

.add-more-holiday {
  color: #6666f3;
  cursor: pointer !important;
  display: inline-block;
  margin: 5px 0;
}

.add-more-holiday:hover {
  text-decoration: underline;
}

.dot-opacity-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6666f3;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.add-shift-main-box {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.add-shift-time-btn {
  font-size: 14px;
  color: #6666f3 !important;
  font-weight: 500;
}

.add-shift-box {
  border-bottom: 1px solid #f1f1f1;
}

.shift-time {
  background-color: #f5f8fa;
  border-radius: 2px;
}

.shift-toogel-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
}

.shift-in-out-box:first-child {
  margin-bottom: 20px;
}

.shift-in-out-time p {
  font-size: 10px;
}

.holiday-date {
  padding: 15px;
  border-radius: 2px;
}

.universal-holiday {
  background-color: #f5f8fa;
  border-left: 4px solid #dcf1ff;
}

.custom-holiday {
  background-color: #fff8ec;
  border-left: 4px solid #ffe9c4;
}

.universal {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #f5f8fa;
}

.custom {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff8ec;
}

.universal-custom-holiday p {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.view-all-btn {
  font-size: 12px;
  color: #444 !important;
  font-weight: 500;
}

.weekly-holidays {
  padding: 15px;
  border-radius: 2px;
  background-color: #f5f8fa;
}

.automation-rules-toogel-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 8px;
  color: #444;
}

.automation-rules {
  border: 1px solid #f1f1f1;
}

.automation-rules-icon {
  border-radius: 50%;
  padding: 10px;
  background-color: #f1f1fd;
}

.border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
}

.custom-salary-hedding {
  background-color: #eeeefd;
}

.custom-salary-hedding h4 {
  font-size: 12px;
  font-weight: 400;
  color: #444;
}

.custom-salary-para {
  background-color: #fff;
  min-height: 130px;
}

.custom-salary-para p {
  font-size: 12px;
}

.custom-salary-para span {
  font-size: 12px;
}

.total-shifts {
  background-color: #f1f1fd;
  width: 300px;
  border-radius: 2px;
  overflow: hidden;
}

.total-shifts h6 {
  font-size: 16px;
}

.total-shifts h4 {
  font-size: 26px;
}

.total-user-icon {
  background-color: #e6e6ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  right: -2rem;
  overflow: hidden;
}

/* .total-user-icon::after {
  content: "";
  position: absolute;
  top: 50px;
  background-color: #e6e6ff;
  right: 115px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.total-shifts small {
  font-size: 12px;
}

.view-all-btn i {
  top: -1px;
  position: relative;
  padding-left: 5px;
}

.text-truncate.mb-0 {
  font-size: 14px;
}

.holiday-date p {
  font-size: 12px;
}

.weekly-holidays p {
  font-size: 12px;
}

.holiday-list-box-height {
  height: 193px;
  overflow: hidden;
  transition: 0.3s linear;
}

.holiday-list-box-height::-webkit-scrollbar {
  display: none;
}

.holiday-list-box {
  height: auto;
}

.shift-setting-box {
  height: 270px;
  overflow: scroll;
  transition: 0.5s linear;
}

.shift-setting-box::-webkit-scrollbar {
  display: none;
}

.shift-setting-list-box {
  height: auto;
}

.radio-btn {
  padding-left: 10px;
}

nz-date-picker.nz-overlay-container.whatapp-login-input {
  height: 50px !important;
  border: 1px solid #f1f1f1 !important;
}

.select-user-count b {
  color: #6666f3;
  font-size: 13px;
}

.all-select-user {
  background-color: #f0f0ff;
  color: #6666f3;
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
}

.clear-all-user {
  cursor: pointer;
  color: #eb5050;
  background-color: #fcf1f1;
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 13px;
}

.user-close-btn i {
  font-size: 20px;
}

.align-label {
  position: relative;
  top: 3px;
}

.attendance-details-search {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  height: 40px !important;
  border: none;
  background-color: transparent;
}

@media (max-width: 2600px) {
  .modal-body.modal-height-fix {
    max-height: 690px;
    overflow: scroll;
  }
}

@media (max-width: 1300px) {
  .modal-body.modal-height-fix {
    max-height: 450px;
    overflow: scroll;
  }
}

/* Ensures the outermost container is a flex container */
.container .content-wrapper {
  display: flex;
  justify-content: flex-end;
  /* Aligns children to the right */
  width: 100%;
  /* Ensures the container takes full width */
}

/* Flexbox for the filter wrapper to align items properly */
.container .content-wrapper .filter-wrapper {
  display: flex;
  align-items: center;
  /* Centers items vertically */
  gap: 10px;
  /* Space between the select count and clear button */
}

.info-button,
.clear-button {
  white-space: nowrap;
  /* Prevents text wrapping */
  display: inline-flex;
  align-items: center;
}

.text-danger {
  color: #dc3545;
  /* Bootstrap's danger text color for consistency */
}



.agm-map {
  height: 400px;
  /* Adjust the height as needed */
}

nz-time-picker {
  margin: 0 8px 12px 0;
}

.pre-hour-value,
.post-hour-value {
  text-align: center;
}

.pre-hour-value p,
.post-hour-value p {
  font-size: 12px;
  color: #6666f3;
  background-color: #e9e9ff;
  padding: 3px 7px;
  border-radius: 15px;
}

a.fetch-location {
  position: absolute;
  right: 0px;
  top: 30px;
  border-radius: 0 2px 2px 0;
  opacity: 0.8;
  background: #e9e9ff;
  padding: 11px 20px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.automation-rule-duration-picker {
  background-color: white;
}

::ng-deep .ant-picker-now-btn {
  display: none !important;
  /* Hides the 'Now' button */
}

.empty-detail {
  color: #6b7280;
  line-height: 20px;
}

::ng-deep.ant-empty-image img {
  width: 80px;
}

::ng-deep.ant-empty-image {
  margin-bottom: 0px;
}

.flexible-location {
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
  min-width: 180px;
}

.flexible-location input {
  margin-left: 0px;
  position: relative;
  top: -2px;
}

.flexible-location p {
  font-weight: 500;
}

.manage-location-btn {
  font-size: 14px;
  font-weight: 500;
}

*/ .bg-transparent {
  background-color: transparent !important;
  border: transparent !important;
  font-size: 14px;
}

.close-icon-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}

.quickGuideHeading h5 {
  color: #e27a17;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.quickGuideHeading p {
  color: #2f2e41;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.side-img {
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.employee-list h4 {
  color: #2f2e41;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.906px;
  letter-spacing: 0.141px;
}

.manualemployList {
  max-height: 275px;
  overflow: scroll;
}

.userName {
  background-color: #f2f2f2;
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
  color: #e27a17;
  line-height: 22px;
}

.spreter-line {
  height: 15px;
  border-right: 1px solid #2f2e41;
}

.shift-tag {
  background-color: #f0f0f0;
  padding: 3px 14px;
  color: #2f2e41;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.141px;
  border-radius: 2px;
}

.addUserRemvo {
  color: #ff0404;
  font-size: 14px;
  font-weight: 500px;
}
.staff-leave-setting {
  padding: 6px 12px;
}
.svg-width svg{
  width: 20px;
}

.iHaveRead {
  color: #71737b;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.152px;
  padding-left: 10px;
}

/* new side tab for new modal */

.shift-time-modal {
  height: 80vh;
}

.shift-time-menu {
  background-color: #fbfbfb;
  height: 100%;
}

.shift-time-menu .nav-pills{
  border-bottom: none;
}

.shift-time-modal .nav-pills .nav.nav-pills {
  background-color: transparent;
}

.shift-time-modal .nav-link.active {
  background: #f2f3ff !important;
  color: #000 !important;
  border-left: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}

.shift-time-modal .nav-pills .nav-link {
  background: transparent;
  padding: 15px 10px;
  color: #6b7280;
  border-left: 5px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-left: 35px;
}





.input-zorro {
  border-radius: 2px !important;
  border: 1.021px solid #e9e9e9 !important;
  background: rgba(236, 236, 236, 0.21) !important;
  height: 45px !important;
  font-size: 13px !important;
  color: #a2a2a2;
  font-weight: 400 !important;
}

.week-day .form-check-input {
  border-radius: 2px;
}

.week-day label {
  position: relative;
  top: 2px;
}

.search-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding-left: 5px;
}

.staff-selection-list {
  max-height: 500px;
  overflow: scroll;
}

.staff-selection-list::-webkit-scrollbar {
  display: none;
}

.leave-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  border-radius: 0px;
}

.next-btn {
  color: #6666f2;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.previousBtn svg {
  width: 17px;
  height: 17px;
  position: relative;
  top: -1px;
}

.nextBtn svg {
  width: 17px;
  height: 17px;
  position: relative;
  top: -1px;
}

.table tbody {
  border: 1px solid #f1f1f1;
}

.btn-icon-square-sm {
  position: relative;
  top: 30px;
}

.submitActionBtn {
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  width: 100px;
}

.week-checkbox .form-check-input {
  border-radius: 2px !important;
}

/* @media only screen and (max-width: 1920px) {
  .staff-section-table {
    max-height: 600px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .staff-section-table {
    max-height: 400px !important;
  }
} */
.separator {
  border-left: 1px solid #6b7280;
  height: 15px;
}

.staff-section-table {
  max-height: 50vh;
  overflow: scroll;
}
..staff-section-table::-webkit-scrollbar{
  display: none;
}

.staff-section-table thead th {
  position: sticky;
  top: 0px;
}

.addUserRemvo svg {
  width: 16px;
  position: relative;
}

.close-icon {
  top: 19px
}

.search-list .checkbox-label input {
  position: relative;
  top: 3px;
  border-radius: 2px;
}

.dot-opacity-loader-new {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-opacity-loader-new span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ebebf0;
  margin: 0 4px;
  animation: dotOpacity 1.4s infinite ease-in-out both;
}
.list-down-btn {
  width: 30px;
  height: 30px;
}
.shift-time svg{
  width: 20px;
}
.dot-opacity-loader-new span:nth-child(1) {
  animation-delay: -0.32s;
}

.dot-opacity-loader-new span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes dotOpacity {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.spreter-line {
  height: 15px;
  border-right: 1px solid #2f2e41;
  position: relative;
  top: 2px;
}

.skip-btn i {
  position: relative;
  top: -1px;
}

.alreadyMemberBox {
  background-color: #fff8f2;
  border-radius: 2px;
}

.bi-info-circle{
  position: relative;
  top: -1px;
}
::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  accent-color: #6766f3;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
/* new side tab for new modal */