
.payment-detail h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 600;
    color: #6666f3;
}

.payment-detail h1{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}

button.btn.add-card-btn {
    margin-bottom: 0;
    color: #6666f3;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}


.insurer-text h5{
    font-size: 15px;
    font-weight: 400;
}


.responisibilities{
    color: green;
}

.insurance-pra{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 1px;
    color: #878a9a;
    line-height: 24px;
}

.aetna{
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}

.proceed-add {
    width: 100%;
    background-color: #6666f3;
    border-radius: 6px;
    color: #fff;
    margin-top: 10px;
    height: 40px;
}

.payment-history{
    background-color: #f8f8f8;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
    padding: 15px;
}

.payment-history h5{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
}

.contract-plan{
    margin-bottom: 10px;
}

.contract-plan p{
    font-size: 12px;
    color: #878a9a;
}

.payment-option {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem 0 rgba(52, 58, 64, .05);
}


.order-place-data h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #444444;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .order-place-data p {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
  }
  .order-place-data {
    width: 70%;
    margin: 0 auto 0;
  }

  .order-place-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
    height: 100%;
    flex-direction: column;
  }


  .order-place-head{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #fffffffc;
    clip-path: circle(0%);
    margin: 0 auto;
  }
  .successAnimate {
    animation: scaleCircle 1s linear both;
    animation-delay: -0.1s;
  }
  
  @keyframes scaleCircle {
    100% {
      clip-path: circle(100%);
    }
  }

  .loader {
    text-align: center;
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  /* .testing-prompt{
    position: absolute;
    transform: rotate(-45deg);
    left: 0px;
    padding: 6px 56px;
    background: #000;
    color: #fff;
    margin: 30px -49px;
    z-index: 9999;
    font-size: 15px;
    font-weight: 800;
    width: fit-content;
    } */
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Order Success animation */


  .monthly-plan{
    background-color: #f1f1fd;
    border: 1px dashed #6666f3;
    padding: 15px;
    border-radius: 6px;
  }

  .annual-plan-active{
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    padding: 0px 10px;
  }

  .monthly-plan h4{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 24px;
  }

  .monthly-plan p{
    font-size: 12px;
    color: #878A9A;
    margin-bottom: 0px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
  }

  .selected-btn{
    width: 100px;
    background-color: transparent;
    border-radius: 6px;
    color: #6666f3;
    padding: 3px 5px;
    border: 1px solid #6666f3;
    line-height: 23px;
  }

  .border-line{
    margin: 0.5rem 0;
  }

  .active-select{
    width: 100px;
    background-color: #6666f3;
    border-radius: 6px;
    color: #ffffff;
    padding: 3px 5px;
    border: 1px solid #6666f3;
  }
  .off-box h5{
     color:#6666f3;
     font-size: 22px;
     font-weight: 600;
     line-height: 24px;
     margin-top: 0px;
     margin-bottom: 0px;
  }
  .active-col{
    border: 1px solid lightgray;
    border-radius: 5px;
}