/* .add-role-main{
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 0.875rem #343a400d;
    padding: 30px;
} */
.fAtrDv {
    display: block;
    margin: 4px 0px 0px;
    color: rgb(75, 88, 101);
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 1.5;
    font-weight: 400;
}
.epkbnY {
    display: block;
    margin: 0px;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.5;
    font-weight: 500;
}

.count-number {
    background-color: rgb(239, 247, 255);
}

.description-main-box{
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
    margin: 0px;
    gap: 20px;
}

.information{
    font-size: 11px;
    color: rgb(75, 88, 101);
    font-weight: 400;
    padding-top: 5px;
}

.accordion-button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 2px 10px !important;
    font-size: .875rem;
    color: #000444;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #aabffc;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(85,126,248,.25);
    box-shadow: 0 0 0 0.1rem rgba(85,126,248,.25);
}

.iyxoZR {
    max-width: 74%;
    padding-left: 24px;
    flex-direction: column;
    display: flex;
}

.email-decription{
    word-break: break-word;
    align-self: center;
    white-space: pre-line;
    overflow: hidden;
    display: block;
    margin: 0px;
    color: rgb(54, 68, 82);
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 20px;
    font-weight: 400;
}
.khvlyr {
    border-radius: 12px;
    border: 1px solid rgb(147, 203, 255);
    text-align: left;
    --iconFill: #0053D9;
    background-color: rgb(245, 252, 255);
    padding: 10px;
}
#cancel-and-save{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cancel:hover{
    background-color:#d5ddf4;
}


.dot-opacity-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
}

.dot-opacity-loader span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white; /* Change to your preferred color */
    margin: 0 4px;
    animation: dotOpacity 1.4s infinite ease-in-out both;
}

.dot-opacity-loader span:nth-child(1) {
    animation-delay: -0.32s;
}

.dot-opacity-loader span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotOpacity {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
input[type="radio"]:hover{
    cursor: pointer;
}
.role-description-size{
    height: 75px !important;
}


