<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row mt-3" >
               <div class="col-md-12">
                 <div class="">
                    <ul id="myTab" role="tablist" class="nav nav-tabs">

                        <li role="presentation" class="nav-item">
                            <button id="home-tab" data-bs-toggle="tab" data-bs-target="#account-setting" type="button" role="tab" aria-controls="account-setting" aria-selected="true" class="nav-link active">Account Details  </button>
                        </li>
                        <li role="presentation" class="nav-item">
                            <button id="home-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security" aria-selected="true" class="nav-link">Security  </button>
                        </li>
                            <li role="presentation" class="nav-item">
                                <button id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-preferences" type="button" role="tab" aria-controls="profile-preferences" aria-selected="false" class="nav-link"> Profile preferences </button>
                            </li>
                            
                            <li role="presentation" class="nav-item">
                                <button id="profile-tab" data-bs-toggle="tab" data-bs-target="#referral-program" type="button" role="tab" aria-controls="referral-program" aria-selected="false" class="nav-link"> Referral Program </button>
                            </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active mt-3" id="account-setting" role="tabpanel">

                            <div class="row">
                               <div class="col-md-8 pr-0 mr-0" style="padding-right: 0px; margin-right: 0px;">

                                <div class="account-setting-box">
                                    <div class="d-flex align-items-center" style="gap:20px">
                                        <div class="jXmMvc" style="width: 3%;">
                                            <img src="assets/images/google-docs.svg" style="width: 100%;">
                                        </div>
                                        <div class="">
                                            <h5>Account details</h5>
                                        </div>
                                    </div>
    
                                    <div class="sc-485d66d8-0 sc-f474212e-2 dLkVjV jIcvEm">
                                        <dt class="sc-f474212e-4 lkliht">Email </dt>
                                        <dd class="sc-f474212e-7 dUVSfj">
                                            <div class="sc-485d66d8-0 laMuYy"
                                            ><div class="sc-485d66d8-0 sc-3a263705-1 dLkVjV csGfKv">yogesh@krenai.com</div>
                                        </div>
                                    </dd>
                                    
                                    <div class="sc-485d66d8-0 sc-f474212e-1 dLkVjV dbRigD">
                                        <div class="sc-485d66d8-0 dLkVjV">
                                            <button type="button" aria-label="Edit Email" class="edit-btns">
                                                <i class="bi bi-pencil"></i> Edit
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc-485d66d8-0 sc-f474212e-2 dLkVjV jIcvEm">
                                        <dt class="sc-f474212e-4 lkliht">Password </dt>
                                        <dd class="sc-f474212e-7 dUVSfj">
                                            <div class="sc-485d66d8-0 laMuYy"><div class="sc-485d66d8-0 sc-3a263705-1 dLkVjV csGfKv"> ********</div>
                                        </div>
                                    </dd>
                                    
                                    <div class="sc-485d66d8-0 sc-f474212e-1 dLkVjV dbRigD">
                                        <div class="sc-485d66d8-0 dLkVjV">
                                            <button type="button" aria-label="Edit Email" class="edit-btns">
                                                <i class="bi bi-pencil"></i>  Edit
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               </div>
                               <div class="col-md-4"style="padding-left: 0px; margin-left: 0px;">
                                <div class="profile-mage-edit text-center position-relative">
                                    <span>
                                        <img style="width: 100px; border-radius: 50%;" src="https://avatars.slack-edge.com/2023-04-27/5171737615685_8a302ba6a0b431d2187d_original.jpg">
                                    </span>
                                    <span class="edit-profile" tabindex="0"><i class="bi bi-pencil"></i></span>
                                </div>

                               </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade show mt-3" id="security" role="tabpanel">
                            <div class="">

                                <div class="security">
                                    <h4>Two-factor authentication</h4>
                                    <p>Use an authenticator app to enhance account security. Once it’s set up, you’ll need to generate a verification code to log in to Remote.</p>

                                    <button class="edit-btns mt-2" type="button">Set up two-factor authentication <i class="bi bi-chevron-right"></i></button>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="profile-preferences" role="tabpanel">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-8 pr-0 mr-0" style="padding-right: 0px; margin-right: 0px;">
     
                                     <div class="account-setting-box">
                                         <div class="d-flex align-items-center" style="gap:20px">
                                             <div class="jXmMvc" style="width: 3%;">
                                                 <img src="assets/images/google-docs.svg" style="width: 100%;">
                                             </div>
                                             <div class="">
                                                 <h5>Notifications</h5>
                                             </div>
                                         </div>
         
                                         <div class="sc-485d66d8-0 sc-f474212e-2 dLkVjV jIcvEm">
                                             <dt class="sc-f474212e-4 lkliht">Turn on notifications </dt>
                                             <dd class="sc-f474212e-7 dUVSfj">
                                                 <div class="sc-485d66d8-0 laMuYy"><div class="sc-485d66d8-0 sc-3a263705-1 dLkVjV csGfKv">  Receive updates by email</div>
                                             </div>
                                         </dd>
                                         
                                         <div class="sc-485d66d8-0 sc-f474212e-1 dLkVjV dbRigD">
                                             <div class="sc-485d66d8-0 dLkVjV">
                                                <div class="material-switch">
                                                    <input type="checkbox" id="switch399c5e32-92e1-11ee-9706-021adfee087e" class="ng-untouched ng-pristine ng-valid">
                                                    <label class="label-success" for="switch399c5e32-92e1-11ee-9706-021adfee087e"></label>
                                                </div>
                                                 </div>
                                             </div>
                                         </div>



                                         <div class="d-flex align-items-center mt-3" style="gap:20px">
                                            <div class="jXmMvc" style="width: 3%;">
                                                <img src="assets/images/google-docs.svg" style="width: 100%;">
                                            </div>
                                            <div class="">
                                                <h5>API management</h5>
                                            </div>
                                        </div>
                                         <div class="sc-485d66d8-0 sc-f474212e-2 dLkVjV jIcvEm">
                                             <dt class="sc-f474212e-4 lkliht">Remote API </dt>
                                             <dd class="sc-f474212e-7 dUVSfj">
                                                 <div class="sc-485d66d8-0 laMuYy"><div class="sc-485d66d8-0 sc-3a263705-1 dLkVjV csGfKv"> 
                                                    Generate a token to start using the Remote API.</div>
                                             </div>
                                         </dd>
                                         
                                         <div class="sc-485d66d8-0 sc-f474212e-1 dLkVjV dbRigD">
                                             <div class="sc-485d66d8-0 dLkVjV">
                                                 <button type="button" aria-label="Edit Email" class="edit-btns">
                                                       Access API <i class="bi bi-arrow-right"></i>
                                                 </button>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
     
                                    </div>
                                    <div class="col-md-4"style="padding-left: 0px; margin-left: 0px;">
                                     <div class="profile-immage-edit position-relative">
                                         <h4>Company Manager</h4>
                                         <p>yogesh kumar</p>
                                     </div>
     
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="referral-program" role="tabpanel">
                            <div class="">

                                <div class="security">
                                    <h4>Refer a friend and get paid</h4>
                                    <p>Refer a friend to Remote and you will both earn up to <b>$300</b> cash.</p>

                                    <div class="mt-3">
                                        <p><b>Share your unique referral link</b></p>
                                    </div>

                                    <button class="edit-btns mt-2" style="color:#303e67" type="button">http://aklam.io/54CThM <i class="fa fa-clone" ngbTooltip="Copy to clipboard" placement="top" style="padding-left: 5px; color: #6666f3" aria-hidden="true"></i></button>

                                    <hr class="border-prfile" >

                                    <div class="how-it-work">
                                        <h5>How it works?</h5>

                                        <div class="d-flex align-items-start mt-3" style="gap:10px;">
                                            <div class="jXmMvc" style="width: 3%;">
                                                <img src="assets/images/google-docs.svg" style="width: 100%;">
                                            </div>
                                            <div class="referfrend">
                                                <h5> Refer a friend</h5>
                                                <p>Invite your friends to join Remote using your referral link</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start mt-3" style="gap:10px;">
                                            <div class="jXmMvc" style="width: 3%;">
                                                <img src="assets/images/google-docs.svg" style="width: 100%;">
                                            </div>
                                            <div class="referfrend">
                                                <h5> Earn your reward</h5>
                                                <p>Earn up to $300 after your friend signs up and runs two successful payrolls</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-start mt-3" style="gap:10px;">
                                            <div class="jXmMvc" style="width: 3%;">
                                                <img src="assets/images/google-docs.svg" style="width: 100%;">
                                            </div>
                                            <div class="referfrend">
                                                <h5> Claim your reward</h5>
                                                <p>We will let you know once your reward is ready. To claim your reward sign into your referral account with our partner Aklamio and use bank transfer or Paypal to receive your payment. Easy as that 🎉</p>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="border-prfile" >


                                    <p>Want to learn more about the referral program? <a href="" class="referral">Check out our referral portal</a> or visit our <a href="" class="referral">Help center</a></p>
                                </div>

                            </div>
                        </div>

                    </div>
                 </div>
               </div>
            </div>

        </div>
    </div>
</div>