<div class="staff-location-section">
    <div class="containernn">
      <div class="row">
        <div class="col-md-3 border-right">
           <div class="location-sidebar">
             <div class="d-flex align-items-center justify-content-between loaction-side-div" >
                <div class="pagnition-list">

                    <ul class="staff-page-list">
                        <li class="staff-pagnition active-pagnition">1</li>
                        <li class="staff-pagnition">2</li>
                    </ul>

                </div>
                <div class="set-new-location">
                    <img src="assets/images/gallery.svg" style="width: 80px;">
                    <h4>Add Photos</h4>
                    <p>Please add at least 1 photos of <br> your flat in order to get your <br> property onboard</p>
                    
                </div>
                <div class="set-new-location" >
                    <h6 >Save and Exit</h6>
                    <p class="mb-0" >Call 0000-000-000</p>
                    
                </div>

             </div>
           </div>
        </div>
        <div class="col-md-9">
            <div class="set-loation">



                <!-- <div class="mb-4 mobile-pagnination text-center">


                    <div class="cart-steps-blck">
                        <div class="cart-child d-flex position-relative">
                            <div class="step-box text-center cartactive">
                                <span>1</span>
                            </div>
                            <div class="step-box text-center">
                                <span>2</span>
                            </div>
                        </div>
                </div>
                </div> -->

                <div class="location-setting pb-2">
                    <h4>Upload Photos</h4>
                </div>

                <!-- <div class="d-flex align-items-center justify-content-between mt-4 location-mobile" style="gap:30px;"> 
                    <div class="location-new-heading">
                        <h4>Location</h4>
                    </div>
                    <div class="location-dropdown">
                        <div class="dropdown " >
                            <button class="btn btn-secondary dropdown-toggle new-deopdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                              Mumbai <i class="bi bi-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%;">
                              <li><a id="attendance-data-download-in-excel-format" class="dropdown-item">Delhi</a></li>
                              <li><a class="dropdown-item">Noida</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="position-relative location-searchbar">
                        <div class="form-group set-location-form">
                            <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" value="78W5+FG8, Jajru Rd, Sector 143, Faridabad, Haryana 121004, India" placeholder="Enter your location">
                            <span class="crosshairs"><i class="fa fa-crosshairs"></i></span>
                          </div>
                    </div>
                </div> -->

                <div class="location-map mt-3">
                   <img src="assets/images/camra.png" class="map-img">
                </div>

                <div class="set-location-btn d-flex align-items-center justify-content-end mt-4" >
                    <!-- <button class="btn previous-stap"> <i class="bi bi-chevron-left pl-2"></i> Previous</button> -->

                    <button class="btn next-stap">Next Step <i class="bi bi-chevron-right pl-2"></i></button>
                </div>

            </div>

        </div>
      </div>
    </div>
</div>
