<div class="page-wrapper">
    <div class="page-content-tab p-0">
        <div class="container-fluid ">
            <div class="row payroll-box">
                <div class="col-md-3 p-0">
                    <div class="payroll-sidebar-menu h-100 bg-white">
                        <div class="nav flex-column nav-pills side-nav" id="tab" role="tablist" aria-orientation="vertical">
                            <button id="profile-tab" data-bs-toggle="pill" (click)="route('profile')"  role="tab"
                            [ngClass]="{'active' : currentTab == 'profile'}"
                            aria-controls="organization-profile" aria-selected="true" class="nav-link" data-bs-target="organization-profile">
                            Organization Profile </button>
                            <button id="statutory-tab" data-bs-toggle="pill" (click)="route('statutory')" role="tab"
                            [ngClass]="{'active' : currentTab == 'statutory'}"
                            aria-controls="statutory" aria-selected="true" class="nav-link" data-bs-target="statutory">
                            Statutory Components</button>
                            <button id="salary-tab" data-bs-toggle="pill" role="tab" (click)="route('salary')"
                            [ngClass]="{'active' : currentTab == 'salary'}"
                            aria-controls="salary" aria-selected="true" class="nav-link" >
                            Salary Components </button>
                            <button id="taxes-tab" data-bs-toggle="pill" (click)="route('taxes')" role="tab"
                            [ngClass]="{'active' : currentTab == 'taxes'}"
                            aria-controls="taxes" aria-selected="true" class="nav-link" >
                            Taxes </button>
                            <button id="schedule-tab" data-bs-toggle="pill" (click)="route('pay-schedule')" role="tab"
                            [ngClass]="{'active' : currentTab == 'pay-schedule'}"
                            aria-controls="pay-schedule" aria-selected="true" class="nav-link">
                            Pay Schedule </button>
                            <button id="preferences-tab" data-bs-toggle="pill" (click)="route('preferences')"  role="tab"
                            [ngClass]="{'active' : currentTab == 'preferences'}"
                            aria-controls="preferences" aria-selected="true" class="nav-link">
                            Preferences </button>
                            <button id="payroll-tab" data-bs-toggle="pill" (click)="route('prior-payroll')" role="tab"
                            [ngClass]="{'active' : currentTab == 'prior-payroll'}"
                            aria-controls="prior-payroll" aria-selected="true" class="nav-link">
                            Prior Payroll </button>
                            <button id="form-tab" data-bs-toggle="pill" (click)="route('form-16')" role="tab"
                            [ngClass]="{'active' : currentTab == 'form-16'}"
                            aria-controls="form-16" aria-selected="true" class="nav-link">
                            Form 16 </button>
                        </div>
                        </div>

                </div>
               
                <div class="col-md-9">
                    
                    <div class="tab-content" id="tabContent">
                        <div *ngIf="currentTab == 'profile'" class="tab-pane fade show active" id="organization-profile" role="tabpanel" aria-labelledby="profile-tab">
                            <app-profile></app-profile>
                        </div>
                        <div *ngIf="currentTab == 'statutory'" class="tab-pane fade show active"  id="statutory" role="tabpanel" aria-labelledby="profile-tab">
                        <app-statutory></app-statutory>
                        </div>
                        <div *ngIf="currentTab == 'salary'" class="tab-pane fade show active" id="salary" role="tabpanel" aria-labelledby="profile-tab">
                            <app-salary></app-salary>
                        </div>
                        <div *ngIf="currentTab == 'taxes'" class="tab-pane fade show active"  id="taxes" role="tabpanel" aria-labelledby="profile-tab">
                            <app-taxes></app-taxes>
                        </div>
                        <div *ngIf="currentTab == 'pay-schedule'" class="tab-pane fade show active"  id="pay-schedule" role="tabpanel" aria-labelledby="profile-tab">
                            <app-pay-schedule></app-pay-schedule>
                        </div>
                        <div *ngIf="currentTab == 'preferences'" class="tab-pane fade show active"  id="preferences" role="tabpanel" aria-labelledby="profile-tab">
                            <app-preferences></app-preferences>
                        </div>
                        <div *ngIf="currentTab == 'prior-payroll'" class="tab-pane fade show active"  id="prior-payroll" role="tabpanel" aria-labelledby="profile-tab">
                            <app-prior-payroll></app-prior-payroll>
                        </div>
                        <div *ngIf="currentTab == 'form-16'" class="tab-pane fade show active"  id="form-16" role="tabpanel" aria-labelledby="profile-tab">
                            <app-form></app-form>
                        </div>
                    </div>

                    

                </div>

            </div>
        </div>
    </div>
</div>