.payroll-sidebar-menu {
  border-right: 1px solid #f1f1f1;
  min-height: 100vh;
  position: relative;
  z-index: 99;
}

.payroll-box .col-md-3{
  width: 22%;
}
.payroll-box .col-md-9{
  width: 78%;
}

.side-nav {
  position: sticky;
  top: 0px;
}
.payroll-sidebar-menu .nav-pills .nav-link {
  background: #fff;
  padding: 13px 10px;
  color: #444;
  border-left: 5px solid transparent ;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding-left: 25px;
}
.payroll-sidebar-menu .nav-pills .nav-link:hover{
background-color: #f2f3ff;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: #f2f3ff !important;
  color: #6666F2 !important;
  border-left: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.border-none.active {
  border-left: 5px solid #f2f3ff !important;
}
.nav.nav-pills{
  border-bottom: none;
}

.statutory-tab{
  border-bottom: 1px solid #E3E3E3;
  background: #FDFDFF;
}
.statutory-tab ul li{
list-style: none;
}
.statutory-tab li{
  line-height: 50px;
}

.statutory-tab .nav-tab.active {
  color: #6666F2 !important;
  border-right: 5px solid var(--primary-background-color) !important;
  border-bottom: none;
}
.statutory-tab .nav-tab{
  background: transparent;
  color: #444;
  border-right: 5px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 0px 30px;
  width: 100%;
  display: flex;
}

.add-location-menu {
background-color: #fbfbfb;
height: 100%;
}

.payroll-setup{
background-color: #FFF9F2;
}
.progress{
width: 100px;
height: 8px;
position: relative;
top: 2px;
direction: rtl;
}