/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* @import '~ngx-material-timepicker/assets/ngx-material-timepicker-theme-dark.css'; */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.md-drppicker.double {
    width: 500px !important;
}

.md-drppicker {
    width: auto;
}

.md-drppicker {
    position: absolute !important;
    font-family: Roboto,sans-serif;
    color: inherit;
    border-radius: 4px;
    width: 278px;
    padding: 4px;
    margin-top: -10px;
    overflow: hidden;
    z-index: 1000;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
}
.md-drppicker {
    top: 40px !important;
    right:40px !important;
    margin-top: 10px !important;
    left: auto !important;
    /* width: 650px !important; */
}

.btn-primary {
    color: #fff;
    background-color: #6666f3;
    border-color: #6666f3;
}

.fc-toolbar-chunk {
    padding-left: 25px;
}
.disabled-lnk{
    pointer-events: none;
}

:ng-deep .fc-view-harness{
    min-height: 452px !important;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040; /* Keep it below the modal but above other elements */
    width: 100vw; /* Cover the full viewport width */
    height: 100vh; /* Cover the full viewport height */
    background-color: rgba(211, 211, 211, 0.5); /* Lighter grey background with some transparency */
}

/* The rest of your CSS for .modal, .modal-dialog-centered, etc., remains the same. */



/* The modal container to center it on the page */
.modal {
    position: fixed;
    z-index: 1050;
    width: 100%;
    outline: 0;
    background-color: #00000054;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.pac-container{
    z-index: 9999 !important;
}