/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

/* @import '~ngx-material-timepicker/assets/ngx-material-timepicker-theme-dark.css'; */

html,
body {
  height: 100%;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

.md-drppicker.double {
  width: 500px !important;
}

.md-drppicker {
  width: auto;
}

.text-primary {
  color: var(--primary-color) !important;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  /* Optional: to visually indicate that the div is disabled */
}

.md-drppicker {
  position: absolute !important;
  font-family: Roboto, sans-serif;
  color: inherit;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: -10px;
  overflow: hidden;
  z-index: 1000;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.md-drppicker {
  top: 40px !important;
  right: 40px !important;
  margin-top: 10px !important;
  left: auto !important;
  /* width: 650px !important; */
}

.btn-primary {
  color: #fff;
  background-color: #6666f3;
  border-color: #6666f3;
}

/* .fc-toolbar-chunk {
    padding-left: 25px;
} */
.disabled-lnk {
  pointer-events: none;
}

:ng-deep .fc-view-harness {
  min-height: 452px !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  /* Keep it below the modal but above other elements */
  width: 100vw;
  /* Cover the full viewport width */
  height: 100vh;
  /* Cover the full viewport height */
  background-color: rgba(211,
      211,
      211,
      0.5);
  /* Lighter grey background with some transparency */
}

/* The rest of your CSS for .modal, .modal-dialog-centered, etc., remains the same. */

/* The modal container to center it on the page */
.modal {
  position: fixed;
  z-index: 1050;
  width: 100%;
  outline: 0;
  background-color: #00000054;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ml-2 {
  margin-left: 10px;
}

.pac-container {
  z-index: 9999 !important;
}

.save-button {
  min-width: 90px;
  min-height: 37px;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-background-color);
  border-color: var(--primary-color);
}

/* ######### delete modal csss */

.confirm-detail {
  font-size: 22px;
  margin-bottom: 10px;
  color: #444;
  margin-top: 20px;
}

.confram-msg {
  font-size: 14px !important;
  font-weight: 400;
}

.btnmarkdelete {
  background-color: #fcf1f1;
  border: 1px solid #eb5050;
  color: #eb5050 !important;
  height: 37px;
}

.btnmarkproceed {
  background-color: #ececf4;
  border: 1px solid #6666f3 !important;
  color: #6666f3 !important;
  height: 37px;
}

.btnmarkcancel {
  background-color: #f5f5f5;
  border: 1px solid #aeaeae !important;
  color: #444 !important;
  height: 37px;
  border-radius: 4px;
}

.btnmarkproceed:hover,
.btnmarkcancel:hover {
  background-color: transparent;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

.ant-picker.ant-picker-borderless {
  background-color: rgba(236, 236, 236, 0.21) !important;
  border: 1px solid #e8ebf3 !important;
  box-shadow: none !important;
}

.nz-calendar-container {
  width: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.ant-picker {
  border: 1px solid #e9e9e9 !important;
  width: 100% !important;
  height: 45px !important;
  border-radius: 2px !important;
  background-color: rgba(236, 236, 236, 0.21);
}

.seach-dropdown {
  border: 1px solid #e8ebf3 !important;
  width: 100% !important;
  height: 40px !important;
  border-radius: 0.25rem;
  padding: 0.4rem 1rem;
}

.nz-button-group {
  margin: 0 8px 8px 0;
}

.hover-dropdown {
  display: flex;
  /* Use flexbox for internal layout */
  justify-content: space-between;
  /* Aligns children (text and icon) on opposite ends */
  align-items: center;
  /* Centers children vertically */
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid #e8ebf3;
  text-align: left;
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  /* In case you need absolute positioning inside */
}

.grade-dropdown {
  display: inline-flex;
  /* Allows button to grow with content while being inline */
  align-items: center;
  background: transparent;
  border: 1px solid #e8ebf3;
  text-align: left;
  padding: 0.4rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  gap: 4px;
  /* Space between text and icon */
}

.grade-dropdown span {
  margin-left: auto;
  /* Ensures the icon is pushed to the right */
  text-align: right;
  /* Aligns the icon text to the right */
}

.hover-dropdown-height {
  max-height: 200px;
  overflow-y: scroll;
  /* This will force the scrollbar to always show */
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #ffffff !important;
}

.icon-right {
  margin-left: 8px;
  /* Keep existing spacing to the left */
  margin-top: 4px;
  /* Adjust this value to nudge the icon down */
}

.icon-grade-right {
  /* No need for float; flexbox handles positioning */
  margin-left: auto;
  /* Pushes the icon to the right */
}

.buttons-container {
  display: flex;
  gap: 8px;
  /* Adjusts space between buttons */
  align-items: center;
  /* Aligns buttons in case they have different heights */
}

.ant-input.demo-input-right {
  width: 100px;
  text-align: center;
  border-left-width: 0px;
}

.ant-input.demo-input-right:hover,
.ant-input.demo-input-right:focus {
  border-left-width: 1px;
}

.ant-input.ant-input-rtl.demo-input-right {
  border-right-width: 0px;
}

.attendance-date .ant-picker {
  border: none !important;
  background-color: transparent;
  height: 36px !important;
}

.location-map webcam video {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover !important;
}

.location-map {
  width: 100%;
}

.location-map .webcam-wrapper {
  width: 100% !important;
}

.shimmer-redias .shimmer-redias-1 {
  border-radius: 50%;
}

.bi-question-circle {
  font-size: 40px;
  /* color: #6666f3; */
  /* background-color: #c6c6ff; */
}

.btnCancel {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  color: #515151;
}

.border-active {
  background-color: #e9ebfe;
  border: 1px solid #4f5eee !important;
}

.text-optional {
  color: grey;
}

.pointer {
  cursor: pointer;
}

/* for nz-date-picker */
.nz-overlay-container {
  z-index: 2000 !important;
}

.cdk-overlay-container {
  z-index: 1080 !important;
}

.fc-toolbar-chunk {
  position: absolute;
  top: 0px;
  left: 33px;
}

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
.primaryBtnLink {
  color: #6666f3 !important;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0px;
  letter-spacing: 0.2px;
  line-height: normal;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: -moz-fit-content;
  width: fit-content;
}

.primaryBtn {
  color: #fff !important;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  background-color: #6666f3;
  border-radius: 10px;
  letter-spacing: 0.2px;
  line-height: normal;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}

.primaryBtn i {
  margin-right: 2px;
  font-size: 13px;
}

label {
  font-size: 14px !important;
  font-weight: 500;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: rgba(236, 236, 236, 0.21);
  border: none !important;
  border-radius: 0px !important;
  min-height: 45px;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #1f1f1f !important;
  box-shadow: none !important;
  outline: none !important;
}

.ant-select-multiple .ant-select-selection-item {
  background: #f1f1fd;
  border: 1px solid #e9e9e9;
  color: #6666f4;
}

.ant-select-multiple .ant-select-selection-item-remove {
  color: rgb(0 0 0 / 64%);
  line-height: 1.8;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input::placeholder {
  font-weight: 400 !important;
  line-height: 18px !important;
  color: #1f1f1f !important;
}

.ant-select-multiple .ant-select-selection-placeholder {
  left: 16px;
}

.ant-select-selection-placeholder {
  color: #a2a2a2;
}

.modal-content .modal-body p,
.modal-content h4 {
  color: #303030;
}

.btn-info {
  color: #fff;
  background-color: #6666f3 !important;
  border-color: #6666f3 !important;
}

.btn-warning {
  color: #6666f3 !important;
  border: 1px solid #6666f3 !important;
  background-color: #ecf1ff !important;
}

@media (max-width: 1024px) {

  .persnol-details,
  .personal-details {
    margin: 40px 20px !important;
  }
}

@media (max-width: 820px) {
  .page-wrapper .page-content-tab {
    width: calc(100% - 0px) !important;
    margin-top: 0px !important;
  }

  .persnol-details,
  .personal-details {
    margin: 156px 0px 20px !important;
    padding: 20px !important;
  }
}

@media (max-width: 600px) {
  .left-sidebar {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: fit-content !important;
    transition: 0.3s;
    bottom: unset !important;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0px 0px 10px 0px #e8e8e8;
  }

  li.tracking-item:last-child {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  .tracking-body {
    border-top: 1px solid #eeeeee;
    padding: 10px 15px !important;
  }

  .tracking-item:last-child .new-stap {
    margin-bottom: 0 !important;
  }

  .tracking-data {
    display: none;
  }

  .tracking-steps {
    padding-left: 0rem !important;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-mere-new {
    height: 45px !important;
  }

  .btn {
    font-size: 12px;
    height: fit-content !important;
    min-height: fit-content !important;
  }

  .persnol-details h5 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.mnt-4 {
  margin-top: -4px;
}

.btnSeprator {
  display: inline-block;
  width: 2px;
  background-color: #cbcbcb;
  height: 13px;
}

.table th {
  padding: 14px 15px !important;
}

.table td {
  padding: 15px 15px ;
  /* position: relative; */
  overflow: visible !important;
}

.btnAction {
  padding: 4px 15px;
}

.actionMenuList {
  border: 1px solid #f1f1f1 !important;
  border-radius: 12px;
  box-shadow: 0px 3px 12px -3px #1111111f;
  overflow: hidden;
  min-width: 12rem !important;
  padding: 7px !important;
  background-color: #fff !important;
  line-height: 35px;
}

.stickyColTdend:has(.actionMenuList.show) {
  z-index: 99;
}

/* .actionMenuList .dropdown-item {
  font-size: 15px !important;
  color: #333 !important;
  border-radius: 6px !important;
} */

.actionMenuList .dropdown-item i {
  margin-right: 5px !important;
}

/* .table .table-light th {
  line-height: 21px !important;
  background-color: #f5f5f5 !important;
  color: #383838 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0.1px !important;
  border: 1px solid #f5f5f5 !important;
  border-radius: 0 !important;
} */
.stickyColTh,
.stickyColTd {
  min-width: 200px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
}

.stickyColTd,
.stickyColTdend {
  background-color: #fff !important;
}

.stickyColThend,
.stickyColTdend {
  min-width: fit-content !important;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9;
}


.stickyColTd::after,
.stickyColTdend::after,
.stickyColThend::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  /* background-color: #f1f1f1; */
  width: 0px;
}

.stickyColTd::after {
  right: 0;
  box-shadow: 2px 0px 2px 0px #00000024;
  border-right: 1px solid #f1f1f1;
}

.stickyColTdend::after,
.stickyColThend::after {
  left: 0;
  box-shadow: -2px 0px 2px 0px #00000014 !important;
  border-left: none !important;
  width: 1px !important;
}

.stickyColThend::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f5f5f5;
  width: 0px;
  left: 1px;
  box-shadow: -2px 0px 2px 0px #00000024;
  border-left: 1px solid #f5f5f5;
}

.stickyColTh::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f5f5f5;
  width: 0px;
  right: 1px;
  box-shadow: 2px 0px 2px 0px #00000024;
  border-right: 1px solid #f5f5f5;
}

.primaryBtnLink i::before {
  font-weight: BOLD !important;
}

.bi:before {
  font-weight: 600 !important;
}

.navbar-custom.employeeLoginHead {
  margin-left: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.page-content-tab.employeeLoginCard {
  width: calc(100% - 0px);
}

.navbar-custom.employeeLoginHead>ul:not(class) {
  padding-left: 15px;
}

::ng-deep.ant-select-selector {
  background-color: #fff !important;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after {
  line-height: 45px;
}

.excelUploadTable thead th {
  text-transform: capitalize;
}

.excelUploadTable .ant-picker {
  border: 1px solid #f1f1f1 !important;
  width: 100% !important;
  height: 35px !important;
  border-radius: 0px !important;
  background-color: rgba(236, 236, 236, 0.21);
  font-size: 12px;
}

.excelUploadTable .ant-picker-input>input {
  color: #445059;
}

.excelUploadTable .ant-select {
  background-color: #fff !important;
  border: 1px solid #f1f1f1 !important;
  border-radius: 2px !important;
  height: fit-content !important;
}

.excelUploadTable .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  /* background-color: rgb(236 236 236 / 0%) !important; */
  border: none !important;
  border-radius: 0px !important;
  min-height: 35px !important;
  height: fit-content !important;
}

.excelUploadTable .ant-select-single .ant-select-selector .ant-select-selection-item,
.excelUploadTable .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 35px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: r#6666f4;
  font-weight: 400;
  background-color: #f1f1fd;
}

.anticon {
  vertical-align: 0.175em;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #6666f4;
}

.border-top {
  border-top: 1px solid #f1f1f1 !important;
}

.custom-date-picker .ant-picker-input>input {
  color: #3F988F !important;
}

.marital-status .ant-select-single .ant-select-selector {
  width: 200px !important;
  min-height: 0px !important;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #3F988F !important;
}

.new-empty-file .ant-empty-image img {
  width: 70px !important;
}


::ng-deep .placeholder-lines .ant-select-selection-item {
  line-height: 35px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #000;
}

::ng-deep .placeholder-lines .ant-select-selection-placeholder {
  line-height: 35px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #000;
}

::ng-deep .placeholder-line .ant-select-selection-placeholder {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

::ng-deep .placeholder-line .ant-select-selection-item {
  line-height: 45px !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.placeholder-font .ant-select-selection-placeholder {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.placeholder-font .ant-select-selection-item {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.pagition-box .pagination {
  margin-bottom: 0px;
}

.form-control:focus {
  border-color: #e9e9e9 !important;
}

.pl-2 {
  padding-left: 10px;
}

.pagination-box {
  position: fixed;
  bottom: 0;
  z-index: 99;
  left: 0px;
  padding-left: 270px !important;
}

.pagination-box-profile {
  position: fixed;
  bottom: 0;
  z-index: 99;
  left: 0px;
  margin-left: 21.7% !important;
  width: 78%;
}

.badge {
  line-height: 12px;
  padding: 0.55em 10px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  min-width: 95px;
}

.profile-badge {
  line-height: 12px;
  padding: 0.55em 10px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  min-width: 288px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-dropdown .ant-select-selector {
  min-height: 35px !important;
  background-color: transparent !important;
}

::ng-deep .ant-empty-image img {
  width: 90px !important;
}
/* Add to your global styles or the component styles */
.holiday-highlight {
  background-color: red !important;
  color: white;
  border-radius: 50%;
}
.w-80{
  width: 80%;
}

@media screen and (max-width: 500px) {
  .pagination-box-profile {
    position: unset;
    bottom: 0;
    z-index: 99;
    left: 0px;
    margin-left: 0% !important;
    width: 100%;
    justify-content: end !important;
 }
 .pagination-box-profile p{
  display: none;
 }
}