.employee-preview {
  border-radius: 6px;
  width: 100%;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.875rem #343a400d;
  padding: 20px;
  margin: 20px;
}

.detail-deta {
  text-align: left;
  background-color: #f5f8fa;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.detail-deta p {
  font-size: 12px;
}

.persnol-details h5 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 0;
  color: #4f5eee;
}

.oonbording-bhadding h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 600;
}

.oonbording-bhadding p {
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
}
.pending-status {
  color: red;
}

.persnaol {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}
.subheading {
  font-size: 14px;
  font-weight: 400;
  color: #000000; /* Or any color that suits your design */
}

.table-design tr td {
  border: 1px solid #e0e0e0;
}

.table tbody tr:hover {
  box-shadow: none;
}

.status-approved {
  color: green; /* Green color for approved */
}

.status-rejected {
  color: red; /* Red color for rejected */
}

.status-pending {
  color: rgb(255, 153, 0); /* Purple color for pending */
}
.action-btn{
  background-color: var(--primary-background-color);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  min-width: 150px;
}

@media (max-width: 600px) {
  .employee-previeww {
    padding: 0px 15px 20px;
  }
  .oonbording-bhadding h1 {
    font-size: 22px;
  }
  .modal-body p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
  .onboarding-deta table.mb-0 {
    position: sticky;
    left: 0;
    top: 0;
  }
  .onboarding-deta {
    overflow-x: auto;
    white-space: nowrap;
  }
  .onboarding-deta::-webkit-scrollbar {
    display: none;
  }
  /* .maxHeight {
      max-height: 70vh;
      padding-bottom: 1rem;
    } */
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
    max-height: 70vh;
    padding-bottom: 1rem;
  }
  .text-sm-center {
    text-align: center !important;
  }
  .oonbording-bhadding p {
    margin-bottom: 15px;
  }
  .persnaol {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    color: #222;
  }
}
