/* .login-iamge{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-detail h2{
        margin-bottom: 5px;
        font-size: 35px;
        font-weight: 300;
        color: #444;
}

.login-detail p{
    font-size: 13px;
    color: #9c9c9c;
    font-weight: 100;
}

.login-detail a{
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.75;
    text-decoration: none;
    width: 380px;
    font-weight: 500;
    display: block;
    text-align: center;
    columns: #444;

}

.login-detail a:hover{
    color: #444 !important;
} */
#signin-with-email{
    display: none;
}






.signin-with-email-button a{
    color: #1890ff;
}

.signin-with-email-button:hover{
    background-color: whitesmoke;
}

#registerButton:hover{
    cursor: pointer;
}


.login-page-main{
    height: 100vh;
}


/* .login-stap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
} */

.login-image{
   background-image: url(/assets/images/dashboards/crovex.jpg);
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.login-stap{
    padding: 30px;
    height: 100vh;
    /* display: flex; */
    /* align-items: start;
    flex-direction: column;
    justify-content: center; */
}

.login-detail a {
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 32px;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    display: block;
    text-align: left;
    columns: #444;
    border: 1px solid #f1f1f1;
}

.login-stap h5{
    font-size: 14px;
    font-weight: 500;
}

.welcome-hajiri h4{
    font-size: 25px;
    font-weight: 700;
}
.welcome-hajiri p{
    font-size: 11px;
    color: #555;
    font-weight: 400;
}

.login-with ul{
    padding-left: 0px;
    display: flex;
   gap: 20px;
   align-items: center;
}

.login-with ul li{
    list-style: none;
    display: inline-block;
    color: #555;
    font-size: 12px;
    
}

.login-space{
    color: #6666f3;
    font-size: 12px !important;
    font-weight: 500 !important;
    cursor: pointer !important;
    border: 0px !important;
    padding: 0px !important;
}

.login-with{
    position: absolute;
    bottom: 0px
}

.login-imagee {
    height: 100vh;
}

.login-imagee video {
    object-fit: cover;
}


.right-arrow {
    position: absolute;
    right: 14px;
    font-size: 18px;
    color: #9d9d9d;
}









.chat-bubel-3{
    position: absolute;
    top:40%;
    left: 210px;
    transform: scale(0);
    animation: chat 5s linear both ;
    animation-delay: 5s;
}

.chat-bubel-1{
    position: absolute;
    top: 45%;
    right: 80px;
    transform: scale(0);
    animation: lineAnim 6s linear both;
    animation-delay: 12s;
}

.chat-bubel-2{
    position: absolute;
    top:25%;
    right:280px;
    transform: scale(0);
    animation: lineAnimsition 6s linear both;
    animation-delay: 20s;
}



@keyframes chat{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

@keyframes lineAnim{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

@keyframes lineAnimsition{
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1);
    } 
    40%{
        transform: scale(1);
    } 

    60%{
        transform: scale(1);
    } 
    70%{
        transform: scale(1);
    } 

    100%{
        transform: scale(0);
    }
}

