<app-employee-onboarding-sidebar></app-employee-onboarding-sidebar>



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                <div class="persnol-details">
                    <h5>Employee Eexperience</h5>
                    <p class="mb-0">Fields with are mandatory </p>

                    <div class="persnol-info mt-4">
                        <div class="row">

                         

                            <div class="col-md-6">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Id (adhar card)</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Id">
                               </div>
                            </div>

                           
                            <div class="col-md-6">
                               <div class="mb-3">
                                   <label for="exampleInputEmail1" class="pb-2">Company Name</label>
                                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company name">
                                  
                               </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Exp. Year</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Exp. Year">
                                  
                                </div>
                             </div>
                             <div class="col-md-6">
                               
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Joining Date</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Joining date">
                                  
                                </div>
                             </div>

                             <div class="col-md-6">
                               
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Department</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Department">
                                   
                                </div>
                             </div>

                             <div class="col-md-6">
                               
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Last Salary</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last salary">
                                    
                                </div>
                             </div>

                             <div class="col-md-6">
                               
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="pb-2">Position</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Position">
                                    
                                </div>
                             </div>
                            

                             <div class="col-md-12 d-flex justify-content-between mt-3">
                                <div class="info-btn d-flex justify-content-start">
                                    <button class="btn btn-primary back-btn" type="button"><i class="bi bi-arrow-left" style="padding-right: 8px; "></i> Back</button>
                                </div>
                                <div class="info-btn d-flex justify-content-end">
                                    <button class="btn btn-primary" type="button">Next <i class="bi bi-arrow-right" style="padding-left: 8px; "></i></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>