<p>leave-rule-setup works!</p>
<!-- <app-employee-onboarding-sidebar></app-employee-onboarding-sidebar> -->



<div class="page-wrapper">
    <div class="page-content-tab">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="persnol-details">
                        <h5>Leave Setting</h5>
                        <p class="mb-0">Fields with * are mandatory </p>
                        <form>
                            <div class="form-group">
                                <div class="persnol-info mt-4">
                                    <div class="row">




                                        <div class="mt-5" *ngIf="leaveSettingPlaceholder && !isLoading">
                                            <div class="empty-file pt-3 pb-3" >
                                                <div class="errorboxmain">
                                                    <div class="errorboxinner">
                                                        <div class="add-filtter mt-2 mb-3 d-flex align-items-center justify-content-center"
                                                            style="text-align: center; flex-direction: column; gap:20px">
                                                            <div class="">
                                                                <button type="button"
                                                                    routerLink="/organization-onboarding/leave-setting-create"
                                                                    class="btn btn-primary skip-btn"
                                                                    (click)="emptyAddLeaveSettingRule()">Add Leave
                                                                    Settings</button>
                                                                <p class="skip-btn-para">Lorem Ipsum is simply dummy
                                                                    text of the printing </p>
                                                            </div>

                                                            <p>or</p>

                                                            <div class="">
                                                                <button class="btn skip-btn-new" type="button"
                                                                    (click)="skipLeaveSetting()">Skip it for
                                                                    now</button>
                                                                <p class="skip-btn-para">Lorem Ipsum is simply dummy
                                                                    text of the printing </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="isLoading">
                                            <div class="">
                                                <div class="text-end">
                                                    <ngx-shimmer-loading [width]="'40%'" [height]="'20px'"
                                                        style="border-radius: 50%"></ngx-shimmer-loading>
                                                </div>
                                            </div>
                    
                                            <div class=" mt-3" style="border: 1px solid #f5f5f5; padding:5px; border-radius: 6px;">
                    
                                                <div class="row"
                                                    style="border-bottom: 1px solid #f5f5f5; padding-top: 10px; padding-bottom: 10px;">
                                                    <div class="col-md-6">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'60%'" [height]="'20px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="text-end">
                                                            <ngx-shimmer-loading [width]="'60%'" [height]="'20px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-2"
                                                    style="border-bottom: 1px solid #f5f5f5; padding-top: 10px; padding-bottom: 10px;">
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                    
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-2"
                                                    style="border-bottom: 1px solid #f5f5f5; padding-top: 10px; padding-bottom: 10px;">
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                    
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-2"
                                                    style="border-bottom: 1px solid #f5f5f5; padding-top: 10px; padding-bottom: 10px;">
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                    
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-2"
                                                    style="border-bottom: 1px solid #f5f5f5; padding-top: 10px; padding-bottom: 10px;">
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                    
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-md-3">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'15px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-2">
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="">
                                                            <ngx-shimmer-loading [width]="'100%'" [height]="'30px'"
                                                                style="border-radius: 50%"></ngx-shimmer-loading>
                                                        </div>
                                                    </div>
                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="" *ngIf="!isLoading">
                                            <div class="add-filtter d-flex align-items-center justify-content-end">
                                                <a routerLink="/organization-onboarding/leave-setting-create"
                                                    style="font-size: 16px; color: #6666f3;">
                                                    <i class="bi bi-plus"></i> Add Leave Settings
                                                </a>
                                            </div>
                                            <div class="rule-main-box mt-3" *ngFor="let newLeaveSetting of fullLeaveSettingResponseList">
                                                <div class="d-flex align-items-center attendance-boxx">
                                                    <div class="late-rule" style="width: 70%;">
                                                        <h4 style="font-size: 14px; margin-bottom: 0px; font-weight: 500;">
                                                            {{newLeaveSetting!.leaveSetting.templateName}}</h4>
                                                    </div>
                                                    <div class="late-btn d-flex align-items-center justify-content-end mb-2"
                                                        style="gap: 20px; margin-right: 15px;">
                                                        <span style="color: #009688;">Staff - ({{newLeaveSetting!.userLeaveRule.length ||
                                                            0}})</span>
                                                        <a href="" data-bs-toggle="modal" data-bs-target="#requestleave"><i
                                                            class="bi bi-pencil-square" style="color: #6666f3 ;"
                                                            (click)="getLeaveSettingInformationById(newLeaveSetting.leaveSetting.id)"></i></a>
                
                                                            <a class="delete-rule"
                                                            (click)="deleteLeaveSettingRule(newLeaveSetting.leaveSetting.id)" *ngIf="!deleteLeaveTemplateLoader(newLeaveSetting.leaveSetting.id)"><i
                                                                class="bi bi-trash"></i></a>
                                                                <div class="dot-opacity-loader" *ngIf="deleteLeaveTemplateLoader(newLeaveSetting.leaveSetting.id)">
                                                                    <span></span>
                                                                    <span></span>
                                                                    <span></span>
                                                                </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 p-3 pb-1 pt-0 page-sepresen" *ngFor="let category of newLeaveSetting.leaveSettingCategories">
                                                    <div
                                                        class="col-md-12 d-flex justify-content-between align-items-center">
                                                        <p class="mb-0 mb-2" style="font-size: 12px; font-weight: 500;">{{category?.leaveName || 'N/A'}}</p>
                                                        <div class="late-btn d-flex align-items-center justify-content-end mb-2"
                                                            style="gap: 20px; margin-right: 15px;">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="shift-deta">
                                                            <p class="mb-0">Leave Count | <span
                                                                    style="color: #009688;">{{category?.leaveCount || 'N/A'}}</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="shift-deta">
                                                            <p class="mb-0">Leave Rule | <span
                                                                    style="color: #009688;">{{category?.leaveRules || 'N/A' }}</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="shift-deta">
                                                            <p class="mb-0">Carry Forward Limit | <span
                                                                    style="color: #009688;">{{category?.carryForwardDays || 'N/A' }}</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="mt-3">

                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-end mt-3">
                                                <button type="button" class="btn btn-primary skip-btn" (click)="skipLeaveSetting()">Next</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>