
.nav.nav-pills{
    border-bottom: none;
}


::ng-deep .placeholder-line .ant-select-selection-placeholder {
    line-height: 45px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  ::ng-deep .placeholder-line .ant-select-selection-item {
    line-height: 45px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  ::ng-deep .placeholder-line .ant-select-selector{
    background-color: #fff !important;
    min-height: 43px !important;
  }
  ::ng-deep .currency-types.ant-select{
    border: none !important;
  }
  .currency-types-border{
    border-right: 1px solid #f1f1f1;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
  }
 

  .statutory-tab{
    border-bottom: 1px solid #E3E3E3;
    background: #FDFDFF;
  }
.statutory-tab ul li{
  list-style: none;
}
.statutory-tab li{
    line-height: 50px;
  }
.employee-calculation{
    border: 1px solid #F2F2F2;
    background-color: #FFFCF3;
}
.submitActionBtn {
    background-color: var(--primary-background-color);
    border-radius: 2px;
    width: 100px;
  }
  .cancel-btn {
    background-color: #fbfbfb;
    border: 1px solid #e6e7e9;
    border-radius: 2px;
    color: #4a4a4a;
    min-width: 100px;
  }
  .background-light{
    background-color: #FBFCFD;
  }
  .location-icon{
    background-color: #FAFAFA;
    width: 40px;
    height: 40px;
  }
  .location-detail{
    border: 1px solid #E3E3E3;
    width: 35px;
    height: 35px;
    border-radius: 6px;
  }
  .location-detail-dropdown{
    background-color: #FAFAFA;
  }
  .borderLess{
    border: none;
    font-size: 14px;
    font-weight: 500;
  }
  .saveBtn{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .editBtn{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .editBtn svg{
    width: 20px;
  }
  .transition {
    transition: transform 0.3s ease-in-out;
  }
 
  .location-detail[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
